<link media="screen" href="{{rootUrl}}/css/reset.css" rel="stylesheet" type="text/css">
<link media="screen" href="{{rootUrl}}/css/layout.css" rel="stylesheet" type="text/css">
<link media="screen" href="{{rootUrl}}/css/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css">
<script src="{{rootUrl}}/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="{{rootUrl}}/js/jquery-ui-1.8.22.custom.min.js" type="text/javascript"></script>
<script src="{{rootUrl}}/js/core.js" type="text/javascript"></script>
<script src="{{rootUrl}}/js/validate.js" type="text/javascript"></script>
<script src="{{rootUrl}}/js/common.js" type="text/javascript"></script>
<script src="{{rootUrl}}/../js/md5.js" type="text/javascript"></script>
<script type="text/javascript" src="{{rootUrl}}/js/float.js"></script>
<script type="text/javascript" src="{{rootUrl}}/js/games.js?ver={{staticVer}}"></script>
<script src="{{rootUrl}}/js/jquery.tablesorter.min.js"></script>
