{header}
<form name="form1" method="post" action="admin.php">
  <table width="100%"  border="0" cellspacing="1" cellpadding="3" class="tableOutborder">
    <tr class="tableHeader">
      <td colspan="2">添加用户</td>
    </tr>
    <tr class="bg_0">
      <td>用户名</td>
      <td><input name="username" type="text" id="username" size="40" maxlength="30"></td>
    </tr>
    <tr class="bg_0">
      <td>真实姓名</td>
      <td><input name="realname" type="text" id="realname" size="40" maxlength="30"></td>
    </tr>
    <tr class="bg_0">
    	<td>英文名</td>
    	<td><input name="e_name" type="text" id="e_name" size="40" maxlength="30" /></td>
    	</tr>
    <tr class="bg_0">
      <td>密码</td>
      <td><input name="password" type="password" id="password" size="40" maxlength="30" /></td>
    </tr>
    <tr class="bg_0">
      <td>角色</td>
      <td><select name="role_id" id="role_id">
	  {options:roles}
      </select></td>
    </tr>
    <tr align="center" class="tableHeader">
      <td colspan="2"><input name="action" type="hidden" id="action" value="insert">
        <input type="submit" name="Submit" value=" 提交 " accesskey="s">
        <input name="reset" type="reset" id="reset" value=" 重置 "></td>
    </tr>
  </table>
</form>
{footer}