{header}
<script language="Javascript" src="./js/common.js"></script>

<form name="form" method="post" action="role.php">
  <table width="100%"  border="0" cellspacing="1" cellpadding="4" class="tableOutborder">
    <tr class="tableHeader">
      <td colspan="2">添加用户组</td>
    </tr>
    <tr class="bg_0">
      <td width="30%">用户组名</td>
      <td><input name="title" type="text" id="title" size="40" maxlength="50"></td>
    </tr>
    <tr class="tableHeader">
      <td colspan="2">权限设置(可以按ctrl多选)</td>
    </tr>
    <!-- BEGIN p_group -->
    <tr class="bg_{ROWBIT}">
      <td width="15%" valign="top">{title}</td>
      <td>{option}</td>
    </tr>
    <!-- END p_group -->
    <tr align="center" class="tableHeader">
      <td colspan="2"><input name="action" type="hidden" id="action" value="insert">        
      <input type="submit" name="Submit" value=" 提交 " accesskey="s">
      <input name="reset" type="reset" id="reset" value=" 重置 "></td>
    </tr>
  </table>
</form>

{footer}
