a[data-brief=true] {
  font-size: .6rem !important;
}

body {
  background: #f5f4f3;
}

/* common for dpl */
.dpl {
  padding: 2rem 0;
  background-color: #ccc;
}
.dpl h3 {
  margin: 5rem 0 1rem;
  color: #f60;
  text-shadow: 0 0 1px white;
}
.dpl #dpl-button .button {
  margin-right: 1rem;
}

.zt-red {
  color: #cc0000;
}

.zt-orange {
  color: #ff7e00;
}

.clearfix {
  clear: both;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.button {
  display: inline-block;
  text-align: center;
  position: relative;
}
.button.r-arrow .btn {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.button.r-arrow:after {
  content: "";
  position: absolute;
  right: -0.8rem;
  top: 0;
  display: block;
  width: 0.8rem;
  height: 1.6rem;
  background: url(../img/button-r-arrow.png) no-repeat left top;
  background-size: 100% 100%;
}
.button .btn {
  display: block;
  width: 7.5rem;
  height: 1.6rem;
  line-height: 1.6rem;
  padding: 0 .5rem;
  margin-right: 1rem;
  font-size: .9rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.button .btn:last-child {
  margin-right: 0;
}
.button .orange {
  border: 1px solid;
  border-color: #ffd488 transparent #ff7e00 #ff9e0c;
  background-color: #ff7e00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa710), color-stop(100%, #ff7e00));
  background-image: -webkit-linear-gradient(top, #ffa710, #ff7e00);
  background-image: -moz-linear-gradient(top, #ffa710, #ff7e00);
  background-image: -o-linear-gradient(top, #ffa710, #ff7e00);
  background-image: linear-gradient(top, #ffa710, #ff7e00);
  -webkit-box-shadow: 0 0 0 1px #ffa710;
  -moz-box-shadow: 0 0 0 1px #ffa710;
  box-shadow: 0 0 0 1px #ffa710;
}
.button .gray {
  color: #505050;
  border-top: 1px solid white;
  font-size: .8rem;
  background-color: gainsboro;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #dcdcdc);
  background-image: -moz-linear-gradient(top, #f6f6f6, #dcdcdc);
  background-image: -o-linear-gradient(top, #f6f6f6, #dcdcdc);
  background-image: linear-gradient(top, #f6f6f6, #dcdcdc);
  -webkit-box-shadow: 0 0 0 1px gainsboro;
  -moz-box-shadow: 0 0 0 1px gainsboro;
  box-shadow: 0 0 0 1px gainsboro;
}

/*#content{
	width:24rem; 
	padding-top:1rem;
	margin: 0 auto; color:#505050; font-size:1rem;
	&::after{content:''; display:block; clear:both;}
}*/
.mod-form-list input[type='text'], .mod-form-list input[type='password'] {
  width: 13rem;
  height: 2.3rem;
  padding: 0 .5rem;
  border: 1px solid;
  border-color: #c0c0c0 #d1d1d1;
  -webkit-box-shadow: 0 -1px 2px #e0dfdf;
  -moz-box-shadow: 0 -1px 2px #e0dfdf;
  box-shadow: 0 -1px 2px #e0dfdf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: -moz-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: -o-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: linear-gradient(top, #f4f4f4, #ffffff);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.mod-form-list input[type='text']:focus, .mod-form-list input[type='password']:focus {
  border-color: #fcbe82 #fcbe82 #ff8919;
  -webkit-box-shadow: 0 0 2px 1px #ff8919;
  -moz-box-shadow: 0 0 2px 1px #ff8919;
  box-shadow: 0 0 2px 1px #ff8919;
}
.mod-form-list .field {
  margin-bottom: 1rem;
}

.mod-search input[type='text'] {
  font-size: .9rem;
}
.mod-search .short {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  border-radius: 1rem;
}
.mod-search .short input[type='text']::-webkit-input-placeholder {
  color: #2b2b2b;
}
.mod-search .short input {
  height: 1rem;
  background: transparent;
  border: none;
  padding: .4rem .6rem;
}
.mod-search .short input[type='submit'] {
  width: 1.8rem;
  height: 1.8rem;
  background: url(../img/index-search-btn.png) no-repeat left top;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
  border-radius: 0.9rem;
}
.mod-search .long form {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.mod-search .long input[type='text'] {
  display: block;
  height: 2.5rem;
  padding: 0 .5rem;
  border: #c0c0c0 solid;
  border-width: 1px 0 1px 1px;
  -webkit-box-flex: 1;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: -moz-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: -o-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: linear-gradient(top, #f4f4f4, #ffffff);
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
.mod-search .long button {
  display: block;
  width: 3rem;
  height: 2.6rem;
  border: 0;
  background: url(../img/search-btn-bg.png) no-repeat 0 0;
  background-size: 100% 100%;
}

.mod-item-list li a {
  display: block;
  display: -webkit-box;
  -webkit-box-align: center;
}
.mod-item-list li a.r-arrow {
  position: relative;
}
.mod-item-list li a.r-arrow::after {
  content: '';
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.3rem;
  width: .6rem;
  height: .6rem;
  border: 3px solid;
  border-color: #cacaca #cacaca transparent transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
  -moz-filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
  filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
}

.mod-tips {
  display: inline-block;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: .5rem;
  font-size: .8rem;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.mindex {
  /*width:24rem; margin:0 auto;
  position: relative; z-index:10;*/
}
.mindex .mod-search {
  position: absolute;
  right: 1rem;
  bottom: .5rem;
  z-index: 11;
}

.mod-slide {
  position: relative;
  z-index: 10;
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.mod-slide .pic {
  overflow: hidden;
  height: 10rem;
}
.mod-slide .pic a {
  float: left;
  width: 24rem;
  height: 10rem;
}
.mod-slide .pic a img {
  width: 100%;
  height: 100%;
}
.mod-slide .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.mod-slide .handle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: right;
  z-index: 2;
}
.mod-slide .handle span {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background: #615f56;
  margin-right: .5rem;
}
.mod-slide .handle span.on {
  background: #d8d8d8;
}

.mod-countdown .wrap .line {
  height: 5px;
  border-top: 1px solid white;
  background: -webkit-linear-gradient(left, #ededed, #9d9d9d, #b0b0b0, #ededed);
}
.mod-countdown .wrap .title {
  border-top: 1px solid #d7ccbf;
  position: relative;
  padding: 0 .5rem;
  font-size: 1rem;
  color: #fff;
  height: 2rem;
  line-height: 2rem;
  background-color: #7c6441;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a79072), color-stop(100%, #7c6441));
  background-image: -webkit-linear-gradient(top, #a79072, #7c6441);
  background-image: -moz-linear-gradient(top, #a79072, #7c6441);
  background-image: -o-linear-gradient(top, #a79072, #7c6441);
  background-image: linear-gradient(top, #a79072, #7c6441);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.mod-countdown .wrap .title span:not(.over) {
  color: #493214;
  padding: 2px 5px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.mod-countdown .wrap .title > .over {
  position: absolute;
  right: 1rem;
  color: #fff;
}
.mod-countdown .wrap .main {
  height: 8rem;
  padding: .5rem .5rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mod-countdown .wrap .main .pic {
  width: 7.9rem;
  height: 7.9rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.mod-countdown .wrap .main .txt {
  width: 15.1rem;
  box-sizing: content-box;
  line-height: 1.6;
  font-size: .9rem;
  color: #666;
  padding: .25rem .5rem 0;
}
.mod-countdown .wrap .main .txt .number.red {
  color: #cc0000;
}
.mod-countdown .wrap .main .txt .button {
  margin-left: 2rem;
}
.mod-countdown .wrap .main .txt .button .btn {
  width: auto;
}
.mod-countdown .wrap .main .txt p:nth-child(2) {
  height: 3rem;
  color: #505050;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
}

.showcase .line {
  height: .5rem;
  background: url(../img/index-line-bg.png) no-repeat left center;
  background-size: 100% 100%;
}
.showcase ul li {
  float: left;
  display: inline;
  width: 8rem;
}
.showcase ul li > a {
  position: relative;
  margin: .25rem;
  width: 7.5rem;
  height: 6.4rem;
}
.showcase ul li:last-child {
  margin-right: 0;
}
.showcase ul li .pic img {
  width: 7.5rem;
  height: 6.4rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.showcase ul li .txt {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: .9rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 black;
}

.orange-dashed {
  margin-bottom: 1rem;
  text-align: center;
  padding: .5rem;
  background: #ffe4b7;
  border: 1px #ff9e41 dashed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.mr-t10 {
  margin-top: 1rem;
}

.mr-t40 {
  margin-top: 2rem;
}

.mod-text-list li {
  border-top: 1px solid white;
  border-bottom: 1px solid #bababa;
}
.mod-text-list li:last-child {
  border-bottom: none;
}
.mod-text-list li a {
  display: block;
}
.mod-text-list li a.r-arrow {
  position: relative;
}
.mod-text-list li a.r-arrow::after {
  content: '';
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  margin-top: -0.3rem;
  width: .6rem;
  height: .6rem;
  border: 3px solid;
  border-color: #cacaca #cacaca transparent transparent;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
  -moz-filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
  filter: drop-shadow(0 1px 5px rgba(235, 234, 233, 0.5));
}

.mod-dl-list dd {
  line-height: 1.6;
}
.mod-dl-list dd span {
  color: #ffa03d;
}
.mod-dl-list dd strong {
  font-weight: normal;
}
.mod-dl-list dd em {
  display: inline-block;
  padding: .2rem .5rem;
  background: #fd952d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.mod-tw-list {
  display: -webkit-box;
  margin: .5rem 0;
}
.mod-tw-list li {
  border: none;
}
.mod-tw-list li:nth-child(1) {
  background: #fff;
  width: 7.5rem;
  height: 7rem;
  text-align: center;
  padding-top: .5rem;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
.mod-tw-list li:nth-child(2) {
  -webkit-box-flex: 1;
  line-height: 1.5;
  padding: .5rem;
}
.mod-tw-list li:nth-child(2) span {
  color: #ff7e00;
}
.mod-tw-list li img {
  max-width: 6rem;
  max-height: 6rem;
  padding: .25em;
  border: 1px solid #eaeaea;
}

.product {
  font-size: .9rem;
  line-height: 1.5;
  color: #2b2b2b;
}
.product ul {
  background: white;
  padding-top: 1rem;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}
.product ul .pic {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  height: 16.75rem;
  margin: 0 1rem 1rem;
  border: 1px solid #d6d6d6;
  overflow: hidden;
}
.product ul .pic img {
  max-width: 19rem;
  max-height: 16.5rem;
}
.product ul .txt {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: .25rem .5rem;
  border-top: 1px solid #d6d6d6;
  background: #fafafa;
}
.product ul .txt h3 {
  -webkit-box-flex: 1;
}
.product ul .txt p {
  width: 8rem;
  margin-left: 1rem;
}
.product ul .txt p span {
  display: block;
  line-height: normal;
}
.product ul .txt p span:first-child em {
  font-size: 1.6rem;
  color: #2f2f2f;
}
.product ul .txt p span:last-child {
  font-size: .8rem;
  color: #ff7e00;
}
.product ul .txt p span:last-child em {
  margin: 0 .5rem;
}
.product .intro {
  padding: 1rem;
}

.pnavigator .top-nav {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ffd19f', endColorstr='white');
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd19f), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #ffd19f, #ffffff);
  background-image: -moz-linear-gradient(top, #ffd19f, #ffffff);
  background-image: -o-linear-gradient(top, #ffd19f, #ffffff);
  background-image: linear-gradient(top, #ffd19f, #ffffff);
  overflow: hidden;
}
/* line 377, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .top-nav ul {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 1rem 0;
}
/* line 381, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .top-nav ul li {
  width: 6rem;
  text-align: center;
}
/* line 383, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .top-nav ul li a {
  color: #626262;
  text-shadow: 0 0 1px white;
}
/* line 388, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .top-nav ul li .pic img {
  wdith: 4.3rem;
  height: 4.3rem;
}
/* line 394, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list {
  padding: .5rem;
  background: #fff;
}
/* line 396, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list h3 {
  padding-left: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  background: #55755a;
  text-shadow: 0 0 4px black;
}
/* line 402, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list .mod-item-list {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  -ms-column-gap: 0.5rem;
  -o-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
/* line 405, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list .mod-item-list li {
  position: relative;
  margin-top: .5rem;
}
/* line 407, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list .mod-item-list li a {
  display: block;
}
/* line 408, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.pnavigator .btm-list .mod-item-list li .txt {
  width: 100%;
  height: 2rem;
  color: #fff;
  line-height: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 2px black;
}

/* line 420, E:/www/aRepos/apps/gou/v1.0/src/gngou.source.scss */
.ptheme .block {
  margin-bottom: 1rem;
}
.ptheme .block:nth-child(4n+1) .bline::after {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #ff694c;
  -moz-box-shadow: 0 0 0.1rem 0.1rem #ff694c;
  box-shadow: 0 0 0.1rem 0.1rem #ff694c;
}
.ptheme .block:nth-child(4n+2) .bline::after {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #d83097;
  -moz-box-shadow: 0 0 0.1rem 0.1rem #d83097;
  box-shadow: 0 0 0.1rem 0.1rem #d83097;
}
.ptheme .block:nth-child(4n+3) .bline::after {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #a6bf43;
  -moz-box-shadow: 0 0 0.1rem 0.1rem #a6bf43;
  box-shadow: 0 0 0.1rem 0.1rem #a6bf43;
}
.ptheme .block:nth-child(4n+4) .bline::after {
  -webkit-box-shadow: 0 0 0.1rem 0.1rem #0d9dd7;
  -moz-box-shadow: 0 0 0.1rem 0.1rem #0d9dd7;
  box-shadow: 0 0 0.1rem 0.1rem #0d9dd7;
}
.ptheme .mod-text-list {
  display: -webkit-box;
  -webkit-box-align: center;
}
.ptheme .mod-text-list li {
  height: 8.4rem;
  border: none;
}
.ptheme .mod-text-list li.bline {
  border-right: .3rem solid #c8c7c7;
  font-size: .8rem;
  margin-right: .5rem;
  padding: 0 .5rem 0 0;
  position: relative;
}
.ptheme .mod-text-list li.bline::before {
  position: absolute;
  right: -0.35rem;
  bottom: -0.6rem;
  content: '';
  width: .4rem;
  height: .4rem;
  background: #c8c7c7;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.ptheme .mod-text-list li.bline::after {
  position: absolute;
  right: -0.35rem;
  bottom: 50%;
  content: '';
  width: .4rem;
  height: .4rem;
  background: #f0f0f0;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.ptheme .mod-text-list li:nth-child(1) {
  -webkit-box-flex: 1;
}
.ptheme .mod-text-list li:nth-child(2) {
  width: 19.8rem;
}
.ptheme .mod-dl-list {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.ptheme .mod-dl-list dd img {
  width: 19.8rem;
  height: 5.9rem;
}
.ptheme .mod-dl-list dd:nth-child(2) {
  background: #fff;
  padding: .5rem;
}
.ptheme .mod-dl-list dd:nth-child(2) span {
  color: #494949;
}

.order .create ul li:first-child {
  border-top: none;
}
.order .create .mod-text-list li {
  padding: 1rem 0 1rem .5rem;
}
.order .create .mode-dl-list {
  padding-right: 2rem;
}
.order .create .mod-tw-list {
  display: -webkit-box;
  margin: .5rem 0;
}
.order .create .mod-tw-list li {
  border: none;
}
.order .create .mod-tw-list li:nth-child(1) {
  background: #fff;
  width: 7.5rem;
  height: 7rem;
  text-align: center;
  padding-top: .5rem;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
.order .create .mod-tw-list li:nth-child(2) {
  line-height: 1.5;
  padding: .5rem;
}
.order .create .mod-tw-list li:nth-child(2) span {
  color: #ff7e00;
}
.order .create .mod-tw-list li img {
  max-width: 6rem;
  max-height: 6rem;
  padding: .25em;
  border: 1px solid #eaeaea;
}
.order .order-score .mod-text-list li:first-child {
  border-top: none;
}
.order .order-score .mod-text-list a p {
  margin: 1rem 0;
}
.order .order-score .mod-tw-list dl {
  display: block;
  width: 100%;
  position: relative;
}
.order .order-score .mod-tw-list dl dt {
  position: absolute;
  right: 0;
  top: 0;
}
.order .order-detail .mod-text-list li p {
  margin: 1rem 0;
}
.order .order-detail .top-dl-list {
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0 0 1rem;
}
.order .order-detail .top-dl-list > dd {
  padding: .5rem 1rem;
  border-bottom: 1px dashed #bababa;
}
.order .order-detail .top-dl-list > dd:last-child {
  border-bottom: 0;
}
.order .love .mod-text-list li:first-child {
  border-top: none;
}
.order .pcnee.mod-form-list label {
  display: inline-block;
  width: 5.5rem;
}

.account .info .mod-text-list {
  background: white;
  margin-bottom: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.account .info .mod-text-list > li {
  padding: 1rem 0 1rem 3rem;
  display: -webkit-box;
  -webkit-background-size: 2rem 2rem;
  -moz-background-size: 2rem 2rem;
  -o-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
}
.account .info .mod-text-list .mod-dl-list {
  font-size: .9rem;
}
.account .info .mod-text-list .mod-dl-list dd {
  margin-top: 1rem;
}
.account .setting {
  padding-top: 1rem;
}
.account .setting > ul {
  border-top: 1px solid #bababa;
  border-bottom: 1px solid white;
}
.account .setting > ul li {
  height: 3.2rem;
  line-height: 3.2rem;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: 2rem 2rem;
  -moz-background-size: 2rem 2rem;
  -o-background-size: 2rem 2rem;
  background-size: 2rem 2rem;
}
.account .setting > ul li:last-child {
  border-bottom: 1px solid #bababa;
}
.account .psetting .mod-text-list, .account .coin-detail .mod-text-list {
  background: white;
  margin-bottom: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.account .psetting .mod-text-list > li, .account .coin-detail .mod-text-list > li {
  padding: 1rem 0 1rem .5rem;
}
.account .psetting .mod-text-list h3, .account .coin-detail .mod-text-list h3 {
  font-weight: bold;
}
.account .psetting .mod-dl-list, .account .coin-detail .mod-dl-list {
  padding-right: 1rem;
}
.account .coin-detail .mod-text-list > li {
  border-bottom: 1px dashed #bababa;
}
.account .coin-detail .mod-text-list > li:last-child {
  border-bottom: none;
}
.account .coin-detail .record li:first-child {
  border-bottom: 1px solid #bababa;
}
.account .coin-detail .record dd:last-child {
  text-align: right;
  color: #ff8f20;
}
