body,div,p,form,input,h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,table,tbody,tr,td,textarea,img,iframe,figure{margin:0; padding:0; list-style:none; vertical-align:middle;}
html{font-size:100%;}
body{font:0.875rem/1.5 "微软雅黑",arial,helvetica,sans-serif; color:#000;}
a{text-decoration: none; color:#000;}
img{border:0; -webkit-touch-callout:none;}
a:active,a:hover{outline:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:500;}
.ui-pg-top{
	width:320px; margin:0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-pg-top{
		width:360px; margin:0 auto;
	}
}

.ui-pg-top .banner{
	width:100%; margin-bottom: 5px;
}

.ui-pg-top .banner img{
	width:100%;
}

.ui-pg-top .block{
	padding:0 20px; margin-bottom: 40px;
}

.ui-pg-top .block .app-img{
	padding:20px 0; text-align: center;
}
.ui-pg-top .block .app-img img{
	width:78px; height: 78px;
}

.ui-pg-top .block .app-txt{
	text-indent: 28px; font-size:14px; line-height: 24px; color:rgba(0,0,0,.7);
}

.ui-pg-top .video-wrap{
	margin:0 20px; padding:0 0 10px;  border-bottom:1px solid #e5e5e5;
}

.ui-pg-top .video-wrap h3{
	height: 30px; line-height: 30px; font-size:16px; color:#000; border-bottom:1px solid #e5e5e5;
	margin-bottom: 8px;
}

.ui-pg-top .video-wrap .video-box{
	position:relative; display:block; height: 200px; background: #000 url("../img/video_bar.png") no-repeat 0 bottom;
	background-size: 100% auto;
}

.ui-pg-top .video-wrap .video-box:before{
	content: ""; position:absolute; left:50%; top:50%; width:74px; height: 74px; 
	margin:-37px 0 0 -37px; background: url('../img/video_play.png') no-repeat 0 0;
	background-size: 74px;
}

.ui-pg-top .ui-buttons{
	margin-bottom: 22px; text-align: center;
}
.ui-btn-download{
	display: inline-block; width:206px; height:40px; line-height: 40px; 
	background: #52b222; text-align: center; font-size:16px; color:#fff;
	border-radius: 2px; -webkit-border-radius:2px;
}