@css {
/**
 * @Author valleykid(valleykid@163.com)
 * @Date 2013-01-16
 * @Description core.css based on YUI & compass, for the kinds of mobiles
 */

/*
 * 1rem=20px for 320px(中低端分辨率).
 * 1rem=22.5px for 360px(高端分辨率).
 */

html{font-size:20px; -webkit-text-size-adjust:none;}
@media all and (min-width:359px){.uc-hack{font-size:22.5px;}}
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5){html{font-size:22.5px;}}
/*
@media all and (min-width:359px){.uc-hack{font-size:22.5px;}}
@media all and (min-width:359px) and (orientation:portrait){html{font-size:22.5px;}}
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:2){html{font-size:25px;}}
*//*
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape){html{font-size:14px;}}
@media all and (max-width:320px) and (-webkit-device-pixel-ratio:1.5) and (orientation:landscape){html{font-size:14px;}}
*/
body{font:1rem/1 "\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",Tahoma,Helvetica,Arial,sans-serif;}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
fieldset,form,label,legend,able,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}

fieldset,img{border:none;}
img{width:100%; max-width:16rem; height:auto;}
a{text-decoration:none;}
a, a:active{color:#333;}

address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal;}
ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1rem; font-weight:normal;}
q:before,q:after{content:"";}
abbr,acronym{border:none; font-variant:normal;}

/* to preserve line-height and selector appearance */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

a:focus, input, textarea{outline:none; border:0;}
input,button,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit; outline:none;}
img,input,button,select{vertical-align:middle;}
textarea{resize:none;}

/* fixed-width elements */
pre,code,kbd,samp,tt{font-family:"CourierNew",Courier,monospace;}

/* reset HTML5 elements */
mark{background:#ff0;}

/* the dead elements */
s,u{text-decoration:none;}
b{font-weight:normal;}
i{font-style:normal;}

/***********************************************
 * Common Class
 ***********************************************/
.hidden{display:none;}
.invisible{visibility:hidden;}

.floatleft{float:left !important;}
.floatright{float:right !important;}

.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clear{clear:both;}
.oz{overflow:hidden;}
}