/** gou.styl # */
@import "nib";
px(num){ (num/20)*1rem }

html{height:100%}
body{height:100%;font-size:.6rem;color:#656565}
a{color:#666}
a:active{color:#e05a3f}
img[src$="blank.gif"]{height:100% !important;background:#fff url("../img/pic_imgDefault.png") no-repeat center;-webkit-background-size:1.9rem;-moz-background-size:1.9rem;background-size:1.9rem}
.module{min-height:100%;background:#fafafa;overflow:hidden}

.top-banner, .content, #footer {
	width: px(320);
	margin: 0 auto;
}

.icon {
	display: inline-block;
}

.icon-home, .icon-heart, .icon-tool, .icon-group {
	background-image: url(../img/m/icon-download.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 32px;
	height: 33px;
}
.icon-home {
	background-position: 0 0;
}
.icon-heart {
	background-position: 0 -70px;
}
.icon-tool {
	background-position: 0 -141px;
}
.icon-group {
	background-position: 0 -215px;
}


.btn-download {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: px(192);
	height: px(40);
	font-size: px(18);
	line-height: px(40);
	color: #FFF;
	text-align: center;
	background: #ed5639;
	-webkite-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px 0px #a91d07;
	box-shadow: 0px 1px 0px 0px #a91d07;
	&:link, &:visited {
		color: #FFF;
	}
	&:hover, &:active {
		color: #FFF;
		background: #fd9404;
		-webkit-box-shadow: 0px 1px 0px 0px #ba6b01;
		box-shadow: 0px 1px 0px 0px #ba6b01;
	}
}

.btn-contact {
	width: 100%;
	display: inline-block;
	height: px(40);
	line-height: px(40);
	border: 1px solid #b9b9b9;
	-webkite-border-radius: 3px;
	border-radius: 3px;
	font-size: px(16);
	color: #222;
	text-align: center;
	background: #ededed;
	&:active {
		color: #FFF;
		background: #fd9404;
		border: 1px solid transparent;
	}
}

.top-banner {
	background: url(../img/m/top-banner.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	-background-size: cover;
	width: px(320);
	height: px(176);
	position: relative;
	.legend {
		position: absolute;
		top: px(95);
		left: px(142);
		font-size: px(9);
	}
	.btn-download {
		position: absolute;
		top: px(133);
		left: px(121);
	}

}

.content {
	padding: 0 px(10) 0 px(9);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	.btn-contact {
		margin-top: px(12);
	}
}
.content-ul {
	padding: 0 px(9);
	li {
		overflow: hidden;
		margin-top: px(14);
		.icon {
			float: left;
		}
	}
	.item {
		margin-left: px(34);
		h3 {
			font-size: px(16);
			color: #222;
			font-weight: normal;
			margin-bottom: px(4);
		}
		p {
			font-size: px(12);
			line-height: 1.4;
			color: #737373;
			opacity: 0.8;
		}
	}
}

#footer {
	padding: px(10) 0 px(5) 0;
	text-align: center;
	.version {
		font-size: px(11);
		line-height: px(20);
		opacity: 0.8;
		a, &:active {
			color: #3069b6;
		}
		.dis {
			color: #666;
			opacity: 0.5;
		}
		.line {
			opacity: 0.5;
		}
	}
	.copyright {
		margin-top: px(3);
		font-size: px(9);
		line-height: px(11);
		opacity: 0.5;
	}
}