
a{
	color:#000;
}
a:hover{
	text-decoration:none;
}


.gray-button{
	padding:8px 16px;
	color: #333;
	background-color: #fff;
	border-radius:5px;
	border:1px solid #ccc;
}
.gray-font12{
	padding:10px 0px;
	font-size:12px;
	font-weight:100;
	color:#6C6C6C;
}
.qing-font12{
	font-size:12px;
	font-weight:100;
	color:#666;
}
.gray-hr{
	border:0px;
	margin:0px;
	border-top:1px solid #ccc;
}
p.msg{
	border:1px solid #ccc;
	padding:5px;
	background-color:#fff;
}
input[type="button"]{
	cursor:pointer;
}
.mgn-t-10{
	margin-top:10px;
}
.mgn-t-b-10{
	margin:10px 0px
}
.mgn-t-30{
	margin-top:30px
}
.inline-block{
	display:inline-block;
}
.round{
	width:25px;
	height:25px;
	color:#ccc;
	border-radius:50%;
	border:1px solid #ccc;
}
.bg-file{
	border:1px solid #000;
	background-color:#fff;
}
.home-deit {
	min-width:965px;
}
.home-deit header{
	padding:10px 10px 0px 10px;
}
.home-deit header h1{
	font-size:20px;
	padding-bottom:10px;
}
.home-deit input:hover{
	background:#ccc;
}
.home-deit .content{
	padding:10px 0px 10px 10px;
	min-width:600px;
	background:none;
}
.home-deit .preview{
	float:left;
	width:404px;
	padding:10px 30px 10px 10px;
}
.home-deit .preview .roll{
    height: 154px;
	overflow: hidden;
	position: relative;
}
.home-deit .preview .roll div{
	position:absolute;
	left:404px;
}
.home-deit .preview .roll .bg{
	width: 402px;
	border:1px solid #797979;
	background:#00ccff;
	height:152px;
	text-align:center;
	line-height:152px;
	font-size:22px;
	font-weight:600;
}
.home-deit .preview .roll .bg img{
	width:100%;
	height:100%;
}
.home-deit .preview .roll .on{
	left:0px;
}
.home-deit .preview ul.roll{
	height:35px;
	line-height:35px;
	display:black;
	padding:10px 0px;
	
}
.home-deit .preview ul.roll li{
	width:95.25px;
	height:100%;
	float:left;
	margin-right:5px;
	text-align:center;
	border:1px solid #ccc;
	background-color:#fff;
}
.home-deit .preview ul.roll li:last-child{
	margin-right:0px;
}
.home-deit .preview  .header .sees{
	float:right;
	color:#99cc00;
}
.home-deit .preview  .header h2{
	width:94%;
	padding:0px 3%;
}
.home-deit .preview   h2{
	display:inline-block;
}
.home-deit .preview .more{
	text-align:center;
	color:#00cc00;
}
.home-deit .preview .round img{
	width:100%
}
.home-deit .preview .download-area{
	height:215px;
	border:1px solid #ccc;
	background-color:#fff;
}

.home-deit .preview .download-area.activity{
	height:274px;
}
.home-deit .preview .activity .info{
	margin:10px;
}
.home-deit .preview .activity .info .date{
	float:right;
	color:#ccc;
	margin-right:10px;
}

.home-deit .preview .download-area .info p{
	color:#ccc;
}
.home-deit .preview .download-area.not-table{
	height:auto;
	border-bottom:0px;
}
.home-deit .preview .download-area.not-table table{
	width:100%;
	text-align:center;
}
.home-deit .preview .download{
	background-color: #99cc00;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	padding: 3px 10px;
}
.home-deit .preview .download-area.not-table tr{
	line-height:38px;
	border-bottom:1px solid #ccc;
}
.home-deit .preview .download-area.not-table th{
	color:#999;
	text-align:center;
}
.home-deit .preview .download-area.double-deck.line{
	height: 257px;
	border-right:0px;
}
.home-deit .preview .download-area.double-deck.line ul{
	height: 219px;
	padding:0px;
}
.home-deit .preview .download-area.double-deck.line li{
	border-right:1px solid #ccc;
	border-top:1px solid #ccc;
	padding-top:20px;
}
.home-deit .preview .download-area.double-deck.line .header{
	border-right:1px solid #ccc;
}
.home-deit .preview .download-area.double-deck{
	height:300px;
}

.home-deit .preview .download-area.double-deck li{
	padding-bottom:10px;
}
.home-deit .preview .download-area .header{
	height:40px;
	line-height:40px;
}
.home-deit .preview .download-area ul{
	height: 115px;
	padding-top:20px;
}
.home-deit .preview .download-area.ranking  ul{
	height: 218px;
	padding-top:0px;
}
.home-deit .preview .download-area.ranking li{
	margin-bottom:0px;
}
.home-deit .preview .download-area.notice,.home-deit .preview .download-area.ranking{
	float:none;
	height:auto;
}

.home-deit .preview .download-area.notice ul,.home-deit .preview .download-area.ranking ul{
	height:auto;
}
.home-deit .preview .download-area li{
	float:left;
	width: 133.33px;
	text-align:center;
}
.home-deit .preview .download-area li.notice,.home-deit .preview .ranking li{
	height:60px;
	float:none;
	width:100%;
	border-bottom:1px solid #ccc;
	padding-top:6px;
	
}

.home-deit .preview .ranking li{
	margin-bottom:18px;
}
{

}
.home-deit .preview .download-area li.notice div,.home-deit .preview .ranking li div{
	margin:0px 20px;
}
.home-deit .preview .download-area li.notice h3,.home-deit .preview .ranking h3{
	font-size:14px;
	float:left;
}
.home-deit .preview .download-area li.notice img,.home-deit .preview  .download-area.ranking img{
	float:left;
	width:54px;
	height:54px;
	margin-right:10px;
}
.home-deit .preview  .download-area.ranking input{
	position: relative;
	float: right;
	top: -42px;
	width: 60px;
	height: 30px;
}
.stars{
	background: url(../img/stars.png) no-repeat;
	height: 12px;
	width: 100%;
	background-size: 24%;
	display: block;
	margin: 0px 0px 0px 64px;
	position: relative;
	top: 21px;
}

.stars_1{
	background-position-y: 0px;
}
.stars_2{
	background-position-y: -13px;
}
.stars_3{
	background-position-y: -26px;
}
.stars_4{
	background-position-y: -39px
}
.stars_5{
	background-position-y: -52px;
}
.stars_6{
	background-position-y: -65px;
}
.stars_7{
	background-position-y: -78px;
}
.stars_8{
	background-position-y: -91px;
}
.stars_9{
	background-position-y: -104px;
}
.stars_10{
	background-position-y: -117px;
}
.home-deit .preview .download-area.ranking  .size{ 
  position: absolute;
  margin: 6px 160px;
}
.home-deit .preview .download-area  .stars img{
	width:12px;
	height:12px;
	
}
.home-deit .preview .download-area li.notice p{
	padding-top:36px;
	color:#ccc;
	text-align:left;
}
.home-deit .preview .ranking p{
	padding-top:24px;
	color:#ccc;
	text-align:left;
}
.home-deit .preview .download-area li img{
	width:42px;
	height:42px;
}
.home-deit .preview .download-area li  input{
	color:#fff;
	border:0px;
	border-radius:5px;
	padding:3px 10px;
}
.home-deit .preview .download-area li input.download{
	background-color:#99cc00
}
.home-deit .preview .download-area li input.download-prize{
	background-color:#FFD700
}
.home-deit .preview .advert img{
	width:100%;
	height:120px
}


.home-deit .deit h2{
	font-size:18px;
	font-weight:500;
}
.home-deit .deit{
	margin-left:440px;
}

.home-deit .deit .fild{
	height:98px;
	text-align:center;
}
.home-deit .deit .fild  span{
	height:22px;
	display:inline-block;
}
.home-deit .deit .fild .no-file .bg-file {
	color:#ccc;
	cursor:auto;
}

.home-deit .deit li{
	float:left;
	margin-right:10px;
}
.home-deit .deit .bg-file{
	width:90px;
	height:40px;
	cursor:pointer;
	line-height:40px;
}
.home-deit .deit .but-del-file{
	padding-top:10px;
}
.home-deit .deit .but-del-file input{
	vertical-align:middle;
}
.home-deit .deit .but-del-file input:hover{
	background:#ccc;
	border-radius:2px;
	border:2px solid #ccc;
}
.home-deit .deit .but-del-file img{
	vertical-align:middle;	
}
 
.home-deit .deit  h2{
	font-size:18px;
	font-weight:600;
}
.home-deit .deit  h3{
	font-size:16px;
	font-weight:600;
}
.home-deit .deit .right{
	width:58px;
	float:right;
	margin-right:40px;
}
.home-deit .deit  .right input{
	margin-top: 2px;
	padding: 6px 17px;
} 
.home-deit .deit .list{
	margin:20px 0px
}
.home-deit .deit .list .sort{
	width:24px;
	float:left;
	margin:10px 10px 0px 0px;
}
.home-deit .deit .list .sort img{
	padding-top:16px;
}
.home-deit .deit .list .info{
	background-color:#fff;
	border:1px solid #ccc;
	margin-left:30px;
	padding:20px 0px 35px 16px; 
}
.home-deit .deit .list .info .inline-block{
	display:inline-block;
	width:78%;
	min-width:260px;
}
.home-deit .deit .recommend{
	display:inline-block;
	background-color:#fff;
}
.home-deit .deit .add{
	text-align:center;
}
.home-deit .deit .add input {
	text-align:center;
	width:90%;
	padding:15px 10px;
}
.preview .classification{
	padding-top:10px;
	height: 36px;
	text-align: center;
}
.preview .classification li{
	display:inline-block;
	color: #f6f7f8;
	background-color: #676565;
	width: 110px;
	border-radius: 5px;
	text-align: center;
	line-height: 39px;
	margin-bottom: 8px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.add-but {
  margin-top: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 15px;
}
.js-package .header h2{
	line-height:initial;
}
.add-but input{
	height:44px;
}
.add-but .msg{
	float:left;
}
.add-but .msg p{
	color:#ccc;
}
.add-but .msg h1{
	font-size:18px;
}
.add-but div.right-but{
	text-align: right;
}
.home-deit .preview .download-area .festival-activities{
	padding: 10px;
    text-align: left;
    height: auto;
    border-bottom: 1px solid #ccc;
}
.home-deit .preview .download-area .festival-activities li:nth-child(1) {
    width: 315px;
    float:inherit;
    display:inline-block;
}
.home-deit .preview .download-area .festival-activities li:nth-child(1) p{
	text-align:left;
}
.home-deit .preview .download-area .festival-activities li:nth-child(1) h1{
	font-size: 18px;
	text-align:left;
}
.home-deit .preview .download-area .festival-activities li:nth-child(2) {
    width: 60px;
    float:right;
    display:inline-block;
}
.roll-dow{
    position: absolute;
    right: 0px;
    width: 78px;
    line-height: 25px;
    padding-top: 55px;
}
.home-deit .preview .roll .bg .roll-dow img{
	height:48px;
	width:48px;
}
.advert-dow{
	position: absolute;
    width: 78px;
    line-height: 25px;
    padding-top: 30px;
    left: 380px;
}
.home-deit .preview .advert-dow img{
	width:48px;
	height:48px;
}