*{
	font-size:12px;
}
body {
	font-family: "Century Gothic",helvetica,tahoma,"Microsoft yahei";
    padding:20px;
    font-size:13px;
    margin:0;
	-moz-user-select: none; 
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}


.navs a{
	padding-left:20px; line-height:28px; display:block; background:url("themes/icons/icon_1.png") no-repeat left;
}

a 	{ color:#777;text-decoration:none;}
a:hover	{ color:#000;}


.editTable { 
	border-collapse:collapse;  
	border-spacing:0;
	border-left:1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	width:100%;
}

.editTable td,.editTable th	{ padding:5px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;}

.editTable th	{ background:#efefef;white-space:nowrap; }
.editTable td h5	{ display:inline-block;width:130px; height:30px; margin:0px; padding:0px; font-weight:normal;}
.editTable td h6	{ display:inline-block;width:auto; height:30px; margin:0px 3px; padding:0px; font-weight:normal;}
.editTable em	{ padding-left:5px;color:red;}
.datagrid_img{ position: absolute; z-index: 999;}

.tabs-panels .panel .panel-body{
	overflow: hidden;
}
