html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding: 0px;margin: 0px;font-size: 12px;line-height: 100%;font-family: Arial,sans-serif;
}
body {background: none repeat scroll 0% 0% #f3f3f3;}
ul, ol {
    list-style: outside none none;
}
#ui-head {
	height:50px;
	display: block;
	overflow: hidden;
	z-index: 30;
	background-color: #102C4A;
	margin-bottom:5px;	
}
#ui-head {
    background: url('../img/header_bg.png') repeat-x scroll 0% 0% transparent;
}
#ui-head .headerNav {
    height: 50px;
	background-repeat: no-repeat;
	background-position: 100% -50px;	
}

#ui-head  .headerNav .logo {
    	float: left;
	margin-right:5px;	
	background: url(../img/logo.png) no-repeat left;
}
#ui-head .headerNav .logo a {
	float:left;
	width: 250px;
    height: 50px;
    text-indent: -1000px;

}
#ui-head .nav {
    display: block;
    height: 21px;
    position: absolute;
    top: 8px;
    right: 0px;
    z-index: 31;
}
#ui-head .nav li {
    float: left;
    margin-left: -1px;
    padding: 0px 10px;
    line-height: 11px;
    position: relative;
	background: url('../img/listLine.png') no-repeat scroll 0% 0% transparent;
}
#ui-head .nav li a {
	text-decoration:none;
    line-height: 11px;
	color: #B9CCDA;
}
#ui-head .themeList {
	position: absolute;
	top: 30px;
	right: 10px;
}
#ui-head .themeList li {
	float: left;
	margin-left:7px;
}
#ui-head .themeList li a {
	display: block;
	overflow: hidden;
	width: 13px;
	height: 11px;
	text-align: center;
	cursor: pointer;
	padding: 0 5px;
	color:#000;
}
#navMenu {
    float: left;
	display: block;
	overflow: hidden;
	height: 50px;
	background-repeat: repeat-x;
}
#navMenu ul {
    float: left;
	display: block;
	overflow: hidden;
	position: relative;
}
#navMenu li {
    float: left;
    margin: 0px 1px;
    position: relative;
}
#navMenu li.selected {
    z-index: 1;
}
#navMenu li a {
    float: left;
	text-decoration:none;
}
#navMenu li span {
    float: left;
    font-weight: bold;
    cursor: pointer;
    padding: 0px 15px;
}
#navMenu li a, #navMenu li span {
    color: #B9CCDA;
	line-height: 50px;
    font-size: 14px;
}
#navMenu li.selected span, #navMenu li span:hover {
    color: #FFF;
}

#ui-left {
  width:210px;
  background: #f8f8f8;
}
#ui-foot {
	text-align:center;
	height:25px;line-height:25px;
	background: none repeat scroll 0% 0% #f3f3f3;
}
.theme-default {
	background-color:#B1B1B1;
}
.theme-bootstrap {
	background-color:#6B4D60;
}
/* --------------- left mneu -------------------------*/
#menu-accordion {
  overflow: hidden;
  font-weight: 100;  
  padding-top:10px;
}
#menu-accordion dl a {
  text-decoration:none;
  color:#333;
}
#menu-accordion dt {
  font-size:12px;
}
#menu-accordion dt a {
  display: block;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  padding: 0 10px 0 26px;
  border-bottom: 1px solid #f8f8f8;
  background: url(../img/treenode1.jpg) 10px center no-repeat;
}
#menu-accordion dt.current a {
  border-bottom: 1px solid #fff;
  background-color: #e9e9e9;
}
#menu-accordion dd {
  padding-left: 16px;
}
#menu-accordion dd ul li {
  padding: 0;
  margin: 0 0 5px;
}
#menu-accordion dd ul li a {
  background: url(../img/treenode2.jpg) 10px center no-repeat;
  display: block;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  padding: 0 10px 0 26px;
  font-size: 12px;
}
#menu-accordion dl dd ul li a i {
  width: 23px;
  height: 13px;
  display: inline-block;
  margin-left: 3px;
  background:url(../img/new.gif);
}

.dt-child-count {
  margin: 5px 3px;
  background: #8F6C6C;
  padding: 1px 5px;
  border-radius: 36%;
  color: #FFF;
  float:right;
}
#menu-accordion dt a i {
  float:right;
}
#menu-accordion dt.current a i {
  -webkit-transform: rotate(90deg);
}


