.article{
	.name{
		font-size:17px;
		margin-top:20px;
	}
	.date{
		font-size:12px;
		text-align:right;
		margin:10px 10px 20px 0px;
	}
	.ui-editor{
		font-size:13px;
		color:#a3a3a3;
		line-height:20px;
		text-align:left;
	}
	.source{
		padding-right:10px;
	}
	.look-article{
		a{
			color:#2296cd;
			line-height:16px;
			font-size:14px;
			margin:30px 10px 30px 0px;
			border-bottom: 1px solid #2296cd;
		}
		text-align:right;
		
	}
	margin:0px 20px;
	text-align:center;
}