.collection {
	margin:18px 14px 20px 14px; 
	ul{
		li{
			.dow-list-but{
				margin-top:5px;
			}
			.game-name{
				margin:4px 0px 0px 0px;
			}
			.game-photo{
				width:63px;
				height:63px;
			}
			.padding{
				padding:0px 2px;
			}
			display: inline-block;
			margin-bottom: 18px;
			text-align: center;
			width: 33.33%;
		}
	}
	.game-size-type{
		font-size:10px;
		transform:scale(0.8);
		white-space: nowrap;
	}
}