@charset "utf-8";
.game-list {
	.game-list-left {
		display: inline-block;
		vertical-align: middle;
	  }
	.game-list-right {
		display: inline-block;
		vertical-align: middle;
		float: right;
		.dow-list-but {
		  margin-top: 21px;
		}
	}
	.game-list-row {
		margin-bottom: 23px;
	}
	.game-list-left {
		width: 78%;
		@media screen and(max-width:359px){
			width: 75%;
		}
	}
  .game-name{
	font-size:15px;
	margin:1px 0px 3px 0px;
  }
  .padding {
    padding: 0px 10px;
  }

  .game-photo {
    margin-right: 10px;
    float: left;
  }
  p {
    font-size: 10px;
    padding-top:6px;
  }
  .game-info {
    width: 94%;
    display: inline-block;
    vertical-align: middle;
  }
	&.date-ranking-list{
		.line-orange{
			border-left:3px solid #fc9c2a;
			height:8px;
			display:block;
		}
		.icon-hollow-circle{
			left:-8px;
			top:4px;
		}
		.group-name{
			padding-bottom:4px;
		}
		.game-list-left {
			width: 77%;
			@media screen and(max-width:359px){
				width: 73%;
			}
			.game-info{
				width:100%;
			}
		}
		.date-ranking-row{
			border-left: 3px solid #fc9c2a;
			padding:0px 0px 25px 18px;
		}
		margin-top:0px;
	}
	&.ranking-list{
		.game-info {
			width: 76%;
		}
		margin:18px 14px 20px 14px;
	}
	margin:18px 16px 20px 16px;
	
}
.game-double-list{
	ul.table{
		li{
			a{
				.game-info{
					h3{
						padding-bottom:5px;
					}
					width: 100%;
				}
				margin-right:5px;
				display:block;
			}
			p{
				color:#aaaaaa;
				margin: 0px;
				margin-top:6px;
				font-size:12px;
			}
			width:50%;
			display: inline-block;
			margin-bottom:20px;
			vertical-align: top;/*兼容QQ浏览器*/
		}
		li.game-double-list-right{
			a{
				margin-right:0px;
				margin-left:5px;
			}
		}
		
		margin-bottom:10px;
	}
	p.intr{
		margin:0px 0px 20px 0px;
	}
	.group-name{
		padding:0px;
		.omit{
			max-width: 270px;
			display:inline-block;
			line-height:16px;
			@media screen and(max-width:359px){
				max-width: 180px;
			}
		}
	}
	
}

