.header{
	background:#fff;
	border:solid #eee;
	border-width: 1px 0;
	height: 48px;
	line-height:48px;
	position: relative;
	.search{
		right:15px;
	}
	.omit{
		width:300px;
		color:#76767e;
		font-size: 18px;
		margin-left:45px;
		@media screen and(max-width:359px){
			width:220px;
		}
	}
}
