@charset "utf-8";
.show-all{
	.icon-show-all-bottom{
		@include chevron('bottom',10px,2px,#85be3b);
		margin-right:10px;
	}
	.icon-show-all-top{
		@include chevron('top',10px,2px,#85be3b);
		margin-right:10px;
		vertical-align: -webkit-baseline-middle;
	}
	text-align:right;
	font-size:13px;
	color:#85be3b
}
.load-all-array{
	position: relative;
	top: -2px;
	@include loadAllArray();
}
.arrow-down {
	@include arrowDown();
	margin-left:8px;
	display:inline-block;
	vertical-align: middle;
}
.back-home{
	@include chevron('left',12px,2px,#76767e);
	margin-left:17px;
	z-index:8;
	&:visited,&:active,&:link{
		@include chevron('left',12px,2px,#76767e);
		z-index:8;
	}
}
.go-forward{
	@include chevron('right',12px,2px,#b9b9b9);
	position: absolute;
	right: 20px;
	margin-top:9px;
}
.icon-search{
	@include round();
	position: relative;
}
.icon-search:before{
	content:"";
	@include searchLine();
}
.icon-grab{
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:50%;
	font-size:19px;
	color:#fff;
	text-align:center;
	background:#ff873f;
	display:inline-block;
	border:3px solid #ffceb0;
}
.icon-grab:before{
	content:"抢";
}
.progress-bar-bg{
	.progress-bar{
		width:80%;
		border-radius:20px;
		height:9px;
		display:inline-block;
		vertical-align: top;
		background:url(../img/progress-bar.png);
	}
	height:9px;
	border-radius:20px;
	background-color:#dfdfdf;
	margin-left:75px;
}
.stars{
	img{
		width:12px;
		height:12px;
		vertical-align: top;
		margin-right:4px;
	}
	font-size:12px;
	margin-bottom:6px;
}
.icon-hollow-circle{
	border: 1px solid #fc9c2a;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
}
.icon-hollow-circle:before{
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #fc9c2a;
	border-radius: 50%;
	left: 2px;
	top: 2px;
	position: absolute;
}
.icon-news{
	color:#fff;
	font-size:13px;
	background-color:#5bd1a3;
	border-radius:5px;
	position:relative;
	p{
		line-height:18px;
		padding:13px 25px;
		
	}
	margin-left: 15px;
}
.icon-news:before{
	content:'';
	left: -10px;
	top: 10px;
	@include triangle();
	position:absolute;
}
.icon-type{
	color:#fff;
	font-size:13px;
	position:relative;
	.in,.not-beginning,.font,.end{
		right:0px;
		position:absolute;
	}
	.in{
		@include triangle(60px,#3abcff);
	}
	.not-beginning,.end{
		@include triangle(60px,#b9b9b9);
	}
	.font{
		z-index: 10;
		top: 12px;
		@include rotate(45deg);
	}
}
.icon-title.icon-title,.icon-title{
	color:#fff;
	left: -16px;
	height: 40px;
	line-height:40px;
	position:relative;
	font-size:15px;
	font-weight:900;
	min-width:176px;
	padding-left:20px;
	background-color:#ff6b50;
	
	
}
.icon-title-arrow{
	@include arrowLeft(20px,#fff);
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
	float:right;
	margin-right:0px;
}
.icon-title-arrow-bg{
	@include arrowRight(10px,#ae3c27);
	position: absolute;
	left: 0px;
	bottom: -19px;
	border-left: 14px solid transparent;
}
.icon-del-but{
	border:1px solid #85be3b;
	border-radius:50%;
	width:18px;
	height:18px;
	display:inline-block;
	position:relative;
}
.icon-del-but:before{
	content: "";
	margin-top:2px;
	border-right: 1px solid #85be3b;
	@include rotate(-45deg);
	position: absolute;
	height:14px;
	left:9px;
}
.icon-del-but:after{
	content: "";
	margin-top:2px;
	border-right: 1px solid #85be3b;
	@include rotate(45deg);
	position: absolute;
	height:14px;
	left:9px;
}
.icon-alert-title{
	width:72px;
	height:72px;
	display:inline-block;;
	border-radius:50%;
	span{
		display:block;
		width:72px;
		height:72px;
	}
}
.icon-alert-title.success{
	background-color:#5fd244;
	span{
		background:url(../img/alertSuccess.png);
		background-size: 100%;
	}
}
.icon-alert-title.failure{
	background-color:#ed4f4f;
	span{
		background:url(../img/alertFailure.png);
		background-size: 100%;
	}
}