.info-bulletin-list{
	margin: 18px 14px 20px 14px;
	.bulletin-name{
		color:#525252;
		margin:0px 0px 6px 0px;
		font-size:16px;
	}
	.posters{
		width: 100px;
		height: 62px;
	}
	.info-bulletin-list-row{
		min-height: 80px;
	}
	.info-bulletin-list-left{
		float:left;
		margin-right:15px
	}
	.info-bulletin-list-right{
		.ui-editor{
			color:#a3a3a3;
			font-size:12px;
			line-height: 18px;
		}
	}
	&.bulletin-list-page{
		.bulletin-name{
			margin:3px 0px;
		}
		.date{
			font-size:12px;
			margin-bottom:3px;
		}
	}
}