@charset "utf-8";
.menu{
	ul{
		li{
			i{
				margin:0px;
				display: block;
				width: 42px;
				height: 42px;
				margin-bottom: 6px;
			}
			font-size:12px;
			text-align:center;
		}
		a{
			color:#a3a3a3;
		}
		display: -webkit-box;
		-webkit-box-pack: justify;
		margin: 0px 25px 10px 25px;
	}
	padding:6px 0px 1px 0px;
}
.game-details-menu li{
	display:inline-block;
	text-align:center;
	font-size:15px;
}
.game-details-menu li.on{
	border-bottom:1px solid #85be3b;
}

//导航条图标
$menus:"category","rank","newGame","activity","crack","webGame","singleGame","forum";

@for $i from 1 through length($menus){
	$icon:nth($menus,$i);
	i.#{$icon}{
		background: url("../img/#{$icon}.png");
		background-size:100% 100%;
	}
}