.about-us{
	.photo{
		width:100%;
		height:200px;
	}
	.contact{
		h3{
			font-size:17px;
			padding-bottom:20px;
		}
		.private{
			.row{
				float:left;
				width:50%;
			}
			div{
				color:#727272;
				font-size:13px;
				line-height:22px;
			}
			.name{
				h3{
					padding-bottom:0px;
					float:left;
					margin-right:20px
				}
			}
			height:90px;

		}
		.official{
			padding-bottom:30px;
			div{
				color:#727272;
				font-size:13px;
				line-height:22px;
			}
		}
		.developers{
			font-size:17px;
			a{
				color:#2a6bff;
				text-decoration:underline ;
			}
			padding-bottom:30px;
		}
		margin: 25px 14px 20px 25px;
	}
}
.user-feedback{
	textarea,input[type="text"]{
		padding:10px 5%;
		width: 90%;
		margin-top:12px;
		font-size:14px;
		border:1px solid #eee;
	}
	.but{
		input{
			width:80%;
			color:#fff;
			font-size:14px;
			background:#85be3b;
			padding:6px 0px;
			border-radius:20px;
			
		}
		text-align:center;
	}
	
	.contact-info{
		padding:20px 0px 30px 0px;
		h3{
			font-size:17px;
			padding-bottom:20px;
			span{
				color:#737373;
			}
		}
	}
	
	margin: 25px 14px 20px 14px;
}
.client-downloads{
	.poster{
		height:200px;
		@include border-radius(0px); 
	}
	.row{
		.dow-but{
			width:80%;
			margin-left:10%;
			background-color:#85be3b;
			color:#fff;
			font-size:14px;
			@include border-radius(20px);
			border:0px;
			padding:5px 18px;
		}
		.release-size{
			font-size:12px;
			color:#a3a3a3;
			text-align:center;
			padding-top:15px;
		}
		.left{
			img{
				width:42px;
				height:42px;
				padding-top:8px;
			}
			.massive-game{
				background-color:#f19f40;
			}
			.fast-downloads{
				background-color:#40cef1;
			}
			.rich-package{
				img{
					height:39px;
					width:42px;
					padding-top:9.5px;
				}
				background-color:#35d597;
			}
			.massive-game,.fast-downloads,.rich-package{
				width:58px;
				height:58px;
				text-align:center;
				border-radius:5px;
			}
			display: inline-block;
			
		}
		.right{
			h3{
				font-size:16px;
				padding-top:5px;
			}
			p{
				color:#a3a3a3;
				font-size:12px;
				padding-top: 14px;
			}
			margin-left:23px;
			display: inline-block;
			vertical-align: middle;
		}
		margin:20px 25px;
	}

}