@charset "utf-8";
.package-details{
	.basic{
		.package-details-left{
			.package-photo {
				margin-right: 18px;
				float: left;
			}
			.package-name {
				font-size: 15px;
				margin: 1px 0px 7px 0px;
			}
			.residual{
				font-size:12px;
				color:#737373;
				margin-top:7px;
			}
			min-width: 180px;
			width: 80%;
			display: inline-block;
		}
		.package-details-right {
			width:45px;
			display: inline-block;
			vertical-align: middle;
			float: right;
			.icon-grab{
				margin-top:7px;
			}
		}
		margin:20px 20px 20px 20px;
		height:60px;
	}
	.explain{
		h3{
			color:#ff873f;
			font-size:15px;
			margin-bottom:12px;
		}
		p{
			font-size:12px;
			color:#9a9a9a;
		}
		margin: 30px 20px 0px 20px;
	}
}