.index-search{
	position: absolute;
	top: 155px;
	border-radius: 20px 20px 20px 20px;
	width: 80%;
	margin: 0px 10%;
	background-color: #fff;
	height:33px;
	z-index:100;
	display:none;
	line-height: 33px;
	input{
		width: 80%;
		margin: 4px 20px;
		font-size: 14px;
	    vertical-align: text-bottom;
	}
	.absolute-vCenter{
		right: 20px;
		display: inline-block;
		.icon-search{
			top: 1px;
			border:2px solid #bababa;
		}
		.icon-search:before{
			border-right:2px solid #bababa;
		}
	}
}
.search{
	.title{
		color:#fff;
		font-size:18px;
		background:#ff8a00;
		padding:12px 25px;
	}
	.game-name{
		width: 265px;
		color:#737373;
		font-size:16px;
		display:inline-block;
		vertical-align: bottom;
		@media screen and(max-width:359px){
			width: 185px;
		}
	}
	ul{
		.row{
			margin:0px 20px;
			padding:15px 0px;
			border-bottom:1px solid #e5e5e5
		}
	}
	.prompt{
		font-size: 13px;
		padding-left: 15px;
		background-color: #FFF8D7;
		line-height: 40px;
		color: #9F5000;
	}
	padding-bottom:25px;
}
.search-text{
	input[type=text]{
		width: 64%;
		font-size: 14px;
		border-radius:20px;
		padding: 6px 12px;
		color:#000;
		border:1px solid #d8d8d8;
		background-color:#ececec;
		margin: 2px 0px 0px 9px;
	}
	input::-webkit-input-placeholder {  
		color: #b7b7ba; 
	}
	.icon-del-padding{
		.icon-del-but{
			top: 4px;
			right: 27px;
			display:none;
		}
		width:18px;
		height:18px;
		display: inline-block;
		position:relative;
	}
	position: absolute;
	top: 6px;
	text-align: center;
	width: 100%; 
}
.search-page{
	line-height:48px;
	right:15px;
}
.search-key-content{
	text-align: left;
	.game-name{
		width:160px;
		@media screen and(max-width:359px){
			width: 130px;
		}
	}
	.game-size-stars{
		height:18px;
		margin-right: 10px;
		vertical-align: top;
		margin-bottom: 0px;
	}
	.stars{
		margin-right: 10px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0px;
	}
	.game-size{
		font-size: 12px;
		display: inline-block;
		vertical-align: top;
	}
	.game-info{
		width:100%;
	}
	.guess-list{
		.game-name{
			width:80%;
			vertical-align: top;
			margin-left:10px;
		}
	}
	.intr{
		margin: 0px;
		font-size: 12px;
		display: block;
		width: initial;
		line-height: 12px;
		width: 160px;
		@media screen and(max-width:359px){
			width: 130px;
		}
	}
	.icon-search{
		border-color:#e1e1e1;
	}
	.icon-search:before{
		border-right-color:#e1e1e1;
	}
	
}