.activity,.topic{
	margin: 0px 0px 20px 0px;
	.activity-name,.topic-name{

		color:#525252;
		font-size:16px;
		font-weight: 100;
		margin: 10px 15px 8px 15px;
		.name{
			width:280px;
			display:inline-block;
			@media screen and(max-width:380px){
				width:240px;
			}
			@media screen and(max-width:360px){
				width: 200px;
			}
			@media screen and(max-width:320px){
				width: 160px;
			}
		}
		.date{
			float:right;
		}
	}
	.group-name{
		margin-left:14px;
		margin-right:14px;
	}
	.topic-left{
		display:inline-block;
	}
	.topic-right{
		float:right;
		margin-top:10px;
	}
	.posters{
		height:116px;
		@include border-radius(0px); 
	}
	.multi-line-omit{
		color:#a3a3a3;
		font-size:12px;
		line-height: 18px;
		margin: 0px 15px 24px 15px;
	    height: 3em;
		br{
			display: none;
		}
	}
	.date{
		font-size: 12px;
		font-size: 12px;
		margin: 3px 0px 3px 8px;
	}
	
	&.game-list{
		.group-name{
			margin-left:0px;
			margin-right:0px;
		}
		&.blue{
			.galf-line{
				line-height: 0px;
				img{
					height:5px;
				}
			}
			.customize-block{
				
				.look-all{
					.load-all-array {
						.arrow{
							border-top-color:#fff;
							border-right-color:#fff;
						}
						.point{
							background-color:#fff;
						}
					}
					span{
						color:#fff;
					}
				}
				.game-info{
					.game-name{
						color:#fff;
					}
					.game-size-stars{
						color:#fff;
					}
					p.intr{
						color:#fff;
					}
					color:#fff;
				}
				.game-list-row{
					margin:0px;
					padding: 12px 25px 6px 25px;
				}
				background:#3c4264;
				padding:0px 0px 20px 0px;
				
			}
			
		}
		.game-list-row{
			.game-info{
				width:90%;
			}
			p.intr{
				margin:0px;
				font-size:12px;
				display:block;
				width: initial;
				line-height:12px;
			}
			.game-size{
				font-size: 12px;
				display:inline-block;
				vertical-align: top;
			}
			.stars{
				margin-right:10px;
				display:inline-block;
				vertical-align: top;
				margin-bottom: 0px;
			}
			.game-size-stars{
				height:18px;
			}
			margin: 18px 20px 20px 20px;
		}
		.topic-info{
			margin: 0px 15px 20px 15px;
		}
		.ui-editor{
			p{
				margin-top:0px;
			}
		}
		.topic-name,.multi-line-omit{
			margin-left:5px;
			margin-right:5px;
		}
		margin:0px;
	}
	&.multicolor,&.multicolorTwo{
		.customize-block{
			.intr-img{
				img{
					width:48%;
					height:260px;
					&.right{
						float:right;
					}
				}
				padding-top:20px;
			}
			.game-type{
				font-size: 12px;
			}
			margin:0px 20px;
		}
		.intr{
			color:#8c8c8c;
			margin-top:20px;
			font-size:12px;
			-webkit-line-clamp:3; 
		}
		.other{
			.row{
				img{
					height:87px;
				}
				.group-name{
					color:#aaaaaa;
					font-size:14px;
					padding-top:10px;
				}
				width:50%;
				display:inline-block;
			}
		}
		.game-info{
			width:72%;
		}
	}
	&.multicolorTwo{
		.customize-block{
			margin:0px 8px;
		}
		.game-double-list{
			padding:12px;
			margin-bottom:8px
		}
		.game-double-info{
			padding:10px;
			margin-bottom:8px;
			p{
				margin-bottom:0px;
			}
		}
		
	}
}
.activity{
	.topic-name{
		span.name{
			width:100%;
		}
	}
}
.activity-details{
	.name{
		color:#000;
		font-size:16px;
		text-align:center;
		padding: 20px 0px 13px 0px;
	}
	.activity-info{
		.block{
			padding-top:25px;
			h3{
				font-size:13px;
				padding-bottom:10px;
			}
			p,div{
				line-height:20px;
			}
			input{
				width:80%;
				margin-left:10%;
				font-size:14px;
				@include border-radius(20px); 
			}
		}
		.topic-poster{
			@include border-radius(3px); 
		}
		font-size:13px;
		color:#a3a3a3;
		margin:0px 15px;
	}
	
	margin:0px 10px;
}