/*scrollbox */
.mainfocus{position:relative; width:48em; margin:20px auto 0; overflow:hidden;}
.mainfocus .ui-slide-scrollbox{height:15.7em; position:relative; overflow:hidden;}
.mainfocus .ui-slide-scrollbox .ui-slide-scroll{position:absolute; top:0; left:0; width:48em; overflow:hidden;}
.mainfocus .ui-slide-scrollbox .ui-slide-item{float:left;}
.mainfocus .ui-slide-scrollbox img{width:48em; height:15.7em;}
.mainfocus .ui-slide-prev,
.mainfocus .ui-slide-next{height:15.7em; width:3em; position:absolute; top:0; background-position:center; background-repeat:no-repeat;}
.mainfocus .ui-slide-prev{left:0; border-top-right-radius:10px; border-bottom-right-radius:10px;}
.mainfocus .ui-slide-next{right:0; border-top-left-radius:10px; border-bottom-left-radius:10px;}
.mainfocus .ui-slide-tabs{position:absolute; width:100%; height:3px; left:0; bottom:3px; z-index:11; display:-webkit-box; -webkit-box-orient:horizontal;}
.mainfocus .ui-slide-tabs .ui-slide-tab{display:block; -webkit-box-flex:1; height:3px;}
.mainfocus .ui-slide-tabs .ui-slide-tabcur{border-radius:3px; background:#4bceff; border:solid 1px #4bceff;}
.mainfocus .mask{height:7px; width:100%; position:absolute; bottom:0; left:0; opacity:0.5; background:#000;}

.bounceOutLeft {-webkit-animation-name: bounceOutLeft;-webkit-transform: translateX(-48em);-webkit-animation-duration:2s; -webkit-animation-timing-function:ease; -webkit-animation-fill-mode:both;}