<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>移动棋牌后台管理系统</title>
<link rel="StyleSheet" href="template/default/css/dtree.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="template/default/css/reset.css" />
<style>
    body {
        background:#113F8D url(template/default/img/bg_repeat.jpg) repeat;
    }
    
    .container {
        position:relative;
        margin:30px 0 0 15px;
    }
</style>
<script type="text/javascript" src="template/default/js/dtree.js"></script>

</head>
<body>

<div class="container">

<script type="text/javascript">
    <!--

    d = new dTree('d');
    
	d.add(0,-1,"主页","");
	d.add(1,0,"PUSH消息控制台","?ac=push");
	d.add(2,0,"PUSH消息游戏配置","?ac=game");
    
    document.write(d);

    //-->
</script>

</div>
</body>
</html>
