@charset "UTF-8";
@import "compass/css3";
@import "_reset";
body{
	background: #66ccff ;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #87deff), color-stop(.5, transparent), to(transparent));
	background-size:24px 24px;padding-bottom:7px;
}

h1{font-size: .7rem;}
p{font-size: .45rem;line-height: 14px;}
img{width:100%;height:auto;}

//活动宣传图
.header{
	width:100%;max-height:240px;background-size:100% 100%;
	img{max-height:240px;}
}
.main{
	margin:0 6px;padding:10px;
	background:#fff;@include border-radius(3px);
	.section{
		margin-bottom: 20px;
		img{max-height:230px;}
		a{display: block;}
	}
	.btn-container{
		margin-top: 15px;position: relative;overflow: hidden;
	}
	.toLeft{
		float: left;background:url("../img/text1.png");
		width:215px;height:55px;background-size:100% 100%;
	}
	.left2{
		background:url("../img/text2.png");background-size:100% 100%;
	}
	.left3{
		background:url("../img/text3.png");background-size:100% 100%;
	}
	.toRight{
		float: right;background:inline-image("../img/btn.png");
		width:66px;height:55px;background-size:100% 100%;margin-right:6px;
	}
}


