/* common style */
body, a{color:#181818;}
#page{width:48em; margin:0 auto; position:static;}

.download{display:block; padding:1em 1.8em; background-color:#00d6fe; background-image:-webkit-linear-gradient(top,#00d6fe,#00a4d8); border:solid 1px; border-color:#80ebff #00b7f9 #0096e0; border-radius:5px; box-shadow:0 2px 5px #949494;}
.download span{font-size:1.6em; color:#fff;}

.JS-swapPic{position:relative; height:32em; background:#d9f1f8 url(../img/bg_texture.png);}
.JS-swapPic .pic-wrap{height:30em; padding:1em .5em; overflow:hidden; position:relative;}
.JS-swapPic ul{position:absolute; left:.5; top:1em;}
.JS-swapPic li{float:left; width:19em; height:30em; text-align:center;}
.JS-swapPic li a{display:block;}
.JS-swapPic li img{width:18em; height:30em;}
.JS-swapPic.turn{height:20em;}
.JS-swapPic.turn .pic-wrap{height:18em;}
.JS-swapPic.turn li{height:18em; width:31em;}
.JS-swapPic.turn li img{-webkit-transform:rotate(-90deg); -o-transform:rotate(-90deg); margin-top:-6em;}
.JS-swapPic .mask{position:absolute; left:0; bottom:0; width:100%; height:1.2em; background:#000; opacity:0.5; z-index:10;}
.JS-swapPic .handle{position:absolute; left:0; bottom:.2em; width:12.6em; height:.8em; z-index:11; border-radius:3px; background:-webkit-linear-gradient(top,#fff,#dbdbdb);}

.nav-list li{position:relative; border:solid 1px; border-color:#b9b9b9 #fff #fff;}
.nav-list .intro{display:block; padding:1.2em 1.6em; background-color:#e7e7e7; background-image:-webkit-linear-gradient(top,#fff,#e7e7e7);}
.nav-list .intro .pic{float:left; width:7.2em; height:7.2em; margin-right:2em; border-radius:9px; overflow:hidden;}
.nav-list .intro .pic img{width:7.2em; height:7.2em;}
.nav-list .intro .desc{float:left; line-height:1.5; padding-top:.5em;}
.nav-list .intro .desc h2 strong{font-size:2em;}
.nav-list .intro .desc p span{font-size:1.6em; color:#3b3b3b;}
.nav-list .download{position:absolute; right:1.6em; top:3em;}
.nav-list .download span{font-size:1.6em;}
.nav-list .more em{display:block; padding:2em 0; text-align:center; background:#d7d7d7 url(../img/bg_texture.png);}
.nav-list .more em img{height:4em; width:4em;}
.nav-list .more em span{font-size:1.6em; font-weight:bold; text-shadow:1px 1px 1px #fff;}
.nav-list .more.disable em span{color:#666;}

.detail header{padding:1.5em 0; background-color:#eee; background-image:-webkit-linear-gradient(top,#fefefe,#e7e7e7); border-bottom:solid 1px #ccc;}
.detail header h2{text-align:center;}
.detail header h2 strong{font-size:3em;}
.detail header .back{margin:-3.2em 0 0 3em;}
.detail header .back a{display:block; width:6em; height:4em; line-height:4em; position:relative; text-align:center; background-color:#b0b0b0; background-image:-webkit-linear-gradient(top,#c8c8c8,#afafaf); border:solid 1px #a1a1a1; border-radius:6px;}
.detail header .back a span{font-size:2em; color:#fff; position:relative; z-index:2;}
.detail header .back a:before,
.detail header .back a:after{content:''; position:absolute; z-index:1; width:2.9em; height:2.9em; top:0; left:2px; -webkit-transform:rotate(45deg) translate3d(0.2px, 0, 0); -webkit-transform-origin:0 0; background-color:#b0b0b0; background-image:-webkit-linear-gradient(top,#c7c7c7,#b0b0b0); -webkit-border-radius:0 0 0 2px; -webkit-mask-clip:border-box; -webkit-background-clip:content-box; border-left:solid 1px #a1a1a1;}

.game-title{padding:1.5em; background:#f1f1f1 url(../img/bg_texture.png);}
.game-title .inf{float:left; line-height:1.6;}
.game-title .inf h1{margin-bottom:.5em;}
.game-title .inf h1 strong{font-size:3em;}
.game-title .inf p span{font-size:2em;}
.game-title .pic{float:right; width:7.8em;}
.game-title .pic .icon{width:7.2em; height:7.2em; margin:0 auto; border-radius:9px; overflow:hidden;}
.game-title .pic .icon img{width:7.2em; height:7.2em;}
.game-title .pic .download{margin-top:1em; text-align:center;}

.game-intro{padding:.8em 3em; background-color:#e7e7e7; background-image:-webkit-linear-gradient(top,#fff,#e7e7e7); box-shadow:0 1px 2px #999; border-top:solid 1px #bebebe; line-height:1.6; position:relative; z-index:10;}
.game-intro h2{margin-bottom:1em;}
.game-intro h2 strong{font-size:2.5em;}
.game-intro p span{font-size:2em;}
.game-intro .JS-hide{display:none;}
.game-intro .JS-readMore{text-align:right;}
.game-intro .JS-readMore .link span{color:#3eb2d2; font-size:2em;}
.game-intro .JS-readMore .link i{color:#4dd0f2; font-family:"\5b8b\4f53"; font-weight:bold; margin-left:5px;}

.game-pic .ui-slider{position:absolute; left:0; bottom:.25em; top:auto; width:35.4em; height:.8em; z-index:11; background:transparent; border:0; border-radius:0; margin:0;}
.game-pic .ui-slider a{position:absolute; left:0; width:12.6em; height:.8em; border-radius:3px; background-color:#dbdbdb; background-image:-webkit-linear-gradient(top,#fff,#dbdbdb); margin:0; top:auto; cursor:auto;}
.game-pic input[type=range], .game-pic .ui-body-handle{display:none;}

.mainfocus{height:16em; position:relative; overflow:hidden;}
.mainfocus .ui-slide-scrollbox{height:16em; width:48em; position:relative; overflow:hidden; margin:0 auto;}
.mainfocus .ui-slide-scrollbox .ui-slide-scroll{position:absolute; top:0; left:0; overflow:hidden;}
.mainfocus .ui-slide-scrollbox .ui-slide-item{float:left;}
.mainfocus .ui-slide-scrollbox a{display:block; width:48em;}
.mainfocus .ui-slide-scrollbox img{width:48em; height:16em;}
.mainfocus .ui-slide-prev,
.mainfocus .ui-slide-next{height:16em; width:3em; position:absolute; top:0; background-position:center; background-repeat:no-repeat;}
.mainfocus .ui-slide-prev{left:0; border-top-right-radius:10px; border-bottom-right-radius:10px;}
.mainfocus .ui-slide-next{right:0; border-top-left-radius:10px; border-bottom-left-radius:10px;}
.mainfocus .mask{position:absolute; left:0; bottom:0; width:100%; height:1.2em; background:#000; opacity:0.5; z-index:10;}
.mainfocus .ui-slide-tabs{position:absolute; width:100%; height:.8em; left:0; bottom:.2em; z-index:11; display:-webkit-box; -webkit-box-orient:horizontal;}
.mainfocus .ui-slide-tabs .ui-slide-tab{display:block; -webkit-box-flex:1; height:.8em;}
.mainfocus .ui-slide-tabs .ui-slide-tabcur{border-radius:3px; background-color:#dbdbdb; background-image:-webkit-linear-gradient(top,#fff,#dbdbdb);}

.contact{padding:1em 1.5em; line-height:1.5;}
.contact p{font-size:1.6em;}