// header_v4
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family:Verdana, Microsoft YaHei, Simsun; background:#fff; line-height:24px; }
fieldset, img { border:0; }

a{
    text-decoration: none;
}

.clear{
    clear: both;
}

#header{
    width:100%;
    position: relative;
}



/*==============*/
#more{
    width: 310px;
    height: 32px;
    position: relative;
    background: url("../../images/mobile/more-bk.png");
    background-size: auto 100%;
    margin: 15px auto;
    cursor: pointer;
}
#more-btn{
    width: 20%;
    height: 64%;
    position: absolute;
    left: 40%;top: 6px;
    background-size:  100% auto;
    background-size:  contain;
    background-repeat: no-repeat;

}
#footer{
    margin-top: 3px;
    position: relative;
    width: 100%;height: 100px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.439216) 0px 0px 6px 0px;
    -moz-box-shadow:rgba(0, 0, 0, 0.439216) 0px 0px 6px 0px;
    box-shadow:rgba(0, 0, 0, 0.439216) 0px 0px 6px 0px;

}
#copy-right{
    width: 40%;
    height: 50px;
    left: 30%;
    position: absolute;
    top: 10px;
}

#copy-right,#back-web, #fengyun-logo .img,#search .img.heavy,#search .img.light,#channel-list .img.heavy,
#channel-list .img.light{
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*=========苹果下载引导栏=========*/



/*=========苹果下载引导栏结束=========*/

@media (max-width:360px){
    #header-template{
        height:54px; }
    #fengyun-logo .img,#search .img.heavy,#search .img.light,#channel-list .img.heavy,
    #channel-list .img.light
    {background-size: contain; }
}
@media (min-width:640px){
    #footer {height: 170px;

    }
    #copy-right {
        height: 92px;
    }
    #back-web {
        height: 46px;
        top:112px;
    }
}
#cacheframe{border: 0;width: 0;height: 0;display: none;}

/*//========================补丁============================*/