/* line 1 */
body {
  background: #0e0e0e;
}

/* line 2 */
#content {
  min-height: 300px;
}

/* line 3 */
a {
  text-decoration: none;
}

/* line 4 */
ul li {
  list-style: none;
}

/* line 5 */
.clear {
  clear: both;
  height: 0px;
}

/* line 7 */
#play-head, #play-code, #bill-head, #bill-panel {
  width: 100%;
}

/* line 9 */
.live-now, .bill-time, .bill-content {
  position: absolute;
}

/* line 12 */
#play-head {
  background-color: black;
  overflow: hidden;
}

/* line 13 */
.channel-name {
  color: #1d88da;
  height: 35px;
  font-size: 22px;
  line-height: 35px;
  margin-left: 2%;
}

/* line 14 */
.live-now {
  right: 10px;
  color: #fff;
  font-size: 16px;
  top: 20px;
}

/* line 16 */
#html5-player {
  width: 100%;
  margin: 0 auto;
  min-height: 10em;
  color: white;
}

/* line 17 */
#header-template {
  box-shadow: 0px 1px 4px #5a5a5a;
  -moz-box-shadow: 0px 1px 4px #5a5a5a;
  -webkit-box-shadow: 0px 1px 4px #5a5a5a;
}

/*=============播放面板=============**/
/* line 23 */
#play-panel {
  color: black;
  padding: 20px 0 0 0;
  position: relative;
  border-bottom: 1px solid #0d0d0d;
}


/*==========================**/
/*==========================**/
/* line 34 */
#bill-head {
  height: 50px;
  background: #121212;
  border-bottom: 1px solid #0d0d0d;
  border-top: 1px solid #171717;
  box-shadow: 0px 1px 0px #171717;
  position: relative;
}

/* line 35 */
#bill-head .title {
  color: #fff;
  font-size: 16px;
  position: absolute;
  left: 10px;
  top: 18px;
}

/* line 36 */
#setting {
  width: 24%;
  height: 36px;
  position: absolute;
  right: 2%;
  top: 10px;
  display: none;
}

/* line 37 */
#setting.HD-n {
  background: url("../../images/mobile/HD-n.png");
  background-size: 100% 100%;
}

/* line 38 */
#setting.HD-h {
  background: url("../../images/mobile/HD-h.png");
  background-size: 100% 100%;
}

/* line 40 */
#HD-nbtn, #HD-hbtn {
  display: block;
  width: 24px;
  float: left;
  width: 50%;
  height: 100%;
}

/*============搜狐畅言=============*/
/* line 42 */
#changyan-wrap {
  position: relative;
  padding: 20px 12px 0;
}

/*=========节目单=========*/
/* line 47 */
#bill-wrap {
  position: relative;
}

/* line 48 */
#bill-panel {
  background: #121212;
  padding: 15px 0 20px;
}

/* line 49 */
.bill-list li {
  height: 28px;
}

/* line 50 */
.bill-list .bill-time, .bill-list .bill-content {
  left: 8%;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
}

/* line 53 */
.bill-list .bill-content {
  left: 35%;
  width: 50%;
}

/*.bill-list .time-line{border-bottom: 1px solid #0d0d0d;box-shadow: 0px 1px 0px #171717;}*/
/* line 55 */
.bill-list .time-line label {
  position: absolute;
  left: 3%;
  font-size: 16px;
  color: #fff;
}

/* line 56 */
.history .bill-time, .history .bill-content {
  color: #494949;
}

/* line 57 */
.current .bill-time, .current .bill-content {
  color: #166fed;
}

/* line 58 */
.after .bill-time, .after .bill-content {
  color: #fff;
}

/* line 60 */
.html5-tip-link, .html5-tip-link:visited {
  text-decoration: underline;
  color: #1C90E2;
}

@media (min-width: 640px) {
  /* line 65 */
  #content {
    width: 100%;
    position: relative;
  }
}
@media (min-width: 768px) {
  /* line 68 */
  #play-panel {
    height: 61.8%;
  }
}
/*=========标清高清============*/
/* line 72 */
#resolution-wrap {
  position: relative;
  float: right;
  margin: 5px 0;
}

/* line 78 */
.resolution-select {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 2px 10px;
}

/* line 86 */
#high-resolution {
  color: #0090fe;
}

/* line 90 */
#low-resolution {
  color: #f9f9f9;
  border-right: 1px solid #303030;
}

/* line 95 */
.bg, #alert-download, #alert-close, #quality-tip .poster, #quality-tip #quality-arrow {
  background-repeat: no-repeat;
  background-size: 140px;
}

/*=========弹出框样式===========*/
/* line 102 */
#alert-panel {
  width: 100%;
  position: relative;
  background: #262626;
  text-align: center;
  color: #f9f9f9;
  overflow: hidden;
  display: none;
}

/* line 112 */
.alert-content {
  display: none;
}

/* line 116 */
#alert-download {
  background-position: 0 -97px;
  width: 80px;
  height: 25px;
  text-align: center;
  display: block;
  margin: 25px auto 20px;
}

/* line 126 */
#alert-close {
  background-position: -62px -75px;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 6px;
  right: 6px;
}

/* line 136 */
.alert-title {
  margin-top: 20px;
  font-size: 20px;
}

/* line 141 */
.alert-desc {
  margin-top: 10px;
  font-size: 16px;
  line-height: 20px;
}

/*===================清晰度提示=================*/
/* line 149 */
#quality-tip .block {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
/* line 155 */
#quality-tip .poster {
  width: 89px;
  height: 51px;
  background-position: 0 -149px;
}
/* line 162 */
#quality-tip .desc {
  margin-top: 5px;
}
/* line 166 */
#quality-tip #quality-arrow {
  background-position: -56px -30px;
  width: 29px;
  height: 14px;
  margin: 20px 10px 43px;
}
/* line 174 */
#quality-tip #app-poster {
  background-position: 0 -199px;
}

/* line 179 */
#recomApp {
  display: none;
}

/* line 182 */
#player-banner {
  display: block;
}
/* line 184 */
#player-banner .app-recom {
  background: black;
}
/* line 186 */
#player-banner .app-recom .app-bg {
  background: black;
}
/* line 189 */
#player-banner .app-recom .app-info {
  color: #ffffff;
}

