@charset "utf-8";
*{-webkit-tap-highlight-color:transparent}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,table,th,td{margin:0;padding:0}
section,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav{display:block}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:100%}
body,input,button,textarea,select{-webkit-text-size-adjust:none;font:normal 12px/18px Helvetica;outline:none}
body{width:100%;font-family:"Microsoft YaHei",helvetica,arial,verdana,tahoma,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;word-break:break-all;word-wrap:break-word}
input,select,button,textarea{vertical-align:middle;font-size:12px;outline:none}
ol,ul{list-style:none}
em{font-style:normal}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
textarea{resize:none}
a{outline:none;text-decoration:none;color:#000}
a:link{color:#000}
a:visited{color:#000}
a:focus{color:#000}
a:hover{text-decoration:underline;color:#901d22}
a:active{color:#000}
:focus,:active{outline:0}
.clearfix{*zoom:1}
.clearfix:after{content:" ";overflow:hidden;clear:both;display:block;height:0}
img{max-width:100%;width:auto9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;-ms-tap-highlight-color:transparent;tap-highlight-color:transparent;-webkit-touch-callout:none;-moz-touch-callout:none;-o-touch-callout:none;-ms-touch-callout:none;touch-callout:none}

/*header*/
.v_header_logo{display:block;width:120px;margin:0 auto;padding:5px 0;}
.v_header_logo h1{width:120px;height:40px;overflow:hidden;text-indent:-99999px;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%}
.v_header_logo h1 a{display:block;width:100%;height:100%;overflow:hidden}

/*video*/
.v_topic_video{position:relative;background:#000;width:100%;height:180px;overflow:hidden}
.v_topic_video video{display:block;width:100%;height:180px;overflow:hidden;text-align:center}
.livetitle{width:100%;padding:3px 0;background:#000;font-size:15px;text-align:center;color:#fff}
.m_share_box{float:right}
.m_download_box{float:left;height:35px;line-height:35px;overflow:hidden;overflow:hidden;zoom:1}
.m_download_box a{display:inline;float:left;width:54px;height:38px;overflow:hidden;background:url(http://y0.ifengimg.com/d35d689b379d6896/2014/51/icon03.png) no-repeat;webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%;color:#fff;text-indent:-999999px}
.m_download_box em{display:inline;float:left;height:35px;line-height:35px;overflow:hidden;font-size:17px}

/*节目单*/
.playlistbox{margin:0 auto;background:#f7f6f5}
.playlistbox h3{padding:10px 0 10px 10px;font-size:16px;color:#494949;background:#f7f6f5;border-top:1px solid #e5e5e5;}
.playlistbox ul li {font-size:15px;margin:0 0 8px;padding:0 10px;line-height:33px;height:33px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;overflow:hidden;color:#494949;background:#fff;position:relative}
.playlistbox ul li a{color:#494949;display:block;overflow:hidden;text-decoration:none}
.playlistbox ul li em{font-style:normal;margin-right:9px;float:left;width:42px}
.playlistbox ul li span{max-width:550px;text-overflow:ellipsis;overflow:hidden;display:block;white-space:nowrap}
.playlistbox ul li.playing{color:#c22626}
.playlistbox ul li.played{color:#9c9c9c}
.playlistbox ul li .icon_playing{float:right;width:50px;height:20px;margin-top:6px}
.playlistbox ul li.playing .icon_playing{background:url(http://y0.ifengimg.com/d35d689b379d6896/2014/51/icon01.jpg) no-repeat;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;-o-background-size:100% 100%;background-size:100% 100%}

/*直播*/
.livetabs_box{overflow:hidden;height:30px;margin:0 auto;padding-top:1px;border-top:1px solid #dcdddd;border-bottom:1px solid #dcdddd}
.livetabs{overflow:hidden;height:100%}
.livetabs li{float:left;padding:0 10px;height:30px;line-height:30px;background:#fff;text-align:center;font-size:13px;color:#7b7b7b;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.livetabs li a{text-decoration:none;display:block;width:100%;font-size:16px}
.livetabs li.current{border-bottom:2px solid #c22727}
.livetabs li.current a{color:#ac2e2e}
.top_menu{overflow:hidden;overflow-x:scroll;-webkit-overflow-scrolling:touch;border-top:1px solid #dcdddd;border-bottom:1px solid #dcdddd}
.top_menu::-webkit-scrollbar{display:none}
.top_menu_list{white-space:nowrap;font-size:0}
.top_menu_list .btn{display:inline-block;padding:0 10px;color:#7b7b7b;text-decoration:none;font-size:15px;height:35px;line-height:37px;-webkit-tap-highlight-color:rgba(0,0,0,0.3)}
.top_menu_list .btn.cur{border-bottom:2px solid #c22727;color:#ac2e2e}
.livecon{padding:15px 10px 5px;background:#f7f6f5}
.livecon .live_con{max-width:640px;margin:0 auto 0;overflow:hidden}
.livecon ul{overflow:hidden;margin-left:-10px}
.livecon ul li{float:left;width:50%;min-height:150px;padding:0 0 10px 10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.livecon ul li a{text-decoration:none;display:block;min-height:138px;border:1px solid #c3c3c3;background:#fff;overflow:hidden}
.livecon ul li img{display:block;width:100%;margin:0 auto}
.livecon ul li .tvname{text-align:center;display:block;font-size:14px;color:#666;margin:-16px auto 0;width:100%;height:18px;line-height:18px;overflow:hidden}
.livecon ul li h3{margin-top:6px;padding:2px 0 0;width:94%;height:24px;line-height:24px;border-top:1px dashed #ccc;margin:5px auto 0}
.livecon ul li h3 i{display:block;float:left;background:url(http://y0.ifengimg.com/d35d689b379d6896/2014/51/icon02.jpg) no-repeat 4px 6px;background-size:12px 12px;width:19px;height:23px}
.livecon ul li h3 em{display:block;float:left;color:#494949;font-size:12px;font-weight:bold;width:82%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.livecon ul li span{margin-left:5%;width:90%;color:#7b7b7b;font-size:12px;display:block;height:18px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

/*底部*/
.mfooter{min-width:320px;width:100%;height:28px;text-align:center;padding-top:18px;font-size:14px;margin-top:15px;background:url(http://y0.ifengimg.com/338c136955bf1726/2013/1018/footerbg.png) repeat-x top}

/*分享*/
.download_view{display:none}
.m_share_download_box{padding:15px 0;background:#f5f4f3}
.m_share_download{overflow:hidden}
.m_share_box{margin-left:10px}
.m_download_box .download_view_link{display:block;width:100px;height:33px;margin:1px auto 0;overflow:hidden;background:url(http://y1.ifengimg.com/fe/cl/2013/1213/bg05.png) no-repeat;text-indent:-99999px;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;margin-right:8px}
.m_share_btn01{float:left;width:35px;height:35px;overflow:hidden;background:url(http://y1.ifengimg.com/fe/cl/2013/1213/bg01.png) no-repeat;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;margin-right:10px}
.m_share_btn02{float:left;width:35px;height:35px;overflow:hidden;background:url(http://y1.ifengimg.com/fe/cl/2013/1213/bg02.png) no-repeat;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;margin-right:10px}
.m_share_btn03{float:left;width:35px;height:35px;overflow:hidden;background:url(http://y1.ifengimg.com/fe/cl/2013/1213/bg03.png) no-repeat;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;margin-right:10px}
.m_share_btn04{float:left;width:35px;height:35px;overflow:hidden;background:url(http://y1.ifengimg.com/fe/cl/2013/1213/bg04.png) no-repeat;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;background-size: 100% 100%;margin-right:10px}

/*状态提示*/
.loading_box{min-height:138px;border:1px solid #c3c3c3;background:#fff;overflow:hidden}
.loading_box p{display:block;height:58px;line-height:38px;text-align:center;margin-top:-6px;color:#666}
.liveprogram{background:#fff;border-top:1px solid #e5e5e5;padding:60px 0;text-align:center;font-size:15px;color:#9c9c9c;}

@media screen and (width:568px){
	.m_share_box{margin-left:8px}
}
@media screen and (orientation:landscape){
	.livecon ul li span{margin-left:4%}
}

.banner_box,.layout_box{text-align:center}
.banner_box img{display:inlin-block;height:50px;overflow:hidden}
.layout_box img{display:inlin-block;height:60px;overflow:hidden}