//load more
.load-more{
	height:2rem; text-align:center;line-height:2rem;
	margin:0 auto;
	background:#f2f2f2 ;width: 100%;
	span{
		display:inline-block; font-size:16*$px; color:#a6a6a6; padding-left:26*$px; height:24*$px; line-height:1.2rem;
		background:inline-image("../img/ico_loadMore.png") no-repeat 0 0; background-size:24*$px;
	}
	img{width:14rem; height:auto;padding-bottom:.2rem;}
}

img[src$="blank.gif"],img[data-special]{
	background:rgba(0,0,0,0.03) inline-image("../img/default_bg.png") no-repeat center center!important;
}
img[src$="blank.gif"]{
	height:100%; 
}
img[src$="blank1.gif"]{
	height:100%; background:#000 no-repeat center center;
	opacity:0.03;
}
img[src$="blankAvator.gif"]{
	background:rgba(0,0,0,0.03) inline-image("../img/avator.png") no-repeat center center!important;
	height:100%; 
}

.loading,.loading_mouse{
	height:1.5rem; text-align:center;line-height:1.5rem;
	margin:0 auto;
	background:#f2f2f2 ;width: 100%;
	span.load{
		display:inline-block; height:2rem;
	}
	span.bottom{
		color:#959595;display:inline-block; height:1.5rem;width:14rem;font-size: .7rem;padding-bottom: 4px;
	}
}

.loading_mouse{
	span.load{
		width:6.8rem;
		background:inline-image("../img/loading_mouse.gif") no-repeat 0 0; background-size:100% 100%;
	}
}

.loading{
	span.load{
		width:14rem;
		background:inline-image("../img/loading_img.gif") no-repeat 0 0; background-size:100% 100%;
	}
}

//star start
[class^="rank-"]{
	span{
		background:inline-image('../img/star-empty.png');display:inline-block;
		width:.85rem ;height:.85rem;background-size:100% 100%;
		margin-left: -6px;
	}
	span:nth-child(1){margin-left: -.2rem;}
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
	[class^="rank-"]{
		span{ margin-left: -8px;}
	}
} 
.rank-2 span:nth-child(1),
.rank-4 span:nth-child(1),.rank-4 span:nth-child(2),
.rank-6 span:nth-child(1),.rank-6 span:nth-child(2),.rank-6 span:nth-child(3),
.rank-8 span:nth-child(1),.rank-8 span:nth-child(2),.rank-8 span:nth-child(3),.rank-8 span:nth-child(4),
.rank-10 span:nth-child(1),.rank-10 span:nth-child(2),.rank-10 span:nth-child(3),.rank-10 span:nth-child(4),.rank-10 span:nth-child(5),
.rank-3 span:nth-child(1),
.rank-5 span:nth-child(1),.rank-5 span:nth-child(2),
.rank-7 span:nth-child(1),.rank-7 span:nth-child(2),.rank-7 span:nth-child(3),
.rank-9 span:nth-child(1),.rank-9 span:nth-child(2),.rank-9 span:nth-child(3),.rank-9 span:nth-child(4){
	background:inline-image('../img/star-full.png');
	background-size:100% 100%;
}

.rank-1 span:nth-child(1),
.rank-3 span:nth-child(2),
.rank-5 span:nth-child(3),
.rank-7 span:nth-child(4),
.rank-9 span:nth-child(5){
	background:inline-image('../img/star-half.png');
	background-size:100% 100%;
}

//star end