<div class="toolbar tabs">
    <ul class="fl">
        <li data-name="pic"><a href="../resource">上传图片素材</a></li>
        <li data-name="html"><a href="../resource/html">上传网页素材</a></li>
        <li data-name="video"><a href="../resource/incentive_video">上传视频素材</a></li>
        <li data-name="text"><a href="../resource/text">上传文案素材</a></li>
        <li data-name="apk"><a href="../resource/apk">上传安装文件</a></li>
        <li data-name="view"><a href="../resource/material_pic">查看素材库</a></li>
    </ul>
</div>
<script>
    var tabs=$(".main").attr("data-tabs-name");
    $(".tabs ul li").removeClass("cur");
    $(".tabs ul li").each(function(i){
        if($(this).attr("data-name")==tabs){
            $(this).addClass("cur")
        }
    })
</script>