<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" />
</head>

<body class="fixed-top">
<div id="container" class="row-fluid sidebar-closed" style="margin-top:0;">
    <div id="sidebar" class="nav-collapse collapse" style="display:none;">
        <!-- 隐藏控制按钮 -->
        <div class="sidebar-toggler hidden-phone"></div>
        <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
                <input type="text" class="search-query" placeholder="Search" />
            </form>
        </div>
        <ul class="sidebar-menu">
            <li class="has-sub active">
                <a href="/admin/login">
                    <span class="icon-box"> <i class="icon-th"></i></span> 返回
                    <span class="arrow"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- main content -->
    <div id="main-content" style="margin-left:0;">
        <div class="container-fluid">
            <div class="row-fluid" >
               <div class="span12">
                   <div class="space20"></div>
                   <div class="space20"></div>
                   <div class="widget-body">
                       <div class="error-page" style="min-height: 400px">
                           <img src="/admin/img/404.png" alt="404 error">
                           <h1>
                               <strong>404</strong> <br/>
                               请求的页面不存在！
                           </h1>
                           <p>您可以点击这里<a href="/admin/login">返回</a></p>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">2013 © GiONEE Power by H5 team.</div>
</body>
</html>