<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>Calendar</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

<link rel="stylesheet" type="text/css" href="/admin/assets/chosen-bootstrap/chosen/chosen.css" />
<link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />
<link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
</head>

<body class="fixed-top">
    <% include header.html %>
    <div id="container" class="row-fluid">
        <% include slidebar.html %>
      <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
        <% include pinfo.html %>
            <!-- BEGIN PAGE CONTENT-->
            <div id="page">
               <div class="row-fluid">
                  <div class="span12">
                     <!-- BEGIN CALENDAR PORTLET-->
                     <div class="widget">
                        <div class="widget-title">
                           <h4><i class="icon-reorder"></i>Calendar</h4>
                           <span class="tools">
                           <a class="icon-chevron-down" href="javascript:;"></a>
                           </span>
                        </div>
                        <div class="widget-body">
                           <div class="row-fluid">
                              <div class="span3 responsive" data-tablet="span12 fix-margin" data-desktop="span8">
                                 <!-- BEGIN DRAGGABLE EVENTS PORTLET-->		
                                 <h3 class="event-form-title">Draggable Events</h3>
                                 <div id="external-events">
                                    <form class="inline-form">
                                       <input type="text" value="" class="span12" placeholder="Event Title..." id="event_title" /><br />
                                       <select id="event_priority" data-placeholder="Select Label..." class="span12 chosen">
                                          <option value=""></option>
                                          <option value="default">Default</option>
                                          <option value="success">Normal</option>
                                          <option value="info">Medium</option>
                                          <option value="warning">Urgent</option>
                                          <option value="important">Important</option>
                                       </select>
                                       <div class="space12"></div>
                                       <a href="javascript:;" id="event_add" class="btn">Add Event</a>
                                    </form>
                                    <hr />
                                    <div id="event_box">
                                    </div>
                                    <label for="drop-remove">
                                    <input type="checkbox" id="drop-remove" />remove after drop									
                                    </label>
                                    <hr class="visible-phone"/>
                                 </div>
                                 <!-- END DRAGGABLE EVENTS PORTLET-->				
                              </div>
                              <div class="span9">
                                 <div id="calendar" class="has-toolbar"></div>
                              </div>
                           </div>
                           <!-- END CALENDAR PORTLET-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->
         </div>
         <!-- END PAGE CONTAINER-->	
      </div>
      <!-- END PAGE -->	 	
   </div>
   <!-- END CONTAINER -->
   <!-- BEGIN FOOTER -->
   <div id="footer">
      2013 &copy; Admin Lab Dashboard.
      <div class="span pull-right">
         <span class="go-top"><i class="icon-arrow-up"></i></span>
      </div>
   </div>
   <!-- END FOOTER -->
   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script src="/admin/js/jquery-1.8.2.min.js"></script>		
   <script src="/admin/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
   <script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
   <script src="js/jquery.blockui.js"></script>
   <script src="/admin/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>	
   <script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
   <script type="text/javascript" src="/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
   <script src="/admin/assets/fancybox/source/jquery.fancybox.pack.js"></script>
   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
   <script src="js/excanvas.js"></script>
   <script src="js/respond.js"></script>
   <![endif]-->
   <script src="/admin/js/scripts.js"></script>
   <script>
      jQuery(document).ready(function() {			
      	// initiate layout and plugins
      	App.init();
      });
   </script>
   <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>