<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Editable Tables</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link href="/admin/css/style.css" rel="stylesheet" />
   <link href="/admin/css/style_responsive.css" rel="stylesheet" />
   <link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

   <link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />

   <link rel="stylesheet" href="/admin/assets/data-tables/DT_bootstrap.css" />

</head>

<body class="fixed-top">
    <% include header.html %>
    <div id="container" class="row-fluid">
        <% include slidebar.html %>
        <div id="main-content">
            <div class="container-fluid">
                <% include pinfo.html %>
                <div class="row-fluid">
                    <div class="span12">
                        <!-- widget start -->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i> 可编辑的表格</h4>
                                <span class="tools">
                                    <a href="javascript:;" class="icon-chevron-down"></a>
                                    <a href="javascript:;" class="icon-remove"></a>
                                </span>
                            </div>
                            <div class="widget-body">
                                <div class="portlet-body">
                                    <div class="clearfix">
                                        <div class="btn-group">
                                            <button id="sample_editable_1_new" class="btn green">
                                                新增 <i class="icon-plus"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group pull-right">
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">工具 <i class="icon-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a href="#">打印</a></li>
                                                <li><a href="#">导出PDF</a></li>
                                                <li><a href="#">导出Excel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="space15"></div>
                                    <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                        <thead>
                                            <tr>
                                                <th>用户名</th>
                                                <th>全称</th>
                                                <th>活跃度</th>
                                                <th>备注</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Hankewins</td>
                                                <td>Hankewins Yi</td>
                                                <td>1234</td>
                                                <td class="center">super user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Dulal</td>
                                                <td>Dulal Khan</td>
                                                <td>434</td>
                                                <td class="center">new user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sumon</td>
                                                <td> Sumon Ahmed</td>
                                                <td>232</td>
                                                <td class="center">super user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>vectorlab</td>
                                                <td>dk mosa</td>
                                                <td>132</td>
                                                <td class="center">elite user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Admin</td>
                                                <td> Administrator</td>
                                                <td>462</td>
                                                <td class="center">new user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Rafiqul</td>
                                                <td>Rafiqul dulal</td>
                                                <td>62</td>
                                                <td class="center">new user</td>
                                                <td>
                                                    <a class="edit" href="javascript:;">编辑</a> 
                                                    <a class="delete" href="javascript:;">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.html %>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS -->
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/admin/js/jquery-1.8.3.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>   
<script src="/admin/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/admin/js/excanvas.js"></script>
<script src="/admin/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/admin/assets/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/admin/assets/data-tables/DT_bootstrap.js"></script>
<script src="/admin/js/scripts.js"></script>

<script src="/admin/js/table-editable.js"></script>

<script>
   jQuery(document).ready(function() {
       App.init();
       TableEditable.init();
   });
</script>
</body>
</html>
