<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

<link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />
</head>

<body class="fixed-top">
    <% include header.html %>
    <div id="container" class="row-fluid">
        <% include slidebar.html %>
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <% include pinfo.html %>
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Validation 1</h4>
                                <span class="tools">
                                   <a href="javascript:;" class="icon-chevron-down"></a>
                                   <a href="javascript:;" class="icon-remove"></a>
                                </span>
                            </div>
                            <div class="widget-body form">
                                <p>Basic validations</p>
                                <!-- BEGIN FORM-->
                                <form action="#" class="form-horizontal">
                                    <div class="control-group warning">
                                        <label class="control-label" for="inputWarning">Input with warning</label>
                                        <div class="controls">
                                            <input type="text" class="span6" id="inputWarning" />
                                            <span class="help-inline">Something may have gone wrong</span>
                                        </div>
                                    </div>
                                    <div class="control-group error">
                                        <label class="control-label" for="inputError">Input with error</label>
                                        <div class="controls">
                                            <input type="text" class="span6" id="inputError" />
                                            <span class="help-inline">Please correct the error</span>
                                        </div>
                                    </div>
                                    <div class="control-group success">
                                        <label class="control-label" for="inputSuccess">Input with success</label>
                                        <div class="controls">
                                            <input type="text" class="span6" id="inputSuccess" />
                                            <span class="help-inline ">Woohoo!</span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <button type="button" class="btn">Cancel</button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN VALIDATION STATES-->
                        <div class="widget box blue">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>Validation 2</h4>
                                <span class="tools">
                                    <a href="javascript:;" class="icon-chevron-down"></a>
                                    <a href="javascript:;" class="icon-remove"></a>
                                </span>
                            </div>
                            <div class="widget-body form">
                                <!-- BEGIN FORM-->
                                <p>Validations with icon</p>
                                <form action="#" class="form-horizontal">
                                    <div class="control-group warning">
                                        <label class="control-label">Input with warning</label>
                                        <div class="controls input-icon">
                                            <input type="text" class="span6" />
                                            <span class="input-warning tooltips" data-original-title="please write a valid email">
                                            <i class="icon-warning-sign"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group error">
                                        <label class="control-label">Input with error</label>
                                        <div class="controls input-icon">
                                            <input type="text" class="span6" />
                                            <span class="input-error tooltips" data-original-title="please write a valid email">
                                            <i class="icon-exclamation-sign"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group success">
                                        <label class="control-label">Input with success</label>
                                        <div class="controls input-icon">
                                            <input type="text" class="span6" />
                                            <span class="input-success tooltips" data-original-title="Success input!">
                                            <i class="icon-ok"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <button type="button" class="btn">Cancel</button>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                        <!-- END VALIDATION STATES-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->         
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->  
    </div>
    <!-- END CONTAINER -->
<% include footer.html %>
<!-- BEGIN JAVASCRIPTS -->    
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/admin/js/jquery-1.8.3.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<script src="/admin/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/admin/js/excanvas.js"></script>
<script src="/admin/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
<script src="/admin/js/scripts.js"></script>
<script>
  jQuery(document).ready(function() {       
     // initiate layout and plugins
     App.init();
  });
</script>
</body>
</html>