<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

<link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />
</head>

<body class="fixed-top">
<% include header.html %>
<div id="container" class="row-fluid">
    <% include slidebar.html %>
    <div id="main-content">
        <div class="container-fluid">
            <% include pinfo.html %>
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> 添加产品</h4>
                            <span class="tools">
                               <a href="javascript:;" class="icon-chevron-down"></a>
                               <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body form">
                            <form action="#" class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="inputWarning">排序</label>
                                    <div class="controls">
                                        <input type="text" class="input-small" id="inputWarning" />
                                        <span class="help-inline"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputWarning">产品名称</label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="inputWarning" />
                                        <span class="help-inline"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputWarning">购买地址</label>
                                    <div class="controls">
                                        <input type="text" class="span6" id="inputWarning" />
                                        <span class="help-inline"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="inputWarning">价格</label>
                                    <div class="controls">
                                        <input type="text" class="input-small" id="inputWarning" />
                                        <span class="help-inline"></span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">系列</label>
                                    <div class="controls">
                                        <select class="m-wrap" tabindex="1">
                                            <option value="2">天鉴系列</option>
                                            <option value="6">语音王系列</option>
                                            <option value="4">E-life系列</option>
                                            <option value="10">风华系列</option>
                                            <option value="12">+能量系列</option>
                                            <option value="8">其他系列</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">机型</label>
                                    <div class="controls">
                                        <select class="m-wrap" tabindex="1">
                                            <option value="76">GN330</option>
                                            <option value="70">C800</option>
                                            <option value="20">GN868H</option>
                                            <option value="18">GN868</option>
                                            <option value="10">GN380</option>
                                            <option value="8">GN360</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">产品属性</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" value="" /> 四核处理器
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" value="" /> Android4.1
                                        </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">图片上传</label>
                                    <div class="controls">
                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                            </div>
                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                            <div>
                                       <span class="btn btn-file"><span class="fileupload-new">选择图片</span>
                                       <span class="fileupload-exists">修改</span>
                                       <input type="file" class="default" /></span>
                                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">移除</a>
                                            </div>
                                        </div>
                                        <span class="label label-important">NOTE!</span>
                                        <span>
                                            图片预览功能仅支持主流浏览器Firefox, Chrome, Opera, Safari and Internet Explorer 10+
                                        </span>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">CKEditor</label>
                                    <div class="controls">
                                        <textarea class="span12 ckeditor" name="editor1" rows="6"></textarea>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-success">确定</button>
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.html %>
<!-- BEGIN JAVASCRIPTS -->    
<!-- Load javascripts at bottom, this will reduce page load time -->
<script src="/admin/js/jquery-1.8.3.min.js"></script>
<!-- CKEdit -->
<script type="text/javascript" src="/admin/assets/ckeditor/ckeditor.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- File uplad -->
<script type="text/javascript" src="/admin/assets/bootstrap/js/bootstrap-fileupload.js"></script>
<script src="/admin/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/admin/js/excanvas.js"></script>
<script src="/admin/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
<script src="/admin/js/scripts.js"></script>
<script>
    jQuery(document).ready(function() {       
        // initiate layout and plugins
        App.init();
    });
</script>
</body>
</html>