<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

<link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />
</head>

<body class="fixed-top">
    <% include header.html %>
    <div id="container" class="row-fluid">
        <% include slidebar.html %>
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <% include pinfo.html %>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>修改密码</h4>
                                <!-- <span class="tools">
                                   <a href="javascript:;" class="icon-chevron-down"></a>
                                   <a href="javascript:;" class="icon-remove"></a>
                                </span> -->
                            </div>
                            <div class="widget-body form">
                                <form method="post" action="/admin/user/do/update" class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label" for="lb0001">当前密码</label>
                                        <div class="controls">
                                            <input id="lb0001" class="span6" type="text" name="old_pass"/>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0002">新密码</label>
                                        <div class="controls">
                                            <input id="lb0002" class="span6" type="text" name="new_pass"/>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0003">重复密码</label>
                                        <div class="controls">
                                            <input id="lb0003" class="span6" type="text" name="rep_pass"/>
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">确认</button>
                                        <button type="button" class="btn">重置</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include footer.html %>
<script src="/admin/js/jquery-1.8.3.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<script src="/admin/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/admin/js/excanvas.js"></script>
<script src="/admin/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
<script src="/admin/js/scripts.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {       
        App.init();
    });
</script>
</body>
</html>