<!-- BEGIN SIDEBAR -->
<div id="sidebar" class="nav-collapse collapse">
	<!-- 隐藏控制按钮 -->
	<div class="sidebar-toggler hidden-phone"></div>

	<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
	<div class="navbar-inverse">
		<form class="navbar-search visible-phone">
			<input type="text" class="search-query" placeholder="Search" />
		</form>
	</div>
	<!-- END RESPONSIVE QUICK SEARCH FORM -->
	<!-- 侧边栏－菜单 -->
	<ul class="sidebar-menu">
		<li class="has-sub <% if(menuLevel == 'com') { %>active<% } %>">
			<a href="javascript:;">
			    <span class="icon-box"> <i class="icon-th"></i></span> 后台公共组件
                <span class="arrow <% if(menuLevel == 'com') { %>open<% } %>"></span>
            </a>
            <ul class="sub">
                <li <% if(menuIndex == 'list') { %>class="active"<% } %>><a class="" href="/admin/list">列表</a></li>
                <li <% if(menuIndex == 'editable') { %>class="active"<% } %>><a class="" href="/admin/edit-table">可编辑的列表</a></li>
                <li <% if(menuIndex == 'form') { %>class="active"<% } %>><a class="" href="/admin/form">基础表单</a></li>
                <li <% if(menuIndex == 'formadd') { %>class="active"<% } %>><a class="" href="/admin/form/add">表单添加</a></li>
                <li <% if(menuIndex == 'component') { %>class="active"<% } %>><a class="" href="/admin/form/component">表单组件</a></li>
                <li <% if(menuIndex == 'validation') { %>class="active"<% } %>><a class="" href="/admin/form/validation">表单验证</a></li>
                <li <% if(menuIndex == 'pagination') { %>class="active"<% } %>><a class="" href="/admin/pagination">分页</a></li>
                <li <% if(menuIndex == 'tips') { %>class="active"<% } %>><a class="" href="/admin/tips">提示</a></li>
                <!-- <li <% if(menuIndex == 'lock') { %>class="active"<% } %>><a class="" href="/admin/lockscreen">锁屏</a></li>
                <li <% if(menuIndex == 'login') { %>class="active"<% } %>><a class="" href="/admin/login">登陆</a></li> -->
            </ul>
		</li>
		<!-- <li class="has-sub <% if(menuLevel == 'components') { %>active<% } %>">
            <a href="javascript:;" class="">
            <span class="icon-box"><i class="icon-cogs"></i></span> 前端UED组件
            <span class="arrow"></span>
            </a>
            <ul class="sub">
                        <li <% if(menuIndex == 'Calendar') { %>class="active"<% } %>><a class="" href="/admin/components/calendar">Calendar</a></li>
                        <li <% if(menuIndex == 'grids') { %>class="active"<% } %>><a class="" href="/admin/components/grids">Grids</a></li>
                        <li <% if(menuIndex == 'charts') { %>class="active"<% } %>><a class="" href="/admin/components/charts">Visual Charts</a></li>
                        <li <% if(menuIndex == 'messengers') { %>class="active"<% } %>><a class="" href="/admin/components/messengers">Conversations</a></li>
                        <li <% if(menuIndex == 'gallery') { %>class="active"<% } %>><a class="" href="/admin/components/gallery"> Gallery</a></li>
                    </ul>
        </li> -->
	</ul>
</div>
