<script src="{{rootUrl}}/js/core.js" type="text/javascript"></script>
<script src="{{rootUrl}}/js/app-type.js" type="text/javascript"></script>
<div class="colMain">
    <div class="title"><p class="fl">修改密码</p></div>
    <div class="main">
        <div class="app-detail">
            <form action="../admin/savePwd" method="POST" >
                <ul class="form">
                    <li>
                        <span class="label">旧密码：</span>
                        <div class="fc">
                            <input type="password" class="iText required" required name="password1" style="width:220px;" />
                            <span class="red">*</span>
                        </div>
                    </li>
                    <li>
                        <span class="label">新密码：</span>
                        <div class="fc">
                            <input type="password" class="iText required" required name="password" style="width:220px;" />
                            <span class="red">*</span>
                        </div>
                    </li>
                    <li>
                        <span class="label">确定新密码：</span>
                        <div class="fc">
                            <input type="password" class="iText required" required name="password2" style="width:220px;" />
                            <span class="red">*</span>
                        </div>
                    </li>
                    <li>
                        <div class="fc">
                            <input type="submit" value="确定" class="submit" />
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>