/***********************************************
 * reset
 ***********************************************/
@charset "utf-8";
html{font-size:20px; -webkit-text-size-adjust:none;height:100%}
body{
	height:100%;
}
@media all and (min-width:359px){.uc-hack{font-size:22.5px;}}
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5){html{font-size:22.5px;}}
body{font:1rem/1 "\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",SimSun,Tahoma,Helvetica,Arial,sans-serif;}
$px:0.05rem;

html,body,div,span,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,
a,em,img,small,strike,strong,form,label,canvas,footer,header,nav,output
{margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}

fieldset,img{border:none;}
img{width: 100%;max-width: 100%;}
a{text-decoration:none;}
table{border-collapse:collapse; border-spacing:0;}

ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1rem; font-weight:normal;line-height: 1rem;}

a:focus, input, textarea{outline:none; border:0;}
input,button,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit; outline:none;}
img,input,button,select{vertical-align:middle;}
textarea{resize:none;}

b{font-weight:normal;}
i,em{font-style:normal;}
@mixin chevron($cDirection:"right", $cSize: 20px, $cWidth: 1px, $cColor: black) {

  display: inline-block;
  width: $cSize;
  height: $cSize;
  border-top: $cWidth solid $cColor;
  border-right: $cWidth solid $cColor;
  border-width: $cWidth;
    
  @if $cDirection == 'top'    { @include rotate(-45deg);}
  @if $cDirection == 'right'  { @include rotate(45deg);}
  @if $cDirection == 'bottom' { @include rotate(135deg);}
  @if $cDirection == 'left'   { @include rotate(225deg);}
}
.ui-editor{
  word-break:break-all;
  i,em{font-style:italic!important;}
  b{font-weight:bold!important;}
  u{text-decoration:underline!important;}
  s{text-decoration:line-through!important;}
  ul li{list-style:initial; margin-left:1rem!important;}
  ol li {list-style:decimal; margin-left:1rem!important;}
  span,p,h1,h2,h3,h4,h5{white-space: normal!important;}
  span,p{
    line-height: 18px;
  }
  img{
    padding-top: 5px;
    max-width: 100%!important;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  table{margin:4px 0;max-width:300px!important;}
  h1,h2,h3{font-size: 1.2rem!important;line-height: 1.5rem;}
  h4,h5,h6{font-size: 1.2rem!important;line-height: 1.3rem;}
}