@charset "utf-8";
@import "compass/css3";
@import "common";
@import "icon";
body{
	overflow: hidden;
}
.bg{
    height: 100%;
	background:#ffdf47 url(../img/bg.png);
	background-size:100% 100%;
}
.load-bg{
	padding:12px 0px 25px;
	.load{
	    background-color: #fffe88;
	    width: 190px;
	    border-radius: 0px 40px 40px 0px;
		font-size: 14px;
		font-weight: 600;
		padding: 5px 18px;
		.user-info{
			height:57px;
			.name{
				padding:10px 0px 10px 0px;
			}
			font{
				color:#ff652a;
				font-size:12px;
				font-weight: 200;
				span{
					font-size:14px;
					font-weight:600;
				}
			}
			.title{
				line-height:53px;
			}
		}
	}
}

.transparent-portrait{
	background-color:#e3c65a;
	border-radius:50%;
	height:56px;
	width:56px;
	position:absolute;
}
.portrait{
	margin:3px;
	border-radius:50%;
	height:50px;
	width:50px;
    float: left;
    position: relative;
    margin-right:10px;

}

.menu{
	top:24px;
	right:15px;
	color:#a0821b;
	font-size:12px;
	position:absolute;
	width:55px;
	text-align:center;
	li{
		padding-bottom:13px;
		i{
			display:block;
			width:100%;
			height:42px;
		}
		.icon-share{
			background:url(../img/share.png) no-repeat center 0px;
			background-size:36px 42px;
		}
		.icon-luckDraw{
			background:url(../img/luckDraw.png) no-repeat center 0px;
			background-size:36px 41px;
		}
		.icon-mall{
			background:url(../img/mall.png) no-repeat center 0px;
			background-size:36px 41px;
		}
		.icon-rankingList{
			background: url(../img/rankingList.png) no-repeat center 0px;
    		background-size: 36px 40px;
		}
	}

}
.content{
	width:auto;
	max-width:680px;
	margin:0px auto;
	text-align:center;
	h2{
	    font-size: 42px;
	    color: #fff;
        height: 22px;
	    -webkit-text-stroke: 2px #ff6022;
	    font-weight: 900;
	    span{
	    	display:none;
	    }
	    .time{
	    	font-size:16px;
	    	font-weight: 600;
    	    position: absolute;
		    margin: 6px 0px 0px 6px;
	    	-webkit-text-stroke: 1px #ff6022;
	    }
	}
	.state{
		width:148px;
		margin:0px auto;
    	padding-top: 20px;
		.transparent-round{
			background-color:#fff;
			@include opacity(0.3);
		    border: 1px solid #dddddd;
			border-radius:50%;
			height:146px;
			width:146px;
			position:absolute;
		}
		.round{
			background-color:#fff;
			border-radius:50%;
			height:130px;
			width:130px;
			margin:9px;
		    position: relative;
		    z-index:10;
			h1{
				color:#ff7c34;
				font-size:28px;
				font-weight: 900;
				line-height:130px;
			}
		}
		img{
			z-index:10;
			width:130px;
			height:130px;
			display:none;
		}
	}
	.guide{
		z-index:601;
	    top: 120px;
	    width:84%;
	    margin-left:8%;
	    position: absolute;
	    h1{
	    	padding-top:6px;
	    	color:#ff652a;
	    	font-size:18px;
		    text-align: center;
	    }
		.state {
			img{
				display:block;
				width:75px;
				height:75px;
			}
			.round{
				width:75px;
				height:75px;
				margin:6px;
			}
			width:75px;
			height:75px;
			margin-bottom:26px;
		}
		.transparent-round{
			width:85px;
			height:85px;
		}
	    
	    img{
	    	width:75px;
	    	height:75px;
	    }
	    .icon{
		    position: relative;
		    right: -86px;
		    top: -78px;
	    }
	}
}
.cat{
	img{
		position:absolute;
		bottom:0px;
		width:100%;
		max-width:680px;
	}
	width:auto;
	max-width:680px;
	margin:0px auto;
}
.get-integral{
	position:absolute;
	left:12px;
	h1{
		font-size: 32px;
	    color: #fff;
	    -webkit-text-stroke: 2px #ff6022;
	    font-weight: 600;
	   	position:absolute;
	   	margin-bottom:10px;
	   	position: absolute;
	   	top:-40px;
	}
	li{
		display:none;
		height: 35px;
		h2{
			font-size: 32px;
			color: #fd2d2d;
		}
	}
	li:nth-last-child(1){
		display:block;
		@include opacity(0.9);	
	}
	li:nth-last-child(2){
		display:block;
		@include opacity(0.5);	
	}
	li:nth-last-child(3){
		display:block;
		@include opacity(0.3);	
	}
}
.explain{
	position: absolute;
    bottom: 1px;
	width: 100%;
	z-index:21;
	&.hide{
		.group{
			display:none;
		}
		h1{
			.down-arrow{
   				position: relative;
   				top: 5px;
   				@include chevron(top,15px,2px,#ff7c34);
   			}
		}
	}
	h1{
		display:inline-block;
		margin-left:3px;
		font-size:22px;
		color:#ff7c34;
		background-color:#fff;
		padding:9px 15px;
		border-top:1px solid #ccb239;
		border-left:1px solid #ccb239;
		border-right:1px solid #ccb239;
		border-radius:5px 5px 0px 0px;
		position: relative;
   		top: 1px;
   		.down-arrow{
   			@include chevron(bottom,15px,2px,#ff7c34);
   		}
	}
	.group{
		background-color:#fff;
		.ui-editor{
			border-top:1px solid #ccb239;
			word-wrap: break-word;
			color:#ff7c34;
			padding:12px 10px;
			font-size: 18px; 
			overflow: auto;
			max-height: 237px;
			@media screen and(max-width:360px){
				max-height: 137px;
			}
			@media screen and(max-width:320px){
				max-height: 80px;
			}
			p{
				text-align:left;
				padding: initial;
			}
		}
		.title{
			color:#a3a3a3;
			font-size:15px;
			pading-bottom:4px;
			height: 18px;
			background-color: #fff;
		}
		.explain{ 
			color:#cacaca;
			font-size:12px;
			background-color: #fff;
		}
		p{
			text-align:center;
			padding: 10px 0px;
		}
	}
}
.window-bg{
	background-color:#000;
	@include opacity(0.3);
	position:absolute;
	width:100%;
	height:100%;
    z-index: 600;
    top: 0px;
}
.window-bg2{
	background-color:#000;
	@include opacity(0.3);
	position:absolute;
	width:100%;
	height:100%;
    z-index: 20;
    top: 0px;
}
.window{
    position: absolute;
    background-color: #fff;
    z-index: 888;
    margin: 0px 8%;
    border-radius: 10px;
    top: 30%;
    padding: 40px 0px 20px 0px;
    text-align: center;
    width: 84%;
    h1{
    	color: #ff652a;
		font-size: 32px;
   		padding-bottom: 30px
    }
    .title{
    	font-size: 18px;
    	padding-bottom: 26px;
    	color: #936203;
    }
    .msg{
    	font-size: 13px;
    	color: #a3a3a3;
    }
    .but{
    	margin-top:50px;
	    font-size: 17px;
	    background-color: #ff652a;
	    border-radius: 5px;
	    padding: 8px 16px;
	    color: #fff;
	    margin-bottom: 10px;
	    &.share{
	    	display:none;
	    }
    }
    
    display:none;
}
.window.share{
	padding:40px 0px;
}
.wx-share{
	.wx-bg{
		width:80%;
		margin-left:10%;
		top:100px;
		background-color:#000;
		@include opacity(0.3);
		height:66px;
		z-index:666;
	   	border-radius: 16px;
		position: absolute;
		i{
		    width: 0px;
		    display: inline-block;
		    position: relative;
		    top: -28px;
		    left: -15%;
		    border-left: 10px solid #000;
		    border-right: 30px solid transparent;
		    border-left: 30px solid transparent;
		    border-top: 0px solid #000;
		    border-bottom: 30px solid #000;
		}
		i:nth-last-child(1){
		    left: 15%;
		}
	}
	.msg{
		position:absolute;
		z-index:667;
		font-size:18px;
		color:#fcfcfb;
		text-align: center;
    	width: 100%;
    	line-height: 30px;
    	top:100px;
	}
	img{
		width: 83px;
	    height: 107px;
	    position: absolute;
	    top: 11px;
	    right: -10px;
    	z-index:668;
	}
	z-index: 888;
    background: none;
    position: absolute;
    top: 0px;
}
.window{
	&.dow{
		.msg{
			color: #936203;
		    font-size: 17px;
		    margin: 0px 40px;
		    line-height: 30px;
		}
		.but{
			margin-top:20px;
		}
	}
}
.preheat{
	height:100%;
	.bg{
		background:#ffdf47 url(../../pic/preheat-bg.jpg);
		background-size:100% 100%;
	}
	.fish{
		img{
			float:left;
			width:166px;
		}
		img:nth-child(1){
		    position: absolute;
			bottom: 119px
		}
		img:nth-last-child(1){
		    position: absolute;
		    bottom: 10px;
		    right: 0px;
		}
	}
	.time{
	    h1{
	        font-size: 16px;
			color: #fff;
			padding: 22px 0px 0px 22px;
	    }
	    p{
	    	font-size: 16px;
	    	padding-top:10px; 
	    	span{
	    		font-size:40px;
    		    padding: 0px 5px;
	    		display:inline-block;
	    	}
	    	text-align:right;
    	    margin-right: 15px;
	    }
	    color:#fff;
	    position: absolute;
    	top: 32%;
	    height: 103px;
    	margin: 0px 10%;
    	width:80%;
    	background:url(../img/portrait-time.png);
    	background-size: 100% 100%; 

    }
}
.ranking-list{
	.title {
		color: #ac651a;
		font-size: 20px;
		display: block;
		font-weight: bold;
	  	padding: 16px 0px 16px 10px;
	  	position: relative;
	  	border-radius:5px;
	  	background-color:#fff;
	}
	.title:after {
	  	content: '';
 	 	position: absolute;
	 	width: 100%;
	 	height: 8px;
	  	background: url(../img/title-bg.png);
	  	background-repeat: repeat-x;
	  	background-size: 15px 100%;
	  	left: 0;
	  	bottom: 0;
	} 
	li{
		background: #ffe869;
		overflow: hidden;
		font-size: 13px;
		color: #ac651a;

		div{
			float: left;
			width: 29%;
			height: 40px;
			margin-left: 2%;
			margin-right: 2%;
			line-height: 40px;
			text-align:center;
		}
		div:nth-child(1){
			width: 28%;
			margin-left: 0;
			padding-left: 4%;
		}

	}
	li:nth-child(2n) {
		background: #fff372;
	}
	background-color: #ffbf4f;
    height: 100%;
    padding: 6px;
}
