<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title><%= title %></title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="/admin/css/style.css" rel="stylesheet" />
<link href="/admin/css/style_responsive.css" rel="stylesheet" />
<link href="/admin/css/style_<%= skins %>.css" rel="stylesheet" id="style_color" />

<link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />
</head>

<body class="fixed-top">
    <% include ../layout/header.html %>
    <div id="container" class="row-fluid">
        <% include ../layout/slidebar.html %>
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <% include ../layout/pinfo.html %>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>基本设置</h4>
                            </div>
                            <div class="widget-body form">
                                <% if(locals.success) { %>
                                <div class="alert alert-success">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <%= success %>
                                </div>
                                <% } %>

                                <% if(locals.error) { %>
                                <div class="alert alert-error">
                                    <button class="close" data-dismiss="alert">×</button>
                                    <%= error %>
                                </div>
                                <% } %>

                                <form method="post" action="/admin/user/setting" class="form-horizontal">
                                    <input type="hidden" name="action" value="change_setting" />
                                    <div class="control-group">
                                        <label class="control-label" for="lb0001">用户名</label>
                                        <div class="controls">
                                            <input class="span6 readonly" type="text" value="<%= username %>" readonly="true" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0002">电子邮件</label>
                                        <div class="controls">
                                            <input class="span6 readonly" type="text" value="<%= email %>" readonly="true" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-realname">真实姓名</label>
                                        <div class="controls">
                                            <input id="lb-user-realname" class="span6" type="text" name="realname" value="<%= realname %>" />
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-photo">头像URL</label>
                                        <div class="controls">
                                            <input id="lb-user-photo" class="span6" type="text" name="thumbnail" value="<%= thumbnail %>" />
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-sites">个人网站</label>
                                        <div class="controls">
                                            <input id="lb-user-sites" class="span6" type="text" name="sites" value="<%= sites %>" />
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0003">所在地点</label>
                                        <div class="controls">
                                            <input id="lb0003" class="span6" type="text" name="location" value="<%= location %>"/>
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-signature">个性签名</label>
                                        <div class="controls">
                                            <input id="lb-user-signature" class="span6" type="text" name="signature" value="<%= signature %>"/>
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-profile">个人简介</label>
                                        <div class="controls">
                                            <input id="lb-user-profile" class="span6" type="text" name="profile" value="<%= profile %>"/>
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb-user-weibo">微博</label>
                                        <div class="controls">
                                            <input id="lb-user-weibo" class="span6" type="text" name="weibo" value="<%= weibo %>" />
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">保存设置</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 修改密码 -->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="widget">
                            <div class="widget-title">
                                <h4><i class="icon-reorder"></i>修改密码</h4>
                            </div>
                            <div class="widget-body form">
                                <form method="post" action="/admin/user/setting" class="form-horizontal">
                                    <input type="hidden" name="action" value="change_password" />
                                    <div class="control-group">
                                        <label class="control-label" for="lb0001">当前密码</label>
                                        <div class="controls">
                                            <input id="lb0001" class="span6" type="password" name="old_pass"/>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0002">新密码</label>
                                        <div class="controls">
                                            <input id="lb0002" class="span6" type="password" name="new_pass"/>
                                            <span class="help-inline"></span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="lb0003">重复密码</label>
                                        <div class="controls">
                                            <input id="lb0003" class="span6" type="password" name="rep_pass"/>
                                            <span class="help-inline "></span>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn btn-success">确认修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../layout/footer.html %>
<script src="/admin/js/jquery-1.8.3.min.js"></script>
<script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
<link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
<script src="/admin/js/jquery.blockui.js"></script>
<!-- ie8 fixes -->
<!--[if lt IE 9]>
<script src="/admin/js/excanvas.js"></script>
<script src="/admin/js/respond.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/assets/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/admin/assets/uniform/jquery.uniform.min.js"></script>
<script src="/admin/js/scripts.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {       
        App.init();
    });
</script>
</body>
</html>