.succeed_marks {
	width: 400px;
	height: 42px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	font: 14px/40px "微软雅黑", Arial, Helvetica, sans-serif;
	background: url(../images/succeed.png) 0 0 no-repeat;
	position: fixed;
	left: 50%;
	margin-left: -200px;
	top: 400px;
	z-index:9999;
}

.succeed_marks em {
	color:#429296;
}

.succeed_marks .xg1{
	color: #999;
}