@charset "utf-8";

/* CSS Document */
.fl{ float:left;display:inline;}  
.fr{ float:right;display:inline;} 
.cl{clear:both;}


/********* layout *********/
.w{width:988px; margin:0 auto; position:relative}
.ter{text-align:right}
.mr20{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.mt30{margin-top:30px!important;}
.mt20{margin-top:20px!important;}
.ml20{margin-left:20px!important;}
.main{background:url(../images/sidel-bg.gif) left top repeat-y; border:1px solid #dedede; border-top:none; border-left:none; }
.sidel{background:#f7f7f7; width:238px; margin:0 0 0 1px;}
.sider{background:#fff; overflow:hidden; width:708px; padding:0 20px 60px;}
a{color:#333;}
.rmain{width:745px; padding:15px 0; margin:0 40px;}
.rmain h2{ height:41px; line-height:30px; color: #333; font-size:18px;}


/*头部*/
.head{width:100%; background:#fcfcfc; height:90px;font-size:14px; overflow:hidden;}
.logo{margin:28px 0 0; line-height:999px;}
.logo,.logo a{ width:323px; height:55px; background:url(../images/logo.png) left top no-repeat; overflow:hidden;}
.logo a{ display:block;}
.head a:hover{color:#e93a18}
.head .nav {width:60%; line-height:94px; color:#939393; text-align:right; overflow:hidden;}
.nav a{margin:0 0 0 36px; color: #333; font-size:16px; }
.nav a:hover,.nav a.on{color:#ef4220;}
.indexh .logo{margin-left:28px;}
.indexh .rega{width:50%; line-height:94px; color:#939393; text-align:right; margin-right:38px;color:#333; overflow:hidden; }
.indexh .rega a{text-decoration:underline; margin:0 0 0 8px; }

/*尾部*/
.footer{ padding:0 0 20px; overflow:hidden;}
.footerc{width:970px; margin:0 auto; color: #969696;}
.footerc span{display:block; width:100%; text-align:center; overflow:hidden;}
.footerc a{color: #777;}
.footerc a:hover{ text-decoration:underline; color: #555;}

/*btns*/
.btn-red,.btn-bred,.btn-fb,.btn-green{display:inline-block;  border-radius:3px;cursor:pointer}
.btn-red{ background:#f15335; color: #fff; font-size:18px; text-align:center; line-height:38px; height:38px; padding:0 28px; overflow:hidden;}
.btn-red:hover{ background:#f1452e;}
.btn-bred{border:none;font-size:18px;color:#fff; width:262px; text-align:center; height:38px; line-height:38px; background:#f1452e; border-bottom:1px solid #cf3f23; border-radius:3px;}
.btn-bred:hover{border:none;background:#f74129;}
.btn-fb{background:#f15335; color: #fff; font-size:14px; text-align:center; line-height:34px; height:34px; padding:0 28px;  overflow:hidden;}
.btn-fb em{font-weight:bold; margin:0 5px 0 0;}
.btn-fb:hover{ background:#f74129;}
.btn-green{ background:#4fa84f;color: #fff; font-size:14px; text-align:center; line-height:34px; height:34px; padding:0 20px;  border:none; outline:none; overflow:hidden;}
.btn-green:hover{ background:#51b351;}
.btn-sm{cursor:pointer}

/*左侧菜单导航*/
.lnav{   width:170px; border-top:2px solid #ed7e6f; margin:-2px 0 0 -1px;}
.lnav dl{margin:0 1px; border-top:1px solid #f5f5f5; padding:0 0 15px; overflow:hidden;}
.lnav dt,.lnav dd{ padding:0 18px; overflow:hidden;}
.lnav dt{font-weight:bold; font-size:16px; height:61px; line-height:61px; border-bottom:1px solid #f5f5f5; background:#fafafa; margin:0 0 12px;}
.lnav dd{font-size:15px; line-height:34px; height:34px;}
.lnav dd a{ display:block;}
.lnav dd a span{margin:0 0 0 3px;}
.lnav dd a.on,.lnav dd a:hover{color:#f54220; background:url(../images/ico-sj.gif) right 13px no-repeat;}

/*内页二级导航*/
.sec-nav{ position:relative; background:#f1452e; height:46px; color: #fda99e;  font-size:16px; margin:0 0 40px; }
.sec-nav a,.sec-nav ins{float:left; display:inline; height:46px; overflow:hidden;}
.sec-nav a{color:#fff;}
.sec-nav ins{margin:0 28px;  line-height:46px;}
.sec-nav a em{display:block; width:0; height:0; font-size:0; overflow:hidden; border-width:5px; border-style:solid; border-color:#f1452e #f1452e #fff  #f1452e; margin:0 auto; display:none;}
.sec-nav a span{display:block; height:36px; line-height:46px; overflow:hidden;}
.sec-nav .on em,.sec-nav a:hover em{display:block;position: absolute;left: 27px;}
.sec-nav .shadow{ background:url(../images/shadow.png) left top repeat-x; height:3px; width:100%; position:absolute; left:0; top:0; z-index:10}

.container{width:1000px;margin:0 auto;}
#jumbotron{left: 82px;top: 0px;}