/*.grid{margin-bottom:10px;}
.col-sub{background:#DBEDF6;}
.col-extra{background:#EAFBEA;}
.test-box{padding:10px; height:90px; border:1px dotted #aaa;}
.test-box-big{padding:10px; height:90px; border:1px dotted #aaa;}
.test-box-small{padding:10px; height:90px; border:1px dotted #aaa;}*/

a{color:#666; text-decoration:none;}
a:hover{color:#f60;}
.grid{width:600px; margin:0 auto; color:#666;}
.page-title h2{text-align:center; padding:10px 0 15px; margin:50px 0 20px; border-bottom:solid 1px #ccc; font-family:"\5FAE\8F6F\96C5\9ED1"; line-height:1;}

.home li{margin-bottom:20px;}
.home li dt, .home li dd{padding-left:20px;}
.home dt a{font-size:14px;}
.home li s{display:inline-block; margin-left:-20px; vertical-align:middle;}
.home li dd{color:#aaa; margin-top:5px;}

.wysiwyg{margin-bottom:10px;}

.ui-state-active{border:dashed 1px #f60;}
#J_pieWrap .highcharts-container{border:solid 1px red;}

.fz12{font-size:12px;}
input{padding: 8px 20px; vertical-align:middle;}
.registerform{margin-bottom:40px;}
.registerform .need{
	width:10px;
	color:#b20202;
}
.registerform td{
	padding:5px 0;
	vertical-align:top;
	text-align:left;
}
.registerform .inputxt,.registerform textarea{
	border:1px solid #a5aeb6;
	width:196px;
	padding:4px 2px;
}
.registerform textarea{
	height:75px;
}
.registerform label{
	margin:0 15px 0 4px;
}
.registerform .tip{
	line-height:20px;
	color:#5f6a72;
}
.registerform select{
	width:202px;
}
.registerformalter select{
	width:124px;
}
.swfupload{
	vertical-align:top;
}
.passwordStrength{

}
.passwordStrength b{
	font-weight:normal;
}
.passwordStrength b,.passwordStrength span{
	display:inline-block; 
	vertical-align:middle;
	line-height:16px;
	line-height:18px\9;
	height:16px;
}
.passwordStrength span{
	width:45px; 
	text-align:center; 
	background-color:#d0d0d0; 
	border-right:1px solid #fff;
}
.passwordStrength .last{
	border-right:none;
}
.passwordStrength .bgStrength{
	color:#fff;
	background-color:#71b83d;
}
#demo1 .passwordStrength{
	margin-left:8px;
}
.tipmsg{
	padding:0 10px;
}