@CHARSET "UTF-8";
.ajax_wrap{padding-bottom: 2rem;}
.view_list_tb a{color: #4A4C4F;}

/*重写*/
#zt_admin_res01 .tag_list, #zt_admin_res02 .tag_list, #zt_operation_01 .tag_list, #zt_operation_02 .tag_list, #zt_operation_03 .tag_list, #zt_operation_06 .tag_list {width: 33.75rem;}
.view_list_tb img {width: 3.875rem;height: 6.875rem;border-radius: 5px;overflow: hidden;}
.view_pics_list {float: left;margin-left: 0.625rem;width: 10rem;margin-bottom: 1rem;}
.view_pics_list .pic_cont img {height: 17rem;width: 10rem;border-radius: 5px;}
.view_pics_list .pic_cont .view_pics_btns>button {background: #E1E5EA;border-radius: 5px;color: #4A4C4F;margin-right: 0.5rem;padding: 0 1.15rem;height: 1.875rem;line-height: 1.875rem;}

#zt_usr_upload02 #cell_img_canvas1 img, #zt_usr_02 #cell_img_canvas1 img,#zt_usr_02 #cell_img_canvas1 canvas,#zt_admin_edit #cell_img_canvas1 img,#zt_admin_edit #cell_img_canvas1 canvas{height: 16.85rem;width: 10rem;margin-right: 0.75rem;border-radius: 5px;overflow: hidden;}

input.numSort{width: 5rem;height: 1.875rem;border: 1px solid #D4D4D4;border-radius: 0.4375rem;background: #fff;text-align: center;}
#zt_usr_upload02 .view_list_tb .rd_1 {text-align: center;}

#zt_admin_tag .tb_tag_two tbody tr {height: 10.8rem;}
#zt_admin_tag .view_list_tb img {width: 6.8rem;height: 6.8rem;border-radius: 5px;overflow: hidden;}
#zt_admin_edit .com_tb_wrap .com_tb .tb_cell .tag_add_wrap{margin-right: 0;width: 90%;}
#zt_admin_edit .txt_editor{padding: 0.3rem 0.5rem 0.5rem 0.5rem;}

#zt_operation_05 .tag_list{width: 33.75rem;}

#zt_operation_05 .drag_sort .btn_s3{margin-top:0.875rem;}

#zt_operation_07 .drag_sort .btn_s3{margin-top:0.875rem;}