@CHARSET "UTF-8";

#bz_admin_taotu_pack02 .com_tb_wrap .com_tb>label{width:5.625rem;}
#taotuColorPicker{margin:0 1rem 0.625rem 1rem;}

#bz_admin_taotu_pack01 .bnts_wrap{margin-top:0.625rem;padding-top:0.625rem;padding-bottom:3rem;}
#bz_admin_taotu_pack02 .btn_s3{margin-top:0.875rem;}
#bz_admin_taotu_pack02 .drag_sort_wrap{border-bottom:1px solid #E4E8EC;}
#bz_admin_taotu_pack02 .bnts_wrap{margin-top:0.625rem;padding-top:0.625rem;padding-bottom:3rem;}
/*传壁纸 上传壁纸01*/
#bz_usr_bg_upload .uploader{border:1px dashed #888888;margin:50px;padding:20px;}
#bz_usr_bg_upload .demo-image-preview{width:56px;height:56px;}

/*壁纸详情-wp01*/
#bz_admin_wp01 .view_list .pack_del{margin-left:0.625rem;}

/*wp02-壁纸编辑*/
#bz_admin_wp02 .bnts_wrap{margin-top:0.625rem;padding-top:0.625rem;padding-bottom:3rem;border-top:1px solid #E4E8EC;}


/*taotu_list02-套图管理*/
#bz_admin_taotu_list02 .bnts_wrap{margin-top:0.625rem;padding-top:0.625rem;padding-bottom:3rem;}

#bz_usr_upload02 .view_list_tb td{width:16.667%;}
#bz_usr_upload02 .view_list_tb  .rd_1{text-align:center;}
#bz_usr_upload02 .select_box{font-size:0.875rem;}

#bz_daily_list01 .view_list_tb td{width:10%;}
#bz_daily_list01 .view_list_tb td.tb_img{width:20%;}

#bz_daily_add01 .view_list_tb td{width:13.33%;}
#bz_daily_add01 .view_list_tb td.tb_img{width:20%;}

#bz_admin_tag .tb_tag_two tbody tr{height:10.8rem;}


#bz_admin_taotu_list01 .view_list_tb td{width:10%;}
#bz_admin_taotu_list01 .view_list_tb td.tb_img{width:20%;}

#bz_operation_seminar_add02 .drag_sort .btn_s3{margin-top:0.875rem;}

#bz_operation_seminar_list02 .drag_sort .btn_s3{margin-top:0.875rem;}

