// $assetsHost = "http://assets.3gtest.gionee.com/apps/gou/assets/"
$assetsHost = "http://assets.gionee.com/apps/gou/assets/"

.same-plugin {
	display: -webkit-box;
	display: box;
	position: fixed;
	right: 0px;
	margin-right: -202px;
	bottom: 50%;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transform: translateZ(0); 
	transform: translateZ(0); 
	&.unfold {
		-webkit-transition: margin-right 0.3s linear 0.1s;
		transition: margin-right 0.3s linear 0.1s;
		margin-right: 0 !important;
	}
	&.fold {
		-webkit-transition: margin-right 0.3s linear 0.1s;
		transition: margin-right 0.3s linear 0.1s;
	}
	.side {
		width: 32px;
		height: 36px;
		background: url($assetsHost img/same-style-plugin.png) 0 0 no-repeat;
		background-size: 100% 100%;
	}
	.cont {
		-webkit-box-flex: 1;
		box-flex: 1;
		padding: 0 5px 0 0;
		height: 36px;
		width: auto;
		line-height: 36px;
		background: url($assetsHost img/same-style-repeatx.png) 0 0 no-repeat;
		background-size: 100% 100%;
		color: #888;
		span {
			display: inline-block;
			overflow: hidden;
			float: right;
			white-space: nowrap;
			overflow: hidden;
			width: 200px;
			em {
				color: #ff6633;
			}
		}
	}
	&:active {
		-webkit-user-select: none;
		user-select: none;
		background: none;
		.cont {
			color: #ff6633;
		}
	}
}