// 布局局中
.layout-center {
	width: px1080(1080);
	margin: 0 auto;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.relative {
	position: relative;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}