html{height:100%}
body{height:100%;font-size:.6rem;color:#656565}
a{color:#666}
a:active{color:#e05a3f}
img[src$="blank.gif"]{height:100% !important;background:#fff url("../img/pic_imgDefault.png") no-repeat center;-webkit-background-size:1.9rem;-moz-background-size:1.9rem;-webkit-background-size:1.9rem;-moz-background-size:1.9rem;background-size:1.9rem}
.module{min-height:100%;background:#fafafa;overflow:hidden}
.top-banner,.content,#footer{width:16rem;margin:0 auto}
.icon{display:inline-block}
.icon-home,.icon-heart,.icon-tool,.icon-group{background-image:url("../img/m/icon-download.png");background-repeat:no-repeat;-webkit-background-size:cover;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;width:32px;height:33px}
.icon-home{background-position:0 0}
.icon-heart{background-position:0 -70px}
.icon-tool{background-position:0 -141px}
.icon-group{background-position:0 -215px}
.btn-download{display:inline-block;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:9.6rem;height:2rem;font-size:.9rem;line-height:2rem;color:#fff;text-align:center;background:#ed5639;-webkite-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 0 0 #a91d07;-webkit-box-shadow:0 1px 0 0 #a91d07;box-shadow:0 1px 0 0 #a91d07;}
.btn-download:link,.btn-download:visited{color:#fff}
.btn-download:hover,.btn-download:active{color:#fff;background:#fd9404;-webkit-box-shadow:0 1px 0 0 #ba6b01;-webkit-box-shadow:0 1px 0 0 #ba6b01;box-shadow:0 1px 0 0 #ba6b01}
.btn-contact{width:100%;display:inline-block;height:2rem;line-height:2rem;border:1px solid #b9b9b9;-webkite-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:.8rem;color:#222;text-align:center;background:#ededed;}
.btn-contact:active{color:#fff;background:#fd9404;border:1px solid transparent}
.top-banner{background:url("../img/m/top-banner.jpg") 0 0 no-repeat;-webkit-background-size:cover;-background-size:cover;width:16rem;height:8.8rem;position:relative;}
.top-banner .legend{position:absolute;top:4.75rem;left:7.1rem;font-size:.45rem}
.top-banner .btn-download{position:absolute;top:6.65rem;left:6.05rem}
.content{padding:0 .5rem 0 .45rem;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.content .btn-contact{margin-top:.6rem}
.content-ul{padding:0 .45rem;}
.content-ul li{overflow:hidden;margin-top:.7rem;}
.content-ul li .icon{float:left}
.content-ul .item{margin-left:1.7rem;}
.content-ul .item h3{font-size:.8rem;color:#222;font-weight:normal;margin-bottom:.2rem}
.content-ul .item p{font-size:.6rem;line-height:1.4;color:#737373;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
#footer{padding:.5rem 0 .25rem 0;text-align:center;}
#footer .version{font-size:.55rem;line-height:1rem;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);}
#footer .version a,#footer .version:active{color:#3069b6}
#footer .version .dis{color:#666;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
#footer .version .line{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
#footer .copyright{margin-top:.15rem;font-size:.45rem;line-height:.55rem;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
