{{pagerCss}}
<div class="colMain">
    <div class="title"><p class="fl">push日志列表</p></div>
    <div class="main">
        <div class="toolbar">
            <div class="search fl">
<!--                <form action="/push/log" method="GET">
                <span>功能：{{select_mod}}</span>
                <span>
                    时间：<input typt="text" class="iText datepicker" name='sdate' value='{{params.sdate}}' /> -
                    <input typt="text" class="iText datepicker" name='edate' value='{{params.edate}}' /><input type="submit" class="submit" value="" />
                </span>
                </form>-->
            </div>
        </div>
        <div class="content">
            <div class="grid">
                <table>
                    <thead>
                        <tr>
                            <th width="120px;">ID</th>
                            <th width="120px;">操作人</th>
                            <th width="150px;">类型</th>
                            <th width="100px;">返回值</th>
                            <th width="180px;">时间</th>
                            <th width="180px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- loop result -->
                        <tr>
                            <td><span class="blue">{{result' value.id}}</span></td>
                            <td><span class="blue">{{result' value.operator}}</span></td>
                            <td>{{result' value.type_desc}}</td>
                            <td>{{result' value.response}}</td>
                            <td>{{result' value.createtime_desc}}</td>
                            <td><a href="/push/loginfo?id={{result' value.id}}">查看</a></td>
                        </tr> 
                        <!-- endloop -->
                    </tbody>
                </table>
            </div>
            <div style="margin: 20px auto; text-align: center;width:290px;">{{pager.pages}}</div>
        </div>
    </div>
</div>
<script>
	$(function(){
	    $('.datepicker').datepicker({
	        changeMonth:true,
	        changeYear:true,
	        minDate:new Date(),
	        dateFormat : "yy-mm-dd",
	        minDate: "2013-01-01"
	    });
	})
</script>