/*****顶部遮罩层********/
.index_collection {
    height: 30px;
    overflow: hidden;
    background-color: #FFF;
}

.index_collection .top {
    background-color: #FFF4DB;
    padding: 8px 0px 6px;
}

.area {
    width: 980px;
}

.index_collection .top p {
    background: url('../img/collection_bg.png') no-repeat scroll 0px -21px transparent;
    float: right;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
    margin-top: 2px;
}

.index_collection .top span {
    margin-left: 20px;
    display: inline-block;
}

.index_collection .top a {
    color: #E02F2F;
    text-decoration: underline;
}

.f_shadow {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    position: fixed;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    z-index: 998;
    display: none;
}

/*********顶部快捷搜索*******/
.top-fixed-searchlist {
    display: none;
    position: fixed;
    z-index: 555;
    border-top: 2px solid #ed1c24;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.top-fixed-searchlist .t-center {
    width: 980px;
    margin: 0 auto
}

.top-fixed-searchlist ul li {
    float: left;
    height: 32px;
}

.top-fixed-searchlist ul li a {
    font-size: 14px;
    float: left;
    width: 71px;
    height: 32px;

    text-align: center;
    border-right: 1px solid #d9d9d9;
    color: #666;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.top-fixed-searchlist ul li a.current {
    background-color: #ef3239;
    color: #fff;
    margin-left: -1px;
    margin-bottom: -1px;
    border-right-color: #ed1c24;
}

.top-fixed-searchlist ul li span {
    line-height: 32px;
    display: inline-block;
}

.top-fixed-searchlist .h3 {
    font-weight: bold;
    font-size: 14px;
    font-family: '\5FAE\8F6F\96C5\9ED1', sans-serif;
    padding-left: 30px;
    width: 71px;
    text-align: center;
}

.i_arrow_up, .i_arrow_down {
    display: inline-block;
    vertical-align: top;
    background-image: url(../img/sprite.png?adbb16b0);
    background-position: 54px 60px;
    width: 9px;
    height: 10px;
    _overflow: hidden;
    margin-top: 11px;
    margin-left: 3px;
}

.i_arrow_down {
    background-position: 12px 10px;
}

.i_just_saw {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/sprite.png);
    background-position: -311px -356px;
    width: 20px;
    height: 20px;
    _overflow: hidden;
    margin-right: 7px;
}

.top-fixed-searchlist .fr {
    float: right;
}

.top-fixed-searchlist .just-saw {
    position: relative;
    float: left;
    z-index: 5;
    color: #666;

    height: 32px;
    padding: 0 11px;
    font-weight: 400;
    background-color: #fbecca;
    cursor: pointer;
}

.top-fixed-searchlist .just-saw span {
    font-size: 14px
}

.top-fixed-searchlist .pagging {
    float: left;
}

.top-fixed-searchlist .pagging .total {

    height: 32px;
    font-size: 14px;
    font-family: arial;
    color: #666;
    width: 46px;
    display: inline-block;
    text-align: center;
}

.top-fixed-searchlist .pre, .top-fixed-searchlist .next, .pagging .pg-prev, .pagging .pg-next {
    display: inline-block;
    padding: 0 11px;
    border: 1px solid #cecece;
    margin-right: 5px;
    color: #666;
    height: 22px;
    line-height: 22px;
    background-color: #f0f0f0;
    font-size: 12px;
}
    