/*deal块*/
.dealbox-w980 {
    width: 980px;
    margin: 0 auto;
    overflow: visible;
    margin-top: 20px;
}

.dealbox {
    width: 1005px;
    z-index: 50;
}

.dealad {
    width: 287px;
    height: 260px;
    float: left;
    border: 1px solid #fff;
    padding: 11px;
    margin: 0 23px 24px 0;
    display: block;
    text-align: left;
    background: #fff;
    border-color: #FFFFFF #E2E2E2 #E2E2E2 #FFFFFF
}

.dealad img {
    width: 287px;
    height: 190px;
    margin-bottom: 10px;
}

.dealad h3 {
    height: 20px;
    margin-bottom: 2px;
    overflow: hidden;
    text-align: left;
    font: 14px/20px "";
}

.dealad h4 {
    height: 36px;
    padding: 1px 0 0;
    overflow: hidden;
    text-align: right;
    line-height: 36px;
}

.dealad h4 span {
    float: left;
    color: #999;
    font: 22px/36px "微软雅黑";
    color: #333;
    width: 200px;
    overflow: hidden;
    text-align: left;
}

.dealad h4 a {
    display: inline-block;
    width: 67px;
    height: 31px;
    background: url(../images/icon5.png) no-repeat 0 0;
    margin-top: 1px;
}

.dealad h4 a:hover {
    background-position: 0 -31px;
}

.dealbox .dealon {
    border: 2px solid #ef6060;
    padding: 10px;
    z-index: 101;
}

.dealad h4 span a, .blockAD h4 span a:hover {
    width: auto;
    background: none;
    text-decoration: none;
}

.deal {
    width: 314px;
    float: left;
    margin: 0 19px 19px 0;
    height: 295px;
    display: inline;
    z-index: 51;
    text-align: left;
}

.deal div {
    width: 310px;
    padding: 0;
    background: #fff;
    position: relative;
    _position: absolute;
    border: 1px solid #e2e2e2;
    border-color: #fff #e2e2e2 #e2e2e2 #fff;
    padding: 1px;
}

.deal div p {
    padding: 10px 10px 2px 10px;
    background: #fff;
    width: 287px;
    height: 190px;
    overflow: hidden;
}

.deal div img {
    width: 287px;
    height: 190px;
}