html,body{height:100%; overflow:hidden;}
.screen-pic{
	position:relative;
	a{display:block; height:100%; text-align:center;}/*#cb1d46*/
	img{width:auto; height:100%; max-width:100%;}
	.close{
		position:absolute; right:0; top:0; width:1.9rem; height:1.6rem;
		span{display:block; height:100%; background:url("../img/ico_close.png") no-repeat center; background-size:contain;}
	}
}