/** layout **/
.clearfix:after,.layout:after{content:'\20';display:block;height:0;clear:both;visibility:hidden}
.clearfix,.layout{*zoom:1}
.fl{float:left;}
.fr{float:right;}
.blue{color:#17648c;}
.tc{text-align:center;}
.select{min-width:80px;height:22px;}
.iText{border:1px solid #ccc;height:18px;padding:2px 3px;}
html{background:url("img/mainbg.png") repeat;}
.sign {color: #AAAAAA;}
.red{color:red;}

.header .logout,.sidebar .box .title,.sidebar h3,.toolbar .search input.submit,
.grid .edit,.grid .del{background:url("img/core.png") no-repeat;}

/* header */

.header{height:53px;background:#1899dd url("img/header-bg.png") no-repeat 100% 0;color:#fff;padding:0 20px;border-bottom:1px solid #1384df;}
h1{float:left;font-size:26px;font-family:"微软雅黑";font-weight:400;line-height:53px;text-shadow:1px 1px 1px #666;}
.header .fr{height:32px;border:1px solid #1fb0f2;margin-top:9px;padding:0 10px;line-height:32px;background:#1188d1;}
.header .fr a{color:#fff;}
.header .logout{padding-left:20px;margin-left:10px;background-position:0 0;}
/* content */

.mainWrap{padding-left:200px;}
.sidebar{line-height:38px;width:200px;margin-left:-200px;float:left;padding-top:10px;}
.sidebar .box .title{height:38px;padding-left:10px;font-size:14px;background-position:0 -27px;}
.sidebar h3{padding-left:20px;}
.sidebar h3.kfz{background-position:-180px -68px;}
.sidebar h3.gg{background-position:-180px -103px;}
.sidebar h3.qt{background-position:-180px -144px;}

.sidebar .box li{border-bottom:1px solid #bbb;}
.sidebar .box li.last{border:none;}
.sidebar .box li a{padding-left:20px;font-size:14px;display:block;background:url("img/gray_jean.png") repeat;}
.sidebar .box li.cur{position:relative;width:201px;}
.sidebar .box li.cur a,.sidebar .box li a:hover{font-weight:700;color:#016db5;text-decoration:none;}

.colMain{border-left:1px solid #bbb;min-height:600px;height:auto!important;height:600px;background:url("img/gray_jean.png") repeat;}
.colMain .title{height:47px;line-height:47px;font-size:14px;padding:0 10px;border-bottom:1px solid #cfcfcf;background:#ececec;background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),color-stop(0.5,#ececec),to(#e9e9e9));background:-moz-linear-gradient(top,#f1f1f1,#ececec 50%,#e9e9e9 100%);}
.colMain .title .del{width:58px;height:28px;float:right;margin:10px 10px 0 0;text-align:center;color:#333;line-height:28px;border:1px solid #d1d1d1;border-bottom:1px solid #b3b3b3;background:#f2f2f2;background:-webkit-gradient(linear,left top,left bottom,from(#fefefe),color-stop(0.5,#f2f2f2),to(#e6e6e6));background:-moz-linear-gradient(top,#fefefe,#f2f2f2 50%,#e6e6e6 100%);}

.colMain .main{padding:16px;}
.toolbar{height:30px;padding:10px;background:#e5e5e5;background:-webkit-gradient(linear,left top,left bottom,from(#ededed),color-stop(0.5,#e6e6e6),to(#ededed));background:-moz-linear-gradient(top,#ededed,#e6e6e6 50%,#ededed 100%);border:1px solid #bbb;margin-bottom:18px;}
.toolbar .search select,.toolbar .search input{vertical-align:middle;border:1px solid #bbb;}
.toolbar .search select{height:30px;line-height:30px;min-width:150px;width:auto!important;width:150px;}
.toolbar .search input.iText{padding:5px;height:18px;line-height:18px;}
.toolbar .search input.submit{width:29px;height:30px;border:none;background-position:0 -70px;}
.toolbar .add{width:58px;height:28px;text-align:center;color:#fff;line-height:28px;border:1px solid #53b71c;border-bottom:1px solid #337a11;background:#5fb321;background:-webkit-gradient(linear,left top,left bottom,from(#77c92a),color-stop(0.5,#5fb321),to(#479d19));background:-moz-linear-gradient(top,#77c92a,#5fb321 50%,#479d19 100%);}

.tabs{padding:6px 0 0 0;margin-bottom:0;}
.tabs ul{padding-left:12px;}
.tabs ul,.tabs ul li,.tabs ul li a{height:30px;line-height:30px;}
.tabs ul li{width:150px;float:left;text-align:center;}
.tabs ul li.cur{border:1px solid #bbb;border-bottom:none;background:#fff;border-radius:5px 5px 0 0;}

.devInfo{overflow:hidden;background:#fff;border:1px solid #bbb;border-top:none;padding-top:20px;}
.devInfo h3{font-size:14px;padding:20px 0 20px 170px}
.grid table{width:100%;}
.grid table th,.grid table td{height:38px;line-height:38px;border:1px solid #ddd;text-align:left;padding-left:20px;}
.grid table th{color:#888;border-top:3px solid #61d5ff;background:#f5f8fd;background:-webkit-gradient(linear,left top,left bottom,from(#fafbff),color-stop(0.5,#f5f9fc),to(#eff2f7));background:-moz-linear-gradient(top,#fafbff,#f5f9fc 50%,#eff2f7 100%);}
.grid table td p{line-height:24px;margin:5px 0;}
.grid .edit{display:inline-block;width:12px;height:11px;background-position:-43px -80px;vertical-align:middle;margin-right:5px;}
.grid .del{display:inline-block;width:11px;height:13px;background-position:-69px -78px;vertical-align:middle;margin-left:5px;}
.grid h3{font-size:14px;line-height:30px;}

.pagination{padding:20px 0;text-align:center;height:22px}
/*
.pagination a{display:inline-block;*didplay:inline;*zoom:1;color:#333;padding:0 8px;line-height:20px;height:20px;background:#61D5FF;}
.pagination a.cur{color:#fff;background:#1188D1;font-weight:700;}
*/

/* footer */
.footer{padding:20px 0;text-align:center;background:#333;color:#a8a8a8;}
.footer a{color:#a8a8a8;}


/* app detail */

.app-detail{background:#fff;border:1px solid #bbb;padding:20px 0;overflow:hidden;}
.app-detail h3{font-size:16px;height:28px;line-height: 28px;padding:0 0 40px 40px;}
.form li:after{content:'\20';display:block;height:0;clear:both;visibility:hidden}
.form li{*zoom:1;line-height:32px;font-size:14px;margin-bottom:30px;}
.form li .label{width:150px;float:left;text-align:right;margin-right:20px;}
.form li .label1{width:180px;float:left;text-align:right;margin-right:20px;}
.form li .fc{padding-left:170px;}
.form li .fc .iText,.form li .fc textarea{padding:5px;height:20px;width:150px;line-height:20px;border:1px solid #ccc;background:#fcfcfc;}
.form li .fc textarea{width:400px;height:60px;}
.form li .fc select{min-width:162px;width:auto!important;height:30px;line-height:30px;}
.checkbox,.radio{vertical-align:middle;margin:-3px 5px 0;}
.form li .fc img{vertical-align:middle;}
.form li .fc .in-list li{float:left;width:100px;margin:0 10px 0 0;}
.btn,.form li .fc .submit{width:78px;height:28px;display:inline-block;vertical-align:middle;text-align:center;color:#fff;font-size:14px;line-height:28px;border:1px solid #53b71c;border-bottom:1px solid #337a11;background:#5fb321;background:-webkit-gradient(linear,left top,left bottom,from(#77c92a),color-stop(0.5,#5fb321),to(#479d19));background:-moz-linear-gradient(top,#77c92a,#5fb321 50%,#479d19 100%);}
.cancel,.gridTtitle .btn{width:78px;height:28px;display:inline-block;text-align:center;vertical-align:middle;font-size:14px;text-align:center;color:#333;line-height:28px;border:1px solid #d1d1d1;border-bottom:1px solid #b3b3b3;background:#f2f2f2;background:-webkit-gradient(linear,left top,left bottom,from(#fefefe),color-stop(0.5,#f2f2f2),to(#e6e6e6));background:-moz-linear-gradient(top,#fefefe,#f2f2f2 50%,#e6e6e6 100%);}
.btn:hover,.form li .fc .submit:hover{color:#fff;text-decoration:none;background:-webkit-gradient(linear,left top,left bottom,from(#479d19),color-stop(0.5,#5fb321),to(#77c92a));background:-moz-linear-gradient(top,#479d19,#5fb321 50%,#77c92a 100%);}
.cancel:hover,.gridTtitle .btn:hover{color:#333;text-decoration:none;background:-webkit-gradient(linear,left top,left bottom,from(#e6e6e6),color-stop(0.5,#f2f2f2),to(#fefefe));background:-moz-linear-gradient(top,#e6e6e6,#f2f2f2 50%,#fefefe 100%);}
a.cancel,a.btn{min-width:68px;width:auto!important;padding:0 5px;}
.form li.line{height:0px;border-bottom:1px dashed #bbb;}
.popup_container #close{width:47px;height:39px;float:right;margin-top:-4px;background:url("img/close.png") no-repeat;}


/* product detail */

.form li .fc .pic{width:100px;height:100px;display:table-cell;overflow:hidden;border:1px solid #bbb;text-align:center;vertical-align: middle;}

.form li .fc .box,.form li .fc .grid{width:80%;}
.form li .fc .box{border:1px solid #bbb;padding:18px 0 10px;margin-top:10px;}
.form li .fc .box li{margin-bottom:8px;}
.form li .fc .grid{margin-bottom:10px;}
.gridToolbar{margin-bottom:5px;}
.gridToolbar,.gridTtitle{height:30px;line-height:30px;}
.gridTtitle .btn{}
.gridPopUp{padding:20px;}
.gridPopUp li .label{width:100px;}
.gridPopUp li .fc{padding-left:110px;}

.addAD{padding:20px;}
.addAD .gridToolbar .iText{border:1px solid #53B71C;padding:5px;vertical-align:middle;width:200px;}

/* config */

.form li .fc .config select{min-width:200px;height:200px;}
.config{width:800px;}

.tjgl{padding-top:20px;}
.tjgl li{margin-bottom:8px;}
.pop-up .form li textarea{width:200px;}
.alert .dialogContent{padding:20px;}
.prompt .dialogContent,.warn .dialogContent,.confirm .dialogContent{padding:40px 20px 0 60px;min-height:40px;}
.prompt .dialogContent{background:url("img/info.gif") no-repeat 20px 30px;}
.warn .dialogContent{background:url("img/error.png") no-repeat 20px 30px;}
.confirm .dialogContent{background:url("img/help.gif") no-repeat 20px 30px;}
.error{color:#f00;margin-left:20px;}

.addNewAD{padding:10px;}
.addNewAD .box{height:525px;overflow-y:auto;border:1px solid #eee;padding:10px 0;}
.addNewAD .form li{margin-bottom:8px;}
.tDnD_whileDrag td {
    background-color: #eee;
    /*-webkit-box-shadow: 11px 5px 12px 2px #333, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
    -webkit-box-shadow: 6px 3px 5px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;
    /*-moz-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
    /*-box-shadow: 6px 4px 5px 1px #555, 0 1px 0 #ccc inset, 0 -1px 0 #ccc inset;*/
}
.adclicktypelebel{
    display:inline-block;padding-left: 20px;
}
.adclicktypediv{
    display: inline;
}
.btnstyle{width:78px;height:28px;display:inline-block;vertical-align:middle;text-align:center;color:#fff;font-size:14px;line-height:28px;border:1px solid #53b71c;border-bottom:1px solid #337a11;background:#5fb321;background:-webkit-gradient(linear,left top,left bottom,from(#77c92a),color-stop(0.5,#5fb321),to(#479d19));background:-moz-linear-gradient(top,#77c92a,#5fb321 50%,#479d19 100%);}