/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-9-16, 12:35:28
    Author     : hunter.fang
*/

table tbody tr .onfbk{background:url("img/btn_bk.png") no-repeat;font-size:12px;width:72px;height:20px;margin:0 auto;line-height: 20px;}
table tbody tr .onfbk div{display:inline-block;*display:inline;*zoom:1;}
table tbody tr .onfbk .aon{padding:3px 8px;margin-top:10px;}
table tbody tr .onfbk .aoff{padding:2px 12px 3px 5px}
table tbody tr .onfbk .cur{background:url("img/choose_bk.png") no-repeat;}
table tbody tr .onfbk a{color:#ffffff;text-decoration:none;}