/* logo page */
#login-body {
  background-color: #f7f7f7  !important;
  background-image: url("../img/body-bg.png") !important;
}

#login-body .alert{
  position: absolute; top:70px; left:0; right:0;
}

.login-header {
  background: url(../img/layout/nav.png) 0 0 repeat-x;
  border-width: 0;
  height: 60px;
}

#login {
  background: #f7f7f7;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ffffff);
  background-image: linear-gradient(top, #f4f4f4, #ffffff);
  -webkit-box-shadow: 1px 1px 8px rgba(199, 199, 199, 0.25), -1px -1px 8px rgba(199, 199, 199, 0.25), 0 1px 1px white inset;
  box-shadow: 1px 1px 8px rgba(199, 199, 199, 0.25), -1px -1px 8px rgba(199, 199, 199, 0.25), 0 1px 1px white inset;
  width: 370px;
  margin: 140px auto 0;
  padding: 20px;
}
#login .control-wrap h4 {
  margin-bottom: 11px;
  font-weight: bold;
  color: #5d5d5d;
}
#login .input-prepend .add-on {
  border: 1px solid #ccc;
}
#login .input-prepend input {
  width: 310px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08) inset;
}

.login-btn {
  background: url("../img/login-btn.jpg");
  border: none;
  box-shadow: 1px 0 1px white, 0 0 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 0 1px white, 0 0 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 1px 0 1px white, 0 0 3px rgba(0, 0, 0, 0.2) inset;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 16px;
  color: #fff;
  text-shadow: none;
  padding: 10px 0;
  outline: 0 !important;
}

.login-btn:hover {
  opacity: 0.8;
  color: #fff;
}

#login .control-group {
  margin-bottom: 11px;
}

#login .form-actions {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: -37px;
}

#login input[type=checkbox] {
  margin-top: -3px;
}

#login span.add-on {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 10px;
  color: #828283;
  text-shadow: none;
}

#login input {
  padding: 10px;
}

#login i {
  color: #999 !important;
}

#login #forget-password {
  font-size: 11px;
}

#login-copyright {
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  color: #999;
  font-size: 11px;
}

.control-wrap {
  margin-bottom: 15px;
}

#login .lock {
  display: none;
  width: 100px;
  float: left;
  margin-top: 28px;
  font-size: 110px;
  vertical-align: middle;
}

#login .lock i {
  vertical-align: middle;
}

#forgotform #input-email {
  width: 312px;
}

#input-username{
  background: #fff !important;

}
