::-webkit-scrollbar {width: 0; height: 0;}

body {
    color: #868686;
    /*background:#4d4d4d url(../img/bg-grey.jpg) !important;*/
}
#main-content {
/*    box-shadow: 0 0 10px #292828;
    -moz-box-shadow: 0 0 10px #292828;
    -webkit-box-shadow:0 0 10px #292828 ;*/
    margin-left: 0;
}
#main-content .container-fluid{
    padding: 0;
}
a, a:hover {
    text-shadow: none !important;
    color: #363636;
}
ul.faq-list li a:hover, ul.faq-list li a.active{
    background: #363636;
}
#header.navbar-inverse .navbar-inner{
    background:url(../img/layout/nav.png) 0 0 repeat-x;
    -webkit-transition: all 0.2s ease-out;
}

#header #B_main_block li.current,#header #B_main_block li a:hover{background:url(../img/layout/nav.png) 0 0 repeat-x;-webkit-transition: all 0.2s ease-out;}
#top_menu{margin-top:15px; border-bottom:1px solid #446474;border-right:1px solid #446474;float:left;background-color:#1a2a32;}
#B_main_block{float:left;border-left:1px solid #071b25;border-top:1px solid #071b25}
#header #B_main_block li{float:left;line-height:30px;background:url(../img/layout/nav_li.png) right center no-repeat;}
#header #B_main_block li a{float:left;display:block;font-size:12px;color:#fff;width:90px;text-align:center;text-shadow:0 1px 0 #000;}
#header #B_main_block li.current{background-position:0 -60px;border-right:1px solid #311809; font-weight:700;}

#header #B_main_block > li > a{
    padding: 0;
}

#header .top-menu{
    padding: 0;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-position:0 -120px !important;
}

#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}

#header .top-nav{
    font-size: 12px;
}

#header .top-nav .top-menu > li{
    float:left;line-height:30px;
}

#sidebar > ul > li > a {
    color: #a0a0a0 !important;
}

#sidebar > ul > li a i {
    color: #fff !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
    color: #fff !important;
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li.active > a{
    background: url("../img/side-bar-list-bg.png");
}

#sidebar > ul > li > ul.sub > li > a {
    color: #a0a0a0;
}

#sidebar > ul > li > ul.sub > li > a:hover , #sidebar > ul > li > ul.sub > li.active a{
    color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}

#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid #363636;
}

#sidebar > ul > li > ul.sub > li:last-child {
    border-bottom:none;
}

.chats li.out .name {
    color: #b14c4c;
}

.chats li.in .message {
    border-left: 2px solid #363636;
}

.chats li.in .message .arrow {
    border-right: 8px solid #363636;
}

.chats li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}

.chats li.out .message {
    border-right: 2px solid #b14c4c;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) {
    #sidebar {
        background-color: #363636 !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }

    #sidebar > ul > li > a {
        border-bottom: 1px solid #363636 !important;
    }

    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
        border-bottom: 1px solid #363636 !important;
    }
}

/*----*/

/*lock*/

.lock-avatar-row, .lock-form-row .tarquoise  {
    background: #363636;
}


.lock-identity span {
    color:#363636;;
}

.lock-form-row .tarquoise {
    border:1px solid #363636 !important;
}

/*coming soon*/

.coming-soon .input-append .submit-btn {
    background: #363636;
    color: #000;
}

.twt-color , .twt-color:hover, .blog .date .day{
    color: #363636 !important;
}

ul.social-link li a:hover, .blog .date .month {
    background: #363636;
}


/*blog*/

.blog .date {
    border: 1px solid #363636;
}

.blog ul li a:hover, .blog-side-bar ul li a:hover { color: #363636; text-decoration: none;}

.blog .btn:hover {
    background: #363636;
}

.blog-side-bar ul.tag li a, .inbox-compose-btn button:hover, .btn.colored, .inbox .inbox-header {
    background: #363636;
}

/*invoice-list*/


.invoice-list h5 {
    color: #363636;
}

/*about us*/

.about-us h4, .team-member h3, .team-member ul li a:hover, .contact-us h4, .news h1 {
    color: #363636;
}

/*form */
/*textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border:1px solid #363636; outline:none;
}*/

