body{background: #f1f1f1!important; margin:0; font-family:"\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif}
.clear{width: 100%;height: 0px ;font-size: 0px;clear: both;}
.w{width: 1000px;margin: 0 auto;}
.topLogin{font-size: 14px;color: #999;text-align: right;padding:11px 0 10px 0 ;line-height: 14px; background:#f1f1f1; overflow:hidden}
.topLogin a{color: #636363}
.topLogin a:hover{color: #85be3b}
.topLogin i{padding: 0 14px;font-style: normal;font-size: 12px;display: inline-block;}
.loginNav{background: #fff;border-bottom: 1px solid #dddddd;}
.loginNav .nlogo{float: left;margin: 20px 0 0 12px;}
.loginNav li{float: right;margin: 0 10px ;width: 116px;text-align: center; padding: 37px 0 21px 0;border-bottom: 4px solid #fff;font-size: 17px;line-height: 17px;}
.loginNav li a{color: #636363;}
.loginNav li a:hover{border-bottom: 4px solid #fff;}
.loginNav .this{border-bottom: 4px solid #85be3b}
.loginNav .this a{color: #85be3b;}


/*banner*/
.banner{height: 310px;margin: 0px auto 14px auto; background: none}
#lbanner{width: 100%;height: 310px;margin-bottom: -310px;overflow: hidden;}
#lbanner ul{height: 310px;}
#lbanner li{float: left;height: 100%;display: none}
.bhref{display: block;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center; top:  }
.login .wrong {margin:0px!important;position: absolute;bottom: 24px;width: 250px;}



.loginw{width:1000px; position:relative; left:50%; top:12px; margin-left: -500px; z-index:9999;  }
.login{ position:absolute; right:0; top:0; width:280px; height:276px; padding:0 0 8px; background:rgba(255,255,255,0.95); border:1px solid #e4e4e4; box-shadow: none}
.login .lbt,.login input{ float:left; display:inline;}
.login .lbt{width:64px; text-align:left; line-height:30px; font-size:16px;}
.login .int{width:174px; border:1px solid #d4d4d4; background:#fff; height:20px; padding:4px 5px; line-height:18px; color: #333; font-family:"Microsoft YaHei", "微软雅黑", "宋体"; font-size:14px; outline:none; float:left; display:inline; overflow:hidden;}
.login .yzm{width:76px;}
.login .loginc{padding:18px 0 0 15px; color: #636363;position: relative;}
.loginc p{width:100%; padding:0 0 10px; overflow:hidden;}
.loginc .nosee{color:#397bec; line-height:32px;}
.loginc .nosee em{color:#555}
.loginc .nosee:hover{ text-decoration:underline;}
.loginc .checkimg{width:76px; height:30px; margin:0 8px 0 10px;}
.loginc .checks{line-height:22px; height:38px; padding:4px 0 0;  overflow:hidden}
.checks span{ position:relative; float:left; display:inline; height:18px; font-size:14px; line-height:18px; margin:0 10px 0 0;}
.checks label{ color:#474747; vertical-align:middle;}
.checks label input{ float:left; display:inline; margin:4px 2px 0 0;}
.checks .forget{color:#85be3b; font-size:15px;}
.checks a:hover{color:#6ea921; text-decoration:underline}
.login .loginbtn{ background:#85be3b; width:188px; height:30px; line-height:30px; text-align:center; color: #fff; font-size:16px; border-radius:3px; border:none; cursor:pointer; margin: 0 0 10px 31px; overflow:hidden;}
.login .loginbtn:hover{background:#80b739;}
/*.login .wrong{ position:absolute; left:25px; top:40px; margin:-18px 0 6px 25px; background:#fff7f7 url(../images/ico-js.gif) 8px 7px no-repeat; font-family:\5b8b\4f53;border:1px solid #f3cbcb; color: #eb0000; line-height:18px; padding:6px 0 4px 30px; width:258px; overflow:hidden;}*/
.login .formb{ font-size:15px; padding:15px 15px 0 0; color:#636363}
.login .formb a{color:#85be3b;text-decoration:underline}
.login .formb a:hover{color:#6ea921;text-decoration:underline}
.login input::-moz-placeholder {color: #bbb;}
.login input:-ms-input-placeholder {ccolor: #bbb;}
.login input::-webkit-input-placeholder {color: #bbb;}
.alogin{position:absolute; right:0; top:0; width:286px; height:276px; padding:0 0 8px; background:#f5f8fb; border:1px solid #e4e4e4; }
.alogin h2{ font-size:20px; text-align:center; line-height:34px; height:34px; padding:14px 0; margin:0 0 30px; border-bottom:1px dotted #cacaca;}
.alogin .btn_edit{ position:absolute; top:82px; right:10px; background:#85be3b; border-radius:3px; width:78px; height:28px; line-height:28px; text-align:center; font-size:16px; color:#fff}
.alogin .btn_edit:hover{background:#80b739;}
.alogin .btn_quit{ display:block; background:#f90; width:188px; height:30px; line-height:30px; text-align:center; color: #fff; font-size:16px;  border-radius:3px; border:none; cursor:pointer; margin:10px 0 0 49px; overflow:hidden;}
.alogin .btn_quit:hover{background: #e58100}
.alogin p{ padding:0 14px; color:#444; line-height:40px; font-size:16px;height: 40px;overflow: hidden;width: 244px;overflow: hidden;}
.alogin p span{color:#636363;display: inline-block;word-wrap: break-word;margin-right: -120px;}

/*main*/
.ssub{ background:#fff; border:1px solid #e2e2e2; padding:12px 0 0;  overflow:hidden}
.ssub a{color: #222}
.imain h2{ font-size:18px; line-height:30px; padding:0 22px 14px; overflow:hidden}
.imain h2,.imain h2 a{color:#333}
.imain h2 .more{ float:right; color:#b9b9b9; font-size:15px;}
.hz .sc{width:1005px; overflow:hidden}
.hz .sc{ padding:0 0 15px;}
.hz .scli{ float:left; display:inline; width:22%; padding:0 1px 0 22px; background:url(../images/i-line.gif) right top repeat-y;}
.hz .scli p{color:#808080; font-size:14px; line-height:30px;}
.hz .scli .pt{ font-size:15px; color:#222}
.hz .dbt{width:24.8%;}
.fz,.hz{width:998px;margin:0 auto 14px; background: #f6f6f6}
.fz h2{ padding-bottom:0}
.fz .sc{ background:url(../images/ico-time.png) center 39px no-repeat; padding:0 0 27px; overflow:hidden}
.fz .scli{ float:left; display:inline; width:180px; font-size:15px; color:#636363; padding:5px 0 0; }
.fz .scli p{ line-height:30px;color: #808080}
.fz .sclia{ margin:0 0 0 174px;}
.fz .sclib{ margin:0 0 0 106px;}
.fz .sclic{ margin:0 0 0 74px;}
.fz .scli span{ display:inline-block; color:#595757; text-align:left; line-height:30px; }
.fz .sclia span{padding:0 0 34px 51px}
.fz .sclib span{padding:0 0 30px 15px}
.fz .sclic span{padding:0 0 30px 10px}
.newsw{width:1000px; margin:0 auto; overflow:hidden}
.newsw .news{ margin:0 14px;}
.news li{width:100%; height:58px; line-height:58px; border-top:1px dotted #e7e7e7; overflow:hidden}
.news li ins{ float:left; display:inline; vertical-align:middle; width:5px; height:5px; margin:28px 14px 0 10px; background:#ddd; overflow:hidden;}
.news li a{color:#999; font-size:15px;}
.news li a:hover{color:#85be3b; }
.news li a:hover ins{background:#85be3b}
.ssubl,.ssubr{ margin:0 0 14px; overflow:hidden}
.ssubl{width:734px;}
.ssubr{width:254px;}
.ssubr .ssub{ height:344px}
.funca,.funcb{width:48.75%; margin:0 0 14px; height:147px;}
.ssub i{display: inline-block;width: 54px;height: 54px;margin-bottom: 12px;}
.funca li{width: 60px;float: left;text-align: center;cursor: pointer;font-size: 15px;}
.funca .nth2{width: 28px;height: 89px;background: url(../images/licon.png) -100px -6px no-repeat;}
.funca .nth1 i{background: url(../images/licon.png) -40px center;}
.funca .nth3 i{background: url(../images/licon.png) -132px center;}
.funca .nth5 i{background: url(../images/licon.png) -219px center;}
.funca .nth7 i{background: url(../images/licon.png) -301px center;}
.funca li:hover a{color: #387eb3}

.funcb li{width: 60px;float: left;text-align: center;cursor: pointer;font-size: 15px;}
.funcb .nth2{width: 28px;height: 89px;background: url(../images/licon.png) -470px -6px no-repeat;}
.funcb .nth1 i{background: url(../images/licon.png) -412px center;}
.funcb .nth3 i{background: url(../images/licon.png) -505px center;}
.funcb .nth5 i{background: url(../images/licon.png) -592px center;}
.funcb .nth7 i{background: url(../images/licon.png) -674px center;}
.funcb li:hover a{color: #5ca43f}


.ssub li:hover i{background-color: #f6f6f6;border-radius: 4px;border: 1px solid #e3e3e3;margin: -1px 0 11px 0}
.funca .sc ul{padding-left: 14px;}
.funcb .sc ul{padding-left: 14px;}
.funcc{width:732px;height:169px;}
.funcc span{ width:32.48%; float:left; display:inline;  padding:24px 1px 5px 0; margin:-28px 0 0; background:url(../images/i-line.gif) right top repeat-y; font-size:15px; text-align:center;}
.funcc span em{ display:block; width:96px; height:96px; background-image:url(../images/func.png); background-repeat:no-repeat; margin:0 auto ; overflow:hidden;}
.funcc .sc{width:750px;}
.funcc a{margin-bottom: -16px;display: inline-block;}
.funcc span .ico1{background-position:0 -106px;}
.funcc span .ico2{background-position:-98px -106px;}
.funcc span .ico3{background-position:-196px -109px;}


