@charset "utf-8";
/* CSS Document */
/********* 首页登录 *********/
body{background:#fcfcfc!important;}
.banner{ position:relative; border-top:1px solid #f1f1f1; border-bottom:1px solid #f1f1f1; height:370px;  background:#f4f4f4 url(../images/banner.jpg) center 14px no-repeat; padding:14px 0 0; overflow:hidden;}
.banner .bpic{ display:block; height:370px; overflow:hidden;}
.banner .bpic img{ margin:0 auto;}
.banner img{margin:0 auto;}
.loginw{width:1000px; position:absolute; left:50%; top:5px; margin-left: -500px; z-index:9999;  }
.login{ position:absolute; right:0; top:5px; width:338px; padding:0 0 18px; background:#fff; border:1px solid #e4e4e4;  box-shadow:0 1px 5px #e4e4e4;}
.login h2{font-size:30px;font-weight:bold; color:#56514e; text-align:center; height:30px; line-height:64px; padding:10px 0 0; overflow:hidden;}
.login .int{width:240px; border:1px solid #d4d4d4; height:18px; padding:8px 8px; line-height:18px; color: #aeaeae; font-size:14px; outline:none; float:left; display:inline; overflow:hidden;}
/*.login .inton{ color:#434343;}*/
.login .yzm{width:82px;}
.login .mail,.login .pass{ padding-right:38px; width:242px}
.login .mail{ background:url(../images/intbg.gif) right 0 no-repeat;}
.login .pass{background:url(../images/intbg.gif) right -58px no-repeat;}
.login .loginc{padding:0 0 0 25px;  }
.loginc p{width:100%; padding:0 0 20px; overflow:hidden;}
.loginc .nosee{color:#397bec; line-height:32px;}
.loginc .nosee em{color:#555}
.loginc .nosee:hover{ text-decoration:underline;}
.loginc .checkimg{width:76px; height:36px; margin:0 8px 0 10px;}
.checks span{ position:relative; float:left; display:inline; height:18px; line-height:18px; margin:0 30px 0 0;}
.checks label{ color: #888; vertical-align:middle;}
.checks label input{ float:left; display:inline; margin:2px 4px 0 0;}
.checks .forget{color:#555;}
.checks a:hover{color:#e93a18;}
.login .loginbtn{ background:#f35637; width:290px; height:40px; line-height:40px; text-align:center; color: #fff; font-size:18px;  border-radius:3px; border:none; cursor:pointer; outline:none; overflow:hidden;}
.login .loginbtn:hover{background:#f34421;}
.login .wrong{ /*position:absolute; left:25px; top:40px;*/ margin:-18px 0 6px 25px; color: #eb0000; line-height:18px; padding:6px 0 4px 30px; width:288px; overflow:hidden;}
.login .wrong .onError{border:1px solid #f3cbcb; background:#fff7f7}
.tool{width:970px; margin:0 auto 40px; border-bottom:1px solid #f0f0f0;  overflow:hidden;}
.toolc a{ float:left; display:inline; width:193px; border-right:1px solid #f0f0f0; font-size:18px; text-align:center; padding:22px 0;}
.tool a em{display:block; width:100px; height:90px; background-image:url(../images/tool.png); background-repeat:no-repeat; margin:0 auto 8px; overflow:hidden; }
.tool a.ico1 em{background-position:-10px -12px;}
.tool .ico1:hover em{background-position:-10px -113px;}
.tool a.ico2 em{background-position:-8px -221px;}
.tool .ico2:hover em{background-position:-8px -322px;}
.tool a.ico3 em{background-position:-10px -443px;}
.tool .ico3:hover em{background-position:-10px -533px;}
.tool a.ico4 em{background-position:-10px -644px;}
.tool .ico4:hover em{background-position:-10px -734px;}
.tool a.ico5 em{background-position:-10px -838px;}
.tool .ico5:hover em{background-position:-10px -928px;}
.toolc{width:970px; padding:35px 0 0;overflow: hidden;}

.tool .ico5{border: 0}
/*二级页面*/
.mainw{width:996px; border:1px solid #f4f4f4; background:#fff url(../images/mainw-bg.gif) 168px 0 repeat-y; box-shadow: 0 0 2px #f3f3f3; min-height:228px; _height:expression(document.documentElement.clientHeight < '320' ? '320px' : 'auto'); margin:11px auto ; padding:0 0 80px;position: relative;}
.rmain .yyname{display:block; font-size:18px;  margin:-5px 0 10px; background:url(../images/dotted-line.gif) left 52px repeat-x;height: 53px;line-height: 41px;}
.farea{ border:5px solid #eee; padding: 15px 20px; background:#fff; overflow:hidden; }
.farea .xqdl h4{color:#333; font-size:16px; line-height:42px; }
.farea .xqdl li{ overflow:hidden; padding:0 0 4px;}
.farea .xqdl li,.farea .xqdl li p{ color: #555; line-height:20px;}
.farea .xqdl li p{display:block; width:100%; overflow:hidden;}
.farea .xqdl li span{ line-height:24px;}
.rmain .xqc{ overflow:hidden; color: #555; line-height:24px; font-size:14px; }
.rmain .xqc p{margin:0 0 20px;}

/*帮助*/
.help{width:170px; border-top:2px solid #85be3b; margin:-2px 0 0 -1px; }
.help dl{ padding:15px 18px; margin:0 1px; border-bottom:1px solid #f5f5f5; overflow:hidden;}
.help dl:hover,.help dl.on {background:#fafafa; border-top:1px solid #ddd; padding:14px 18px 15px; }
.help dt,.help dd{ line-height:28px; height:28px; overflow:hidden;}
.help dt{font-weight:bold; font-size:16px; height:34px; line-height:34px;}
.help dt a{color:#333;}
.help dt a:hover{color:#f54220;}
.help dd{font-size:14px;}
.help dd a{ display:block; color: #444;width: 112px;padding-right: 20px;overflow: hidden;}
.help dd a.on,.help dd a:hover{color:#85be3b; background:url(../images/ico-sj.gif) right 12px no-repeat;}
.article{color:#444;}
.article p{font-size:14px; margin:0 0 30px;}

.rmain .article-t{display:block; height:80px; line-height:80px; font-size:16px;font-size:24px; margin:0 0 30px; text-align:center; background:url(../images/dotted-line.gif) left 79px repeat-x; }
.rmain .article-c{ font-size:14px; line-height:30px;}
.rmain .article-c p{ margin:0 0 26px; text-indent:2em;}
.fblue{color:#1472c3; }

/*数据统计*/
.datac{ }
.datac p{ line-height:30px; width:100%; font-size:14px; overflow:hidden;}
.tab{border:none; margin:0; padding:0; width:100%;  border:1px solid #ddd;}
.tab th,.tab td{ border-collapse:collapse; padding:10px 0 10px 0px;}
.tab th{border-bottom:3px solid #ddd; font-weight:bold; color:#555; }
.tab td{border-bottom:1px solid #ddd; }
.datac .tab{margin:30px 0 0;}
.datac .btn-green{height:28px; line-height:28px; padding:0 30px; border:none; outline:none;display: inline-block;}
.datac hr{color:#666;} 

/*我的资料*/
.tip{ border:1px solid #f0d89a; background:#fffce6; padding:10px 20px; color:#f54220; font-size:14px;}
.formd{ padding:40px 0 0;}
.formd .lid{line-height:20px; overflow:hidden;  margin:0 0 24px;  font-size:14px; }
.formd .tlab{float:left; display:inline; width:225px; color: #555; text-align:right; padding:0 10px 0 0 ; height:20px; line-height:20px; }
.formd .modmm{ color: #2f81c8;}
.formd .modmm:hover{color:#ef4220;}
.formd .lid .imga img{max-width:100%; height:auto;display:block;border:1px solid #ddd; padding:4px; border-radius:3px;}
.btnw{ border-top:1px solid #f4f4f4; padding:25px 0 0; margin:30px 0 0; overflow:hidden;text-align: center;}
.btnwn{ margin:20px 0 0; padding:20px 0 0; height:1px; line-height:normal;  overflow:hidden; border-top:1px solid #f4f4f4;}
.formd .zuotd{width:100px; text-align:right;}
.formd .int,.formd .intn,.Wdate{ border:1px solid #d4d4d4; height:18px; padding:8px; line-height:18px; color: #333; font-size:14px; outline:none; float:left; display:inline; overflow:hidden;}
.formd .intn{ height:34px;line-height:34px; padding:0 8px; }
.formd3 .intn{width:276px}
.formd tr.lid td{ padding:0 0 20px; height:auto;}

/*税务信息*/
.formd2 .lid{margin:0 0 20px;}
.formd2 .int{width:240px;}
.formd2 .tlab{line-height:36px; height:36px; width:148px;}
.help-block{width:100%; line-height:20px; color:#aaa!important; margin:8px 0 15px; float:left;  overflow:hidden;width: 548px;}
.btn-sm{ display:block; background:url(../images/btn-smgif.gif) left top no-repeat; width:118px; height:33px; line-height:34px; overflow:hidden; padding:0 0 0 32px; color: #fff;}
.formd2 .w324{width:324px;}
.formd .colr{width:60%;}

/*修改密码*/
.formd3{ padding:0;}
.formd3 .tlab em,.app-edit .control-label em{color:#ff2424;  font-size:16px; display:inline-block; vertical-align:middle; margin:0 2px 0 0;}
.formd3 .int{width:276px;}
.formd3 .tlab{line-height:36px; height:36px; width:108px;  font-size:16px; }
.twrong,.tright{padding:0 0 0 20px; margin:8px 0 0 10px; line-height:18px; font-size:12px;}
.twrong{ background:url(../images/btn-right.gif) 0 2px no-repeat; color: #e42721 }
.tright{ background:url(../images/btn-wrong.gif) 0 2px no-repeat; height:18px;}
.formd3 .qdw{width:100%; color: #666; overflow:hidden; padding:10px 0 0; line-height:18px; }
.formd3 .qdw em{color:#e42721;}
.formd .qdw span{float:left; display:inline; }
.formd .qdw .qd{background:url(../images/qd.gif) left top no-repeat;width:176px; height:11px; margin:4px 8px 0 0; overflow:hidden;}
.formd .qdw .qd1{ background:url(../images/qd.gif) 0 -20px no-repeat;}
.formd .qdw .qd2{ background:url(../images/qd.gif) 0 -40px no-repeat;}
.formd .qdw .qd3{ background:url(../images/qd.gif) 0 -60px no-repeat;}
.formd3 .btn-bred{width:290px;}

/*完善资料*/
#perfectForm label em{color:#f12e2e;  font-size:12px;}

/*应用详情*/
.local{ border-bottom:1px solid #e4e4e4; height:40px; line-height:40px; margin:0 40px; overflow:hidden;}
.local,.local a{color:#555;}
.mainw2{background:#fff; padding:1px 0 20px;}
.subxq{ margin:30px 40px 0;}
.subxq .xqdl h4{font-size:18px; float:left; display:inline; padding:0 42px 0 0;}
.subxq .xqdl ul{ width:30%; margin:10px 0 0;}
.tabw{margin:0 40px;}
.tabw th{font-size:16px;}
.tab .trt{ background:#f7f7f7; font-size:14px;}
.tab .trt span{margin:0 50px 0 0;}
.tab .caption{ padding:10px 0 12px;}
.tab .caption h6{ line-height:20px;}
.tab .tc{ text-align:center; vertical-align:top;}
.thumbnail{display:inline-block; padding: 4px; line-height: 1.428571429; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all .2s ease-in-out; transition: all .2s ease-in-out; margin:0 auto; overflow:hidden;width: 100%}
.thumbnail img{max-width:100%; height:auto;display:block;}
.thumbnailicon label{width: 100%;}
.thumbnailicon label img{width: 100%;}
.tab .thumbnail{margin:14px 0 0;}

.btn-xq{background:#efad4d; color:#fff;border:1px solid #e49c38; width:134px; height:32px; display:block; line-height:32px; text-align:center; border-radius:2px; font-size:14px; overflow:hidden;}
 .btn-xq:hover{background:#f1a331;}
.page{width:100%; padding:30px 0 0; text-align:center; overflow:hidden;}

/*应用中心*/
.rmain .yyh{ height:54px; background:url(../images/dotted-line.gif) left 53px repeat-x; }
.f16{ font-size:20px!important; }
.fgray{color:#555!important;}
.yyname .f16{margin:0 5px;}
.yyname .btn-fb{margin-top:5px;}
.yylist{ width:744px; overflow:hidden;}
.yylist ul{ width:1000px; overflow:hidden;}
.yylist li{ float:left; display:inline; border:1px solid #dfdfdf; width:230px; padding:20px 0 20px 0; margin:0 24px 24px 0; border-radius:4px; overflow:hidden; }
.yylist .imga{width:54px; height:54px; margin:5px 15px 0 15px; overflow:hidden;}
.yylist .imga img{max-width:100%; height:auto;}
.yylist  h6{ font-size:14px; }
.yylist  h6 em{ font-size:12px;}
.yylist  h6 a{color: #428bca}
.picb,.picr{ float:left; display:inline;}
.picr{ width:60%;}
.picr p{ line-height:20px;}
.picb{width:80%; padding:10px 15px 0;}
.picb p{ text-indent:4px; line-height:22px;}

/*游戏联运*/
.numsub{ padding:0 0 50px; font-size:16px; line-height:34px;  overflow:hidden;}
.numsub a{ margin:0 0 0 10px}
.numsub .fblue{margin:0 3px; font-size:18px;}
.numsub .btn-green{width: 56px}
.insub h3{ background:url(../images/dotted-line.gif) left 51px repeat-x; height:52px; line-height:52px; font-size:16px;}
.btn-xq2{ background:#f9f9f9; border:1px solid #cfcfcf; border-radius:2px; width:80px; height:28px; line-height:28px; display:block; text-align:center;}
.btn-xq2:hover{ background:#f3f3f3;}
.insub .yylist li{ padding-bottom: 15px;}
.insub .picb{ border-top:1px solid #f3f3f3; margin:25px 6px 0; padding:15px 0 0; width:95%;}
.insub .btn-xq2{ margin:0 auto;}

/*信息修改成功*/
.mainw3{background:none;background:none;  border:none; box-shadow:none;}
.mok{width:994px; border:4px solid #e1e1e1; background:#fff; padding: 50px 0 90px; margin:0 auto; overflow:hidden;}
.mok .mt{width:20%; margin:0 auto; background:url(../images/ico-ok.gif) left 22px no-repeat; padding:20px 0 20px 65px;}
.mok .mt h2{  font-size:28px;}
.mok .mt p{ font-weight:bold; font-size:14px; line-height:32px;}
.mok .mb{ text-align:center; font-size:14px; padding:20px 0 0; line-height:24px;}
.mok .mb a,.mok .mb em{margin:0 3px; font-weight:bold}
.mok .mb a:hover{ text-decoration:underline;}

/*注册*/
.regm{ width:92%; overflow:hidden;}
.regm .tip{width:60%;}
.help-block{margin-bottom:0; }
.regm .yzm{width:82px;}
.regm .checkimg{width:76px; height:34px; margin:0 8px 0 10px;}
.regm .nosee{color:#397bec; line-height:32px;}
.regm .nosee em{color:#555}
.regm .nosee:hover{ text-decoration:underline;}
.regm .btnw{width:66%;}

/*游戏联运-联运流程*/
.insub .article-c{ padding:30px 0 0 ;}

/*游戏联运-我的Key*/
.qhsub .qhsm{ border-bottom:2px solid #ccc; height:33px; color: #999; font-size:16px;}
.qhsub .qhsm a{float:left; display:inline; height:32px; line-height:24px; padding:0 10px; margin:0 2px 0 0;  font-size:16px; overflow:hidden;}
.qhsub .qhsm a:hover,.qhsub .qhsm .on{border-bottom:3px solid #f15335; color:#f54220}
.qhsub .f14{font-size:14px;}
.qhsub .h6t span{ padding:.1em .6em .2em; background:#999; margin:0 0 0 5px; color: #fff; border-radius:4px; font-size:12px;}
.qhsub .tab{ border:none;}
.qhsub .tab td{ border-bottom:0;}
.tab .caption.h6t{ line-height:24px;}

/*游戏联运-申请Key*/
.insub2{ border:none;}
.insub2 h3{ background:none; color: #666; font-size:17px;line-height: 17px;}
.insub2 .input-group { float:left; display:inline; position: relative; border:1px solid #ccc; border-radius:4px; margin:0 10px 0 0;}
.insub2 .input-group span{ float:left; display:inline-block; border-left:1px solid #ccc; height:18px; line-height:18px; padding:8px 12px; overflow:hidden;}
.insub2 .input-group .input-group-addon{ border-left:none; background:#eee}
.insub2 .form-int{width:126px; height:18px; line-height:18px; padding:8px 12px; border:none;border-left:1px solid #ccc;  color:#555; outline:none; overflow:hidden;}
.insub2 .formd .colr{width:70%;}
.insub2 .spanlab{ float:left; display:inline-block; height:18px; line-height:18px; padding:9px 12px; overflow:hidden;}
.insub2 .spanlab input{margin-right:2px;}

/*应用上传进行中*/
.yfarea{ border:4px solid #e1e1e1; padding: 0 0 15px; margin:10px 0 30px 0; overflow:hidden; }
.yfarea .yyt{  font-size:20px; font-weight:bold; border-bottom:1px solid #dedede; height:50px; line-height:58px; padding:0 30px 10px;overflow:hidden;}
.graph{ width:556px; border:1px solid #e83524; height:16px; border-radius:20px; margin:40px auto 0; overflow:hidden;} 
#bar,#progress,.progress-bar{ display:block; background:#f9301d url(../images/graphbg.gif) left top repeat-x; float:left; height:100%; text-align:center; border-radius:16px; position:relative;color: #fff; line-height:16px; font-size:18px;}  
.yfarea .filena{ width:556px;  margin:0 auto; line-height:32px; padding:20px 0 40px;  font-size:18px;}
.yfarea .filena .text-danger{color:#f1452e; padding:0 0 0 10px;}

/* by 2014-2-15*/
.page .pagination{text-align:center}
.page .pagination li{ display:inline-block;}

.mainw2 .col-md-12{padding:15px 30px!important}
#wrap{ background:#fcfcfc}
#wrap .container{ padding:0!important; margin:0!important; width:1000px!important; max-width:1000px!important; margin:0 auto!important;}

/*邮箱验证成功*/
.yfarea{background:#fff; }
.yfarea .mok2{border:none;}
.mok2{width:100%; padding: 30px 0 90px; margin:0 auto; overflow:hidden;}
.mok2 .mt{width:70%; margin:30px auto 0; background:url(../images/ico-ok.gif) left center no-repeat; padding:20px 0 20px 65px;}
.mok2 .mt h2{  font-size:26px;line-height: 36px;}
.mok2 .mt p{ font-weight:bold; font-size:14px;}
.mok2 .mb{ width:661px; margin:0 0 0 130px; font-size:14px;  line-height: 28px; padding:20px 0 0; color: #555}
.mok2 .mb a,.mok .mb em{margin:0 3px; font-weight:bold}
.mok2 .mb a:hover{ text-decoration:underline;}
.flow-w{width:880px; margin:0 auto;  overflow: hidden;}
.flow{width:1000px; height:41px; font-size:20px; color:#555; overflow:hidden;}
.flow span{width:197px; text-align:center; margin:0 30px 0 0; float: left; display: inline;  height:41px; line-height:41px; overflow: hidden; }
.flow span.on{color:#fff;}
.flow-w1{padding:0; margin:0 0 30px;  }
.flow-w1 .flow{ background:url(../images/folow.gif) 0 0 no-repeat;}
.flow-w2{padding:40px 0 0; }
.flow-w2 .flow{ background:url(../images/folow.gif) 0 -82px no-repeat;}
.flow-w3{padding:0;}
.flow-w3 .flow{ background:url(../images/folow.gif) 0 -164px no-repeat;}
.flow-w4{padding:40px 0 0; }
.flow-w4 .flow{ background:url(../images/folow.gif) 0 -246px no-repeat;}

/*错误提示*/
.mok .mt-wrong { background:url(../images/ico-error.gif) left 25px no-repeat;}

/********add by ljz***********/
.farea-key{margin:0 0 50px}
.farea-key .numsub{ padding:0; font-size:18px}
.farea-key .numsub div{width:50%;}
.farea-key .numsub .fblue{font-size:20px; }

.formdiv{ background:#f0f0f0; border-bottom:1px solid #ddd; padding:12px 22px; color:#000;}

.btn-warning{padding:6px 32px!important}
.znx{padding:0; border:none; margin-top:10px;}
.znx h2{ font-size:20px; font-weight:bold; border-bottom:1px solid #dedede; height:50px; line-height:50px; padding:0 10px 8px;overflow:hidden;}
.znx .datac{padding:0 0 15px}
.znx th span{margin:0 10px 0 0;}
.znx label{ margin-right:10px}
.znx th{padding:12px 0 12px 25px}
.znx th input{ vertical-align:middle;}
.xf-yd,.xf-wd{display:inline-block; width:16px; height:18px; margin-left:20px; overflow:hidden;}
.xf-yd{background:url(../images/xf-yd.png) right 3px no-repeat; }
.xf-wd{background:url(../images/xf-wd.png) right 3px no-repeat;}
.znx .mes_del{color:#1c82d2}
.znx .mes_del:hover{ text-decoration:underline;}
.screen-unit{ position:relative;}
.screen-unit .close{ position:absolute; right:-1px; top:0; background:#878787; padding:0 2px;}

.znx .ci{width:60px;}
.znx .ci2{width:130px;}
.row .col-sm-12{background:#f0f0f0;margin-bottom:30px; overflow: hidden\9;}
.row .col-sm-12 h4{font-weight:bold; font-size:16px;  }


.formd .int,.formd .intn,.Wdate {
  display: block;
  font-size: 14px;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-ftp{border-radius:3px; height:34px; line-height:34px; padding:0px; background:#49bcdf;  border: 0;margin: 0;width: 128px;height: 34px;text-align: center;color: #fff;float: right;}
.btn-ftp:hover{border-color: #42accc;}
.rmain .yyh label{height: 34px;margin-top: 5px;line-height: 34px;font-size:14px;float:right;width: 128px;}

.form-horizontal .control-label{font-size:16px; font-weight:normal;padding: 0}
.mainw4{background:none;background:none;  border:none; box-shadow:none; padding:0; }
.fupld{border:5px solid #e0e0e0;  background:#fff; padding:0!important; overflow:hidden}
.fupld .panel-heading{border:none!important; padding:0!important}
.fupld .panel-heading h3{ border:none;}
.fupld .panel-heading h3 span{display:block; overflow:hidden; padding:0 1.6em;}
.fupld .panel-heading h3 .st{background:#f1f1f1!important;  height:50px; line-height:50px; font-weight:bold; font-size:18px; margin:0 0 30px; }
.fupld .panel-heading a,.fupld .panel-body a{color:#ffa954;}
.fupld .panel-heading a:hover,.fupld .panel-body a:hover{text-decoration:underline;}
.fupld .panel-body{color:#999; padding:15px 2em;}
.fupld .btn-info{ padding:4px 20px;}
.fupld .panel{padding:0 0 15px!important;}

.mainw2 .rmain-inf{ padding:15px 0!important; width:auto!important;}
.formd .noticeWrap{margin:3px 0 0 10px!important;}
#tax_numberTip {margin:7px 0 0 10px!important;}
.ico-warning{background-position:-252px -71px!important}


.accountc  label input,.panelws label input{margin-right: 4px;vertical-align: middle;margin-top: -1px;}
.accountc label em, .app-edit label em{color:#ff2424;  font-size:16px; display:inline-block; vertical-align:middle; margin:0 2px 0 0;}
.accountc  label{line-height:36px; height:36px; width:138px; padding: 0px;color: #555}
.accountc .form-group{margin-bottom: 0!important}
.accountc .control-label{margin-top: 5px;}
.accountc .col-sm-4{padding: 0;}
.accountc .txt-err,.accountc .txt-succ{line-height: 42px;}
.companyPassport{position:absolute;left:14px;top:7px;_zoom:30;font-size:300px\9;height:100%;_height:auto;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";cursor:pointer;width: 118px!important;}
.accountc .form-control-static{line-height: 34px;}
.logo{margin-top: 18px!important}

.panelzl label{float:left; display:inline; width:225px; color: #555; text-align:right; padding:0 10px 0 0 ; height:36px; line-height:35px; }
.controlzh{padding-top: 7px;}
.panelzl .col-sm-6{width: 40%;}
.panelzl .noticeWrap{margin: 0;}
.panelzl .noticeWrap span{line-height: 30px;}
.panelzl .col-sm-offset-2{margin-left:25%;width: 70%;}
.ico-warning{margin-right: 4px!important;}
.closeBtn{margin-top: 16px;}
.msgzn{border: 4px solid #e1e1e1;margin: 42px 38px 0 38px;}
.msgzn .znx{margin: 0}
.msgzn .znx h2{ border-bottom: 1px dashed #DEDEDE;padding: 0 0 0 26px;font-size: 18px;height: 44px;line-height: 44px;}
.msgzn .znx .datac{margin: 0 26px 0 26px;}
.msgzn .datac .tab{margin-top: 22px;}
.msgzn table .msglist{margin-left: 7px;}
.msgzn .znx .ci{width: 85px;}
.msgzn .znx th{padding-left: 0;}
.form-control{color: #000;}
.zzmsg{font-size: 18px;color: #222222;background: url("../images/dotted-line.gif") repeat-x scroll left bottom rgba(0, 0, 0, 0);margin-bottom: 28px;height: 45px;line-height: 45px;}
#get_ftpaccount{float: right; margin-right: 28px; margin-top: -23px;height: 34px;line-height: 24px;*height: 24px;}
#comfirmSub{float: right; margin-top: -38px;width: 138px;}
.fetchApk{text-decoration: underline!important;color: #FFA954;font-size: 16px;}
.pl0{padding-left: 0!important;}
.bo128{width: 128px;margin-right: 10px;margin-left: -4px;}
.mt0{margin-top: 4px}
#editform .col-sm-offset-2{margin-left:22%;width: 70%;}
#myModalLabel{line-height: 36px;margin-top: 0px;margin-bottom: 0;padding: 0px 22px;height: 60px;}
.col-sm-10{padding-top: 2px;width: 80%\9;float: left\9;}
#regform .formd3 {padding-left: 140px;}
#regform .formd .colr{width: 70%}
.form-horizontal .col-sm-10 .label-success{margin-top: 1px;padding: 4px 6px;display: inline-block;}
input:focus {
  border-color: #66afe9!important;
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)!important;
}
.btn-success {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.screenup .col-md-3{width: auto;padding-left: 0}

.wauto{width: 84px;*float: left;*width: 74px;*height: 72px;*padding: 4px;}
.form-horizontal .col-sm-4{*width: 248px;*float: left;*text-align:right;}
.form-horizontal .col-sm-8{*width: 440px;*float: left;line-height: 24px;}
.form-horizontal .form-group{*overflow: hidden;}
.form-horizontal .col-sm-offset-4{*text-align: right;width: 44.4%}
.Wdate{width: 120px;}
.mainw2 .col-md-2{width: 146px;float: left;}
.mainw2 .col-md-7{width: 530px;float: left;}
.mainw2 .col-md-11{*width: 888px;}
.mainw2 .row{overflow: hidden;*margin-left: 0}
.mainw2 .col-md-9{*width: 600px;*float: left;}
.mainw2 .col-md-3{width: 160px;float: left;}
.rmain .col-sm-3{*width: 210px;*float: left;text-align: right;}
.rmain .col-sm-6{*width: 500px;*float: left;}
.rmain .col-md-9{*width: 300px;*text-align: right;}
.qhsub .thumbnail{width: 64px!important;}
.rmain .col-md-7{*width: 400px;*float: left;}
.rmain .col-md-5{*width: 276px;*float: left;}
/*.rmain .panel{overflow: hidden;}*/
.rmain .col-md-10{*width: 600px;float: left;}
.help-block2{width:100%; line-height:20px; color:#aaa!important; margin:8px 0 15px; float:left;  overflow:hidden;display: block;}
.rmain .col-md-12{*width: 100%;}
.apkuploadlable{position: relative;width: 139px;height: 34px;overflow: hidden;margin-top: 5px;margin-right: 10px;}
.apkuploadlable span{margin-top: 0!important;width: 128px;padding: 0}
.sec-nav .w a{position: relative;cursor: pointer;*cursor: hand}
.indexup{line-height: 58px!important;}
.formimg{background:url(../images/btn-smgif.gif) no-repeat ;width: 118px;height: 33px;color: #fff;padding-left: 36px;border-radius:0;display: block;line-height: 33px;}
.yymain .col-md-9{text-align: left!important;}
.manageupf{float: right;margin-right: 40px;width: 150px;height: 34px;background-color: #5BC0DE;border-color: #46B8DA;color: #FFFFFF;line-height: 32px;text-align: center;border-radius: 4px;position: relative;overflow: hidden;overflow: hidden;}
.manageupf:hover{background: #42accc;cursor: pointer;}
.mainwk{width: 100%;}
.mainwk .col-md-9{width: 480px;overflow:hidden;float: left;}
.app-edit .col-sm-12{height: 41px;}
.app-edit .col-sm-12 h4{margin: 0;line-height: 41px;}
.app-edit .control-label{width: 152px;float:left;text-align: right;}
.app-edit .col-sm-7{width: 550px;float: left;padding: 0;margin-left: 16px;}
.app-edit .col-sm-10 .form-control-static{margin-left: 16px;}
.app-edit .col-sm-10{width: 720px;float: left;padding: 0;}
.app-edit .col-sm-10 .col-sm-2{width: 108px;float: left;padding-right: 0}
.app-edit .col-sm-4{width: 280px;float: left;text-align: left\9;}
.app-edit .col-sm-6{width: 450px;float: left;}
.app-edit #description,.app-edit #changelog{margin-left: 16px;}
.app-edit .col-sm-10 .mt0{margin-left: 16px;}
#screenshotdiv{margin-left: 16px;padding: 0}
.app-edit .col-sm-10 .col-md-3{margin-left: 16px;padding-right: 0;}
#screenshotdiv label{position: relative;margin-bottom: 0;}
#screenUpload{height: 250px;position:absolute;right:0;top:0px;font-size:300px\9;cursor:pointer;z-index: 9999;width: 150px;}
.iconup .col-md-2{margin-left: 16px;width: 82px;padding: 0;float: left;}
.iconup .col-md-3{margin-left: 16px;width: 106px;padding: 0;float: left;}
.iconup .col-md-4{margin-left: 16px;width: 154px;padding: 0;float: left;}
.iconup .thumbnail label{margin-bottom: 0}
.iconup .icons{margin-left: 0px;}
.iconup .icons .thumbnail {margin-bottom: 10px;}
.upload-btn {background: #00b7ee;padding: 6px 12px;}
.app-edit .col-md-8{text-align: center;width: 100%;}
.baoname{height: 30px;}
#authcodeTip{width: 234px;}
.edits{padding-bottom: 10px;}
.panelws .form-control{height: 38px!important;margin-top: -8px;margin-bottom: 8px;*padding-top: 0}
#get_ftpaccount,#comfirmSub,.wi150{width: 150px;padding-left: 0px!important;padding-right: 0px!important;}
.imgtopf img{margin-top: 4px;}
.btnwbotg{width: 290px;height: 38px;line-height: 38px;font-size: 18px;background: #5CB85C;border-radius: 3px;display: inline-block;color: #fff;border: none;text-align: center;}
.btnwbotr{width: 290px;height: 38px;line-height: 38px;font-size: 18px;background: #F1452E;border-radius: 3px;display: inline-block;color: #fff;border: none;text-align: center;}
#editForm .tlab{width: 215px;}
.taxfix{text-align: left;padding-left: 186px;}
.userinfo{text-align: left;padding-left: 248px;}
.usereidt{text-align: left;padding-left: 140px;}
#companyurl{border: 0;margin-right: -66px;float: right;margin-top: 6px}
#swimgurl:focus,#zzimgurl:focus,#companyurl:focus,#taxfiximgurl:focus{box-shadow: none!important;border:0;}
.form-horizontal .control-label{width: 140px;float: left;text-align: right\9;}
.form-horizontal .col-sm-5{float: left;width: 320px;}
.form-horizontal .col-sm-8{float: left;}
.form-horizontal .col-sm-6{float: left;}
.userinfoform .control-label{width: 248px;float: left;text-align:right;}
.userinfoform .col-sm-8,.userinfoform .col-sm-6{padding-left: 0;width: 484px;float: right;*width: 482px;}
.userinforow h4{height: 38px;line-height: 38px;margin: 0;}
.taxfixinfo h4{height: 38px;line-height: 38px;margin: 0;}
.taxfixinfo .control-label{width: 192px;float: left;text-align:right;}
.taxfixinfo .col-sm-6,.taxfixinfo .col-sm-9{padding-left: 0;width: 544px;float: right;*width: 538px}
.perfectfrome .control-label{width: 243px!important;}
.perfectfrome .col-sm-6{padding-left: 0;width: 334px;float: left;}

#fetchAuthcode{width: 96px}
.perfectfile{position:absolute;left: 0;top: 0;_zoom:30;font-size:300px\9;height:100%;_height:auto;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";cursor:pointer;width: 118px!important;}
#swimgurl,#zzimgurl{border: 0 none; float: right; margin-right: 24px; margin-top: 6px; }
.taxfiximg{clear:both;padding-top: 12px}
.taxfixfrom .tlab{width: 217px;}
#taxfiximgurl{border: 0 none; float: right; margin-right: 168px; margin-top: 6px;}
.faxfixup{position: relative;}
.faxfixup .btn-sm{width: 87px;}
.perfecttip{float: left;}
#editform .onCorrect{width: 320px;}
#editform .col-sm-4{float: left;}
.formimg:hover{cursor: pointer;}
.regform #pwdTip{padding-top: 5px!important;}
.authindex .tlab{width: 101px;}
.successw{width: 450px!important}
.unionaddb{text-align: left;padding-left: 118px;}
.actsucc{margin-left: 170px!important;}
.actsucc .fblue {font-size: 16px;}
.panelws .appinfotext{height: 100px!important;overflow-y:auto;}
.downsdk{border: 5px #eee solid;float: left;width: 100%;height: 74px;line-height: 64px;margin:-15px  0px 18px 0;padding-left: 12px;}
.downsdk a{float: right;margin:14px 18px 0 0 }
.sdktitle{height: 36px;line-height: 36px;background: #f0f0f0;padding-left: 12px;font-size: 16px;width: 100%;}
#focusedInput::-moz-placeholder{color: #000}
.help-blockhi{margin-top: 10px!important;}
.keydetail{margin-top: 20px;}
.keydetail .control-label{float: left;width: 140px;}
.keydetail .col-sm-6{float: left;width: 300px;}
.keydetail .col-md-6{width: 40%\9;float: left\9;}
.keydetail .col-md-6 .input-group-addon{*display: inline-block;*overflow: hidden;*width: 84px;}
.keydetail .col-md-6 input[type=text]{*display: inline-block;*width: 100px;*border-left: 0;*height: 20px;}
.keydetail .col-sm-10{float: left;width: 560px;}
.keydetail .col-sm-10 .col-sm-2{width: 56px;padding: 0;line-height: 2px;float: left;}
.keydetail .col-sm-10 .col-sm-2 input{margin-right: 5px;}
.keydetailbnw{text-align: left;padding-left: 140px;}
.keydetail .col-sm-10 .col-md-5{width: 224px;float: left;}

#checkall{margin-left: 7px;}
.loginregbtn{padding-left: 7px;}
.prefectsub{margin-left: 170px!important;}
.prefectsub .btn-success{margin-left: 0px;}
.downsdkk{margin-top: 0px}
.chartselect{width: 169px}
.outphoto{width: 329px!important;padding-right: 0!important;}
.gamelist{margin-top: -20px;}
.keymore{margin-left: -18px;}
.mt17 tr{margin-top: 17px;padding-bottom: 13px;border-bottom:1px dotted #ddd;}
.paymt{margin-top: 7px;}
.usereidtfrom .col-sm-4{width: 170px;}
.usereidtfrom .col-sm-4 b,.perfectfrome .col-sm-4 b{margin-top: -4px;padding-left: 0}
.usereidtfrom .col-sm-4 span{line-height: 46px;}
.perfectfrome .col-sm-4 span{line-height: 32px;}
.usereidtfrom #companyurl{margin-right: 8px;}
.regform .twrong span{line-height: 34px;}
.regform .noticeWrap{margin-top: 0!important;}
.perfectfrome .col-sm-4{padding-left: 0px;margin-left: -5px;}
.usereidtfrom .col-sm-4 .noticeWrap{margin-left: 0;}
.perfectfrome #authcodeTip b{margin-top: -4px;}
.perfectfrome #authcodeTip span{line-height: 32px;}
.oldapkzt{margin-top: 8px;}
.oldapkrow .row{background:url(../images/dotted-line.gif) left bottom repeat-x;margin-bottom: 45px;padding-bottom: 36px;}
.oldapkrow .row:last-child{background: none;margin-bottom: 0;}
.wauto img{width: 72px!important;}
.managemore{margin-top: 46px;}
.messageshow{text-align: left; padding-left: 21px!important; color: #838383; font-size: 15px;}
.messageshow a{color: #1C82D2}
.panel{*float: left;*width: 100%;*margin-bottom: 18px;}
#authcode_div #authcodeTip{margin-left: -16px!important;text-align: left;}
#authcode_div #authcodeTip .noticeWrap{margin-left: 5px}
#authcode_div #authcodeTip .noticeWrap .ico-warning{margin-top: -4px;}
#authcode_div .col-sm-6{width: 316px;}
#authcode_div .col-sm-3{float: left;width: 140px;}
.editname{padding-top: 11px!important;}
.rmain{*margin-right: 0}
.usereidtfrom .form-control{*height: 24px!important;}
.insub2 .form-int{*height: 16px;}
/*v2.0*/
.contacttable{width: 100%; text-align: center;margin-top: 20px;}
.contacttable th{text-align: center;}
.contacttable a{text-decoration: underline;color: #f54220}
.contactadd .tlab{font-size: 16px}
.contactadd .int{width: 240px;}
.contactadd .colr{width: 35%;}
.contactadd em{color: #ff2424;font-size: 16px;display: inline-block;vertical-align: middle;margin: 0 2px 0 0;}
.contactadd .bo80{width: 80px;margin-right: 10px;padding: 6px 0}
.contactadd .bo80:hover{color: #ffffff;background-color: #47a447;border-color: #398439;}
.input-lna{display: inline-block;margin-bottom: 10px;font-size: 0;white-space: nowrap;vertical-align: middle;margin-left: -10px}
.input-lna input{display: inline-block;border-radius: 4px 0 0 4px;margin-bottom: 0;vertical-align: top;font-size: 14px;width: 90px;float: none;margin-left: 0;background-color: #fff;border: 1px solid #ccc;box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);transition: border linear .2s,box-shadow linear .2s;height: 20px;padding: 4px 6px;line-height: 20px;
color: #555;}
.input-lna button{border: none;background: url(../images/sbtn.png);text-indent: -222em;overflow: hidden;width: 54px;height: 30px;margin-left: -1px;*margin-top: 1px;}
.input-lna .placeholder{font-size: 12px;padding-top: 0;line-height: 30px;}
.timeor{float: left;*margin-left: 22px;}
.icon-remove{cursor: pointer;width: 14px;height: 14px;background-position: -312px 0;display: inline-block;background-repeat: no-repeat;
margin-top: 1px;line-height: 14px;
vertical-align: text-top;
background-image: url("../images/glyphicons-halflings.png");}
.add-on{position: absolute;top: 4px;right: 24px;}
.input-append{position: relative;}

.viciao{margin-top:40px;margin-bottom:20px;}
.viciao A{border-right:#DFDFDF 1px solid;border-top:#DFDFDF 1px solid;border-left:#DFDFDF 1px solid;color:#000;margin-right:2px;border-bottom:#DFDFDF 1px solid;text-decoration:none;padding:2px 5px;}
.viciao A:hover{border-right:#DFDFDF 1px solid;border-top:#DFDFDF 1px solid;border-left:#DFDFDF 1px solid;margin-right:2px;border-bottom:#DFDFDF 1px solid;background:#DFDFDF;color:#fff;padding:2px 5px;}
.viciao .active{border-right:#DFDFDF 1px solid;border-top:#DFDFDF 1px solid;border-left:#DFDFDF 1px solid;margin-right:2px;border-bottom:#DFDFDF 1px solid;text-decoration:none;background:#DFDFDF;color:#fff;padding:2px 5px;}
.viciao SPAN.current{border-right:#e89954 1px solid;border-top:#e89954 1px solid;font-weight:700;border-left:#e89954 1px solid;color:#000;margin-right:2px;border-bottom:#e89954 1px solid;background-color:#ffca7d;padding:2px 5px;}
.viciao SPAN.disabled{border-right:#ccc 1px solid;border-top:#ccc 1px solid;border-left:#ccc 1px solid;color:#ccc;margin-right:2px;border-bottom:#ccc 1px solid;padding:2px 5px;}
.form-controln {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-controln:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-controln:-moz-placeholder {
  color: #999999;
}

.form-controln::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-controln:-ms-input-placeholder {
  color: #999999;
}

.form-controln::-webkit-input-placeholder {
  color: #999999;
}

.form-controln[disabled],
.form-controln[readonly],
fieldset[disabled] .form-controln {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-controln {
  height: auto;
}
.control120{width: 120px;}
.controlib{display: inline-block;}
.picr .nopass-reason{color:#f00;max-height: 30px;overflow: hidden;line-height: 15px;margin-bottom: -11px;}
.linkboxh{float: left;width: 24%}
.linkname{overflow: hidden;}
.linkname h2{font-size: 16px;font-weight: bold;padding: 6px 0}
.linkboxw{padding-top: 10px;padding-bottom: 100px;float: left;width: 25%;}
.linkboxw img{display: inline-block;margin-bottom: -90px;}
.linkboxw h4{font-size: 14px;font-weight: bold;padding-bottom: 4px;padding-top: 10px;}
.app-screen .close{opacity:0.9;text-shadow:none;filter: alpha(opacity=90);width: 18px\9;height: 24px\9;}

.app-screen .close:hover,
.app-screen .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
  text-shadow:none;
}
.indexhelpbox{width: 100%;
border: 1px solid #f4f4f4;
box-shadow: 0 0 2px #f3f3f3;
margin: 20px auto;
 }
.ihbl{width: 20%;
border-top: 2px solid #ed7e6f;
float: left;
display: inline;margin-top: -2px;}
.ihbr{width: 78%;
padding: 15px 0;
float: left;
display: inline;}
.ihbl dl{ padding:15px 18px; margin:0 1px; border-bottom:1px solid #f5f5f5; overflow:hidden;}
.ihbl dl:hover,.ihbl dl.on {background:#fafafa; border-top:1px solid #ddd; padding:14px 18px 15px; }
.ihbl dt,.ihbl dd{ line-height:28px; height:28px; overflow:hidden;}
.ihbl dt{font-weight:bold; font-size:16px; height:34px; line-height:34px;}
.ihbl dt a{color:#333;}
.ihbl dt a:hover{color:#f54220;}
.ihbl dd{font-size:14px;}
.ihbl dd a{ display:block; color: #444;width: 112px;padding-right: 20px;overflow: hidden;}
.ihbl dd a.on,.ihbl dd a:hover{color:#f54220; background:url(../images/ico-sj.gif) right 12px no-repeat;}

.captionci{width: 100px;height: 100px;float: left;text-align: center;color: #fff;padding-top: 30px;*height: 60px;}
.captionci1{background: #42a1f0}
.captionci2{background: #f16f6a}
.captionci3{background: #7fbc5b;padding-top: 40px;}
.caption {margin-top: 10px;}
.caption h6{margin: 3px 0}
.caption .btn-sm{height: 31px;width: 100px;margin-left: 10px;*height: 19px;}
.captk{height: 31px;*margin-top: 0;*height: 20px;}
.captk em{line-height: 31px;padding-left: 10px;*line-height: 20px;}
.oldapkrow .col-md-6{width: 45%\9;float: left\9;}
.caption .webuploader-pick{color: #333}
.form-horizontal .col-sm-10 .placeholder,.rizhiplace .placeholder{margin-left: 16px\9;}
.placeholder{font-weight: 100}
.form-horizontal .col-sm-4{text-align: left;}
.upgrade h4{font-size: 14px;color: #363e46}
.upgradetip{width: 100%;border: 1px solid #dedede;background: #f9f9f9;height: 41px;line-height: 38px;}
.utipn{width: 50%;float: left;text-align: center;color: #5a5a5a;font-size: 16px;}
.utipn i{font-size: 22px;padding: 0 2px}
.upgradetip .utipn:first-child{border-right: 1px solid #dedede;margin-right: -1px}
.upgradetip .this{color: #f1452e;background: #f3e8e2;border-bottom: 4px solid #ed8678;line-height: 34px;}
.upgradefrome{padding-top: 40px;}
.upgradefrome label{color: #737373;font-weight: 100;padding-left: 13px;}
.upgradefrome label i{color: #ff0000;font-weight: bold;width: 6px;display: inline-block;}
.upgradefrome label em{background: #3095db;color: #fff;font-weight: 100;font-size: 12px;border-radius: 3px;padding: 4px 6px;margin-left: 5px;}
#upapk{display: none}
.upgradenext{display: block;width: 130px;height: 35px;line-height: 35px;color: #fff;text-align: center;background: #f1452e;margin: 30px auto;border-radius: 4px;}
#upgradeselect{display: inline-block;width: 300px}
.filedown{display: inline-block;background: #85be3b;border-radius: 4px;padding: 6px 10px;color: #fff}

