.btn {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
	touch-action: manipulation;
  	cursor: pointer;
  	background-image: none;
  	border: 1px solid transparent;
  	white-space: nowrap;
  	text-align: center;
  	vendor(border-radius, 2px);
  	&.btn-submit, &.btn-submit-white {
  		padding: px(30) 0;
		font-size: px(50);
		width: px(473);
		vendor(box-sizing, border-box);
  	}
	&.btn-submit {
		color: #fff;
		background-color: #ee524d;
	}
	&.btn-submit-white {
		background-color: #fff;
		border: 1px solid #dedede;
		color: #ee524d;
	}
	&.dis {
		background-color: #c8c8c8;
	}
	&.btn-buy {
		size(227, 90);
		line-height: px(90);
		border: 1px solid rgba(146, 146, 146, 0.3);
	}
}


.custom-checkbox {
	display: inline-block;
	position: relative;
	input[type="checkbox"] {
		position: absolute;
		left: px(5);
		top: px(28);
		margin: 0
	}
	label {
		display: block;
		position: relative;
		z-index: 1;
		font-size: px(48);
		color: #666;
		padding-right: 1em;
		line-height: 1;
		padding: .5em 0 .5em px(90);
		margin: 0 0 .3em;
		cursor: pointer;
	}
}