[class|="icon"], [class*="icon-"] {
	display: inline-block;
	vertical-align: middle;
}

// 箭头图标
.icon-arrow-right {
	width: px(28);
	height: px(28);
	border: solid #b4b4b5;
	border-width: 0 2px 2px 0;
	vendor(transform, rotate(-45deg));
}

.icon-more {
	size(43, 43);
	background: url(../../img/icon-more.png) no-repeat 0 0;
	background-size: 100%;
}