// 遮罩效果
.modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.4);
	&.absolute {
		position: absolute;
	}
	.modal-dialog {
		background:#FFF;
		width: px(226); 
		height: auto; 
		position:absolute; 
		top: 25%; 
		left: 50%; 
		margin-left: px(-113); 
		border-radius(5px);
		p{
			padding:px(14); 
			border-bottom:solid 1px #b2b2b2; 
			font-size:px(16); 
			line-height:1.5;
		}
		.btn{
			padding:px(8) px(10); 
			text-align:center;
			a, span{
				display:inline-block; 
				width:px(94); 
				padding:px(10) 0; 
				color:#fff; 
				background-color:#ff8a00; 
				border-radius: 5px; 
				font-size:px(18);}
			a{
				margin-right:px(10);
			}
		}
	}
}

.simple-dialog {
	width: px(843);
	background: #fff;
	position: fixed;
	position:absolute; 
	top: 30%; 
	left: 50%; 
	margin-left: px(-420);
	.title {
		padding: px(40) px(30) px(60);
		font-size: px(48);
		text-align: center;
		line-height: px(80);
	}
	.wrap {
		display-box();
		.modal-cancel, .modal-ensure {
			vendor(box-flex, 1);
			text-align: center;
			line-height: px(140);
			font-size: px(48);
			border-top: 1px solid #e9e9e9;
		}
		.modal-cancel {
			border-right: 1px solid #e9e9e9;
		}
	}
}