/***************************** 业务相关模块 *******************************************/
// 首页
// 首页-栏目导航
.brand-nav {
	display-box();
	li {
		height: px(403);
		width: 33.3333%;
		vendor(box-sizing, border-box);
		border-right: 1px solid #f5f5f5;
		overflow: hidden;
		&:last-of-type {
			border-right: none;
		}
	}
	.main-brand, .sub-brand {
		text-align: center;
		.pic {
			display: inline-block;
			width: px(359);
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.main-brand .pic{
		height: px(402);
	}
	
	.sub-brand {
		&:nth-of-type(1) {
			border-bottom: 1px solid #f5f5f5;
		}
		.pic {
			height: px(201);
		}
	}
}
.column-title {
	height: px(108);
	line-height: px(108);
	padding: 0 px(30);
	position: relative;
	overflow: hidden;
	vendor(box-sizing, border-box);
	border-bottom: 1px solid #f5f5f5;
	&.gray {
		height: px(120);
		line-height: px(120);
		line-height: normal;
		background: #f3f4f8;
		padding: px(50) px(30) px(28);
	}
	h2 {
		color: #888888;
		font-size: px(42);
		float: left;
		&:before {
			content: '';
			display: inline-block;
			margin-left: px(8);
			margin-right: px(22);
			margin: 0 px(22) px(-6) px(8);
			width: px(10);
			height: px(40);
			background: $common-red;
		}
	}
	.more {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		float: right;
		right: px(35);
		size(200, 122);
		vendor(box-sizing, border-box);
		padding-top: px(50);
		font-size: px(36);
		color: #8c8c8c;
		text-align: right;
		vertical-align: middle;
		i {
			float: right;
			margin-left: px(22);
			margin-top: px(4);
		}
	}
}

// 备案号
.copyright {
	text-align: center;
	background: #f3f4f8;
	line-height: 1.8;
	padding: px(30) 0;
	color: #aaa;
}

// 首页-热门分类
.hot-type {
	.hot-type-list {
		overflow: hidden;
		padding-top: px(40);
		li {
			float: left;
			text-align: center;
			width: 33.3333%;
			margin-bottom: px(60);
		}
		.list-wrap {
			.pic {
				margin: 0 auto;
				&, img {
					size(300, 300);
				}
				img {
					vendor(border-radius, 40px);
				}
			}
			strong {
				font-weight: normal;
				display: block;
				padding: px(25) px(6) px(9)
				font-size: px(42);
				color: #444;
				text-ellipsis();
			}
			.txt {
				color: rgba(45, 43, 44, 0.33);
				font-size: px(18.43);
			}
		}
	}
}

// 首页-海淘知物
.seagou-story {
	background: rgba(245,245, 245, 0.5);
}
.story-list {
	background: #fff;
	padding: 0 px(30);
	margin-bottom: px(25);
	h3 {
		color: #444;
		font-size: px(48);
		padding: px(50) 0 px(25);
		text-ellipsis();
		&.hot {
			&:before {
				content: 'HOT';
				background: #ee524d;
				color: #fff;
				display: inline-block;
				// width: px(65);
				line-height: px(42);
				padding: 0 px(5);
				margin-right: px(15);
				text-align: center;
				font-size: px(30);
				font-weight: bold;
				vendor(border-radius, 2px);
				position: relative;
				top: px(-7);
			}
		}
	}
	h4 {
		color: #888;
		font-size: px(39);
		line-height: px(58);
		padding-bottom: px(30);
		text-ellipsis();
	}
	ul {
		display-box();
		li {
			// vendor(box-flex, 1);
			width: 33.333%;
			&:nth-of-type(2) {
				text-align: center;
			}
			&:nth-of-type(3) {
				text-align: right;
			}
		}
		.pic {
			display: inline-block;
			&, img {
				size(320, 320);
			}
			img {
				vendor(border-radius, 4px);
			}
		}
	}
	.publish-date {
		color: #aaa;
		font-size: px(33);
		line-height: px(90);
		text-align: right;
	}
}

// 首页-底部联系人信息
.contact-info {
	padding: px(40) 0 px(50);
	margin-top: px(40);
	background: #fff;
	font-size: px(36);
	color: #888;
	text-align: center;
	p {
		margin-bottom: px(15);
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

// 海淘世界
.brand-list {
	padding: 0 px(25);
	padding-bottom: px(15);
	&:nth-of-type(1) {
		padding-top: px(25);
	}
	vendor(box-sizing, border-box)
	ul {
		display-box();
		li {
			background: #fff;
			overflow: hidden;
			size(334, 334);
			&:nth-of-type(1), &:nth-of-type(2) {
				margin-right: px(15);
			}
		}
	}
	.title {
		color: #888;
		font-size: px(42);
		text-align: center;
		padding: px(10) px(6) px(30);
		text-ellipsis();
	}
	.pic {
		display: block;
		size(240, 150);
		margin: px(45) auto;
		img {
			width: 100%;
			height: 100%;
		}
	}		
}

// 商品列表
.goods-list {
	border-bottom: 1px solid #f5f5f5;
	background: #fff;
	.list-wrap {
		display-box();
		padding: px(30);
	}
	.pic {
		size(280, 280);
		table-cell-middle();
		&, img {
			vendor(border-radius, 4px);
		}
	}
	.content {
		vendor(box-flex, 1);
		padding: px(20) 0 0 px(35);
		h3 {
			font-size: px(42);
			color: #444;
			line-height: px(52);
			margin-bottom: px(15);
			height: px(100);
			multi-text-ellipsis(2);
		}
		.price, .origin-info {
			font-size: px(36);
			color: #aaa;
		}
		.price {
			line-height: px(80)
			text-ellipsis();
			em, .dollar {
				color: #ee524d;
			}
			em {
				font-size: px(54);
			}
			.dollar {
				font-size: px(39);
			}
		}
		.origin-info {
			// height: px(70);
			margin-top: px(20);
			.country {
				margin-right: px(60);
			}
			.country-pic {
				display: inline-block;
				size(40, 40);
				margin-right: px(17);
				img {
					margin-top: px(-12);
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.brand-set {
	margin-bottom: px(25);
	background: #fff;
	ul {
		display-box()
		li {
			width: 33.3333%;
			// height: px(312);
			border-bottom: 1px solid #f5f5f5;
			border-right: 1px solid #f5f5f5;
			overflow: hidden;
			&:last-of-type(3) {
				border-right: none;
			}
		}
	}
	.pic {
		size(240, 150);
		margin: px(60) auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.title {
		text-align: center;
		font-size: px(42);
		color: #aaa;
		padding: px(18) px(6) px(30);
		text-ellipsis();
	}
}

.brand-intro {
	padding: px(30);
	background: #fff;
	.banner-pic {
		table-cell-middle();
		width: px(1020);
		height: px(425);
		img {
			width: 100%;
			height: 100%;
		}
		&, img {
			vendor(border-radius, 4px);
		}
	}
	.article {
		background: #fff !important;
		h1 {
			font-size: px(60);
			color: #444;
			line-height: px(120);
		}
		p {
			color: #888;
			font-size: px(42);
			line-height: px(56);
			text-indent: 2em;
		}
	}
}

// 商品详情-商品介绍
.goods-intro {
	padding: px(45) px(40);
	background: #fff;
	.title {
		.span, h1 {
			color: #444;
		}
		span {
			display: inline-block;
			border: 1px solid rgba(146, 146, 146, 0.3);
			font-size: px(42);
			line-height: px(60);
			padding: 0 px(20);
			float: left;
			margin-right: px(20);
		}
		h1 {
			font-size: px(48);
			line-height: px(70);
		}
	}
	dd {
		color: #aaa;
		font-size: px(36);
		margin-top: px(30);
		span {
			margin-right: px(70);
		}
	}
	.price {
		text-ellipsis();
		em, .dollar {
			color: #ee524d;
		}
		em {
			font-size: px(66);
		}
		.dollar {
			font-size: px(45);
		}
	}
}
// 商品详情-栏目标题
.column-title-simple {
	background: #fff;
	padding: 0 px(30);
	h2 {
		line-height: px(100);
		color: #888;
		font-size: px(42);
		padding-left: px(10);
		border-bottom: 1px solid #f5f5f5;
	}
}
// 商品详情-商家信息
.seller-list {
	border-bottom: 1px solid #f5f5f5;
	ul {
		display-box();
		vendor(box-align, center);
		height: px(280);
	}
	.pic-wrap {
		width: px(241);
		.pic {
			size(240, 150);
			margin: 0 auto;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.info {
		vendor(box-flex, 1);
		padding-left: px(20);
		.title {
			overflow: hidden;
			h3, span {
				line-height: px(73);
			}
			h3 {
				font-size: px(48);
				color: #444;
				float: left;
			}
			span {
				display: inline-block;
				font-size: px(36);
				color: rgba(51, 51, 51, 0.55);
				border: 1px solid rgba(146, 146, 146, 0.3);
				padding: 0 px(15);
				margin-left: px(20);
				line-height: px(48);
				margin-top: px(10);
				vendor(border-radius, 4px);
			}
		}
		.price {
			color: #ee524d;
			font-size: px(66);
			text-ellipsis();
			.dollar {
				font-size: px(45);
			}
		}
		.title, .price {
			margin-bottom: px(25);
		}
		.site {
			color: #aaa;
			font-size: px(32);
		}
	}
	.buy {
		width: px(230);
	}
}

// 资讯详情
.text-bottom {
	.weibo, .weixin, .qzone {
		position: relative;
		width: px640(640);
		background-size: 100%;
		background-repeat: repeat;
		background-position: 0 0;
	}
	.weibo {
		background-image: url('../../img/text-bottom-weibo.png');
		height: px640(325);
		.attention-weibo {
			position: absolute;
			top: px(325);
			left: px(353);
			display: inline-block;
			width: px(172);
			height: px(64);
		}
	}
	.weixin {
		background-image: url('../../img/text-bottom-weixin.png');
		height: px640(457);
	}
	.qzone {
		background-image: url('../../img/text-bottom-qzone.png');
		height: px640(270);
	}
	
}