.float-left {
	float: left;
}
.float-right {
	float: right;
}
// 布局局中
.layout-center {
	width: px(1080);
	margin: 0 auto;
}

// 文字局中
.text-align-left {
	text-align: left !important;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;
}

.divide-section {
	display: block;
	height: px(20);
	line-heigth: px(20);
}

// color
.hint {
	color: #ee524d;
}
