.same-plugin{display:-webkit-box;display:box;position:fixed;right:0;margin-right:-202px;bottom:50%;-webkit-user-select:none;user-select:none;-webkit-transform:translateZ(0);transform:translateZ(0);}
.same-plugin.unfold{-webkit-transition:margin-right .3s linear .1s;transition:margin-right .3s linear .1s;margin-right:0 !important}
.same-plugin.fold{-webkit-transition:margin-right .3s linear .1s;transition:margin-right .3s linear .1s}
.same-plugin .side{width:32px;height:36px;background:url("http://assets.gionee.com/apps/gou/assets/img/same-style-plugin.png") 0 0 no-repeat;background-size:100% 100%}
.same-plugin .cont{-webkit-box-flex:1;box-flex:1;padding:0 5px 0 0;height:36px;width:auto;line-height:36px;background:url("http://assets.gionee.com/apps/gou/assets/img/same-style-repeatx.png") 0 0 no-repeat;background-size:100% 100%;color:#888;}
.same-plugin .cont span{display:inline-block;overflow:hidden;float:right;white-space:nowrap;overflow:hidden;width:200px;}
.same-plugin .cont span em{color:#f63}
.same-plugin:active{-webkit-user-select:none;user-select:none;background:none;}
.same-plugin:active .cont{color:#f63}
