.layout-center{width:16rem;margin:0 auto}
.align-left{text-align:left}
.relative{position:relative}
.float-left{float:left}
.float-right{float:right}
.ico-list{width:16rem;margin:0 auto;overflow:hidden;}
.ico-list h2{font-size:.6222222222222222rem;line-height:.6222222222222222rem;text-indent:1.4rem;color:#aaa;background:no-repeat .6222222222222222rem -.04444444444444444rem;-webkit-background-size:.6222222222222222rem;background-size:.6222222222222222rem}
.ico-list ul{padding-bottom:.6rem;overflow:hidden;padding-left:.3rem}
.ico-list li{float:left;margin:.6rem .5rem 0;}
.ico-list li a{display:block;width:2.9rem;font-size:.65rem;}
.ico-list li a span{display:block;height:3rem}
.ico-list li a em{display:block;margin-top:.4rem;text-align:center}
.pic-list{width:16rem;margin:0 auto;overflow:hidden;}
.pic-list li{margin:.5rem .6rem 0}
.pic-list a{display:block}
.pic-list .pic{text-align:center}
.pic-list .desc{background:#fff;-webkit-border-radius:0;-webkit-border-radius:0;border-radius:0;word-break:break-word;color:#8c8c8c;padding:.5rem .8rem;font-size:.7rem}
.tejia-list{width:16rem;margin:0 auto;overflow:hidden;}
.tejia-list ul{overflow:hidden;padding:0 .15rem 0 .35rem}
.tejia-list li{margin:.3rem .3rem 0 0;height:12.5rem;float:left;}
.tejia-list li:nth-child(2n){margin-right:0}
.tejia-list li a{display:block;width:7.5rem;min-height:100%;border:solid 1px #e2e2e2;background:#fff;}
.tejia-list li a .pic{position:relative;text-align:center;height:8.2rem;overflow:hidden;}
.tejia-list li a .pic span{display:table-cell;width:7.5rem;height:8.2rem;vertical-align:middle}
.tejia-list li a .pic img{max-width:100%;width:auto;max-height:100%;height:auto}
.tejia-list li a .pic .discount{position:absolute;left:-1rem;top:-.2rem;width:2.9rem;color:#fff;background:#f2361d;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);height:.7rem;padding-top:.7rem;font-size:.5rem;text-align:center}
.tejia-list li a .desc{padding:.3rem;line-height:1.5}
.tejia-list li a h3{font-size:.6rem}
.tejia-list li a .price em{color:#e2330e;margin-right:.3rem}
.tejia-list li a .price u{font-size:.45rem;text-decoration:line-through;color:#888}
.tejia-list li a .from{font-size:.55rem;text-align:right;color:#aaa}
.activities-list{width:15.4rem;margin:0 auto;padding:.45rem .3rem 0;}
.activities-list li{border:solid 1px #d9d9d9;color:#888;position:relative;margin-bottom:.45rem;overflow:hidden;background:#fff;}
.activities-list li:last-child{margin-bottom:0}
.activities-list li a{display:block}
.activities-list li img[src$="blank.gif"]{height:7.35rem !important}
.activities-list li .desc{line-height:1.3rem;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;}
.activities-list li .desc h3{-webkit-box-flex:1;box-flex:1;-webkit-flex:1;flex:1;font-size:.6rem;text-indent:.3rem;white-space:nowrap;overflow:hidden;-webkit-text-overflow:ellipsis;text-overflow:ellipsis}
.activities-list li .desc time{display:block;width:6rem;text-align:center}
.activities-list li .label{position:absolute;left:-1.1rem;top:.6rem;width:4.4rem;height:1.1rem;line-height:1.1rem;background:#f57821;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);text-align:center;color:#fff}
.goods-list{width:15.4rem;margin:0 auto;padding:.3rem .3rem 0;}
.goods-list li{margin-bottom:.6rem;-webkit-border-radius:5px;border-radius:5px;border:solid 1px #d9d9d9;color:#969696;position:relative;padding:5px 0;background:#fff;}
.goods-list li a{display:block}
.goods-list .options:after{display:inline-block;content:"";width:.4rem;height:.4rem;margin-top:2.3rem;border:solid #858585;border-width:2px 2px 0 0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.goods-list .web-btn{position:absolute;bottom:0;left:0;width:100%;}
.goods-list .web-btn a{-webkit-border-radius:0;border-radius:0}
.ad-pic{width:16rem;height:2.8rem;margin:0 auto;position:relative;background-repeat:no-repeat;background-position:0 0;-webkit-background-size:contain;background-size:contain;}
.ad-pic a{position:relative;display:block;height:100%}
.ad-pic i{position:absolute;left:.25rem;top:.15rem;z-index:10;display:block;width:.8rem;height:.8rem;background:url("../img/i_close.png") no-repeat 0 0;-webkit-background-size:contain;background-size:contain}
.scroll-banner{width:16rem;height:6.66665rem;margin:0 auto;position:relative;}
.scroll-banner .pic{position:relative;height:6.66665rem;overflow:hidden;}
.scroll-banner .pic ul{position:absolute;left:0;top:0}
.scroll-banner .pic li{float:left;}
.scroll-banner .pic li img{height:100%}
.scroll-banner .pic li a{position:relative;display:block;width:16rem;height:6.66665rem;overflow:hidden}
.scroll-banner .pic li span{position:relative;top:-1rem;background:rgba(0,0,0,0.3);display:block;padding:0 .5rem;line-height:1rem;color:#fff;overflow:hidden;white-space:nowrap;-webkit-text-overflow:ellipsis;text-overflow:ellipsis;font-size:.5rem}
.scroll-banner .handle{position:absolute;right:.6rem;bottom:.3rem;z-index:1000;}
.scroll-banner .handle span{display:inline-block;width:.3rem;height:.3rem;background:#fff;margin-left:.3rem}
.scroll-banner .handle .on{background:#e05a3f}
.tj-webapp{width:16rem;margin:0 auto;}
.tj-webapp ul{padding:0 .15rem 0 .25rem;overflow:hidden}
.tj-webapp li{float:left;margin-top:.2rem;}
.tj-webapp li:nth-child(2n+1){margin-right:.2rem}
.tj-webapp li a{display:block;width:7.7rem;height:4.5rem}
.tj-webapp li img{height:100%}
.jf-links{width:16rem;margin:0 auto;}
.jf-links ul{display:-webkit-box;-webkit-box-orient:horizontal}
.jf-links li{-webkit-box-flex:1;border-bottom:solid 1px #e9e9e9;height:3.2rem;overflow:hidden;}
.jf-links li a{display:block;height:3.2rem;background:#fff}
.jf-links li span{display:table-cell;width:8rem;height:3.2rem;vertical-align:middle;text-align:center}
.jf-links li img{max-height:100%}
.jf-links li:first-child a{border-right:solid 1px #e9e9e9}
.amigo-mall{width:16rem;margin:.5rem auto 0;}
.amigo-mall img{max-height:3.7rem}
.serv-pipe{width:16rem;margin:2px auto 0;}
.serv-pipe ul{display:-webkit-box;background:#f9f9f9}
.serv-pipe li{-webkit-box-flex:1;padding:.4rem 0;width:25%;}
.serv-pipe li a{display:block;color:#7b7b7b;border-right:solid 1px #ececec;padding:0 .6rem}
.serv-pipe li:last-child a{border-right:0}
.serv-pipe li img{width:1.2rem;margin-right:.2rem;vertical-align:middle}
wrapmall{display:block;margin-top:.5rem}
#cod wrapcodSearch,#cod wraplist{display:block;width:15.4rem;margin:0 auto;padding:0 .3rem}
.cod-search{padding-top:.5rem;}
.cod-search form{display:-webkit-box;-webkit-box-orient:horizontal}
.cod-search input{display:block;border:solid #afafaf;border-width:1px 0 1px 1px;height:.8rem;padding:.5rem .3rem;margin:0;-webkit-box-flex:1;font-size:.7rem}
.cod-search button{width:2.3rem;height:1.9rem;border:solid 1px #afafaf;background:#eceeee url("../img/i_search.png") no-repeat center;-webkit-background-size:1.15rem;background-size:1.15rem}
.cod-item{margin-top:.5rem;background-color:#fff;}
.cod-item figure{display:block;width:15.4rem;}
.cod-item figure img[src$="blank.gif"]{height:3.7rem !important}
.cod-item figure .c-main{float:left;width:100%}
.cod-item figure .c-sub{float:left}
.cod-item.pic-left .c-main .pic{margin-right:5.3rem}
.cod-item.pic-left .c-sub{width:5.25rem;margin-left:-5.25rem}
.cod-item.pic-right .c-main .pic{margin-left:5.3rem}
.cod-item.pic-right .c-sub{width:5.25rem;margin-left:-100%}
.cod-item .color1.desc{background-color:#f57766}
.cod-item .color2.desc{background-color:#be85f8}
.cod-item .color3.desc{background-color:#4ec0e5}
.cod-item .color4.desc{background-color:#f39160}
.cod-item .color5.desc{background-color:#4bcea7}
.cod-item .color6.desc{background-color:#7bcc5b}
.cod-item .color7.desc{background-color:#f76591}
.cod-item .pic{position:relative;}
.cod-item .pic img{height:3.7rem;position:relative}
.cod-item .pic a{display:block}
.cod-item .pic .mask{background-color:rgba(0,0,0,0.5);color:#fff;width:100%;height:.8rem;line-height:.8rem;text-indent:.2rem;font-size:.55rem;position:absolute;z-index:5;left:0;bottom:0}
.cod-item .desc{height:3.7rem;background:url("../img/i_skip.png") no-repeat 3.6rem 2.3rem;-webkit-background-size:1rem;background-size:1rem;}
.cod-item .desc a{display:block;height:100%}
.cod-item .desc h3{font-size:.8rem;color:#fff;padding:.4rem .3rem}
.cod-item .detail ul{overflow:hidden;background:#fff;border:solid #e4e4e4;border-width:0 1px 1px;}
.cod-item .detail ul li{float:left;width:50%;}
.cod-item .detail ul li a{display:block;border-top:dashed 1px #ddd;padding:.6rem .4rem .4rem;color:#3f3f3f}
.cod-item .detail ul li .active{background:rgba(0,0,0,0.08)}
.cod-item .detail ul li:nth-child(1) a,.cod-item .detail ul li:nth-child(2) a{border-top:0;color:#e54d4b}
.cod-item .detail ul li:nth-child(2n) a{border-left:dashed 1px #ddd}
.brand-list{-webkit-box-sizing:border-box;box-sizing:border-box;width:16rem;margin:0 auto;}
.brand-list:first-child ul{padding-top:.3rem}
.brand-list ul{width:15.5rem;padding-left:.35rem;overflow:hidden;}
.brand-list ul li{width:4.9rem;float:left;border:1px solid #ededed;margin-left:.25rem;margin-bottom:.25rem;overflow:hidden}
.brand-list ul li:nth-of-type(3n+1){margin-left:0}
.brand-list .pic{width:4.9rem;height:3.8rem;display:table-cell;text-align:center;vertical-align:middle;overflow:hidden;position:relative;}
.brand-list .pic img{width:100%;height:100%}
.brand-list .pic .mask{width:100%;height:100%;display:inline-block;position:absolute;top:0;left:0;}
.brand-list .pic .mask.active{background:rgba(0,0,0,0.05)}
.brand-banner{width:16rem;height:8.5rem;margin:0 auto;}
.brand-banner .pic{margin:.25rem 0 0 .35rem;width:15.4rem;height:8.25rem;display:inline-block;text-align:center;overflow:hidden;}
.brand-banner .pic img{width:100%;height:100%}
.brand-desc{width:16rem;margin:0 auto .3rem;background-color:#fff;-webkit-border-radius:0;-webkit-border-radius:0;border-radius:0;}
.brand-desc .pic{display:inline-block;clear:both;width:4.5rem;height:1.5rem;margin-left:.6rem;margin-top:.3rem;overflow:hidden;}
.brand-desc .pic img{width:100%;height:100%}
.brand-desc .desc{padding:.3rem;text-indent:2em;font-size:.7rem;color:#888;line-height:1.5}
.brand-goods-list{width:16rem;margin:0 auto;overflow:hidden;}
.brand-goods-list li{width:7.6rem;margin-bottom:.3rem;-webkit-box-sizing:border-box;box-sizing:border-box;background:#fff;border:1px solid #ededed;}
.brand-goods-list li:nth-of-type(2n+1){float:left;margin-left:.3rem}
.brand-goods-list li:nth-of-type(2n){float:right;margin-right:.3rem}
.brand-goods-list li a{display:block;}
.brand-goods-list li a .pic{position:relative;text-align:center;height:7.6rem;overflow:hidden;}
.brand-goods-list li a .pic .img-wrap{display:table-cell;width:7.6rem;height:7.6rem;vertical-align:middle;position:relative;border:none;}
.brand-goods-list li a .pic .img-wrap .price{position:absolute;right:.1rem;bottom:.1rem;height:.8rem;line-height:.8rem;background-color:rgba(0,0,0,0.3);color:#fff;text-align:center;font-size:.45rem}
.brand-goods-list li a .pic img{max-width:100%;width:7.6rem;max-height:100%;height:7.6rem;border:none}
.brand-goods-list li a .caption{margin-bottom:.4rem;padding:.35rem .15rem;line-height:1.5;height:1.5rem;color:#888;font-size:.6rem;overflow:hidden}
.cat-search{width:16rem;margin:0 auto;height:2.05rem;background:#747474;padding:.22000000000000003rem .3rem;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.cat-search form{height:1.5rem;background:#fff;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;-webkit-align-items:center;-webkit-box-align:center;-webkit-box-align:center;box-align:center;-webkit-flex-align:center;flex-align:center;-webkit-align-items:center;align-items:center;}
.cat-search form input{-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;height:100%;padding-left:.4rem;width:14rem;font-size:14px;color:#b9b9b9;-webkit-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.cat-search a{display:inline-block;width:1.1rem;height:1.1rem;background:url("../img/ico_search.jpg") no-repeat center;-webkit-background-size:contain;background-size:contain}
.goodshop-list{background:#efefef}
.goodshop{width:16rem;margin:.35rem auto;position:relative;background:#fff;}
.goodshop .serial{position:absolute;top:0;left:0;line-height:1.15rem;text-align:center;color:#fff;font-size:.45rem}
.goodshop .cont{display:block;padding:.55rem .55rem .55rem .65rem;}
.goodshop .cont .header{display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;display:-webkit-box;display:box;}
.goodshop .cont .header .logo{width:1.95rem;height:1.95rem;display:table-cell;vertical-align:middle;overflow:hidden;}
.goodshop .cont .header .logo img{width:100%;max-width:100%;height:auto}
.goodshop .cont .header .intro{-webkit-flex:1;-webkit-box-flex:1;box-flex:1;-webkit-flex:1;flex:1;-webkit-box-flex:1;box-flex:1;padding-left:.75rem;display:block;}
.goodshop .cont .header .intro h2{font-size:.7rem;line-height:1rem;color:#161616}
.goodshop .cont .header .intro p{font-size:.6rem;line-height:1rem;color:rgba(22,22,22,0.5);word-break:break-word;overflow:hidden;white-space:nowrap;-webkit-text-overflow:ellipsis;text-overflow:ellipsis}
.goodshop .cont .header .aside{width:1.75rem;text-align:center;}
.goodshop .cont .header .aside .ico-collect{margin-top:.45rem}
.goodshop .cont .pics{list-style:none;overflow:hidden;max-height:4.75rem;}
.goodshop .cont .pics li{float:left;width:4.75rem;margin-left:.25rem;}
.goodshop .cont .pics li:nth-child(3n-2){margin-left:0}
.goodshop .cont .pics li img{width:100%;max-width:100%;height:auto}
.goodshop .cont .header + .pics{margin-top:.5rem}
.slide-wrap{width:16rem;margin:0 auto}
.slide-tab-box{position:relative;}
.slide-tab-box .slide-right{background:url("../img/ico-arrow-mask.png") center center no-repeat;-webkit-background-size:contain;background-size:contain;position:absolute;width:1.3rem;top:0;right:0;bottom:0;text-align:center;}
.slide-tab-box .slide-right .ico-arrow-right{margin-top:.5rem}
.slide-tab-box .slide-tab{overflow-x:auto;overflow-y:hidden;width:auto;white-space:nowrap;background:#fff;}
.slide-tab-box .slide-tab li{text-align:center;display:inline-block;padding:0 .45rem;}
.slide-tab-box .slide-tab li a{color:#888;font-size:.7rem;display:inline-block;height:1.65rem;line-height:1.65rem;border-bottom:2px solid transparent}
.slide-tab-box .slide-tab li.active a{border-bottom:2px solid #f63}
wrapscrolllist{display:block;position:relative}
.mask-layer{position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.6)}
.tempt-list{width:16rem;margin:0 auto;padding:.35rem 0;background:#fff;}
.tempt-list h3{font-size:.65rem;color:#444;padding:.45rem 0 .45rem .35rem;text-indent:.5rem;height:.8rem;line-height:.8rem;}
.tempt-list h3 .ico-divider{float:left;margin-top:2px}
.tempt-list ul{padding:0 .35rem;overflow:hidden;}
.tempt-list ul li{float:left;width:7.475rem;margin-right:.35rem;}
.tempt-list ul li:nth-child(2n){margin-right:0}
.tempt-list ul li a{display:table-cell;width:7.475rem;height:4.3rem;vertical-align:middle;text-align:center;}
.tempt-list ul li a img{width:auto;max-width:100%;max-height:100%}
.tempt-list ul li p{color:#282828;text-align:center;padding:.45rem 0 .55rem 0}
.merchant-wrap{width:16rem;margin:0 auto;position:relative}
.merchant-list{position:absolute;overflow:hidden;background:#fff;width:16rem;min-height:2.3rem;z-index:100;}
.merchant-list li{-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left;width:4rem;text-align:center;height:2.3rem;line-height:2.3rem;white-space:nowrap;border-right:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;overflow:hidden;}
.merchant-list li:nth-child(1),.merchant-list li:nth-child(2),.merchant-list li:nth-child(3),.merchant-list li:nth-child(4){border-top:0}
.merchant-list li:nth-child(4n-3){border-left:1px solid #e9e9e9}
.merchant-list li.selected{color:#f63}
.activity-theme-wrap{width:16rem;margin:0 auto;height:4.8rem;background:url("../img/activity-theme-header.jpg") no-repeat 0 0;-webkit-background-size:100% 100%;background-size:100% 100%;position:relative;overflow:hidden;}
.activity-theme-wrap .search{position:absolute;top:.75rem;right:1.5rem;width:7rem;height:2rem}
.activity-theme-wrap .nav{display:-webkit-box;display:box;display:-webkit-flex;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;list-style:none;position:absolute;bottom:.3rem;left:0;right:0;}
.activity-theme-wrap .nav li{-webkit-box-flex:1;-webkit-flex:1;width:33.333%;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 .4rem;}
.activity-theme-wrap .nav li a,.activity-theme-wrap .nav li span{height:1.33333rem;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-top:.45rem;display:block;text-align:center;font-size:.7rem;font-weight:bold;color:#f34259}
.activity-theme-wrap .nav li.selected{border-bottom:2px solid #6d0a17;}
.activity-theme-wrap .nav li.selected a,.activity-theme-wrap .nav li.selected span{color:#6d0a17}
#home .tj-webapp,#cod .tj-webapp,#bargain .tj-webapp,#home .amigo-mall,#cod .amigo-mall,#bargain .amigo-mall,#home .ico-list,#cod .ico-list,#bargain .ico-list{background:#fbf9e4}
#home .tj-webapp > ul,#cod .tj-webapp > ul,#bargain .tj-webapp > ul{background:#8ad6d8;}
#home .tj-webapp > ul li:nth-of-type(1),#cod .tj-webapp > ul li:nth-of-type(1),#bargain .tj-webapp > ul li:nth-of-type(1),#home .tj-webapp > ul li:nth-of-type(2),#cod .tj-webapp > ul li:nth-of-type(2),#bargain .tj-webapp > ul li:nth-of-type(2){margin-top:0}
#home .tj-webapp > ul li:nth-of-type(3),#cod .tj-webapp > ul li:nth-of-type(3),#bargain .tj-webapp > ul li:nth-of-type(3),#home .tj-webapp > ul li:nth-of-type(4),#cod .tj-webapp > ul li:nth-of-type(4),#bargain .tj-webapp > ul li:nth-of-type(4){margin-bottom:.2rem}
#home .amigo-mall,#cod .amigo-mall,#bargain .amigo-mall{margin-top:0 !important;padding-top:.5rem}
#home .ico-list h2,#cod .ico-list h2,#bargain .ico-list h2{color:#6d6667;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
#home .ico-list li a em,#cod .ico-list li a em,#bargain .ico-list li a em{color:#6d6667}
#home wrapmall,#cod wrapmall,#bargain wrapmall{margin-top:0;}
#home wrapmall .ico-list h2,#cod wrapmall .ico-list h2,#bargain wrapmall .ico-list h2{margin-top:.5rem}
