<{config_load file="site.conf"}>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><{#siteName#}> 管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<frameset rows="76,*" framespacing="0" border="0"> 
    <frame src="/index.php/top/index" id="header-frame" name="header-frame" frameborder="no" scrolling="no" noresize="noresize"> 
    <frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body"> 
        <frame src="/index.php/menu/index" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes" noresize="noresize"> 
        <frame src="/index.php/drag/index" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no" noresize="noresize"> 
        <frame src="/index.php/info/index" id="main-frame" name="main-frame" frameborder="no" scrolling="yes" noresize="noresize">
    </frameset>
</frameset>
<noframes></noframes>
</head>
<body>
</body>
</html>