<!-- BEGIN SIDEBAR -->
		<div id="sidebar" class="nav-collapse collapse">
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

			<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
			<div class="navbar-inverse">
				<form class="navbar-search visible-phone">
					<input type="text" class="search-query" placeholder="Search" />
				</form>
			</div>
			<!-- END RESPONSIVE QUICK SEARCH FORM -->
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="sidebar-menu">
				<li class="has-sub <% if(menuLevel == 'dashboard') { %>active<% } %>">
					<a href="javascript:;" class="">
					    <span class="icon-box"> <i class="icon-dashboard"></i></span> 系统
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li <% if(menuIndex == 'index') { %>class="active"<% } %>><a class="" href="/admin/index">Dashboard 1</a></li>
                        <li <% if(menuIndex == 'index2') { %>class="active"<% } %>><a class="" href="/admin/index2">Dashboard 2</a></li>

                    </ul>
				</li>
				<li class="has-sub <% if(menuLevel == 'ui') { %>active<% } %>">
					<a href="javascript:;" class="">
					    <span class="icon-box"> <i class="icon-book"></i></span> 运营
					    <span class="arrow"></span>
					</a>
					<ul class="sub">
						<li <% if(menuIndex == 'general') { %>class="active"<% } %>><a class="" href="/admin/ui/general">General</a></li>
						<li <% if(menuIndex == 'buttons') { %>class="active"<% } %>><a class="" href="/admin/ui/buttons">Buttons</a></li>
                        <li <% if(menuIndex == 'jquery') { %>class="active"<% } %>><a class="" href="/admin/ui/jquery">jQuery UI Component</a></li>
						<li <% if(menuIndex == 'tabs') { %>class="active"<% } %>><a class="" href="/admin/ui/tabs">Tabs & Accordions</a></li>
						<li <% if(menuIndex == 'typography') { %>class="active"<% } %>><a class="" href="/admin/ui/typography">Typography</a></li>
						<li <% if(menuIndex == 'tree') { %>class="active"<% } %>><a class="" href="/admin/ui/tree">Tree View</a></li>
						<li <% if(menuIndex == 'nestable') { %>class="active"<% } %>><a class="" href="/admin/ui/nestable">Nestable List</a></li>
					</ul>
				</li>
				<li class="has-sub <% if(menuLevel == 'components') { %>active<% } %>">
					<a href="javascript:;" class="">
					<span class="icon-box"><i class="icon-cogs"></i></span> 导航
					<span class="arrow"></span>
					</a>
					<ul class="sub">
                        <li <% if(menuIndex == 'Calendar') { %>class="active"<% } %>><a class="" href="/admin/components/calendar">Calendar</a></li>
                        <li <% if(menuIndex == 'grids') { %>class="active"<% } %>><a class="" href="/admin/components/grids">Grids</a></li>
                        <li <% if(menuIndex == 'charts') { %>class="active"<% } %>><a class="" href="/admin/components/charts">Visual Charts</a></li>
                        <li <% if(menuIndex == 'messengers') { %>class="active"<% } %>><a class="" href="/admin/components/messengers">Conversations</a></li>
                        <li <% if(menuIndex == 'gallery') { %>class="active"<% } %>><a class="" href="/admin/components/gallery"> Gallery</a></li>
                    </ul>
				</li>
                <li class="has-sub <% if(menuLevel == 'forms') { %>active<% } %>">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class="icon-tasks"></i></span> 新闻
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li <% if(menuIndex == 'layout') { %>class="active"<% } %>><a class="" href="/admin/forms/layout">Form Layouts</a></li>
                        <li <% if(menuIndex == 'component') { %>class="active"<% } %>><a class="" href="/admin/forms/component">Form Components</a></li>
                        <li <% if(menuIndex == 'wizard') { %>class="active"<% } %>><a class="" href="/admin/forms/wizard">Form Wizard</a></li>
                        <li <% if(menuIndex == 'validation') { %>class="active"<% } %>><a class="" href="/admin/forms/validation">Form Validation</a></li>
                        <!--<li <% if(menuIndex == 'upload') { %>class="active"<% } %>><a class="" href="/admin/forms/upload">Dropzone File Upload </a></li>-->
                    </ul>
                </li>
                <li class="has-sub <% if(menuLevel == 'tables') { %>active<% } %>">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class="icon-th"></i></span> 浏览器
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li <% if(menuIndex == 'basic') { %>class="active"<% } %>><a class="" href="/admin/tables/basic">Basic Table</a></li>
                        <li <% if(menuIndex == 'manage') { %>class="active"<% } %>><a class="" href="/admin/tables/manage">Managed Table</a></li>
                        <li <% if(menuIndex == 'edit') { %>class="active"<% } %>><a class="" href="/admin/tables/edit">Editable Table</a></li>
                    </ul>
                </li>
                <li class="has-sub <% if(menuLevel == 'portlets') { %>active<% } %>">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class=" icon-qrcode"></i></span> 聚合页
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li <% if(menuIndex == 'general') { %>class="active"<% } %>><a class="" href="/admin/portlets/general">General Portlets</a></li>
                        <li <% if(menuIndex == 'draggable') { %>class="active"<% } %>><a class="" href="/admin/portlets/draggable">Draggable Portlets</a></li>
                    </ul>
                </li>

				<li class="has-sub <% if(menuLevel == 'icons') { %>active<% } %>">
	               <a href="javascript:;" class="">
	               <span class="icon-box"><i class="icon-fire"></i></span> 统计
	               <span class="arrow"></span>
	               </a>
	               <ul class="sub">
	                  <li <% if(menuIndex == 'awesome') { %>class="active"<% } %>><a class="" href="/admin/icons/awesome">Font Awesome</a></li>
                      <li <% if(menuIndex == 'glyphicons') { %>class="active"<% } %>><a class="" href="/admin/icons/glyphicons">Glyphicons</a></li>
	               </ul>
	            </li>
				<!--<li class="has-sub <% if(menuLevel == 'maps') { %>active<% } %>">
					<a href="javascript:;" class="">
					<span class="icon-box"><i class="icon-map-marker"></i></span> Maps
					<span class="arrow"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="maps_google.html"> Google Maps</a></li>
						<li><a class="" href="maps_vector.html"> Vector Maps</a></li>
					</ul>
				</li>-->
				<!--<li class="has-sub <% if(menuLevel == 'pages') { %>active<% } %>">
					<a href="javascript:;" class="">
					<span class="icon-box"><i class="icon-file-alt"></i></span> Sample Pages
					<span class="arrow"></span>
					</a>
                    <ul class="sub">
                        <li><a class="" href="blank.html">Blank Page</a></li>
                        <li><a class="" href="sidebar_closed.html">Sidebar Closed Page</a></li>
                        <li><a class="" href="coming_soon.html">Coming Soon</a></li>
                        <li><a class="" href="blog.html">Blog</a></li>
                        <li><a class="" href="news.html">News</a></li>
                        <li><a class="" href="about_us.html">About Us</a></li>
                        <li><a class="" href="contact_us.html">Contact Us</a></li>
                        <li><a class="" href="email_templates.html">Email Templates</a></li>
                    </ul>
				</li>
                <li class="has-sub <% if(menuLevel == 'extras') { %>active<% } %>">
                    <a href="javascript:;" class="">
                        <span class="icon-box"><i class="icon-glass"></i></span> Extra
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li <% if(menuIndex == 'lock') { %>class="active"<% } %>><a class="" href="/admin/icons/lock"><a class="" href="/admin/extras/lock">Lock Screen</a></li>
                        <li <% if(menuIndex == 'profile') { %>class="active"<% } %>><a class="" href="/admin/icons/profile"><a class="" href="/admin/extras/profile">Profile</a></li>
                        <li <% if(menuIndex == 'invoice') { %>class="active"<% } %>><a class="" href="/admin/icons/invoice"><a class="" href="/admin/extras/invoice">Invoice</a></li>
                        <li <% if(menuIndex == 'pricing') { %>class="active"<% } %>><a class="" href="/admin/icons/pricing"><a class="" href="/admin/extras/pricing">Pricing Tables</a></li>
                        <li <% if(menuIndex == 'inbox') { %>class="active"<% } %>><a class="" href="/admin/icons/inbox"><a class="" href="/admin/extras/inbox">Inbox</a></li>
                        <li <% if(menuIndex == 'search') { %>class="active"<% } %>><a class="" href="/admin/icons/search"><a class="" href="/admin/extras/search">Search Result</a></li>
                        <li <% if(menuIndex == 'faq') { %>class="active"<% } %>><a class="" href="/admin/icons/faq"><a class="" href="/admin/extras/faq">FAQ</a></li>
                        <li <% if(menuIndex == 'err404') { %>class="active"<% } %>><a class="" href="/admin/icons/err404"><a class="" href="/admin/extras/404">404 Error</a></li>
                        <li <% if(menuIndex == 'err500') { %>class="active"<% } %>><a class="" href="/admin/icons/err500"><a class="" href="/admin/extras/500">500 Error</a></li>
                    </ul>
                </li>
				<li <% if(menuIndex == 'login') { %>class="active"<% } %>><a class="" href="/admin/login"><span class="icon-box"><i class="icon-user"></i></span> Login Page</a></li>-->
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->