<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Dropzone Page</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="/admin/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="/admin/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="/admin/assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
   <link href="/admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link href="/admin/css/style.css" rel="stylesheet" />
   <link href="/admin/css/style_responsive.css" rel="stylesheet" />
   <link href="/admin/css/style_default.css" rel="stylesheet" id="style_color" />

   <link href="/admin/assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="/admin/assets/uniform/css/uniform.default.css" />

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/admin/assets/dropzone/css/dropzone.css" rel="stylesheet"/>
    <!-- END PAGE LEVEL STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
   <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <% include _slidebar.html %>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div id="sidebar" class="nav-collapse collapse">

         <div class="sidebar-toggler hidden-phone"></div>   

         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
         <!-- BEGIN SIDEBAR MENU -->
          <ul class="sidebar-menu">
              <li class="has-sub">
                  <a href="javascript:;" class="">
                      <span class="icon-box"> <i class="icon-dashboard"></i></span> Dashboard
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="index.html">Dashboard 1</a></li>
                      <li><a class="" href="index_2.html">Dashboard 2</a></l