<!-- include 'header' -->
<table width="100%" border="0" cellpadding="3" cellspacing="1" class="tableOutborder">
  <tr class="tableHeader">
    <td align="middle"><strong>{{project_title}} v {{project_version}}</strong></td>
  </tr>

  <tr class="bg_0">
    <td style="padding: 20px ">     
      <br>
      版本：v {{project_version}} <br>
      <br>
      本项目的需求提供者：{{project_offer}}<br>
      <br>
      开发人员：{{project_developer}}<br>

      <br>
      使用用户对象：相关后台操作人员 <br>
      <br>
      <br>
      <br>
      <font color="#FF0000"><em><strong></strong></em></font></td>
  </tr>
</table>
<!-- include 'footer' -->