
@charset "utf-8";
@import "compass/css3";
@import "_reset";
$px:0.05rem;
::-webkit-scrollbar{width:0px; height:0px;}
html{
	height:100%;
}
body{font-size:.6rem; height:100%;}
.holiday-preheationg{
	height: 100%;
	width: 100%;
	background-size: 100% 100%;
	background-color: #ccc;
}
.date-content{
	p{
		color:#fff;
		text-align:center;
		&.title{
			font-size:18px;
			padding-bottom:20px;
		}
		&.date{
			font-size:33px;
		}
	}
	top: 20%;
	width:100%;
	position: absolute;
}
.activity-title{
	top:53%;
	color:#3e935b;
	position: absolute;
	padding:0px 30px;
	h2{
		padding-bottom:10px;
	}
	p{
		line-height:22px;
	}
}
.but{
	bottom:40px;
	text-align:center;
	position: absolute;
	width:100%;
	input{
		font-size:14px;
		color:#8e582d;
		padding:11px 50px;
		background-color:#ffbb39;
		border:1px solid #ffdd57;
		@include border-radius(5px);
	}
}