
@charset "utf-8";
@import "compass/css3";
@import "_reset";
$px:0.05rem;
::-webkit-scrollbar{width:0px; height:0px;}
body{font-size:.6rem;background:#e6ab5a; }
body#prize-rule-container{background:#ffc587;}
.multi-line-omit{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.holiday-activity{
	.poster{
		height:220px;
		img{
			height:100%;
		}
		margin-bottom:3px;
	}
	.poster-small{
		h1{
			top: 90px;
			left: 10px;
			color: #fff;
			font-size:20px;
			font-weight: bold;
			position: absolute;
		}
		height:133px;
		position: relative;
	}
	.download{
		.poster-small{
			img{
				height:100%;
			}
			h1{
				color:#2e7142;
			}
			padding-bottom:10px;
		}
		.row{
			.frame{
				display:inline-block;
				width:50%;
				.game-list{
					h2{
						font-size:12px;
						color:#a2570d;
						margin-bottom:16px;
						max-height:46px;
					}
					h1{
						color:#a2570d;
						font-size:15px;
						margin-bottom:20px;
						table-layout: fixed;
   					 	word-break: break-all;
   					 	max-height:44px;
					}
					img{
						width:100px;
						height:100px;
						padding-bottom:10px;
					}
					input{
						padding:0px;
						width:100%;
						max-width:100px;
					}
					background:#ffe8bd;
					margin:0px 5px;
					@include border-radius(4px);
					padding:18px 18px 15px 18px;
					text-align:center;
				}
				@media screen and(max-width:360px){
					width:49%;
					&:nth-child(2){
						float:right;
					}
				}
				
			}
			margin:0px 10px;
		}

		@include border-radius(3px);
		background-color:#fff;
		margin:0px 5px 5px 5px;
		padding-bottom:13px;
		font-size:0px;
	}
	.prize{
		margin:6px 5px 0px 5px;
		padding:18px 0px 26px 0px; 
		background-color:#ffe5b2;
		@include border-radius(3px);
		text-align: center;
		font-size:0px;
		.title{
			margin:0px 10px 36px 10px;
			text-align:left;
			h1{
				font-size:16px;
				margin-bottom:13px;
				font-weight: bolder;
			}
			p{
				font-size:12px;
			}
			word-break:break-all;
			i,em{font-style:italic!important;}
			b{font-weight:bold!important;}
			u{text-decoration:underline!important;}
			s{text-decoration:line-through!important;}
			ul li{list-style:initial; margin-left:1rem!important;}
			ol li {list-style:decimal; margin-left:1rem!important;}
			span,p,h1,h2,h3,h4,h5{white-space: normal!important;}
			span,p{
			line-height: 18px;
			}
			img{
			padding-top: 5px;
			max-width: 100%!important;
			width: auto;
			height: auto;
			display: block;
			margin: 0 auto;
			}
			table{margin:4px 0;max-width:300px!important;}
			h1,h2,h3{font-size: 1.2rem!important;line-height: 1.5rem;}
			h4,h5,h6{font-size: 1.2rem!important;line-height: 1.3rem;}
			color:#a2570d;
		}

		.frame{
			width:33.33%;
			@include inline-block;
			@media screen and(max-width:360px){
				width:33%;
				&:nth-child(1){
					float:left;
				}
				&:nth-child(3){
					float:right;
				}
			}
			h1{
				padding-top:18px;
				font-size:12px;
				color:#a2570d;
				line-height: 12px;
				text-align:center;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			margin-bottom:25px;
		}
		.frame:nth-child(3){
			.pig{
				p{
					font-size: 12px;
					transform: scale(1);
					line-height: 38px;
					padding-left:5px;
					top:0px;
					left:0px;
				}
			}

		}
		.pig{
			.details{
				margin-top:3px;
				-moz-box-shadow:0px 0px 18px #f5be52 inset;            
				-webkit-box-shadow:0px 0px 18px #f5be52 inset;         
				box-shadow: 0px 0px 18px #f5be52 inset;
				height:40px;
				position: relative;
				p{
					font-size: 12px;
					transform: scale(0.6);
					position: relative;
					left: -17px;
  					top: -8px;
  					line-height: 18px;
					color: #9b5000;
					span{
						color:#ff0000;
					}
					white-space: nowrap;
					@media screen and(max-width:360px){
						transform: scale(0.5);
					}
					@media screen and(max-width:300px){
						transform: scale(0.4);
					}
				}

				.smiling{
					width:25px;
					height:15px;
					background-image:url(../img/holiday/smiling.png);
					background-size:100% 100%;
					display:block;
					position: absolute;
					top: 12px;
					right: 5px;
				}
				.it{
					width:23px;
					height:14px;
					background-image:url(../img/holiday/it.png);
					background-size:100% 100%;
					display:block;
					position: absolute;
					top: 12px;
					right: 5px;

				}
			}
			img{
				height:98px;
				@media screen and(max-width:320px){
					height:80px;
				}
			}
			background-color:#fff;
			@include border-radius(5px);
			padding:3px;
			margin:0px 5px;
			-moz-box-shadow: 1px 2px 5px #f5be52;            
			-webkit-box-shadow: 1px 2px 5px #f5be52;  
			box-shadow: 1px 2px 5px #f5be52;

		}
		.info{
			background-color:#f8d798;
			padding:18px;
			@include border-radius(5px);
			font-size:12px;
			color:#a2570d;
			margin:0px 5px 15px 5px;
			word-break:break-all;
			i,em{font-style:italic!important;}
			b{font-weight:bold!important;}
			u{text-decoration:underline!important;}
			s{text-decoration:line-through!important;}
			ul li{list-style:initial; margin-left:1rem!important;}
			ol li {list-style:decimal; margin-left:1rem!important;}
			span,p,h1,h2,h3,h4,h5{white-space: normal!important;}
			span,p{
			line-height: 18px;
			}
			img{
			padding-top: 5px;
			max-width: 100%!important;
			width: auto;
			height: auto;
			display: block;
			margin: 0 auto;
			}
			table{margin:4px 0;max-width:300px!important;}
			h1,h2,h3{font-size: 1.2rem!important;line-height: 1.5rem;}
			h4,h5,h6{font-size: 1.2rem!important;line-height: 1.3rem;}
			color:#a2570d;
			text-align: left;
		}
		.but{
			text-align:center;
		}
		font-size:0px;
		margin-bottom:6px;
	}
	.sign{
		.poster-small{
			h1{
				color:#a2570d;
			}
			margin-bottom:22px;
		}
		.date{
			ul{
				li{
					&.be-overdue{
						color:#929292;
						background-color:#cdcdcd;
					}
					&.same-day{
						color:#fff;
						position: relative;
						background-color:#e23535;
						&:before{
							content:"";
							border-right: 16px solid transparent;
							border-top: 16px solid #ff6d6d;
							height: 0px;
							position: absolute;
							display: inline-block;
							background-color: #fff;
							bottom: 0px;
							right: 0px;
						}
						&:after{
							content:"";
							top: 3px;
							right: 3px;
							width:17px;
							height:15px;
							position:absolute;
							background-image:url(../img/holiday/heart.png);
							background-size:100%;
						}
					}
					&.signed{
						color: #fff;
						position: relative;
						background-color:#5db077;
						&:before{
							content:"";
							border-right: 16px solid transparent;
							border-top: 16px solid #86e4a4;
							height: 0px;
							position: absolute;
							display: inline-block;
							background-color: #fff;
							bottom: 0px;
							right: 0px;
						}
					}
					color: #a2570d;
					width: 19%;
					height: 60px;
					display: inline-block;
					text-align: center;
					background-color: #ffd88d;
					line-height: 60px;
					font-size: 24px;
					margin: 0px 0.5%;
					margin-bottom: 7px;
					-moz-box-shadow: 1px 2px 5px #cdcdcd;
					-webkit-box-shadow: 1px 2px 5px #cdcdcd;
					box-shadow: 1px 2px 5px #cdcdcd;
				}
				padding:0px 10px;
			}
			font-size:0px;
			margin-bottom:43px;
		}
		.explain{
			color:#a2570d;
			font-size:14px;
			margin: 0px 12px;
			padding-bottom:33px;
		}
		.task-type{
			color:#a2570d;
			font-size:14px;
			margin: 0px 12px;
			padding-bottom:13px;
			span{
				color:#ff2d2d;
			}
		}
		margin:0px 5px 6px 5px;
		@include border-radius(4px);
		background-color:#fff;
		padding-bottom:20px;
	}
	.list-of-prizes{
		.poster-small{
			padding-bottom:18px;
		}
		.roll-padding{
			padding-bottom: 20px;
		}
		.msg{
			p{
				color:#a2570d;
				font-size:12px;
				line-height:26px;
				padding:0px 10px;
				span{
					color:#ff2d2d
				}
			}
			overflow: hidden;
			max-height: 260px;
			position: relative;
			p:nth-of-type(odd){ background-color:#fff3dd;}
			p:nth-of-type(even){ background:#fff;}
		}
		background-color:#fff;
		margin:0px 5px 6px 5px;
		@include border-radius(4px);
	}
}
.but-explain,.but-start,.but-download,.but-entity,.but-a{
	border-top: 2px solid #f88080;
	border-right: 2px solid #d13333;
	border-bottom: 2px solid #c22f2f;
	border-left: 2px solid #d13333;
	background-color: #e23737;
	height: 35px;
	font-size: 16px;
	color: #fff;
	padding: 0px 35px;
	@include border-radius(5px);
}
.layer{
	top:0px;
	left:0px;
	height:100%;
	position:fixed;
	margin:0px 5px;
	display:none;
	img{
		top: 20%;
		height: 120px;
		position: relative;
		z-index: 99;
	}
}
.layer-bg-black{
	position: fixed;
	top: 0px;
	width: 100%;
	left: 0px;
	height:100%;
	background-color: #000;
	opacity: 0.4;
}

.btn-container{
 	.msg{
 		padding-bottom:20px;
 	}
 	.error{
 		color:#e23737;
 		display:none;
 	}
 	.but-entity{
 		width:70%;
 		margin-bottom:15px;
 	}
 	color:#aaaaaa;
 	position:relative;
 	text-align:center;
 	background-color:#fff;
 	padding-bottom: 20px;
 	margin-top:-1px;
 	@include border-radius(0px 0px 5px 5px);
 	input{
 		width:70%;
 		&.negative{
 			color:#929292;
 			border-top: 2px solid #e8e8e8;
			border-right: 2px solid #bdbdbd;
			border-bottom: 2px solid #afafaf;
			border-left: 2px solid #bdbdbd;
 			background-color:#cccccc
 		}
 		-moz-box-shadow: 1px 2px 5px #cdcdcd;
		-webkit-box-shadow: 1px 2px 5px #cdcdcd;
		box-shadow: 1px 2px 5px #cdcdcd;
 	}
}
.btn-container.double{
	input{
		float:left;
		margin-left:10px;
	  	width: 42%;
		padding: 0px;
	}
	input:nth-child(2){
		float:right;
		margin-right:10px;
	}
	height: 36px;
}
.layer-window{
 	.addressinfo-container,.title{
		color:#737373;
		font-size:15px;
		background:#fff;
		padding:8px 14px 20px 14px;
		.address-tips{
			margin-bottom:8px;
			display:block;
		}
		.ad-info{
			em{
				display:inline-block;
				width:3.2rem;
				text-align:left;
			}
			margin-bottom:5px;display:-webkit-box;-webkit-box-align:center;
		}
		.btn-input{
			-webkit-box-flex:1;
			width:100%;
			display:block;
			padding:6px;color:#525252;
			margin:0 5px;background:#fff;
			@include box-shadow(0 0 1px 0 #ababab);
		}
		.btn-textarea{
			height: auto;resize:none;
		}
		.msg{
			color:#a3a3a3;
			font-weight: 100;
  			font-size: 14px;
		}
		padding:10px;
		position: relative;
	}
	.img-container{
		padding:10px 10px 20px 10px;
		background-color:#fff;
		position:relative;
		.tips{
		  	display: block;
	  	    padding: 15px 0px;
		    font-size: 14px;
		    text-align: center;
		  	span{
		  		color:#ff0000;
		  	}
		}
		.head{
			color:#a3a3a3;
			padding-bottom:15px;
		}
		@include border-radius(5px 5px 0px 0px);
	}
	&.prompt{
		margin-top:40%;
	}
	width:90%;
	margin: 10% 5% 0px 5%;

}

#layerEntitySuccess,#layerNot,#integral,#voucher,#layerPig{
	margin-top:35%;		
}
#layerPig{
	.btn-container{
		font-size: 18px;
		padding-top:26px;
	}
}
#layerEntity{
	top:auto;
	height:auto;
	margin-top:0px;
	position: absolute;
}
#layerEntity{
	.img-container{
		padding-bottom:10px;
	}
	.img-container .tips{
		span{
			color: #ff0000;
			line-height: 17px;
			font-size: 13px;
		}
		padding-bottom:0px;
	}
}
.holiday-rule{
	.info{
		padding:18px;
		font-size:13px;
		color:#a2570d;
		p,div{
			line-height:22px;
		}
	}
	@include border-radius(5px);
	margin:5px 5px 5px 5px;
	background-color:#f8d798;
	min-height:100%;
}

