
@charset "utf-8";
@import "compass/css3";
@import "_reset";
$px:0.05rem;
::-webkit-scrollbar{width:0px; height:0px;}
html{
	height:100%;
}
body{font-size:.6rem;background:#e6ab5a; height:100%;margin:5px 5px 5px 5px;}
.holiday-rule{
	.info{
		padding:18px;
		font-size:13px;
		color:#a2570d;
		word-break:break-all;
		i,em{font-style:italic!important;}
		b{font-weight:bold!important;}
		u{text-decoration:underline!important;}
		s{text-decoration:line-through!important;}
		ul li{list-style:initial; margin-left:1rem!important;}
		ol li {list-style:decimal; margin-left:1rem!important;}
		span,p,h1,h2,h3,h4,h5{white-space: normal!important;}
		span,p{
			line-height:22px;
		}
		img{
		padding-top: 5px;
		max-width: 100%!important;
		width: auto;
		height: auto;
		display: block;
		margin: 0 auto;
		}
		table{margin:4px 0;max-width:300px!important;}
		h1,h2,h3{font-size: 1.2rem!important;line-height: 1.5rem;}
		h4,h5,h6{font-size: 1.2rem!important;line-height: 1.3rem;}
	}
	@include border-radius(5px);
	background-color:#f8d798;
	min-height:100%;
}