html {
	-webkit-text-size-adjust: none;
	color: #333;
	background: #fcfcfc
}

a {
	text-decoration: none;
	color: #333
}

.mask,.dialog {
	display: none
}

.hd {
	height: 1.8rem;
	padding-top: .9rem;
	background: #f89a00;
	background: -webkit-linear-gradient(top, #ffc000, #ff9000);
}

.hd h1 {
	height: 1.8rem;
	background: -webkit-linear-gradient(top, #f89a00, #ff9000);
	text-align: center;
	z-index: 1
}

.hd h1 strong {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: normal;
	color: #fff;
	margin-top: -0.3rem
}

.ct {
	padding: 1.1rem .8rem 0
}

.ct section {
	border: solid 1px #cacaca;
	border-radius: 10px;
	background: #fff
}

.ct section li {
	height: 4.5rem;
	padding: 0 1.1rem;
	border-bottom: solid 1px #cacaca
}

.ct section li:last-child {
	border-bottom: 0
}

.ct section li span {
	display: table-cell;
	height: 4.5rem;
	vertical-align: middle;
	font-size: 1.1rem;
	line-height: 4.5rem;
}

.ft {
	margin: 4rem .8rem 1.5rem
}

.ft .pay-ways {
	border: solid 1px #cacaca;
	border-radius: 10px
}

.ft .pay-ways li a,.ft .pay-ways li span {
	display: block;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: .75rem 0 .75rem 7.5rem;
	position: relative
}

.ft .pay-ways li:nth-child(1) {
	border-bottom: solid 1px #cacaca
}

.ft .pay-ways li:nth-child(1) img {
	width: 5.1rem;
	height: 1.7rem;
}

.ft .pay-ways li:nth-child(2) img {
	width: 3.8rem;
	height: 2.4rem;
}

.ft .pay-ways li i {
	display: inline-block;
	width: 5.2rem;
	vertical-align: middle;
	margin-left: -7rem
}

.ft .pay-ways li em {
	font-size: 1.1rem
}

.ft .pay-ways li s {
	position: absolute;
	right: .7rem;
	top: 1.6rem;
	width: .6rem;
	height: 1.1rem;
	background: url(ico_jt.png) no-repeat center;
	background-size: 100%
}

.has-tip .mask {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	opacity: .5;
	display: block;
	z-index: 1000
}

.has-tip .dialog {
	position: absolute;
	width: 100%;
	top: 35%;
	display: block;
	z-index: 1001
}

.has-tip .dialog .main {
	width: 20.7rem;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	border: solid 1px #3f3f3f;
	box-shadow: 0 2px 5px #3f3f3f
}

.has-tip .dialog p {
	height: 8rem;
	width: 20.7rem;
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.has-tip .dialog p span {
	font-size: 1.1rem;
	line-height: 1.5
}

.has-tip .dialog .btn {
	padding: .3rem 0 .5rem;
	text-align: center;
	border-top: solid 1px #d1d1d1
}

.has-tip .dialog .btn a {
	display: inline-block;
	padding: .75rem;
	background: -webkit-linear-gradient(top, #ffba00, #ff9000);
	border-radius: 5px;
	box-shadow: 0 2px 5px #999
}

.has-tip .dialog .btn a span {
	font-size: 1rem;
	color: #fff
}