img[src$="blank.gif"]{
	background:#bbbbbb inline-image("../img/default_bg.png") no-repeat center center;
}
.load-more{
	background:#232323;margin-top:.2rem;
	span{
		background:inline-image("../img/ico_loadMore.png") no-repeat 0 0;background-size:1.2rem;
	}
	img{width: 2rem;}
}