@charset "utf-8";

header{
	.menu{
		li{
			float:left;
			width:144px;
			color:#595959;
			text-align:center;
			padding:7px 0px;
			&.on{
				color:#fff;
				background-color:#ff9518;
				@include border-radius(3px);
			}
			span{
				color:#595959;
				font-size:18px;
				padding:0px 10px;
				&.on{
					color:#fff;
					background-color:#ff9518;
					@include border-radius(3px);
				}
			}

		}
		padding-top: 16px;
		font-size:20px;
		float:right; 
	}
	padding:31px 40px 31px 80px;
	background-color:#fff;
}