/***********************************************
 * reset
 ***********************************************/
@charset "utf-8";
html{font-size:20px; -webkit-text-size-adjust:none;}
@media all and (min-width:359px){.uc-hack{font-size:22.5px;}}
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5){html{font-size:22.5px;}}
body{font:1rem/1 "\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",SimSun,Tahoma,Helvetica,Arial,sans-serif;}
$px:0.05rem;

html,body,div,span,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,
a,em,img,small,strike,strong,form,label,canvas,footer,header,nav,output
{margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0); font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

fieldset,img{border:none;}
a{text-decoration:none;}
table{border-collapse:collapse; border-spacing:0;}

ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1rem; font-weight:normal;line-height: 1rem;}

a:focus, input, textarea{outline:none; border:0;}
input,button,textarea,select{font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif; font-size:inherit; font-weight:inherit; outline:none;}
img,input,button,select{vertical-align:middle;}
textarea{resize:none;}

b{font-weight:normal;}
i,em{font-style:normal;}
