@charset "utf-8";
@import "compass/css3";
@import "common";
@import "reset";
@import "header";
@import "footer";
@import "index";
@import "pgwslider";

.omit{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.company{
	&.content{
		border:1px solid #dfdfdf;
		margin:0px 12px;
		background-color:#fff;
		@include border-radius(5px);
		margin-bottom:10px;
		line-height:26px;
		.title{
			font-size:16px;
			color:#acacac;
			padding: 25px 5px 25px 15px;
			word-wrap: break-word;
		}
	}
}
.content{
	h1{
		border-left:5px solid #ff9518;
		padding:0px 15px;
		font-size:24px;
		color:#595959;
		&.blue{
			border-left:5px solid #20b7e9;
		}
		&.purple{
			border-left:5px solid #a342ef;
		}
		&.green{
			border-left:5px solid #48cc2e;
		}
		&.pink{
			border-left:5px solid #ed4aa7;
		}
	}
	&.news{
		h1{
			margin-bottom:10px;
		}
		.new{
		    color: #595959;
		    font-size: 18px;
	        padding: 30px 0px 20px;
		    border-bottom: 1px dotted #d3d3d3;
		}
	}
	h2{
		font-size:18px;
		color:#8f8f8f;
		padding: 15px 5px 40px 15px;
	}
	h3{
		padding-top:26px;
		font-size:22px;
		color:#595959;
	}
	ul{
		li{
			display:inline-block;
			width: 33%;
			text-align:center;
		}
	}
	.ping{
		a{
			&.on{
				color:#fff;
				background-color:#ff9518;
			}
			color:#595959;
			padding: 0px 5px;
    		border-radius: 3px;
		}
		input{
			background-color:#fff;
			color:#595959;
			border:1px solid #cdcdcd;
		}
		text-align:center;
		font-size:18px;
		margin-top:60px;
	}
	padding:30px 21px;
	border:1px solid #dfdfdf;
	border-bottom:0px;
	margin:0px 12px;
	background-color:#fff;
	@include border-radius(5px 5px 0px 0px);
}
.flexslider{
    margin: 0px auto 12px;
    height:600px;
}
.flexslider.company,.flexslider.contact-us{
	text-align:center;
	img{
		width:85%;
	    margin-left: 7.5%;
	}
	height:auto;
}
.contact-us{
	.info{
		color:#595959;
		font-size:16px;
		padding: 15px 5px 40px 20px;
		p{
			line-height:30px;
		}
	} 
}
html,body{
	margin:0px;
	padding:0px;
}
body{
	background-color:#f6f6f6;
}
.web{
	display:block;
}
.phone{
	display:none;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

@media screen and(max-width:1470px){
	header {
		.menu{
			li{
				width:122px;
				font-size:18px;
			}
		}
		padding-left:60px;
		padding-right:10px;
	}
	.flexslider{
		img{
			width:1470px;
		}
		height: 459px;
	}

	.content ul{
		img{
			width:90%;
		}

	}
	.content{
		h1{
			font-size:20px;
		}
		h2{
			font-size:14px;
		    padding-bottom:30px;
		}
		h3{
			font-size:18px
		}
	}
	.company.content .title{
		font-size:14px;
	}
	footer {
		p{
			font-size:15px;
			padding-bottom:20px;
		}
    	padding: 35px 0px;
	}
}
@media screen and(max-width:1280px){
	header{
		padding-left:20px;
		padding-right:5px;
	 	.menu{
			li{
				span{
					font-size:16px;
				}
				width:109px;
				font-size:18px;
			}
			padding-top: 18px;
		}
	}
	.flexslider{
		img{
			width:1280px;
		}
		height: 400px;
	}

	.content ul{
		img{
			width:90%;
		}
		li{
			width:32.5%;
		}
	}
	.content{
		h1{
			font-size:20px;
		}
		h2{
			font-size:14px;
		    padding-bottom:30px;
		}
		h3{
			font-size:18px
		}
		&.news .new{
			font-size:16px;
		    padding: 20px 0px 15px;
		}
	}
	.company.content .title{
		font-size:14px;
	}
	.contact-us .info{
	    padding: 25px 5px 30px 20px;
	}
	footer {
		p{
			font-size:14px;
			padding-bottom:12px;
		}
    	padding: 25px 0px;
	}
}
@media screen and(max-width:1024px){
	header{
		padding-left:15px;
		padding-right:0px;
	 	.menu{
			li{
				span{
					font-size:14px;
				}
				width:109px;
				font-size:16px;
			}
		    padding-top: 20px;
		}
	}
	.flexslider{
		img{
			width:1024px;
		}
	    height: 320px;
	}

	.content ul{
		img{
			width:90%;
		}
	}
	.content{
		h1{
			font-size:18px;
		}
		h2{
			font-size:12px;
		    padding-bottom:20px;
		}
		h3{
			font-size:16px
		}
		&.news .new{
			font-size:14px;
		}
	}
	.contact-us .info{
	    padding: 15px 5px 30px 20px;
	}
	.company.content .title{
		font-size:12px;
	}
}
@media screen and(min-width:260px)and(max-width:763px){
	.index, .companys, .news, .contact-us{
	 	min-width:auto;
	}
	.web{
		display:none;
	}
	.phone{
		display:block;
	}
	header{
		img{
			display:none;
		}
		.menu{
			li{
		    	span{
					font-size:12px;
					&.on{
						color:#ff9518;
						background-color:#fff;
						@include border-radius(0px);
					}
				}
				&.on{
					color:#ff9518;
					border-bottom:1px solid #ff9518;
					background-color:#fff;
					@include border-radius(0px);
				}
		    }
			text-align:center;
	      	height: 42px;
			float:none;
		    padding:0px;

		}
		padding:0px;
	}
	#bannerCtrl{
		display:none;
	}

	.contact-us{
		.contact-us{
			height: auto;
			img{
			    width: 98%;
			    margin-left: 1%;
			}
		}
		.blue{
			font-size:15px;
		}
		.info p{
		    font-size: 14px;
	   		line-height: 33px;
		}
	}
	.content{
		margin:0px;
		padding:12px;
		border:0px;
		h1{
			font-size:13px;
		}
		h2{
			font-size:12px;
		    padding-bottom:30px;
		}
		h3{
			font-size:16px
		}
		&.news .new{
			font-size:14px;
		}
		ul{
			li{
				width:49%;
				.omit{
					padding-top:15px;
					font-size:13px;
				}
				padding-bottom:15px;
			}
		}
	}
	.content ul{
		img{
			width:90%;
		}
	}
	.company.content{
		.title{
			font-size:12px;
			padding-top:15px;
			padding-bottom:15px;
		}
		
		margin:0px;
		padding:12px;
		border:0px;
	}
	.contact-us .info{
	    padding: 15px 5px 30px 20px;
	}
	footer p{
		font-size:12px;
	}
}
@media screen and(max-width:736px){
	header{
	 	.menu{
			li{
				float: none;
				display: inline-block;
				width:80px;
				font-size:14px;
				padding: 14px 0px;
			}
		}
	}
	
	.flexslider{
		img{
			width:736px;
		}
		
		margin-bottom:0px;
	    height: 460px;
	}
	.companys{
		.flexslider{
			height: 230px;
		}
	}
	
}
@media screen and(max-width:600px){
	header{
	 	.menu{
			li{
				float: none;
				display: inline-block;
				width:80px;
				font-size:14px;
				padding: 14px 0px;
			}
		}
	}
	
	.flexslider{
		img{
			width:600px;
		}
		
		margin-bottom:0px;
	    height: 375px;
	}
	.companys{
		.flexslider{
			height: 160px;
		}
	}
	
}
@media screen and(max-width:512px){

	header{
		img{
			display:none;
		}
	 	.menu{
			li{
				float: none;
				display: inline-block;
				width:80px;
				font-size:14px;
				padding: 14px 0px;
			}
			text-align:center;
	      	height: 42px;
			float:none;
		    padding:0px;
		}

	}
	
	.flexslider{
		img{
			width:512px;
		}
		
		margin-bottom:0px;
	    height: 320px;
	}
	.companys{
		.flexslider{
			height: 160px;
		}
	}

}
@media screen and(max-width:414px){
	.index, .companys, .news, .contact-us{
	 	min-width:auto;
	}
	header{
	 	.menu{
			li{
				float: left;
			   	width:25%;
				font-size:14px;
				padding: 14px 0px;
				span{
					padding:5px;
				}
			}
	      	height: 42px;
			float:none;
		    padding:0px;
		}
	}
	.flexslider{
		img{
			width:414px;
		}
		
		margin-bottom:0px;
        height: 260px;
	}
	.companys{
		.flexslider{
			height: 130px;
		}
	}
}
@media screen and(max-width:360px){
	.index, .companys, .news, .contact-us{
	 	min-width:auto;
	}
	header{
	 	.menu{
			li{
				float: left;
			   	width:25%;
				font-size:14px;
				padding: 14px 0px;
				span{
					padding-right:6px;
				}
			}
	      	height: 42px;
			float:none;
		    padding:0px;
		}
	}
	.flexslider{
		img{
			width:360px;
		}
		
		margin-bottom:0px;
        height: 225px;
	}
	.companys{
		.flexslider{
			height: 112px;
		}
	}
}
@media screen and(max-width:320px){
	.index, .companys, .news, .contact-us{
	 	min-width:auto;

	}
	header{
	 	.menu{
			li{
				float: left;
			   	width:25%;
				font-size:13px;
				padding: 14px 0px;
				span{
					padding-right:6px;
				}
			}
	      	height: 42px;
			float:none;
		    padding:0px;
		}
	}
	.flexslider{
		img{
			width:320px;
		}
		
		margin-bottom:0px;
        height: 200px;
	}
	.companys{
		.flexslider{
			height: 100px;
		}
	}
	.content{
		ul{
			padding:0px;
			li{
				width:100%;
				.omit{
					padding-top:15px;
					font-size:13px;
				}
				padding-bottom:15px;
			}
		}
	}
}