body{color:#444; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:14px; line-height:2;}
a{color:#00A0E9; text-decoration:none;}
a:hover{color:#f60;}

.site-header{border-bottom:solid 1px #A4D3F2;}
.site-header h1{float:left; margin:10px 0 10px 20px; _display:inline;}
.site-header h1 img{vertical-align:bottom;}
.site-header h1 .sub-title{font-weight:normal; font-size:12px; margin-left:10px; color:#999;}
.site-header nav{float:right; padding-left:20px; margin-top:40px;}
.site-header nav li{float:left; margin:0 8px; _display:inline;}

.site-content{}
.fn-zone{padding:10px 10px 10px 0;}
.side-bar{padding:10px; border:solid #A4D3F2; border-width:0 1px 1px; background:#F2F8FA; min-height:600px; _height:600px;}

.site-footer{margin-top:20px; padding:20px 0 30px; border-top:solid 1px #ccc;}
.site-footer p{text-align:center;}


.home .key{color:#80C269;}
.home .fn-zone{padding:20px 10px 0;}
.home .fn-zone h2{border-bottom:dashed 1px #ccc; margin-top:20px;}
.home .fn-zone dt{margin-top:20px;}
.home .core-show{float:left; width:660px; padding-left:10px;}
.home .ui-show{float:right; width:260px; padding-left:10px;}
.home .api-list dd{font-size:12px; padding-left:15px; margin-top:5px;}
.home .api-list dd i{display:inline-block; width:15px;}
.home .api-list i.long{width:60px;}
.home .join-us ul{font-size:12px; margin-top:10px; padding-left:20px;}

.quick-start article{padding:20px 10px 0;}
.quick-start article h2{margin-top:15px;}

.demo textarea{width:900px; height:30px; color:#999; font-size:12px; overflow:hidden; padding:10px;}
.demo dl{padding:10px 10px 0;}
.demo dd{text-indent:15px;}
.demo-box{margin-top:20px; padding:0 10px;}
.small{font-size:12px;}