body{
	overflow: auto;
}
.holiday-draw{
	min-width: 760px;
}
.holiday-draw table{
	width:100%;
	text-align:center;
	background-color:#fff;
}
.holiday-draw table.update{
	border-top:0px;
	border-right:0px;
	margin-bottom:0px;
}
.holiday-draw table.update td{
	height: 26px;
	width: auto;
	text-align: left;
	font-size: 14px;
	padding-left:20px;
	border:0px;
}
.holiday-draw table.update img{
	height:100px;
	width:100px;
}
.holiday-draw table tr td{
	height:100px;
	width:33.33%;
	border-top:0px;
	border-bottom:1px solid #ccc;
}
.location{
	padding-top:12px;
	display:block;
}
.holiday-draw h3{
	padding-bottom:20px;
}
.but-yellow{
	min-width: 88px;
	min-height: 32px;
	color: #333333;
	border-radius: 3px;
	border: 0px;
	background-color: #FFA500;
	text-align: center;
	cursor:pointer;
}
.but-yellow.but-blue{
	color:#fff;
	background-color:#32CD32;
}
div.ok .but-yellow{
	color:#fff;
	width:140px;
	background-color:#FF7F24;
}
div.ok{
	padding:20px 0px;
	text-align:center;
}
.prize-allocation{
	text-align:center;
}
.prize-allocation img{
	height: 130px;
	border: 1px solid #d4d4d4;
	padding: 2px;
	max-height: 130px;
	max-width: 130px;
}
.prize-allocation table{
	width:100%;
	text-align:left;
	
}
.prize-allocation td{
	border-bottom: 1px solid #ccc;
	padding:15px 0px;
	min-width:70px;
}
.prize-allocation .lottery-number{
	padding:15px 0px;
	text-align:left;
}
.hide{
	display:none;
}
.font-12{
	color: #666;
	margin-left:10px;
	font-size:12px;
}
.prize-allocation .but-yellow{
	min-width:140px;
	margin-top: 20px;
}
.space-left{
	padding:10px 0px 10px 20px;
	
}
.space-left img{
	width:180px;
	height:180px
}
.holiday-draw-block{
	padding:20px;
	
}
.holiday-task-border{
	width:100%;
	border-left:1px solid #e5e3e3;
	border-bottom:1px solid #e5e3e3;
}
.holiday-task-border td:nth-child(1){
	width:120px;
}
.holiday-task-border td{
	border-right:1px solid #e5e3e3;
	border-top:1px solid #e5e3e3;
	font-size: 14px;
}
.holiday-task-border .time{
	width:140px;
}
.holiday-task-border table.remove-border{
	border:0px;
}
.holiday-task-border table.remove-border tr td{
	border:0px;
}
table.add-task{

	min-width:700px;
}
table.add-task table tr{
	line-height: 32px;

}
table.add-task table input{
	width:120px;
}

table.add-task table td:nth-child(1){
	width:80px;
}
.holiady-title{
	text-align: center;
	line-height: 65px;
}
.holiady-title div{
	background-color:#ccc;
	display:inline-block;
	width: 100px;
	height:35px;
	margin:0px 30px;
	line-height: 35px;
}
.holiady-title div.on{
	background-color:#FF7F24;
}
.holiady-title div.pass{
	background-color:#32CD32;
}
.prize-task{
	min-width: 700px;
}
.prize-task img{
	width:118px;
	height:118px;
}
.prize-task table{
	margin:20px;
}
.prize-task.holiday-task-border td:nth-child(1){
	width:auto;
}
.add-news-prize{
	text-align:center;
}
.task-day{
	display:none;
	height:22px;
}
.task-day input{
	width:120px;
}