@charset "UTF-8";
@import "compass/css3";
@import "_reset";
body{background: #d3e0eb;color:#fff;}

h1{font-size: .7rem;}
p{font-size: .45rem;line-height: 14px;}

//活动宣传图
.header{
	.head_1{
		background: inline-image("../img/head_1.png");
	}
	.head_2{
		background: inline-image("../img/head_2.png");
	}
	.head_1,.head_2{
		background-size: 100% 156px;
		height: 156px;
	}
}

//页面主题部分
.instruction-container{
	position: relative;
	background: #cb2222;margin:8px 10px 10px;
	@include box-shadow(0 5px 3px rgba(0,0,0,.1));
	.newyear-tips{
		font-size: .5rem;color:#ffea00;margin-left:32px;
	}
	.instruction-title{
		h1.title{
			padding-left: 10px;font-size: .7rem;padding-top:16px;
		}
		.instruction-title-content{
			margin:16px 12px  10px 10px;line-height: 16px;
			font-size: .5rem;text-indent: 20px;
		}
	}
	//返利规则
	.instruction-content{
		margin:12px 12px 50px;display: none;
		.tips,.rule{
			font-size:.5rem;
			h1{font-size: .65rem;margin-top: 16px;margin-bottom: 4px;} 
			p{line-height: 18px;}
			.corner-mark{
				background: url("../img/corner-mark.png");
				width:300px;height: 85px;
				background-size: 100% 100%;
				margin:4px auto;
			}
		}
	}
	
	//收起展开按钮
	.btn-orange{
		@include btn(5.8rem,24px,.6rem,#f13c3c,#ffef00);
		display: block;float: right;margin-right: 4px;
		margin-bottom: 6px;
	}
}
.hotGame-container,.real-time-container{
	@include box-shadow(0 5px 3px rgba(0,0,0,.1));
	background: #fff;margin:8px 10px 10px;
	.title{
		background: #cb2222;height: 40px;line-height: 40px;
		padding-left: 10px;
	}
	.line{margin-left: 10px;}
}

//推荐游戏
.hotGame-container{
	background:#cb2222;
	.game-list{
		padding:16px 10px;
		a{display: block;}
		img{width:60px;height: 60px;}
		li{float: left;width:25%;text-align: center;margin-bottom: 10px;}
		.name{
			display: block;font-size:.55rem;color:#fff; 
			margin:5px 0; 
		}
	}
}

//实时返利情况
.real-time-container{
	.rebate-list{
		padding:8px 0 15px;color:#000;
		li{overflow: hidden;font-size: .55rem;padding:0 8px 0 10px;}
		span{float: left;height: 20px;line-height: 20px;width:33.3333%;}
		li.first-line{margin-bottom: 5px;}
		span.number{text-align: center;}
		span.time{text-align: right;}
	}
	.real-data{
		li:nth-child(2n){
			background: #f2f6f9;
		}
	}
}
//A币介绍
.aCoin-container{
	background:url("../img/acoin-bg.jpg");margin-top:6px;
	height: 196px;background-size:100% 196px;	
}
.line{
	font-size: 8px!important;position: relative;line-height: 20px;
	height: 20px;display: inline-block;
	&:after{
		background: inline-image("../img/icon-scissor.png");
		width:16px;height: 10px;content: '';
		background-size:100% 100%;
		position: absolute;right:-18px;top:4px;
	}
}
h1.title{
	position: relative;padding-top:12px;
	&:before{
		content: '';position: absolute;
		height:15px;left: -5px;right:-3px;top:-3px;
		background:inline-image("../img/icon-snow.png");
		background-size:100% 100%;
	}
}
hr{border-width:0px;border-top:1px solid #b21111!important;}
//页面底部
.footer{
	margin:0 auto;
	padding:14px 0 10px;
	text-align: center;
	font-size: .6rem;
	color:#fff;
	background: #c02020;
	.qrcode{
		background: url("../img/qrcode.png");
		background-size:100% 100%;
		margin:0 auto 8px;
		width:2.5rem;
		height: 2.5rem;
		display: block;
	}
	.info{
		display: inline-block;
		font-size: .5rem;
		p:last-child{
			margin-top: 3px;
		}
	}
	.copyright{
		margin-top: 5px;
		display: block;
		font-size: .45rem;
		color:#6f0e0e;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:3){
	h1.title{
		font-size: 14px!important;
	}
	
}
@media screen and (-webkit-max-device-pixel-ratio:1.5){
	.corner-mark{
		width:270px!important;
		height: 76px!important;
	}
	
}