@charset "UTF-8";
/**
 * @Author valleykid(valleykid@163.com)
 * @Date 2013-01-16
 * @Description core.css based on YUI & compass, for the kinds of mobiles
 */
/*
 * 1rem=20px for 320px(中低端分辨率).
 * 1rem=22.5px for 360px(高端分辨率).
 */
html {
  font-size: 20px;
  -webkit-text-size-adjust: none;
}

@media all and (min-width: 359px) {
  .uc-hack {
    font-size: 22.5px;
  }
}
@media all and (min-width: 359px) and (-webkit-min-device-pixel-ratio: 1.5) {
  html {
    font-size: 22.5px;
  }
}
/* @media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5) and (orientation:landscape){html{font-size:14px;}}
@media all and (max-width:320px) and (-webkit-device-pixel-ratio:1.5) and (orientation:landscape){html{font-size:14px;}} */
body {
  font: 1rem/1 "\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",Tahoma,Helvetica,Arial,sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
fieldset, form, label, legend, able, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

fieldset, img {
  border: none;
}

img {
  width: 100%;
  max-width: 16rem;
  height: auto;
}

a {
  text-decoration: none;
}

a, a:active {
  color: #333;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal;
}

ul, ol, dl, li, dt, dd {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: none;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

a:focus, input, textarea {
  outline: none;
  border: 0;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

img, input, button, select {
  vertical-align: middle;
}

textarea {
  resize: none;
}

/* fixed-width elements */
pre, code, kbd, samp, tt {
  font-family: "CourierNew",Courier,monospace;
}

/* reset HTML5 elements */
mark {
  background: #ff0;
}

/* the dead elements */
s, u {
  text-decoration: none;
}

b {
  font-weight: normal;
}

i {
  font-style: normal;
}

/***********************************************
 * Common Class
 ***********************************************/
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.floatleft {
  float: left !important;
}

.floatright {
  float: right !important;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
}

.clear {
  clear: both;
}

.oz {
  overflow: hidden;
}

/*only support webkit browser*/
/*public vars*/
/*color vars*/
/*text vars*/
/*space vars*/
/*screen min-width, min-height*/
/** =========================================  小说页面样式 ===============================================**/
.pnav-list {
  background: #fff;
  border: 1px solid #f1f1f1;
  margin: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.pnav-list img {
  width: 100%;
  height: 100%;
}

.nav-link-list {
  overflow: hidden;
  font-size: 0.65rem;
}
.nav-link-list .link-item-list {
  overflow: hidden;
}
.nav-link-list .link-item-list .cate .cate-title {
  height: 40px;
  line-height: 40px;
  color: #111;
  font-size: 0.75rem;
  border-bottom: 1px dotted rgba(232, 232, 232, 0.8);
  padding: 0 0 0 10px;
}
.nav-link-list .link-item-list .cate .mrb0 {
  margin-bottom: 0;
}
.nav-link-list .link-item-list .cate .cate-cont {
  border-bottom: 1px dotted rgba(232, 232, 232, 0.8);
  background: rgba(249, 246, 246, 0.4);
}
.nav-link-list .link-item-list .cate .cate-cont ul {
  padding: 7px 0;
  overflow: hidden;
}
.nav-link-list .link-item-list .cate .cate-cont ul li {
  float: left;
  width: 33%;
  margin: 7px 0;
  text-align: center;
  position: relative;
  border-left: 1px solid #f1f0ef;
}
.nav-link-list .link-item-list:last-child .cate-cont {
  border-bottom: none;
}

.novel-recommend {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #f1f0ef;
}
.novel-recommend .gray {
  display: inline-block;
  padding: 4px 15px;
  text-align: center;
  color: #646464;
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #dddddd);
  background-image: linear-gradient(top, #f8f8f8, #dddddd);
  border: 1px solid #bababa;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.novel-recommend .item-cont .item-icon {
  width: 88px;
  height: 136px;
  float: left;
}
.novel-recommend .item-cont .item-title, .novel-recommend .item-cont .item-star, .novel-recommend .item-cont .item-text, .novel-recommend .item-cont .item-side {
  padding-left: 98px;
}
.novel-recommend .item-cont .item-title {
  font-weight: bold;
  white-space: nowrap;
  padding-top: 1px;
}
.novel-recommend .item-cont .item-star {
  padding-top: 5px;
  padding-bottom: 5px;
}
.novel-recommend .item-cont .item-text {
  color: #969696;
  line-height: 20px;
  padding-right: 60px;
}
.novel-recommend .item-cont .item-side {
  margin-top: 5px;
}
.novel-recommend .item-cont .score-star span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/star1.png) no-repeat;
  background-size: cover;
}
.novel-recommend .item-cont .score-star.score4 span:nth-child(5), .novel-recommend .item-cont .score-star.score3 span:nth-child(4), .novel-recommend .item-cont .score-star.score3 span:nth-child(5), .novel-recommend .item-cont .score-star.score2 span:nth-child(3), .novel-recommend .item-cont .score-star.score2 span:nth-child(4), .novel-recommend .item-cont .score-star.score2 span:nth-child(5), .novel-recommend .item-cont .score-star.score1 span:not(:nth-child(1)), .novel-recommend .item-cont .score-star.score0 span {
  background: url(../img/star2.png) no-repeat;
  background-size: cover;
}

.novel-list {
  background: rgba(249, 246, 246, 0.4);
  position: relative;
  overflow: hidden;
  border-bottom: 1px dotted rgba(232, 232, 232, 0.8);
}
.novel-list .item a {
  display: inline-block;
  padding: 0 10px 0 10px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.novel-list .item i {
  margin-right: 10px;
  padding: 2px 6px;
  color: #fff;
  font-size: .6rem;
  text-align: center;
  background: #ebe9e9;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
.novel-list .item:nth-child(1) i {
  background: #ffa500;
}
.novel-list .item:nth-child(2) i {
  background: #f9c360;
}
.novel-list .item:nth-child(3) i {
  background: #f4d9a7;
}

#footer {
  clear: both;
  padding-top: 20px;
  margin-bottom: 30px;
  color: #969696;
  font-size: 0.5rem;
  text-align: center;
  padding-bottom: 10px;
  line-height: 1.8;
}
#footer .copyright span:first-child {
  line-height: 2.8;
}
#footer a {
  text-align: center;
  color: #969696;
}
#footer a:hover {
  text-decoration: underline;
}

.error-page {
  text-align: center;
  width: 14rem;
  margin: 6.5rem auto 1rem;
}
.error-page .icon img {
  width: 5rem;
  height: 5rem;
}
.error-page .tips {
  font-size: 1.2rem;
  color: #5c5c5c;
  margin: .7rem 0 1.5rem;
}
