.gift-preview-container{
	background:#ffd318;
	width: 360px;
	margin:40px auto;
	.gift-header-wrapper{
		font-size: 18px;
		background:#22292c;
		color:#fff;
		padding:12px;
	}
	.gift-banner-wrapper{
		width:100%;
		height:210px;
		padding-top:30px;
		background:url("../img/banner-bg.png");
		background-size:100% 100%;
		h1{
			margin: 0 auto 40px;
			width: 260px;
			background: url(../img/gift-text.png);
			height:50px;
			background-size: 100% 100%;
			text-indent: -9999px;
		}
		position: relative;
	}

	.scratch-container{
		position: absolute;
		width:225px;
		height:65px;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		background:url(../img/stratch-front.png);
		background-size:100% 100%;
	}

	.info-container{
		background-color: #ffd318;
		padding: 4px 8px 20px 8px;
	}

	.gift-info{
		color:#733a05;
		font-size:13px;
		h3{
			font-size: 14px;
			color:#fff;
			background:#f17722;
			margin:10px 0 12px;
			display: inline-block;
			padding:6px 18px;
			@include border-radius(20px);
		}
	}
	.gift-info>div{
		line-height:1.3;
	}
	
}
#closePreviewDialog{
	display: inline-block;
	color:#fff;
	font-size:18px;
	margin-right:5px;
	padding:0 4px;
}