body#login-page {
	background: #535a62 url("../img/login-bg.jpg") no-repeat;	/* 背景图垂直、水平均居中 铺满整个屏幕 */
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
//登录
.login-container {
	height: 330px;
	width: 860px;
	margin: 0 auto;
	position: absolute;
	//水平垂直居中
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	[class^="login-content-"] {
		float: left;
		width: 50%;
		height: 100%;
		@include box-sizing(border-box);
	}
	.login-content-left {
		padding: 0 40px;

		.text-container {
			margin: 100px 0;
			color: #e4e4e4;

			.text-gionee {
				font-family: 'Goudy Stout Oblique', 'Goudy Stout';
				font-weight: 400;
				font-style: oblique;
				font-size: 38px;
			}
			.text1 {
				font-weight: 700;
				font-style: normal;
				font-size: 38px;
			}
			.text2 {
				font-weight: 700;
				font-style: normal;
				font-size: 22px;
				margin-top: 20px;
			}
		}
	}
	.login-content-right {
		border-left: 1px solid #fff;

		.login-box {
			margin-left: 54px;
			padding: 62px 50px;
			border: 1px solid #fff;

			h1 {
				font-size: 16px;
				font-weight: bold;
				color: #e4e4e4;
				margin-bottom: 26px;
			}
			p {
				color: #e4e4e4;
				font-size: 13px;
				margin: 2px auto 12px;
			}
			.btn-login {
				width: 254px;
				height: 33px;
				color: #333;
				font-size: 15px;
				text-align: center;
				font-weight: bold;
				@include border-radius(2px);
				border: 0px;
				background: #f2f2f2;
				@include box-shadow(3px 3px 6px #333);
				outline: none;
				cursor: pointer;

				&:hover, &:active {
					background: #666;
					color: #f2f2f2;
				}
			}
		}
	}
}
//登录出错提示框
.dialog-error-container {
	// margin: 310px auto auto;
	text-align: center;
	width: 480px;
	background: #fff;
	height: 240px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	position: fixed;

	h1 {
		height: 34px;
		line-height: 34px;
		font-size: 15px;
		color: #f2f2f2;
		font-weight: bold;
		background: #666;
	}
	p {
		margin: 58px auto 40px;
		color: #333;
		font-size: 13px;

		.icon-info {
			background: url("../img/icon-info.png") no-repeat;
			width: 44px;
			height: 44px;
			display: inline-block;
			background-size: 100% 100%;
			vertical-align: middle;
			margin-right: 20px;
		}
	}
	.btn-ok {
		font-size: 13px;
		font-weight: bold;
		color: #fff;
		height: 25px;
		line-height: 25px;
		width: 130px;
		@include border-radius(3px);
		outline: none;
		border: 0px;
		margin-bottom: 26px;
		background: #666;

		&:hover, &:active {
			background: #000;
		}
	}
	.btn-small {
		width: 80px;
	}
	.btn-ok+.btn-ok {
		margin-left: 20px;
	}
}