/*pages*/
.pages {
	line-height: 21px;
	height: 21px;
	margin: 20px auto;
}
.pages a, .pages b {
	display: block;
	float: left;
	margin-right: 3px;
	text-decoration: none;
}
.pages a {
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	padding: 0 7px;
	color: #666;
}
.pages b, .pages a:hover, .pages .current {
	background-color: #336699;
	color: #ffffff;
	border: 1px solid #2b434f;
	text-decoration: none;
	padding: 0 7px;
}
.pages .fl {
	color: #666;
	padding: 0 6px 0 3px;
}
.pages input {
	padding: 0;
	float: left;
	border: 1px solid #e0e0e0;
	background: #ffffff;
	padding: 2px;
	float: left;
	margin: 0 2px 0 0;
	height: 17px;
	width: 22px;
}
.pages button {
	height: 23px;
	line-height: 23px;
	background-color: #ffffff;
	padding: 0 4px;
	color: #666;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	float: left;
	margin: 0;
	overflow: visible;
	_overflow: auto;
}
.fr .pages {
	_float: right;
}

/*ie6*/
.fl {
	float: left;
}
.pages a.pages_pre {
	padding-left: 16px;
	background: #fff url(../img/pre.png) 7px center no-repeat;
}
.pages a.pages_pre:hover {
	padding-left: 16px;
	background-color: #336699;
}
.pages a.pages_next {
	padding-right: 16px;
	background: #fff url(../img/next.png) 58px center no-repeat;
}
.pages a.pages_next:hover {
	padding-right: 16px;
	background-color: #336699;
}