#waterfall {
	margin: 50px auto;
	margin-top: 0px;
	position: relative;
}
.appmsg {
	position: relative;
	overflow: hidden;
	border: 1px solid #e7e7eb;
	background-color: #fff;
	color: #666;
	width: 300px;
	position: absolute;
	display: block;
	margin: 0 16px 20px 16px;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.appmsg_info {
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 10px;
}
.appmsg_date {
	font-weight: 400;
	font-style: normal;
}
.appmsg-content {
	padding: 0 14px;
	position: relative;
	*zoom: 1;
}
.appmsg_title {
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	padding-top: 10px;
	line-height: 28px;
	max-height: 56px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all;
}
.appmsg_title a {
	display: block;
	color: #666;
}
.appmsg_thumb_wrp {
	height: 160px;
	overflow: hidden;
}
.appmsg_thumb {
	width: 100%;
	height: 100%;
}
.appmsg_desc {
	padding: 5px 0 10px;
	word-wrap: break-word;
	word-break: break-all;
}
.appmsg_opr {
	background-color: #f4f4f4;
	border-top: 1px solid #e7e7eb;
}
.appmsg_opr ul {
	overflow: hidden;
	*zoom: 1;
}
.appmsg_opr_item {
	float: left;
	line-height: 44px;
	height: 44px;
	width: 50%;
}
.appmsg_opr_item a {
	display: block;
	border-right: 1px solid #e7e7eb;
	text-align: center;
	text-decoration: none;
	color: gray;

	&:hover {
		color: #333;
	}
}
.no_extra {
	a {
		border: 0px solid !important;
	}
}
.appmsg_opr_item a:hover {
	text-decoration: none;
}
.appmsg_item {
	*zoom: 1;
	position: relative;
	padding: 20px 14px;
	border-top: 1px solid #e7e7eb;
}
.appmsg_item:after {
	content: "\200B";
	display: block;
	height: 0;
	clear: both;
}
.appmsg_item .appmsg_title {
	line-height: 24px;
	max-height: 48px;
	overflow: hidden;
	*zoom: 1;
	margin-top: 14px;
}
.appmsg_item .appmsg_thumb {
	float: right;
	width: 78px;
	height: 78px;
	margin-left: 14px;
}
.multi .appmsg_info {
	padding-top: 14px;
	padding-left: 14px;
	padding-right: 14px;
}
.multi .appmsg_content {
	padding: 0;
}
.multi .appmsg_title {
	font-size: 14px;
	padding-top: 0;
}
.cover_appmsg_item {
	position: relative;
	margin: 0 14px 14px;
}
.cover_appmsg_item .appmsg_title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#99000000', endcolorstr ='#99000000');
}
.cover_appmsg_item .appmsg_title a {
	padding: 0 8px;
	color: #fff;
}

.appmsg_mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	filter: alpha(opacity = 60);
	-moz-opacity: .6;
	-khtml-opacity: .6;
	opacity: .6;
	z-index: 1;
}
.appmsg.selected .appmsg_mask{
	display: block!important;
}
.appmsg .icon_card_selected {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -23px;
	margin-left: -23px;
	line-height: 999em;
	overflow: hidden;
	z-index: 1;
}
.dialog_wrp .appmsg:hover {
	cursor: pointer;
}
.appmsg:hover .appmsg_mask {
	display: block;
}
.appmsg.selected .appmsg_mask {
	display: block;
}
.appmsg.selected .icon_card_selected {
	display: inline-block;
}
.appmsg_thumb.default {
	display: block;
	color: #c0c0c0;
	text-align: center;
	line-height: 160px;
	font-weight: 400;
	font-style: normal;
	background-color: #ececec;
	font-size: 16px;
}
.appmsg_item .appmsg_thumb.default {
	line-height: 78px;
	font-size: 14px;
}



.icon-add{
	width:100%;
	height:100%;
	display:inline-block;
	font-style:normal;
	font-size:36px;
	color: gray;
}



//图文编辑预览
.preview_area{
	float:left;
	h2{
		font-size: 15px;
		font-weight: bold;
	}
	.appmsg{
		margin:12px 0;
		position: relative;
	}
	.appmsg-content{
		padding-bottom:14px;
		.cover_appmsg_item{
			margin-bottom: 14px;
		}
	}
	.appmsg_thumb{display:none;}
	.appmsg_thumb .default{
	  	color: #c0c0c0;
	  	text-align: center;
	  	line-height: 160px;
	  	font-weight: 400;
	  	font-style: normal;
	  	background-color: #ececec;
	}
	.default{display: block!important;}
	.has_thumb{
		display: block!important;
	}
	.multi{
		.create_access_primary {
		  display: block;
		  border: 2px dotted #d9dadc;
		  line-height: 60px;
		  text-align: center;
		  margin-bottom: 20px;
		}
		.appmsg_add {
		  margin: 20px 14px;
		}

		.appmsg_item:last-child{
			border-bottom:1px solid #e7e7eb;
		}
	}

	.appmsg_edit_mask {
	  /* display: none; */
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	  

	}

}


//图文编辑 编辑区域
.edit-area{
	float: right;
	width:50%;
	position: relative;
	margin-right:160px;
	h2{
		font-size: 15px;
		font-weight: bold;
	}
	.editing-container{
		margin:12px 0;
		border:1px solid #e7e7eb;
		background:#f2f2f2;
		padding:36px;
		position: relative;
	}
	.album{
		display: block;
		max-height: 100px;
		max-width: 100px;
	}

	.edit-column-container{
		.text{
			display: inline-block;
			margin-right: 40px;
			vertical-align: top;

		}
		.input{width:300px;height:26px;color:#000;}
		.asterisk{display:inline-block;margin:0 2px;}
		.textarea{
			height: 140px;
			padding:4px;
			outline: none;
		}
	}

	.album-container{
		display: inline-block;
		margin-bottom: 6px;
		.text-tips{
			display: block;
			font-size: 12px;
			width:300px;
			margin-bottom: 4px;
			word-break: break-all;
		}
	}

	.address-container{
		display: inline-block;
		.radio+.radio{
			margin-left:66px;
			margin-bottom: 16px;
		}
		.btn-gift{
			width:190px;
		}
		.input-link{
			padding:2px 4px;
			height:30px;
		}
	}

	 .arrow_out {
	 	position: absolute;
	  	display: inline-block;
	  	width: 0;
	  	height: 0;
	  	border-width: 12px;
	  	border-style: dashed;
	  	border-color: transparent;
	  	border-left-width: 0;
	  	border-right-color: #e7e7eb;
	  	border-right-style: solid;
	  	top: 74px;
	  	left: -11px;
	}
	.btn-gift{outline:none;}
	.giftName{
		display: block;
		color:gray;
		margin:10px 0;
	}
}
