<style>
#gamelist{width:30%;background:#fff;border:1px solid #dedede;padding:5px;}
#gamelist li{width:100%;height:25px;line-height:25px;text-indent:15px;
             border-bottom:1px dashed #ccc;color:#666;cursor:pointer;}
</style>
<script src="{{rootUrl}}/js/games.js?ver={{staticVer}}" type="text/javascript"></script>
<div class="colMain">
            <div class="title"><p class="fl">产品信息</p></div>
<!--            <form action="/product/upd" method="post" name="form" id="product">-->
            <div class="main">
                <div class="app-detail">
                    <ul class="form">
                        
                        <li>
                            <span class="label">产品名：</span>
                            <div class="fc">
                                <input type="text" id="pname" name="pname" value="" class="iText required" />
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li>
                            <span class="label">APPKEY：</span>
                            <div class="fc">
                                <input type="text" id="appkey" onkeyup="getGameinfo('gametype','pappkey')" onfocus="getGameinfo('gametype','pappkey')" name="pappkey" value="" class="iText required" />
                                 <select id="gametype" onchange="getGameinfo('gametype','pappkey')">
                                     <option value="1" selected>名称</option>
                                     <option value="2">APPKEY</option>
                                 </select>
                                <input type="hidden" name="appkey_is_right" value="1">
                                <span class="red">*</span>
                                <ul id="gamelist" style="display:none;">

                                </ul>
                            </div>
                        </li>
                        <li>
                            <span class="label">包名：</span>
                            <div class="fc">
                                <input type="text" name="ppackage" id="ppackage" value="" class="iText" />
                            </div>
                        </li>
                        <li>
                            <span class="label">版本号：</span>
                            <div class="fc">
                                <input type="text" name="product_version" id="product_version" value="" class="iText" />
                            </div>
                        </li>
                        <li>
                            <span class="label">产品图标：</span>
                            <div class="fc">
                                <input type="text" name="picon" id="picon" value="" class="iText required"  style="width:500px;" />
                                <input type="button" value="选择图片" class="submit pickimg" id="pickimg"/>
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li>
                            <span class="label">产品介绍：</span>
                            <div class="fc">
                                <textarea id="pdesc" class="required" name="pdesc"  style="width:500px;"></textarea>
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li class="line"></li>
                        <li>
                            <span class="label">产品目标：</span>
                            <div class="fc">
                                <input type="text" class="iText required" id="purl" name="purl" value="" style="width:500px;" />
                                <span class="red">*</span>
                            </div>
                        </li>
                        <li>
                            <span class="label">产品目标点击类型：</span>
                            <div class="fc">
                                <p>
                                    <select name="" id="clickType">
                                        <option value="1">内建下载安装</option>
                                        <option value="2">启动应用</option>
                                        <option value="3">使用浏览器打开URL</option>
                                        <option value="4">使用内建浏览器打开URL</option>
                                        <option value="5">打开列表广告</option>
                                        <option value="6">自定义动作</option>
                                        <option value="0" selected>无动作</option>
                                    </select>
                                    <input type="hidden" style="width:800px;" class="iText" name="clictypeobj" id="clictypeobj" value='' />
                                </p>
                                <div class="box" id="clickTypeBox" style="display:none">
                                    <div style="display:none" id="clickType_1">
                                        <ul>
                                            <li>
                                                <span class="label">包名：</span>
                                                <div class="fc">
                                                    <input type="text" class="iText" id="package_name" name="product_package" style="width:300px;" />
                                                </div>
                                            </li>
                                            <li>
                                                <span class="label">安装包大小：</span>
                                                <div class="fc">
                                                    <input type="text" name="package_size" id="package_size" class="iText" />
                                                    <input type="button" value="自动获取" onclick="javascript:packageSize()" class="submit" />
                                                </div>
                                            </li>
                                            <li>
                                                <span class="label">文件泛MD5：</span>
                                                <div class="fc">
                                                    <input type="text" name="file_md5" id="file_md5" class="iText" style="width:300px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:none" id="clickType_2">
                                        <ul>
                                            <li>
                                                <span class="label">包名：</span>
                                                <div class="fc">
                                                    <input type="text" class="iText" name="package_name" id="package_name_start_app" style="width:200px;" />
                                                    窗口：<input type="text" class="iText" name="activity" id="activity_start_app" style="width:211px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:none" id="clickType_3">
                                        <ul>
                                            <li>
                                                <span class="label">使用浏览器打开URL：</span>
                                                <div class="fc">
                                                    <input type="hidden" name="direct_url_open" id="direct_url" value="1" class="iText" style="width:300px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:none" id="clickType_4">
                                        <ul>
                                            <li>
                                                <span class="label">使用内建浏览器打开URL：</span>
                                                <div class="fc">
                                                    <input type="hidden" name="inner_url_open" id="inner_url" value="1" class="iText" style="width:300px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:none" id="clickType_5">
                                        <ul>
                                            <li>
                                                <span class="label">打开列表广告：</span>
                                                <div class="fc">
                                                    <input type="hidden" name="ad_list_open" id="ad_list" value="1" class="iText" style="width:300px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="display:none" id="clickType_6">
                                        <ul>
                                            <li>
                                                <span class="label">自定义动作：</span>
                                                <div class="fc">
                                                    <input type="text" name="user_action_value" id="user_action_value" class="iText" style="width:300px;" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <span class="label">导量限制：</span>
                            <div class="fc">
                                <div class="grid">
                                    <div class="gridToolbar"><input type="hidden" name="stat_limit" value='' /><a href="javascript:void(0)" id="addDL" class="btn fr">新增</a></div>
                                    <table id="DLGrid">
                                        <thead>
                                            <tr>
                                                <th>规则名</th>
                                                <th>内容</th>
                                                <th>数值</th>
                                                <th>内容</th>
                                                <th>数值</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <span class="label">导量计划：</span>
                            <div class="fc">
                                <div class="grid">
                                    <div class="gridToolbar"><input type="hidden" name="stat_plan" value='{"stat_plan":[{"start_time":"Now","end_time":"Never"}]}' /><a href="javascript:void(0)" id="addDLJH" class="btn fr">新增</a></div>
                                    <table id="DLJHGrid">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>开始时间</th>
                                                <th>结束时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <tr><td>1</td><td>Now</td><td>Never</td><td><a title="更新" class="edit" href="javascript:void(0)"></a> | <a title="删除" class="del" href="javascript:void(0)"></a></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="label">广告内容：</span>
                            <span style="display:none" class="label">分配比率：</span>
                            <div class="fc">
                                <div class="grid" id="adList">
                                    <div class="gridToolbar"><a href="javascript:void(0)"  id="addNewAD" class="btn fr">新增</a></div>
                                
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="fc">
<!--                                <input type="button" onclick="javascript:$('form').submit();" value="确定" class="submit" />-->
                                <input type="button" value="取消" onclick="javascript:location.href='lists'" class="cancel" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
<!--        </form>-->
        </div>
<!-- include "inc" -->

