a{text-decoration:none;}
.ui-mobile-viewport, .ui-body-c, .ui-overlay-c{background:#fff;}
.ui-bar-hd{height:61px; background:url(../img/bg_head.jpg) repeat-x 0 0; color:#fff; overflow:hidden; box-shadow:0 1px 2px #666;}
.ui-bar-hd p{font-size:30px; text-align:center; margin-top:15px; font-family:"\5FAE\8F6F\96C5\9ED1"; text-shadow:none;}
.ui-bar-hd .back-home{margin:-30px 0 0 10px;}
.form li{padding-left:110px; font-size:20px; font-family:"\5FAE\8F6F\96C5\9ED1";}
.form li label{display:inline-block; width:110px; margin-left:-110px;}
.form li input{display:inline; padding:.5em; border-radius:5px; margin-bottom:10px;}
.form .l{width:68%;}
.form .s{width:20%;}
.dialog-btn .ui-btn, .form .ui-btn{border-radius:5px; width:72%; font-family:"\5FAE\8F6F\96C5\9ED1"; text-shadow:none; font-weight:normal; text-align:left; margin:0;}
.form .ui-select{margin:-20px 0 10px;}
.dialog-btn .ui-btn, .form .btn .ui-btn{background:url(../img/bg_head.jpg) repeat-x 0 0; box-shadow:0 1px 1px #333; font-size:24px; width:40%; color:#fff; text-align:center;}
.dialog-btn .ui-btn{margin:8px auto;}
@media all and (max-device-width:330px){
	.dialog-btn .ui-btn, .form .btn .ui-btn{width:80%;}
}

/* home */
.home .ui-bar-hd h1{margin:20px 0 0 12px; text-align:left; font-weight:normal;}
.home .ui-bar-hd h1 a{color:#fff; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:30px;}
.home .ui-bar-hd .sub-logo{margin:-18px 0 0 115px; font-size:18px; text-align:left;}

.home .banner{position:relative; width:100%; height:185px;}
.home .banner .banner-list{position:relative;}
.home .banner .banner-list a{position:absolute; width:480px; height:185px; overflow:hidden;}
.home .banner .banner-list a img{width:480px; height:185px;}
.home .banner .mask{position:absolute; left:0; bottom:0; background-color:#000; opacity:0.6; z-index:1000; cursor:pointer; width:100%; height:16px; z-index:1;}
.home .banner ul{position:absolute; z-index:10; bottom:-2px; left:45%; z-index:10;}
.home .banner ul li{padding:0px 8px; float:left; color:#9d9b9a; font-size:10px; line-height:20px; cursor:pointer}
.home .banner ul li.on{color:#ffa810; font-size:14px;}
@media all and (max-device-width:480px){
	.home .banner{height:auto; min-height:125px; max-height:185px;}
	.home .banner .banner-list a, .home .banner .banner-list a img{max-width:100%; height:auto;}
}

.home .ui-body-ct{padding:8px 5px 5px; font-family:"\5FAE\8F6F\96C5\9ED1";}
.home .ui-body-ct .ui-block-a{width:auto; max-width:330px;}
.home .ui-body-ct .ui-block-b{float:right; width:130px;}
.home .ui-body-ct .ui-block-a li, .home .ui-body-ct .ui-block-b li{margin-bottom:8px;}
.home .ui-body-ct .ui-block-a li{border:solid 1px #d0d0d0; padding:7px 8px 7px 166px; line-height:1.5; overflow:hidden;}
.home .ui-body-ct .ui-block-a li img{float:left; margin-left:-158px;}
.home .ui-body-ct .ui-block-a li span{float:left; font-size:18px; padding-top:15px;}
@media all and (max-device-width:330px){
	.home .ui-body-ct .ui-block-b{float:none; width:100%; margin-bottom:8px;}
	.home .ui-body-ct .ui-block-b li{display:inline;}
	.home .ui-body-ct .ui-block-b li img{width:32%; height:auto;}
}

.home .quick-btn a{width:50%; height:42px; padding-top:52px; font-weight:normal; color:#262626;}
.home .quick-btn .tel-charge{background:url(../img/ico_telCharge.jpg) no-repeat center 10px;}
.home .quick-btn .lottery{background:url(../img/ico_lottery.jpg) no-repeat center 10px; border-left:0;}
.home .quick-btn .ui-btn-text{font-size:24px; font-family:"\5FAE\8F6F\96C5\9ED1";}

/* get prize */
.get-prize .ui-body-ct .tip{font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:20px; padding:10px; border:solid 1px #ccc; border-radius:5px; margin-bottom:10px; line-height:1.5;}

/* leave addr */
.leave-addr .ui-body-ct{padding:20px 40px 0;}

/* free charge */
.free-charge .desc{font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:16px; line-height:1.5;}
.free-charge .desc dt, .free-charge .desc dd{margin-bottom:10px;}
.free-charge .desc dd{position:relative; padding:0 15px;}
.free-charge .desc dd s{position:absolute; left:0; top:5px; border:solid 8px; border-color:#fff #fff #fff #ffa015;}
.free-charge .desc dt{padding:5px; background-color:#008aff; color:#fff; text-shadow:none;}
.free-charge .desc table{border:solid 1px #ccc; border-radius:5px; width:100%;}
.free-charge .desc td{height:55px; border:solid 1px #ccc; text-align:center; color:#ff2711;}
.free-charge .btn .ui-btn{width:60%;}
.free-charge[data-role="page"]{display:block;}

.ui-overlay-jldialog.ui-overlay-a{background:#fff;}
.ui-body-jldialog .ui-bar-hd a{display:none;}
.ui-body-jldialog .ui-dialog-contain{max-width:416px;}
.ui-body-jldialog .ui-body-c p{font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:22px; line-height:1.5;}
.mask-dialog{position:absolute; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.2;}
.ui-dialog .ui-header, .ui-dialog .ui-content, .ui-dialog .ui-footer{z-index:1000;}
.ui-mobile[data-role="page"], .ui-mobile[data-role="dialog"], .ui-page{z-index:100;}