/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

section, header {
  display: block;
}

/* General Demo Style */
body {
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #333333 url(../img/bg.jpg) repeat top left;
}

a {
  color: #ddd;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

.clr {
  clear: both;
}

.button {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  margin: 10px;
  text-decoration: none;
  font: bold 24px 'Trebuchet MS',Arial, Helvetica;
  display: inline-block;
  text-align: center;
  color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.button:hover {
  box-shadow: 0 0 0.8px rgba(0, 0, 0, 0.4);
}
.button:active {
  position: relative;
  top: 1;
}
.button span {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding: 12px 60px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(0, 0, 0, 0.05)), color-stop(0.25, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.05)), color-stop(0.25, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, rgba(0, 0, 0, 0)), color-stop(0.75, rgba(0, 0, 0, 0.05)));
  -webkit-background-size: 3px 3px;
  border-radius: 8px;
}

.button-red {
  background: -webkit-gradient(linear, left top, left bottom, from(#e84b6e), to(#d82741));
}
.button-red:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#d82741), to(#e84b6e));
}
.button-red:active {
  background: #d82741;
}

/*container */
.container {
  width: 100%;
  position: relative;
  text-align: center;
}
.container .dg-container {
  width: 100%;
  height: 450px;
  position: relative;
}

.dg-wrapper {
  width: 481px;
  height: 316px;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a {
  width: 480px;
  height: 260px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.dg-wrapper a img {
  display: block;
  padding-left: 1px;
  width: 480px;
  height: 260px;
}
.dg-wrapper a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* .roundedChk */
.roundedChk {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  display: inline-block;
  background: #fcfff4;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.roundedChk label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: #E84B6E;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.roundedChk label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.roundedChk label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.roundedChk input[type=checkbox] {
  visibility: hidden;
}
.roundedChk input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* end .roundedChk */
.panel {
  width: 620px;
  margin: 0 auto;
}
.panel .prizename {
  margin: 0 10px;
}

.mask {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.mask .congratulation {
  position: absolute;
  left: 185px;
  top: 107px;
  z-index: 999;
}
.mask .winnerList {
  position: absolute;
  left: 500px;
  top: 200px;
}
.mask .winnerList img {
  z-index: 999;
  border: 5px solid #FFF;
}
.mask #close {
  position: absolute;
  z-index: 3;
  width: 80px;
  height: 80px;
  top: 12px;
  right: 12px;
  background-image: url(../img/close.gif);
}
.mask #close:hover {
  background-position: 0 -80px;
}
