/* common style */
/* line 5, ../../../../../sassforapps/sass/game/gngame.source.scss */
body {
  font-size: 0.5rem;
}

/* line 6, ../../../../../sassforapps/sass/game/gngame.source.scss */
a {
  text-decoration: none;
}

/* line 8, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2a74e), color-stop(100%, #de7c31));
  background: -webkit-linear-gradient(top, #f2a74e, #de7c31);
  background: -moz-linear-gradient(top, #f2a74e, #de7c31);
  background: -o-linear-gradient(top, #f2a74e, #de7c31);
  background: linear-gradient(top, #f2a74e, #de7c31);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* line 9, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap {
  height: 3.75rem;
  background: url(../img/bg_head.png) repeat-x 0 100%;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

/* line 10, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap.has-shadow {
  -webkit-box-shadow: 0px 2px 3px #b3b3b3;
  -moz-box-shadow: 0px 2px 3px #b3b3b3;
  box-shadow: 0px 2px 3px #b3b3b3;
}

/* line 11, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap h1 {
  margin: 0.65rem 0 0 0.4rem;
}

/* line 12, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap h1 img {
  width: 8.7rem;
  height: 2.45rem;
}

/* line 13, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .manage-links {
  position: absolute;
  top: 0.8rem;
  right: 0;
}

/* line 14, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .manage-links a {
  display: inline-block;
  width: 3.25rem;
  text-align: center;
  color: #884000;
}

/* line 15, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .manage-links a img {
  width: 1.4rem;
  height: 1.4rem;
}

/* line 16, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .manage-links a span {
  margin-top: 5px;
  display: block;
  font-size: 0.75rem;
}

/* line 17, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}

/* line 18, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .back-home {
  position: absolute;
  left: 0;
  top: 5px;
  width: 3.25rem;
  height: 3.1rem;
}

/* line 19, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .back-home a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/btn_backPage0.png) no-repeat 0 0;
  background-size: 100%;
}

/* line 20, ../../../../../sassforapps/sass/game/gngame.source.scss */
.hd .wrap .back-home a:active {
  background-image: url(../img/btn_backPage1.png);
}

/* line 21, ../../../../../sassforapps/sass/game/gngame.source.scss */
.ac {
  margin-top: 3.75rem;
}

/* line 23, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn a {
  display: block;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px #b2b2b2;
  -moz-box-shadow: 0px 1px 1px #b2b2b2;
  box-shadow: 0px 1px 1px #b2b2b2;
}

/* line 24, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn a i {
  display: block;
  padding: 0.4rem 0;
  border: solid 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 25, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .green {
  background-color: #39b900;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4cd900), color-stop(100%, #39b900));
  background: -webkit-linear-gradient(top, #4cd900, #39b900);
  background: -moz-linear-gradient(top, #4cd900, #39b900);
  background: -o-linear-gradient(top, #4cd900, #39b900);
  background: linear-gradient(top, #4cd900, #39b900);
  border: solid 1px #5bcb00;
}

/* line 26, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .green i {
  border-color: #c7f3af #6bd238 #6bd238;
}

/* line 27, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .orange {
  background-color: #ffa300;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffb900), color-stop(100%, #ffa300));
  background: -webkit-linear-gradient(top, #ffb900, #ffa300);
  background: -moz-linear-gradient(top, #ffb900, #ffa300);
  background: -o-linear-gradient(top, #ffb900, #ffa300);
  background: linear-gradient(top, #ffb900, #ffa300);
  border: solid 1px #ffb400;
}

/* line 28, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .orange i {
  border-color: #ffe7a4 #ffb81c #ffb81c;
}

/* line 29, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .cyan {
  background-color: #97c200;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b0d100), color-stop(100%, #97c200));
  background: -webkit-linear-gradient(top, #b0d100, #97c200);
  background: -moz-linear-gradient(top, #b0d100, #97c200);
  background: -o-linear-gradient(top, #b0d100, #97c200);
  background: linear-gradient(top, #b0d100, #97c200);
  border: solid 1px #a4b500;
}

/* line 30, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .cyan i {
  border-color: #eff5ca #b3d22a #b3d22a;
}

/* line 31, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .gray {
  background-color: #b0b0b0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4c4c4), color-stop(100%, #b0b0b0));
  background: -webkit-linear-gradient(top, #c4c4c4, #b0b0b0);
  background: -moz-linear-gradient(top, #c4c4c4, #b0b0b0);
  background: -o-linear-gradient(top, #c4c4c4, #b0b0b0);
  background: linear-gradient(top, #c4c4c4, #b0b0b0);
  border: solid 1px #a6a6a6;
}

/* line 32, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .gray i {
  border-color: #eaeaea #c2c2c2 #c2c2c2;
}

/* line 33, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .croci {
  background-color: #ff6800;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9500), color-stop(100%, #ff6800));
  background: -webkit-linear-gradient(top, #ff9500, #ff6800);
  background: -moz-linear-gradient(top, #ff9500, #ff6800);
  background: -o-linear-gradient(top, #ff9500, #ff6800);
  background: linear-gradient(top, #ff9500, #ff6800);
  border: solid 1px #ff7e00;
}

/* line 34, ../../../../../sassforapps/sass/game/gngame.source.scss */
.btn .croci i {
  border-color: #ffdaa7 #ff9322 #ff9322;
}

/* line 36, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial {
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 37, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial ul {
  overflow: hidden;
}

/* line 38, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial li {
  float: left;
  border: solid 1px #d9d9d9;
  margin: -1px 0 0 -1px;
  position: relative;
}

/* line 39, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial li:nth-child(3n) {
  border-right: 0;
}

/* line 40, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial li a {
  display: table-cell;
  width: 7.95rem;
  height: 7.95rem;
  text-align: center;
  vertical-align: middle;
  color: #333;
}

/* line 41, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial .pic {
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

/* line 42, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial .pic img {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 43, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial li em {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.75rem;
}

/* line 44, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial .icon {
  display: none;
}

/* line 45, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial .checked {
  background-color: #e5e5e5;
}

/* line 46, ../../../../../sassforapps/sass/game/gngame.source.scss */
.speed-dial .checked .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 1.05rem;
  height: 0.9rem;
  padding-top: 0.15rem;
  text-align: center;
  background-color: #ff9600;
}

/* line 48, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list li {
  border-bottom: solid 1px #d9d9d9;
  position: relative;
}

/* line 49, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list li > a {
  display: block;
  padding: 0.6rem 0.85rem;
}

/* line 50, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .pic {
  float: left;
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

/* line 51, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .pic img {
  width: 100%;
  height: 100%;
}

/* line 52, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .desc {
  line-height: 1.5;
}

/* line 53, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .desc h3 {
  font-size: 1.2rem;
  color: #000;
}

/* line 54, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .desc p {
  font-size: 0.9rem;
  color: #404040;
}

/* line 55, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .btn {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  width: 4.1rem;
  font-size: 1rem;
}

/* line 56, ../../../../../sassforapps/sass/game/gngame.source.scss */
.item-list .btn span {
  display: block;
  color: #b2b2b2;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
}

/* line 58, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box {
  background: #353535 url(../img/bg_texture.png) repeat 0 0;
}

/* line 59, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box ul {
  overflow: hidden;
  border-bottom: solid 1px #f4aa00;
}

/* line 60, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box li {
  float: left;
  width: 30%;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 62, ../../../../../sassforapps/sass/game/gngame.source.scss */
  .tab-box ul {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
  }

  /* line 63, ../../../../../sassforapps/sass/game/gngame.source.scss */
  .tab-box li {
    -webkit-box-flex: 1;
    float: none;
    width: auto;
  }
}
/* line 65, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box li a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #b5b5b5;
  position: relative;
}

/* line 66, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box li a:after {
  content: " ";
  display: block;
  width: 100%;
  height: 0.1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffc23a;
}

/* line 67, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box .selected a {
  color: #fff;
}

/* line 68, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tab-box .selected a:after {
  height: 0.3rem;
}

/* line 70, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner {
  width: 100%;
  position: relative;
}

/* line 71, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .slide-pic {
  height: 7.8rem;
  position: relative;
  overflow: hidden;
}

/* line 72, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .slide-pic a {
  position: absolute;
  left: 100%;
  top: 0;
  display: block;
  width: 100%;
  height: 7.8rem;
}

/* line 73, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .slide-pic a:first-child {
  left: 0;
}

/* line 74, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .slide-pic a img {
  width: 100%;
  height: 100%;
}

/* line 75, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .handle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #aaaaaa), color-stop(100%, transparent));
  background: -webkit-linear-gradient(right, #aaaaaa, transparent);
  background: -moz-linear-gradient(right, #aaaaaa, transparent);
  background: -o-linear-gradient(right, #aaaaaa, transparent);
  background: linear-gradient(right, #aaaaaa, transparent);
  text-align: right;
}

/* line 76, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .handle span {
  display: inline-block;
  margin-right: 0.6rem;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background-color: #03141b;
}

/* line 77, ../../../../../sassforapps/sass/game/gngame.source.scss */
.banner .handle .on {
  background-color: #e9e9e9;
}

/* home */
/* line 80, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap {
  background: #242424 url(../img/bg_hmTexture.png) repeat 0 0;
}

/* line 81, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk {
  background-color: #2d2d2d;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #2d2d2d), color-stop(25%, #3f3f3f), color-stop(50%, #4e4e4e), color-stop(75%, #3f3f3f), color-stop(100%, #2d2d2d));
  background: -webkit-linear-gradient(left, #2d2d2d, #3f3f3f, #4e4e4e, #3f3f3f, #2d2d2d);
  background: -moz-linear-gradient(left, #2d2d2d, #3f3f3f, #4e4e4e, #3f3f3f, #2d2d2d);
  background: -o-linear-gradient(left, #2d2d2d, #3f3f3f, #4e4e4e, #3f3f3f, #2d2d2d);
  background: linear-gradient(left, #2d2d2d, #3f3f3f, #4e4e4e, #3f3f3f, #2d2d2d);
}

/* line 82, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .clearfix {
  /*@include box-shadow(-2px 3px 3px #000);*/
  width: 24rem;
  margin: 0 auto;
}

/* line 83, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .clearfix:last-child {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 84, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk ul {
  height: 6rem;
  padding-top: 0.7rem;
  margin: 0 1.5rem;
  position: relative;
  background: url(../img/bg_desk.png) no-repeat 0 100%;
  background-size: 100% 40.29%;
}

/* line 85, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk ul:before, .games-desk ul:after {
  content: "";
  display: block;
  width: 1.6rem;
  height: 2.7rem;
  position: absolute;
  bottom: 0;
  background-size: 100%;
}

/* line 86, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk ul:before {
  background: url(../img/bg_l_desk.png) no-repeat 0 100%;
  left: -1.6rem;
}

/* line 87, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk ul:after {
  background: url(../img/bg_r_desk.png) no-repeat 0 100%;
  right: -1.6rem;
}

/* line 88, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk li {
  width: 5.5rem;
  float: left;
}

/* line 89, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk li:last-child {
  width: 4.4rem;
}

/* line 90, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk li a {
  color: #030303;
  display: block;
}

/* line 91, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .pic {
  width: 4.4rem;
  height: 3.75rem;
  background: url(../img/bg_deskItem.png) no-repeat 0 100%;
  background-size: 100% 12%;
}

/* line 92, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .pic span {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
}

/* line 93, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .pic span img {
  width: 100%;
  height: 100%;
}

/* line 94, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-desk .title {
  margin-top: 0.5rem;
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.9rem;
  white-space: nowrap;
}

/* line 96, ../../../../../sassforapps/sass/game/gngame.source.scss */
.games-link {
  width: 23.4rem;
  padding: 0.65rem 0.3rem 0;
  margin: 0 auto;
}

/* line 97, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad {
  margin-top: 0.5rem;
}

/* line 98, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .icons {
  float: left;
  padding: 0.25rem 0.55rem;
  width: 10.5rem;
}

/* line 99, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .icons li {
  float: left;
  margin: 0 0.55rem 0.75rem;
}

/* line 100, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .icons li a {
  display: block;
  width: 4.05rem;
  height: 4.05rem;
}

/* line 101, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .icons li a img {
  width: 100%;
  height: 100%;
}

/* line 102, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .ads {
  float: right;
  width: 11.8rem;
}

/* line 103, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .ads a {
  display: block;
  margin-bottom: 0.3rem;
}

/* line 104, ../../../../../sassforapps/sass/game/gngame.source.scss */
.icon-ad .ads a img {
  width: 100%;
  height: auto;
}

/* line 105, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li {
  float: left;
  width: 11.575rem;
  border-bottom: 0;
  margin-bottom: 0.25rem;
}

/* line 106, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li:nth-child(odd) {
  margin-right: 0.25rem;
}

/* line 107, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li a, .home-wrap .item-list li a h3, .home-wrap .item-list li a p {
  color: #fff;
}

/* line 108, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li a {
  padding: 0.4rem 1.1rem;
}

/* line 109, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li a h3 {
  font-size: 1rem;
}

/* line 110, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list li a p {
  font-size: 0.8rem;
}

/* line 111, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list figure {
  position: relative;
  z-index: 2;
}

/* line 112, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list .pic {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.6rem;
}

/* line 113, ../../../../../sassforapps/sass/game/gngame.source.scss */
.home-wrap .item-list .mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* add game */
/* line 116, ../../../../../sassforapps/sass/game/gngame.source.scss */
.J_addGame {
  margin-bottom: 4.75rem;
}

/* line 117, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tip-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

/* line 118, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tip-submit .tip {
  padding: 0.35rem 0;
  font-size: 0.9rem;
  text-align: center;
  color: #555;
  background-color: #ababab;
  text-shadow: 0px 1px 1px white;
}

/* line 119, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tip-submit .submit {
  text-align: center;
  background-color: #ebebeb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background: -o-linear-gradient(top, #ffffff, #ebebeb);
  background: linear-gradient(top, #ffffff, #ebebeb);
  padding: 0.45rem 0;
}

/* line 120, ../../../../../sassforapps/sass/game/gngame.source.scss */
.tip-submit .submit .btn {
  display: inline-block;
  width: 11.25rem;
  font-size: 1.25rem;
}

/* game topic */
/* line 123, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro {
  width: 24rem;
  margin: 0 auto;
}

/* line 124, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .pic img {
  max-width: 24rem;
  height: auto;
}

/* line 125, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .desc {
  padding: 0.6rem 0.9rem;
  font-size: 0.7rem;
  line-height: 1.5;
}

/* line 126, ../../../../../sassforapps/sass/game/gngame.source.scss */
.download .title {
  position: relative;
  padding: 1rem 0.5rem;
  background-color: #ececec;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4f4f4), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background: -o-linear-gradient(top, #f4f4f4, #ececec);
  background: linear-gradient(top, #f4f4f4, #ececec);
  border: solid #cbcbcb;
  border-width: 1px 0;
}

/* line 127, ../../../../../sassforapps/sass/game/gngame.source.scss */
.download .title strong {
  font-size: 0.9rem;
}

/* line 128, ../../../../../sassforapps/sass/game/gngame.source.scss */
.download .title .btn {
  position: absolute;
  right: 0.7rem;
  top: 0.4rem;
  width: 6rem;
  font-size: 1rem;
}

/* manage */
/* line 131, ../../../../../sassforapps/sass/game/gngame.source.scss */
.manage .download .title {
  padding: 0.25rem 0.7rem;
  border-top: 0;
}

/* line 132, ../../../../../sassforapps/sass/game/gngame.source.scss */
.manage .download .title .btn {
  position: static;
  width: 11.25rem;
  margin: 0.5rem auto;
}

/* game detail */
/* line 135, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-inf {
  width: 24rem;
  margin: 0 auto;
}
/* line 138, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-inf .item-list p {
  overflow: hidden;
}
/* line 141, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-inf .item-list span {
  float: left;
  width: 8.5rem;
}
/* line 145, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-inf .pic-show {
  background-color: #f2f2f2;
  padding: 0.5rem 0;
  border-bottom: solid 1px #dbdbdb;
}
/* line 149, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-inf .pic-show img {
  border: solid 1px #cecece;
  margin-left: 0.25rem;
  height: 8rem;
  width: auto;
}

/* line 158, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro h3 {
  font-size: 1.1rem;
  color: #191919;
  margin: 0.75rem 0 0.5rem;
}
/* line 163, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .has-played {
  color: #ff8a00;
  font-size: 1rem;
  text-align: right;
  padding-right: 1rem;
  margin-top: -1.5rem;
}
/* line 169, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .has-played i {
  font-size: 0.9rem;
  margin-right: 0.25rem;
}
/* line 171, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .open-more {
  text-align: right;
  padding-right: 1rem;
}
/* line 172, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .open-more a {
  color: #ff8a00;
  font-size: 1rem;
  text-decoration: underline;
}
/* line 176, ../../../../../sassforapps/sass/game/gngame.source.scss */
.game-intro .open-more a i {
  font-size: 0.7rem;
}

/* line 182, ../../../../../sassforapps/sass/game/gngame.source.scss */
.gm-down {
  text-align: center;
  background-color: #e7e7e7;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7e7e7));
  background: -webkit-linear-gradient(top, #ffffff, #e7e7e7);
  background: -moz-linear-gradient(top, #ffffff, #e7e7e7);
  background: -o-linear-gradient(top, #ffffff, #e7e7e7);
  background: linear-gradient(top, #ffffff, #e7e7e7);
  padding: 0.45rem 0;
  border-top: solid 1px #ccc;
}

/* line 183, ../../../../../sassforapps/sass/game/gngame.source.scss */
.gm-down .btn {
  display: inline-block;
  width: 11.25rem;
  font-size: 1.25rem;
}
