@charset "utf-8";
@import "compass/css3";
@import "lookitui";

.check-css{
	width:1px; height:1px;
}

body{
	-webkit-user-select: none;
}

a{
	color:#333;
}

.ui-tapimg-wrap a{
	-webkit-tap-highlight-color: rgba(0,0,0,.3) !important;
}

.icon-switch,.icon-more{
	display: inline-block; width:16px; height:16px; vertical-align: middle; margin-right:6px;
	background: inline-image("../img/icon-switch1.png") no-repeat 0 0;
	@include background-size(16px);
}

.icon-more{
	background: inline-image("../img/icon-more1.png") no-repeat 0 0;
	@include background-size(16px);
}

// five column stylesheet
.col-5-link{
	overflow:hidden;
	p{
		display: -webkit-box; margin-top:10px;
		a{
			display: block; width:25%; -webkit-box-flex:1; height:30px; line-height:30px; text-align:center;
			@include fn-text-overflow();
			&:active{
				background-color: #ebebeb;
			}
		}
	}
}

.ui-link{
	margin-top:10px; color:#00a1e9; height:40px; line-height:40px; text-align: center;
	&:active{
		background-color: #ebebeb;
	}
}

.ui-gd-2{
	height: 40px; display:-webkit-box;
	p{
		position:relative; display: -webkit-box;  -webkit-box-align: center; -webkit-box-pack: center;
		width:50%; height:40px; text-align: center;
		&:active{
			background:#ebebeb;
		}
		&:last-child{
			@extend .ui-border-l;
		}
	}

	span,a{
		color:#00a1e9; color:#00a1e9;
	}
}

.ad-links{
	margin-top: 10px; 
	li{
		a{
			display: block;
			padding:0 10px;
			height: 30px; line-height:30px;
			@include fn-text-overflow();
			&:active{
				background: #ebebeb;
			}
		}
		
		
	}
}

/*tag style start*/

.ui-tag{
	position:relative; display:inline-block; padding:0 6px; margin-right:6px; height:16px; line-height:17px; 
	font-style:normal; font-size:10px; color:#fff; vertical-align:middle; background: #82cdbe;
	@include box-sizing(border-box);
}

.ui-tag-arrow{
	margin-right: 9px;
	@include border-radius(2px);
	i{
		position: absolute; right:-6px; top: 50%; margin-top:-3px; z-index: 1;
		width:0; height:0; border:3px solid transparent;
		border-color: transparent transparent transparent #fff;
	}
}

.ui-tag-dot{
	margin-right:14px; background:transparent;
	@include border-radius(2px 0 0 2px);
	&:before{
		content:""; position: absolute; right:-2px; top: 50%; z-index: 2;
		width:4px; height:4px; background:#fff; margin-top:-2px;
		@include border-radius(4px);
	}
	i{
		display:block; position: absolute; right:-16px; top: 0; z-index: 1;
		width:0; height:0; border:8px solid transparent;
		border-color: transparent transparent transparent #fff;
	}
}

.ui-tag-radius{
	@include border-radius(2px);
}

/*tag style end*/

.card-wrap .pic{
	background: #fafafa;
}

// news
.card-wrap{
	padding:10px 0; overflow: hidden;
	.slide-news{
		position:relative; height: 150px; overflow: hidden;
		ul{
			 overflow: hidden; 
		}
		li{
			float:left; position:relative; z-index:10; display:inline; width:100%; height: 150px; overflow:hidden;
			.pic-wrap{
				display: block; margin: 0 10px; background:#fafafa;
				img{
					width:100%; height: 150px;
				}	
			}
			.txt{
				position:absolute; left:10px; right:10px; bottom:0; z-index:11; display: block; height: 20px; padding:0 10px;
				line-height:20px; font-size:12px; color:#fff;
				background:rgba(0,0,0,.6);
			}
		}
	}
	.ui-normal-list{
		margin-top: 10px;
		li > a{
			display:block; height:30px; line-height: 30px; padding:0 10px;
			font-size:14px; color:#333;
			@include fn-text-overflow();
			&:active{
				background-color: #ebebeb;
			}
		}
	}
}

// novel
.card-wrap{
	.col-3-img{
		display: -webkit-box;
		overflow: hidden;
		padding:0 10px;
		li{
			-webkit-box-flex: 1;
			text-align: center;
			&:nth-child(2) a{
				margin: 0 auto;
			}
			&:last-child a{
				margin-left: auto;
			}
			a{
				display: block;
				font-size: 12px;
				width: 86px;
				text-align: center;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				background:#f5f5f5;
				&:active{
					color: #000;
  					background: #f5f5f5;
				}
			}
			p{
				position: relative;
				color:#fff;
				margin: -20px 0 0;
				height: 20px;
				line-height: 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				background: rgba(0,0,0,.6);
			}
		}
	}
}

.card-wrap{
	overflow: hidden;
	//mito
	.mito-imgs-wrap{
		padding:0 10px;
		.mito-pic-box{
			overflow:hidden;
			li{
				float:left; display:block; width:80px; height: 100px; background:#f5f5f5; overflow:hidden;
				&:nth-child(1){
					width:148px; height: 206px; margin-right: 6px;
				}
				&:nth-child(2n+2){
					margin: 0 6px 0 0;
				}
				&:nth-child(2){
					margin-bottom: 6px;
				}
				&:nth-child(3){
					margin-bottom: 6px;
				}
				img{
					width: 100%; height:100%; display: block;
				}
				p{
					position:relative;
					padding:0 10px;
					margin: -20px 0 0;
					height: 20px;
					line-height: 20px;
					font-size: 12px;
					color:#fff;
					text-align: center;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					background: rgba(0,0,0,.6);
				}
			}
		}
	}
	//gouwu
	.gouwu-imgs-wrap{
		padding:0 10px;
		.gouwu-pic-box{
			overflow:hidden;
			li{
				float:left; display:block; background:#f5f5f5; overflow:hidden;
				&:nth-child(1){
					width:148px; height: 206px; margin-right: 6px; overflow:hidden;
				}
				&:nth-child(2){
					margin-bottom: 6px;
				}
				&:nth-child(2),&:nth-child(3){
					width:166px; height:100px;
				}
				img{
					width:100%; height: 100%;
				}
			}
		}
	}
}

// fun
.card-wrap{
	.fun-piece-box{
		padding: 0 10px;
		.piece{
			height: 148px;
			overflow: hidden;
		}
	}
	.ui-fun-list{
		.pic{
			background:transparent;
		}
		.ui-fun-item{
			display: -webkit-box; padding:10px 10px; overflow:hidden;
			&:active{
				background:#ebebeb;
			}
			.l{
				width:40px; height:40px; margin-right:10px;
				img{
					width:100%; height:100%;
				}
			}
			.r{
				-webkit-box-flex: 1;
				a{
					-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
				}
				p{
					@include fn-text-overflow();
				}
				p:last-child{
					color: #999; font-size:12px; margin-top: 5px;
				}
			}
		}
	}
}

// caipiao
.card-wrap{
	//height:400px !important;
	.caipiao{
		margin-top:10px;
		.item{
			padding: 0 10px; margin-bottom: 10px;
			&:active{
				background:#ebebeb;
			}
		}
		.title{
			display:-webkit-box; height:30px; line-height: 30px; margin-bottom: 6px; overflow: hidden;
			span{
				display:block; font-size:12px; color: #999;
			}
			span:nth-child(1){
				color:#333; font-size:14px;
			}
			span:nth-child(2){
				-webkit-box-flex:1; text-align:center;
			}
		}
		.content{
			height:30px; line-height:30px; overflow: hidden;
		}
		.bars{float:left;}
		.link{
			float:right;
			a{color:#50a0dc;}; 
		}
		.bars span{
			display: inline-block; margin-right: 10px;
			width: 24px; height: 24px; line-height:24px; text-align: center; background: #f00; color:#fff; font-size: 12px;
			@include border-radius(24px);
		}

		.ssq span:last-child{
			background: #00a1e9; margin-right: 0;
		}

		.daletou span:nth-last-child(1),.daletou span:nth-last-child(2){
			background: #00a1e9;
		}
	}
}

// life
.card-wrap{
	.col-4-img{
		display: -webkit-box;
		a{
			display: block; width:25%; height: 90px; font-size: 12px; color: #999;
			span{display: block; text-align: center; }
			span:last-child{margin-top: 6px;}
			img{width: 44px; height: 44px; @include border-radius(3px); margin-top:10px;}
			&:active{
				background: #ebebeb;
			}
		}
	}
}

@media only screen and (min-width : 1204px) {
	.card-wrap{
		width:340px; margin:0 auto; padding:10px 0;
	}
	.mito-imgs-wrap{
		padding:0 !important;
	}
}

/* 320 dpi 1.5 stylesheet */
@media all and (max-width : 321px) and (-webkit-device-pixel-ratio: 1.5) {
	.card-wrap{
		.mito-imgs-wrap{
			.mito-pic-box{
				li{
					width:70px; height: 90px;
					&:nth-child(1){
						width:128px; height: 186px;
					}
				}
			}
		}
		.gouwu-imgs-wrap{
			.gouwu-pic-box{
				li{
					float:left; display:block; background:#f5f5f5; overflow:hidden;
					&:nth-child(1){
						width:128px; height: 186px; margin-right: 6px; overflow:hidden;
					}
					&:nth-child(2){
						margin-bottom: 6px;
					}
					&:nth-child(2),&:nth-child(3){
						width:146px; height:90px;
					}
					img{
						width:100%; height:100%;
					}
					
				}
			}
		}

		.caipiao{
			padding: 0 6px;
			.bars span{
				margin-right: 6px;
			}
		}
	}
}

/* MZ 1080*1800 DPI 2.5 Device width 342px */
@media all and (min-width : 361px) and (-webkit-device-pixel-ratio: 2.5) {
	.card-wrap{
		.mito-imgs-wrap{
			.mito-pic-box{
				li{
					width:100px; height: 121px;
					&:nth-child(1){
						width:180px; height: 248px;
					}
				}
			}
		}
		.gouwu-imgs-wrap{
			.gouwu-pic-box{
				li{
					float:left; display:block; background:#f5f5f5; overflow:hidden;
					&:nth-child(1){
						width:186px; height: 248px; margin-right: 6px; overflow:hidden;
					}
					&:nth-child(2){
						margin-bottom: 6px;
					}
					&:nth-child(2),&:nth-child(3){
						width:200px; height:121px;
					}
					img{
						width:100%; height:100%;
					}
					
				}
			}
		}

		.caipiao{
			padding: 0 6px;
			.bars span{
				margin-right: 6px;
			}
		}
	}
}

.no-padding{
	padding:0;
}


// 热门话题
.ui-topic-list{
	padding:10px 0 0; margin:-10px 0;
	li:active{
		background: #ebebeb;
	}

	li:not(:last-child){
		.ui-topic-item{
			@extend .ui-border-b;
		}
	}

	.ui-topic-vote{
		margin: 0 10px; padding:0 0 10px; overflow:hidden;
		@extend .ui-border-b;
		.tit{
			p{
				text-align: center;
			}
			p:nth-child(1){
				font-size:14px; color:#333;
			}
			p:nth-child(2){
				font-size:12px; color:#999;
			}
		}
		.txt{
			display: -webkit-box; margin-top:10px; position:relative;
			p{
				display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: center;
				position:relative; font-size:12px; color:#fff; text-align:center; height:50px;
			}
			.icon-zan{
				position: absolute; 
				width: 9px; height:12px;
				background:url('../img/icon-zan.png') no-repeat  0 0;
				@include background-size(9px 12px);
			}

			p:nth-child(1){
				width:50%; padding-right:25px; 
				background:#f66b6b;
				@include box-sizing(border-box);
				&:after{
					content:""; position: absolute; top:0; right: 14px;
					width:0; height:0;
					border: #f66b6b solid;
					border-width: 25px 11px 25px 0;
					border-right-color: transparent;
					z-index: 11;
				}
				.icon-zan{
					right: 30px; bottom:5px;
				}	
			}
			p:nth-child(2){
				position:absolute; font-size:24px; color:#999; left:50%; margin-left:-25px;
				width:50px; background:#fff; z-index:10;
			}
			p:nth-child(3){
				width: 50%; padding-left:25px;
				background:#64a9f0;
				@include box-sizing(border-box);
				&:after{
					content:""; position: absolute; top:0; left:14px;
					width:0; height:0;
					border: #64a9f0 solid;
					border-width: 25px 0 25px 11px;
					border-left-color: transparent;
					z-index: 11;
				}
				.icon-zan{
					right: 8px; bottom:5px;
				}
			}
		}
	}
	
	.ui-topic-hot{
		display:-webkit-box; margin: 0 10px; padding:0 0 10px; overflow:hidden;
		.pic{
			width: 100px; background: transparent; margin-right:10px;
			span{
				display: inline-block; width:100px; height:70px;
				img{
					width:100%; height:100%;
				}
			}
		}
		.txt{
			-webkit-box-flex: 1;
			p:nth-child(1){
				font-size: 14px; color:#333; line-height:1; margin-bottom:5px;
				@include fn-text-overflow();
			}
			p:nth-child(2){
				font-size:12px; color:#999;
			}
			p:nth-child(3){
				font-size:12px; color:#00a1e9;
			}
		}
	}

	.ui-topic-item{
		display:-webkit-box; margin: 0 10px; padding:8px 0 10px; overflow:hidden;
		.pic{
			width: 20px; background: transparent; margin-right:10px;
			span{
				display: inline-block; width:20px; height:24px; margin-top:2px;
				img{
					width:100%; height:100%; background: transparent;
				}
			}
		}
		.txt{
			p{
				@include fn-text-overflow();
			}
			p:nth-child(1){
				font-size: 14px; color:#333; margin-bottom:0px;
			}
			p:nth-child(2){
				font-size:12px; color:#999;
			}
		}
	}
	
}

// 股票模块
.mod-stock-box{
	margin: 10px 0; overflow:hidden;
	ul{display:-webkit-box;}
	li{
		display: block; -webkit-box-flex:1;
		span{
			display: block;
			font-size:14px; 
			text-align: center;
		}
		span:nth-child(2){
			font-weight:bold; line-height: 1; margin-top: 6px;
		}
		span:nth-child(3){
			font-size: 12px; line-height: 1; margin-top: 6px;
		}
	}
	.hq_str_eq{color:#333;}
	.hq_str_up{color:#ff0000;}
	.hq_str_dn{color:#00b400;}
}

.mod-stock-list{
	padding: 10px 0 0; overflow:hidden;
	li{
		position:relative; height: 30px; line-height: 30px; padding:0 10px 0 35px;
		@include fn-text-overflow();
		&:active{
			background:#ebebeb;
		}
		i{
			position:absolute; left:10px; top:6px; width:18px; height: 18px; line-height: 20px;
			font-size:10px; font-style:normal; color:#fff; text-align: center;
			@include border-radius(100%);
		}
	}

}

/* 1px hack */
.ui-border-t {
	border-top: 1px solid #ebebeb; 
}

.ui-border-b {
	border-bottom: 1px solid #ebebeb; 
}

.ui-border-tb {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	background-image: none;
}

.ui-border-l {
	border-left: 1px solid #ebebeb;
}

.ui-border-r {
	border-right: 1px solid #ebebeb;
}

.ui-border {
	border: 1px solid #ebebeb;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-border {
		position: relative;
		border: 0;
	}

	.ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
		border: 0;
	}

	.ui-border:before {
		content: "";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 50%;
		left: 50%;
		border: 1px solid #ebebeb;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: -50% -50%;
	}

	.ui-border-t {
		background-position: left top;
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb)); }

	.ui-border-b {
		background-position: left bottom;
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb)); }

	.ui-border-t,
	.ui-border-b {
    	background-repeat: repeat-x;
    	-webkit-background-size: 100% 1px;
	}

	.ui-border-tb {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb)) left top repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb)) left bottom repeat-x;
	}

	.ui-border-tb {
    	-webkit-background-size: 100% 1px;
	}

	.ui-border-l {
		background-position: left top;
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb));
	}

	.ui-border-r {
    	background-position: right top;
    	background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #ebebeb), to(#ebebeb));
	}

	.ui-border-l,
	.ui-border-r {
		background-repeat: repeat-y;
		-webkit-background-size: 1px 100%; 
	} 
}

// 夜间模式
.nm-night-mode{
	.ui-topic-vote{
		.txt {
			p:nth-child(1){
				background:rgba(246, 107, 107, .5);
				color:rgba(255,255,255,.5) !important;
				&:after{
					border-color:#844444;
					border-right-color: transparent;
				}
			}
			p:nth-child(3){
				background:rgba(100, 169, 240, .5);
				color:rgba(255,255,255,.6) !important;
				&:after{
					border-color:#3B628B;
					border-left-color: transparent;
				}
			}
		}
		
	}
	body{
        background-color:#1c1c26 !important;
    }
    body *, a.nm-link-wrap{
        -webkit-box-shadow:none !important;
        box-shadow: none !important;
        -webkit-text-shadow: none !important;
        text-shadow: none !important;
        color:#62626c !important;
    }
    button,input{
        background:#1c1c26 !important;
    }
    ::-webkit-input-placeholder {
        color: #62626c;
    }
    img{
    	opacity:0.5 !important;
    }

    /* 1px hack */
	.ui-border-t {
		border-top: 1px solid #12121c; 
	}

	.ui-border-b {
		border-bottom: 1px solid #12121c; 
	}

	.ui-border-tb {
		border-top: 1px solid #12121c;
		border-bottom: 1px solid #12121c;
		background-image: none;
	}

	.ui-border-l {
		border-left: 1px solid #12121c;
	}

	.ui-border-r {
		border-right: 1px solid #12121c;
	}

	.ui-border {
		border: 1px solid #12121c;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.nm-night-mode{
		.ui-border {
			position: relative;
			border: 0;
		}

		.ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
			border: 0;
		}

		.ui-border:before {
			content: "";
			width: 200%;
			height: 200%;
			position: absolute;
			top: 50%;
			left: 50%;
			border: 1px solid #12121c;
			-webkit-transform: scale(0.5);
			-webkit-transform-origin: -50% -50%;
		}

		.ui-border-t {
			background-position: left top;
			background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c)); }

		.ui-border-b {
			background-position: left bottom;
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c)); }

		.ui-border-t,
		.ui-border-b {
	    	background-repeat: repeat-x;
	    	-webkit-background-size: 100% 1px;
		}

		.ui-border-tb {
			background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c)) left top repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c)) left bottom repeat-x;
		}

		.ui-border-tb {
	    	-webkit-background-size: 100% 1px;
		}

		.ui-border-l {
			background-position: left top;
			background-image: -webkit-gradient(linear, left top, right top, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c));
		}

		.ui-border-r {
	    	background-position: right top;
	    	background-image: -webkit-gradient(linear, right top, left top, color-stop(0.5, transparent), color-stop(0.5, #12121c), to(#12121c));
		}

		.ui-border-l,
		.ui-border-r {
			background-repeat: repeat-y;
			-webkit-background-size: 1px 100%; 
		}
	}		
}
