img[src$="blank.gif"]{
	background:#bbbbbb inline-image("../img/default_bg.png") no-repeat center center;
}
.load-more{
	background:#232323;margin-top:.2rem;
	span{
		background:inline-image("../img/ico_loadMore.png") no-repeat 0 0;background-size:1.2rem;
	}
	img{width: 2rem;}
}
.loading{
	background:#232323;margin-top:.2rem;
	width: 100%;line-height:2.2rem;
	span.load{
		display:inline-block; height:.5rem;width:2rem;
		background:inline-image("../img/loading_new.gif") no-repeat 0 0; background-size:100% 100%;
	}
	span.bottom{
		color:#959595;display:inline-block; height:2rem;width:14rem;font-size:.7rem;
		em{
			background:inline-image("../img/ico_loadMore.png") no-repeat 0 0;background-size:100% 100%;margin-right:.2rem;
			content:'';position: relative;display: inline-block;width: 1.2rem;height: 1.2rem;left: 0rem;top:.2rem;
		}
	}
}