a {
  color: #333333;
  background-color: transparent;
  text-decoration: none;
}
a:visited { 
  color: #333333;
  background-color: transparent;
  text-decoration: none;  
}
a:hover { 
  color: #CCCCCC;
  text-decoration: underline;
}
input,textarea,button{
    font-family: Tahoma, Verdana, Arial;
    font-size : 12px;
    font-weight : normal;
}

img {border: 0;}

th{

        background-color: #7B869A;
        font-family: Tahoma, Verdana, Arial;
        font-size: 12;
        color: #FFFFFF;
}

th a {
        
        color: #FFFFFF;
}

th a:visited{
        
        color: #FFFFFF;
}

select {
        color : #000000;
        font-size : 12px;
        font-weight : normal;
}
.sf {
	font-size: 11px;
	font-family: Tahoma, Verdana, Arial;
}
.middlefont {
	font-size: 14px;
}
.largefont {
	font-size: 14px;
}
.highlight {
	font-weight: bolder;
	color: #FF6600;
}
.highlight2 {
	font-weight: bolder;
	color: #006699;
}
td {
	font-size: 12px;
}
.brokenline {
	border: 1px dotted #CCCCCC;
}
.bg_0 {
	
	background-color: #EFEFEF;
	/*
	background-color: #D9D9D9;
	*/
}

.bg_1 {
	background-color: #E0E6EF;
}

.bg_0 td, .bg_1 td {	
	line-height:16px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #B4BED4;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B4BED4;
	
}
li {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
}
body {
	font-family: Tahoma, Verdana, Arial;
	font-size: 12px;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color: #acacac;
	scrollbar-shadow-color: #acacac;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-track-color:#F5F5F5;
	background-color: #cccccc;
	background-image: url(/images/bodybg.png);
	background-repeat: repeat-x;
	background-position: center top;
	
	width: auto;
	height: auto;
	text-align: center;
	padding: 0;
}
                       

.tableHeader {           
	background-color: #7B869A;
	font-family: Tahoma, Verdana, Arial;
	
	color: #FFFFFF;
}

.tableHeader td {

	border: 1px outset #FFFFFF;
}
.tableOutborder {
	background-color: #FFFFFF;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E0E6EF;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E0E6EF;

	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #7B869A;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #7B869A;

}
.displayorder {
	text-align: left;
	text-indent: 2px;
	vertical-align: middle;
	font-size: 11px;
	height: 20px;
	width: 50px;
}
.main {
	background-color: #FFFFFF;
	padding: 0px;
	border: 1px ridge;
	margin-top: 8px;

	text-align: center;
}

.menuBox {
	border: 1px dotted #000000;
}

/* menu */
.menuskin{
	position:absolute;
	width: 100px;
	background-color:#EEEEEE;
	border: 1px solid #4172A2;
	font:normal 12px Verdana;
	line-height:18px;
	z-index:100;
	visibility:hidden;
}
.menuskin a{
	text-decoration:none;
	color:black;
	padding-left:10px;
	padding-right:10px;
}
#mouseoverstyle{
	background-color: highlight;
}
#mouseoverstyle a{
	color: white;
}
.subHead {
	font-family: Tahoma, "MS Shell Dlg";
	font-size: 14px;
	color: #FF6600;
	padding: 4px;
	font-weight: bolder;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	background-color: #F9F9F9;
}
#comment {
	word-wrap: break-word; 
	word-break: break-all;
}
#tableHeader td	 {
	background-image: url(/images/tableHeader.jpg);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, 	sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	height: 30px;
}
#tableFooter td	 {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, 	sans-serif;
	font-size: 12px;
	border: 0px;
	text-align: center;
}
#tableFooter input  {
	background-color: #B4BED4;
	font-family: Tahoma,  "MS Shell Dlg";
	font-size: 11px;
	color: #000000;
}
form  {
	margin: 0;
	padding: 0;
}
 

.vnet_status_1 {
	color: blue;
}
.vnet_status_2 {
	color: red;
}
.vnet_status_3 {
	color: black;
}
/*
display
*/
.bt_status_1 {
	color: blue;
}

/*
hide
*/
.bt_status_2 {
	color: red;
}



.bt_valid_1 {
	color: blue;
}
.bt_valid_0 {
	color: red;
}


.album_status_1 {
	color: blue;
}
.album_status_2 {
	color: red;
}
.album_status_3 {
	color: black;
}


.sticky_0 {
	color: black;
}
.sticky_1 {
	color: blue;
}
@import url("cpIE.css");



h1, h2 {
	text-align: left;
	font-size: 14px;
	padding: 2px;
	margin: 0;
}


/* Sortable tables */
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}


/* validator */
input.disabled {
	border: 1px solid #F2F2F2;
	background-color: #F2F2F2;
}

input.required, textarea.required {
	/*border: 1px solid #00A8E6;*/
}
input.validation-failed, textarea.validation-failed {
	/*border: 1px solid #FF3300;*/
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	/*border: 1px solid #00CC00;*/
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #7B869A;/*#FF3300;*/
	color : #FFF;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

.error_message{
        font-weight: bold;
        color:#FF0000;
}

#cakeSqlLog td { 
        text-align: left;
        padding: 4px 8px;
        background: #fff;
        border-bottom: 2px solid #ccc;   
}

.auto_textarea{
        overflow: visible
}


#flashMessage{
        color:red;
        font-size: 12px;
        font-weight: bold;
        background:#ffe;
        border:1px solid #060;
        margin:0px;
        padding:4px;

}

#flashSuccessMessage{
        color:#169216;
        font-weight: bold;
        background:#ffe;
        border:1px solid #060;
        margin:0px;
        padding:4px;
}

.green{
        color:#169216;
        font-weight: bold;
}

.red{
	color:#FF6600
}

.blue{
	color:#0066CC
}

#chapter_list ul { margin:2px; padding-left:0px}
#chapter_list li { float:left; width:165px; height:20px; font-size: 12px; overflow:hidden; font-family: Tahoma; padding:0 0 0 3; margin:2px; line-height:18px; text-align:left;border: 1px outset #FFFFFF; height:20px}
#chapter_list div{ float: left;}

#collection_image li{float:left; }
#collection_image li div{width:130px; height:130px;border: #ededed 1px solid; margin-bottom: 15px; margin-right:10px; background: #f6f6f6; text-align: center}
#collection_image li .edge{DISPLAY: inline-block;	VERTICAL-ALIGN: middle;	WIDTH: 0px;	HEIGHT: 100%}
#collection_image li .container {	DISPLAY: inline-block;	VERTICAL-ALIGN: middle;	WIDTH: 100%;	TEXT-ALIGN: center}

#segment_list ul { margin:2px; padding-left:0px}
#segment_list li { float:left; width:175px; height:22px; font-size: 12px; font-family: Tahoma; padding:0 0 0 3; margin:4px; line-height:18px; text-align:left;border: 1px outset #FFFFFF; height:20px; white-space:nowrap}
#segment_list div{ float: left;}
ul.actions {
  float:left;
  padding: 2px;
  margin:0px;
  
} 
ul.actions li {
	margin:0px
	margin-top: 4px;
	margin-bottom:2px;
	background:#fff;
	padding:2px;
	padding-top:6px;
	padding-left:5px;
	font-size: 12px;
	color: #000000;
	background-color: #E6E6CA;
	width:110px;
	cursor: hand;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #ACA899;
	border-bottom: 1px solid #ACA899;
	border-left: 1px solid #FFFFFF;
	text-align:center;
	list-style-type: none;
	
}
ul.actions li A:hover {COLOR: #18486b;TEXT-DECORATION: none; white-space: nowrap}
ul.actions li A {white-space: nowrap}
/* scaffold show */


div.related {clear:both;display:block;}
dl {line-height:2em; margin:0em 1em;float:left;width: 100px;white-space: nowrap}
dt {font-weight: bold;vertical-align:top; text-align:left}
dd { margin-left:10em;margin-top:-2em;vertical-align:top;background-color: #fff; width:300px; text-align:left; white-space: nowrap}

.hand{cursor:hand}

/*  cms  */
.cms_bg_line{ background:url(images/folder_line.gif) 5px 0px no-repeat repeat-y}
.left_padding { padding-left:3px}
.right_padding { padding-right:3px}

.order_img { width:12px; height:12px; border:0;}
.b {font-weight:bold} 