/* general paragraphs in text */
p {
    line-height: 16px;
    margin: 5px 10px 5px 10px;
}


/* admonitional blocks */
.note, .warning, .caution {
    margin: 10px 0px 0px 0px;
    border: 1px #7B869A solid;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding: 5px 5px 5px 50px; /* HI (10 => 50) */
}
.note {
    background-image: url(images/_note.gif); /* HI (new) */
    background-repeat: no-repeat; /* HI (new) */
}

/* color for warning and caution boxes */
.warning, .caution {
    background-color: #FFFF99;
    background-image: url(images/_warning.gif); /* HI (new) */
    background-repeat: no-repeat; /* HI (new) */
}

/* paragraphs inside notes */
.note, .warning, .caution, .note p, .warning p, .caution p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
	text-align: left;
}