#pageLink {
	font-family: Tahoma, MS Shell Dlg;
	font-size: 11px;
	padding: 0;
}
#pageLinkOn {
	font-size: 11px;
	BACKGROUND: #B4BED4; 
	padding: 1px 5px;
	border: 1px solid #000000;
	margin: 1px;
	text-decoration: none;
	height: 18px;
	font-family: Tahoma, MS Shell Dlg;
	COLOR: #000000;	
}

#pageLink a {
	font-size: 11px;
	padding: 1px 5px;
	border: 1px solid #FFFFFF;	
	margin: 1px;	
	height: 18px;
	BACKGROUND: #FFFFFF; 
}
#pageLink a:link,#pageLink a:visited {
	color: #000000;
	padding: 1px 5px;
	border: 1px solid #FFFFFF;	
	margin: 1px;
	height: 18px;	
}
#pageLink a:hover {
	BACKGROUND: #B4BED4; 
	padding: 1px 5px;
	border: 1px solid #000000;
	margin: 1px;
	text-decoration: none;
	height: 18px;
	COLOR: #000000;	
}
#pageLink a:active {
	BACKGROUND: #7486AF; 
	color: #FFFFFF;
	padding: 1px 5px;
	border: 1px solid #000000;	
	margin: 1px;
	height: 18px;	
}
.pageNav  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	BACKGROUND: #F1F1F1; 
	border: 1px solid #FFFFFF;	
}
pagination{

        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        BACKGROUND: #F1F1F1; 
        border: 1px solid #FFFFFF;        
}
/*  */
.pageNavSpace {
	width: 0px;
}


.pageLink {
        font-family: Tahoma, MS Shell Dlg;
        font-size: 11px;
        padding: 0;
}
.pageLinkOn {
        font-size: 11px;
        BACKGROUND: #B4BED4; 
        padding: 1px 5px;
        border: 1px solid #000000;
        margin: 1px;
        text-decoration: none;
        height: 18px;
        font-family: Tahoma, MS Shell Dlg;
        COLOR: #000000;        
}

.pageLink a {
        font-size: 11px;
        padding: 1px 5px;
        border: 1px solid #FFFFFF;        
        margin: 1px;        
        height: 18px;
        BACKGROUND: #FFFFFF; 
}
.pageLink a:link,#pageLink a:visited {
        color: #000000;
        padding: 1px 5px;
        border: 1px solid #FFFFFF;        
        margin: 1px;
        height: 18px;        
}
.pageLink a:hover {
        BACKGROUND: #B4BED4; 
        padding: 1px 5px;
        border: 1px solid #000000;
        margin: 1px;
        text-decoration: none;
        height: 18px;
        COLOR: #000000;        
}
.pageLink a:active {
        BACKGROUND: #7486AF; 
        color: #FFFFFF;
        padding: 1px 5px;
        border: 1px solid #000000;        
        margin: 1px;
        height: 18px;        
}

/*  */
.pageNavSpace {
        width: 0px;
}