//gradient
@mixin lg($dir, $col1, $col2){
	background-color:$col2; 
	@include background-image(linear-gradient($dir, $col1, $col2));
}
@mixin btn($h,$fontsize,$color,$bgColor){
	  text-decoration: none;
  	text-align: center;
  	display: inline-block;
  	width:100%;
  	height: $h;
  	line-height: $h;
  	font-size: $fontsize;
  	color:$color;
  	@include border-radius($radius-s);
  	background-color:$bgColor;
}
.absolute-vCenter{
  position: absolute;
  margin-top:auto;
  margin-bottom: auto;
  top:0;
  bottom:0;

}

.hidden{display:none!important;}
.invisible{visibility:hidden!important;}
.disabled{
	color:#000!important;
	background-color:#f5f5f5!important;
}

.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clear{clear:both;}

.ui-editor{
  word-break:break-all;
  i,em{font-style:italic!important;}
  strong,b{font-weight:bold!important;}
  u{text-decoration:underline!important;}
  s{text-decoration:line-through!important;}
  ul li{list-style:initial; margin-left:1rem!important;}
  ol li {list-style:decimal; margin-left:1rem!important;}
  span,p,h1,h2,h3,h4,h5{white-space: normal!important;}
  span,p{
    line-height: 1rem;
  }
  img{
    padding-top: 5px;
    max-width: 100%!important;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  table{margin:4px 0;max-width:300px!important;}
  h1,h2,h3{font-size: 1.2rem!important;line-height: 1.5rem;}
  h4,h5,h6{font-size: 1.2rem!important;line-height: 1.3rem;}
}

