<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<title>{{project_title}}</title>
<link rel="shortcut icon" href="{{rootUrl}}/favicon.ico" />
<!-- include '{{inc}}' -->
</head>
<body>
    <div class="header">
        <h1>{{project_title}}</h1>
        <p class="fr">
            <span>欢迎您，</span>
            <a href="#">{{session.realname}} [{{session.username}}]</a>
            <a href="{{siteUrl}}login/loginout" class="logout">退出</a>
        </p>
    </div>