/* @author wang.wenlong(http://www.jndream.net) */

/**
 * reset.css based on YUI
 *
 * Update Log:
 * 2011-08-08 jndream created initial version
 */

body{font:12px/1.5 Tahoma,Helvetica,Arial,\5b8b\4f53,sans-serif;}

html,legend{color:#404040; background:#fff;}
html{
    zoom: expression(function(ele){
        ele.style.zoom = "1";
        document.execCommand("BackgroundImageCache", false, true);
    }(this));
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,
input,button,textarea,p,blockquote,th,td{margin:0; padding:0;}

table{border-collapse:collapse; border-spacing:0;}

fieldset,img{border:none;}

address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal;}/*strong, 我觉得strong加粗是应该的*/

li{list-style:none;}

caption,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;}
h1{font-size:18px; /*18px/12px=1.5*/}
h2{font-size:16px;}
h3{font-size:14px;}

q:before,q:after{content:'';}

abbr,acronym{border:none; font-variant:normal;}

/* to preserve line-height and selector appearance */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

input,button,textarea,select{font-family:inherit; font-size:inherit; font-weight:inherit; outline:none;}
img,input,button,select{vertical-align:middle;}
textarea{resize:none;}

/* to enable resizing for IE */
input,button,textarea,select{*font-size:100%;}
select,input,button,textarea{font:100%Tahoma,Helvetica,Arial,sans-serif;}

/* To help tables remember to inherit */
table{font-size:inherit; font:100%;}

/* fixed-width elements */
pre,code,kbd,samp,tt{font-family:'CourierNew',Courier,monospace;}

/* reset HTML5 elements */
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video{display:block; margin:0; padding:0;}
mark{background:#ff0;}

/* the dead elements */
s,u{text-decoration:none;}
b{font-weight:normal;}
i{font-style:normal;}

/***********************************************
 * Common Class
 ***********************************************/
.hidden{display:none;}
.invisible{visibility:hidden;}

.floatleft{float:left !important;}
.floatright{float:right !important;}

.clearfix:after{content:'\0020'; display:block; height:0; clear:both;}
.clearfix{*zoom:1;}
.clear{clear:both;}
.oz{overflow:hidden; *zoom:1;}


/*
双飞翼栅格布局 Flying Swing Grids Layout
理念：简单质朴，语义化布局。
维护：王文龙<jn_dream@163.com>
*/

/***********************************************
 * <!-- html code Begin -->
 * <div id="page">
 *		<div id="header"> ... </div>
 *		<div id="content">
 *			<div class="grid c3-s3e2">
 *				<div class="col-main">
 *					<div class="main-wrap"> ... </div>
 *				</div>
 *				<div class="col-sub"> ... </div>
 *				<div class="col-extra"> ... </div>
 *			</div>
 *		</div>
 *		<div id="footer"> ... </div>
 *	</div>
 * <!-- html code End -->
*/

/***********************************************
 * 2 Columns
 * normal - main : sub
 *      f - sub  : main
 *
 **********************************************
 *
 * 3 Columns
 * normal - sub   : main  : extra
 *      f - extra : main  : sub
 *      e - main  : sub   : extra
 *      d - main  : extra : sub
 *      c - sub   : extra : main
 *      b - extra : sub   : main
 ***********************************************/

#page, #page3{margin-left:auto; margin-right:auto;}
#page{width:960px;} /* Golden width ^o^ */
/*#page2{width:100%;} 不设置，默认就是100%. */
#page3{width:750px;}/* 750 is still suitable for 'small, intro' page. */

.col-main{float:left; width:100%;}
.col-sub, .col-extra{float:left; position:relative;}

.main-wrap:after, .col-sub:after, .col-extra:after, .grid:after{content:'\0020'; display:block; height:0; clear:both !important;}
.main-wrap, .col-sub, .col-extra, .grid{*zoom:1;}

/***********************************************
 * Default
 ***********************************************/
/* 2 Columns: .c2-s5 */
.c2-general .main-wrap,
.c2-s5 .main-wrap{margin-left:200px; padding-left:10px;}
.c2-general .col-sub,
.c2-s5 .col-sub{margin-left:-100%; width:200px;}

.c2f-general .main-wrap,
.c2f-s5 .main-wrap{margin-right:200px; padding-right:10px;}
.c2f-general .col-sub,
.c2f-s5 .col-sub{margin-left:-200px; width:200px;}

/* 3 Columns: .c3-s5e6 */
.c3-general .main-wrap,
.c3-s5e6 .main-wrap{margin:0 240px 0 200px; padding:0 10px;}
.c3-general .col-sub,
.c3-s5e6 .col-sub{margin-left:-100%; width:200px;}
.c3-general .col-extra,
.c3-s5e6 .col-extra{margin-left:-240px; width:240px;}

.c3f-general .main-wrap,
.c3f-s5e6 .main-wrap{margin:0 200px 0 240px; padding:0 10px;}
.c3f-general .col-sub,
.c3f-s5e6 .col-sub{margin-left:-200px; width:200px;}
.c3f-general .col-extra,
.c3f-s5e6 .col-extra{margin-left:-100%; width:240px;}

.c3e-general .main-wrap,
.c3e-s5e6 .main-wrap{margin-right:450px; padding-right:10px;}
.c3e-general .col-sub,
.c3e-s5e6 .col-sub{margin-left:-450px; width:200px;}
.c3e-general .col-extra,
.c3e-s5e6 .col-extra{margin-left:-240px; width:240px;}

.c3d-general .main-wrap,
.c3d-s5e6 .main-wrap{margin-right:450px; padding-right:10px;}
.c3d-general .col-sub,
.c3d-s5e6 .col-sub{margin-left:-200px; width:200px;}
.c3d-general .col-extra,
.c3d-s5e6 .col-extra{margin-left:-450px; width:240px;}

.c3c-general .main-wrap,
.c3c-s5e6 .main-wrap{margin-left:450px; padding-left:10px;}
.c3c-general .col-sub,
.c3c-s5e6 .col-sub{margin-left:-100%; width:200px;}
.c3c-general .col-extra,
.c3c-s5e6 .col-extra{margin-left:-100%; left:210px; width:240px;}

.c3b-general .main-wrap,
.c3b-s5e6 .main-wrap{margin-left:450px; padding-left:10px;}
.c3b-general .col-sub,
.c3b-s5e6 .col-sub{margin-left:-100%; left:250px; width:200px;}
.c3b-general .col-extra,
.c3b-s5e6 .col-extra{margin-left:-100%; width:240px;}

/***********************************************
 * 2 Columns
 * normal - sub  : main
 *      f - main : sub
 ***********************************************/
/* s2 */
.c2-s2 .main-wrap{margin-left:80px; padding-left:10px;}
.c2-s2 .col-sub{margin-left:-100%; width:80px;}
.c2f-s2 .main-wrap{margin-right:80px; padding-right:10px;}
.c2f-s2 .col-sub{margin-left:-80px; width:80px;}

/* s3 */
.c2-s3 .main-wrap{margin-left:120px; padding-left:10px;}
.c2-s3 .col-sub{margin-left:-100%; width:120px;}
.c2f-s3 .main-wrap{margin-right:120px; padding-right:10px;}
.c2f-s3 .col-sub{margin-left:-120px; width:120px;}

/* s4 */
.c2-s4 .main-wrap{margin-left:160px; padding-left:10px;}
.c2-s4 .col-sub{margin-left:-100%; width:160px;}
.c2f-s4 .main-wrap{margin-right:160px; padding-right:10px;}
.c2f-s4 .col-sub{margin-left:-160px; width:160px;}

/* s6 */
.c2-s6 .main-wrap{margin-left:240px; padding-left:10px;}
.c2-s6 .col-sub{margin-left:-100%; width:240px;}
.c2f-s6 .main-wrap{margin-right:240px; padding-right:10px;}
.c2f-s6 .col-sub{margin-left:-240px; width:240px;}

/* s7 */
.c2-s7 .main-wrap{margin-left:280px; padding-left:10px;}
.c2-s7 .col-sub{margin-left:-100%; width:280px;}
.c2f-s7 .main-wrap{margin-right:280px; padding-right:10px;}
.c2f-s7 .col-sub{margin-left:-280px; width:280px;}

/* s8 */
.c2-s8 .main-wrap{margin-left:320px; padding-left:10px;}
.c2-s8 .col-sub{margin-left:-100%; width:320px;}
.c2f-s8 .main-wrap{margin-right:320px; padding-right:10px;}
.c2f-s8 .col-sub{margin-left:-320px; width:320px;}

/* s9 */
.c2-s9 .main-wrap{margin-left:360px; padding-left:10px;}
.c2-s9 .col-sub{width:360px; margin-left:-100%;}
.c2f-s9 .main-wrap{margin-right:360px; padding-right:10px;}
.c2f-s9 .col-sub{width:360px; margin-left:-360px;}

/* s10 */
.c2-s10 .main-wrap{margin-left:400px; padding-left:10px;}
.c2-s10 .col-sub{width:400px; margin-left:-100%;}
.c2f-s10 .main-wrap{margin-right:400px; padding-right:10px;}
.c2f-s10 .col-sub{width:400px; margin-left:-400px;}

/* s11 */
.c2-s11 .main-wrap{margin-left:440px; padding-left:10px;}
.c2-s11 .col-sub{width:440px; margin-left:-100%;}
.c2f-s11 .main-wrap{margin-right:440px; padding-right:10px;}
.c2f-s11 .col-sub{width:440px; margin-left:-440px;}

/* s12 */
.c2-s12 .main-wrap{margin-left:480px; padding-left:10px;}
.c2-s12 .col-sub{width:480px; margin-left:-100%;}
.c2f-s12 .main-wrap{margin-right:480px; padding-right:10px;}
.c2f-s12 .col-sub{width:480px; margin-left:-480px;}

/* half */
.c2-half .main-wrap{margin-left:475px; padding-left:10px;}
.c2-half .col-sub{width:475px; margin-left:-100%;}

/***********************************************
 * 3 Columns
 * normal - sub   : main  : extra
 *      f - extra : main  : sub
 *      e - main  : sub   : extra
 *      d - main  : extra : sub
 *      c - sub   : extra : main
 *      b - extra : sub   : main
 ***********************************************/
/* s5e7 */
.c3-s5e7 .main-wrap{margin:0 280px 0 200px; padding:0 10px;}
.c3-s5e7 .col-sub{margin-left:-100%; width:200px;}
.c3-s5e7 .col-extra{margin-left:-280px; width:280px;}

.c3f-s5e7 .main-wrap{margin:0 200px 0 280px; padding:0 10px;}
.c3f-s5e7 .col-sub{margin-left:-200px; width:200px;}
.c3f-s5e7 .col-extra{margin-left:-100%; width:280px;}

.c3e-s5e7 .main-wrap{margin-right:490px; padding-right:10px;}
.c3e-s5e7 .col-sub{margin-left:-490px; width:200px;}
.c3e-s5e7 .col-extra{margin-left:-280px; width:280px;}

.c3d-s5e7 .main-wrap{margin-right:490px; padding-right:10px;}
.c3d-s5e7 .col-sub{margin-left:-200px; width:200px;}
.c3d-s5e7 .col-extra{margin-left:-490px; width:280px;}

.c3c-s5e7 .main-wrap{margin-left:490px; padding-left:10px;}
.c3c-s5e7 .col-sub{margin-left:-100%; width:200px;}
.c3c-s5e7 .col-extra{margin-left:-100%; left:210px; width:280px;}

.c3b-s5e7 .main-wrap{margin-left:490px; padding-left:10px;}
.c3b-s5e7 .col-sub{margin-left:-100%; left:290px; width:200px;}
.c3b-s5e7 .col-extra{margin-left:-100%; width:280px;}

/* s9e6 */
.c3-s9e6 .main-wrap{margin:0 240px 0 360px; padding:0 10px;}
.c3-s9e6 .col-sub{margin-left:-100%; width:360px;}
.c3-s9e6 .col-extra{margin-left:-240px; width:240px;}

.c3f-s9e6 .main-wrap{margin:0 360px 0 240px; padding:0 10px;}
.c3f-s9e6 .col-sub{margin-left:-360px; width:360px;}
.c3f-s9e6 .col-extra{margin-left:-100%; width:240px;}

.c3e-s9e6 .main-wrap{margin-right:610px; padding-right:10px;}
.c3e-s9e6 .col-sub{margin-left:-610px; width:360px;}
.c3e-s9e6 .col-extra{margin-left:-240px; width:240px;}

.c3d-s9e6 .main-wrap{margin-right:610px; padding-right:10px;}
.c3d-s9e6 .col-sub{margin-left:-360px; width:360px;}
.c3d-s9e6 .col-extra{margin-left:-610px; width:240px;}

.c3c-s9e6 .main-wrap{margin-left:610px; padding-left:10px;}
.c3c-s9e6 .col-sub{margin-left:-100%; width:360px;}
.c3c-s9e6 .col-extra{margin-left:-100%; left:370px; width:240px;}

.c3b-s9e6 .main-wrap{margin-left:610px; padding-left:10px;}
.c3b-s9e6 .col-sub{margin-left:-100%; left:250px; width:360px;}
.c3b-s9e6 .col-extra{margin-left:-100%; width:240px;}

/* s8e8 */
.c3-s8e8 .main-wrap{margin:0 320px; padding:0 10px;}
.c3-s8e8 .col-sub{margin-left:-100%; width:320px;}
.c3-s8e8 .col-extra{margin-left:-320px; width:320px;}

.c3f-s8e8 .main-wrap{margin:0 320px; padding:0 10px;}
.c3f-s8e8 .col-sub{margin-left:-320px; width:320px;}
.c3f-s8e8 .col-extra{margin-left:-100%; width:320px;}

.c3e-s8e8 .main-wrap{margin-right:650px; padding-right:10px;}
.c3e-s8e8 .col-sub{margin-left:-650px; width:320px;}
.c3e-s8e8 .col-extra{margin-left:-320px; width:320px;}

.c3d-s8e8 .main-wrap{margin-right:650px; padding-right:10px;}
.c3d-s8e8 .col-sub{margin-left:-320px; width:320px;}
.c3d-s8e8 .col-extra{margin-left:-650px; width:320px;}

.c3c-s8e8 .main-wrap{margin-left:650px; padding-left:10px;}
.c3c-s8e8 .col-sub{margin-left:-100%; width:320px;}
.c3c-s8e8 .col-extra{margin-left:-100%; left:330px; width:320px;}

.c3b-s8e8 .main-wrap{margin-left:650px; padding-left:10px;}
.c3b-s8e8 .col-sub{margin-left:-100%; left:330px; width:320px;}
.c3b-s8e8 .col-extra{margin-left:-100%; width:320px;}

/***********************************************
 * Misc
 ***********************************************/
/* bug fix: 当主栏没有内容时，在ff和chrome等浏览器下，布局不对 */
.col-main {
	min-height: 1px;
}

/* bug fix: 解决Chrome和Safari下选取文字时，背景区域不对的bug */
body:first-of-type .main-wrap {
    position: relative;
}