.demo{width:800px; margin:30px auto 0; font-family:"\5FAE\8F6F\96C5\9ED1";}
.demo h2{font-size:14px; text-align:center; padding-bottom:5px; border-bottom:solid 1px #ccc;}
.demo .main-show{margin-top:10px; padding:0 15px; line-height:2;}
.demo .main-show li{margin-top:5px; font-size:14px;}
.demo .main-show .fg{margin:20px 0; height:1px; background:#ccc; width:75%; overflow:hidden; font-size:0;}
.demo .main-show .desc{font-size:12px; color:#666;}
.demo .main-show li i{display:inline-block; width:50px;}
.demo .main-show li hr{margin:20px 0;}
.demo .main-show li input{border:solid 1px #ccc; padding:5px; width:400px; font-size:12px; font-family:"\5FAE\8F6F\96C5\9ED1"; color:#666;}
.demo .main-show li textarea{border:solid 1px #ccc; padding:10px 5px 0; width:480px; vertical-align:top; font-size:12px; color:#666; line-height:2; font-family:"\5FAE\8F6F\96C5\9ED1";}
.demo .main-show li button{border:solid 1px #ccc; padding:5px 10px; font-size:12px;}
.demo .JS-panel{padding:10px; height:20px; border:solid 1px #fc9; margin-top:20px;}