<div class="row-fluid">
    <div class="span12">
        <!-- 自定义主题 -->
        <div id="theme-change" class="hidden-phone">
            <i class="icon-cogs"></i>
            <span class="settings">
                <span class="text">换肤:</span>
                <span class="colors">
                    <span class="color-default" data-style="default"></span>
                    <span class="color-gray" data-style="gray"></span>
                    <span class="color-purple" data-style="purple"></span>
                    <span class="color-navy-blue" data-style="navy-blue"></span>
                </span>
            </span>
        </div>
        <!-- 页面头部信息 -->     
        <h3 class="page-title">浏览器导航<small> 移动互联网运营部</small></h3>
        <% if (breadcrumb && breadcrumb.length != 0) { %>
        <ul class="breadcrumb">
            <li>
               <a href="/admin/index"><i class="icon-home"></i></a><span class="divider">&nbsp;</span>
            </li>
            <li>
               <a href="<%= breadcrumb[0]['link'] %>"><%= breadcrumb[0]['name'] %></a> <span class="divider">&nbsp;</span>
            </li>
            <li><a href="<%= breadcrumb[1]['link'] %>"><%= breadcrumb[1]['name'] %></a><span class="divider-last">&nbsp;</span></li>
        </ul>
        <% } %>
    </div>
</div>