html{font-size:20px; text-size-adjust:none;}
@media all and (min-width:359px){.uc-hack{font-size:22.5px;}}
@media all and (min-width:359px) and (-webkit-min-device-pixel-ratio:1.5){html{font-size:22.5px;}}
@media all and (min-width:719px){.links-box,.free-conn,.hd-wifi,.main-wifi{width:720px;margin:0 auto}}

body{font:1rem/1 "\5FAE\8F6F\96C5\9ED1","\5b8b\4f53",Tahoma,Helvetica,Arial,sans-serif;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dt,dd,ol,ul,li,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,fieldset,form,label,legend,able,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0; padding:0; -webkit-tap-highlight-color:rgba(0,0,0,0);}
img{width:100%; height:auto;}
ul,ol,dl,li,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1rem; font-weight:normal;}
body{font-size:.7rem;background:#f9f9f9;color:#222}
a,a:active{color:#222;text-decoration:none}

.module{position:absolute; left:0; top:0; bottom:0; width:100%;}
.panel1{z-index:10;}
.links-box,.input-box{padding:.3rem}
.links-box{padding:.3rem .3rem 0;}
.links-box .ads ul{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex}
.links-box .ads li{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:50%;}
.links-box .ads li a{display:block;}
.links-box .ads .active{position:relative;text-align:center;overflow:hidden;}
.links-box .ads .active img{width:96%;height:96%;padding:2%}
.links-box .ads .active:after{display:block;content:"";position:absolute;width:100%;height:100%;left:0;top:0;background:url("pic/wifi_bg_fingerprint.png") no-repeat left bottom;-webkit-background-size:50% auto;-moz-background-size:50% auto;background-size:50% auto}
.links-box .ads li:first-child a{margin:.3rem .15rem 0 0}
.links-box .ads li:last-child a{margin:.3rem 0 0 .15rem}
.free-conn{margin-top:.3rem; margin-bottom:.3rem;padding:0 .3rem;}
.free-conn .btn{display:block;width:100%;padding:.6rem 0;text-align:center;font-size:.7rem;background-image:-webkit-linear-gradient(top, #f9f9f9, #ddd);background-image:-moz-linear-gradient(top, #f9f9f9, #ddd);background-image:-o-linear-gradient(top, #f9f9f9, #ddd);background-image:-ms-linear-gradient(top, #f9f9f9, #ddd);background-image:linear-gradient(to bottom, #f9f9f9, #ddd);border:solid 1px #a5a5a5;-webkit-border-radius:18px;border-radius:18px}
.hd-wifi{background-color:#fff;overflow:hidden;}
.hd-wifi .search-bar{padding:.7rem .4rem .8rem .4rem;}
.hd-wifi .search-bar form{position:relative;display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex}
.hd-wifi .search-bar input{-webkit-box-shadow:0 1px 3px #c7c7c7 inset;display:block;outline:none;-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding:.5rem .7rem;border:solid 1px #ccc;-webkit-border-radius:16px;border-radius:16px;font-size:.65rem;color:#6d6d6d;background: #f6f6f6;}
.hd-wifi .search-bar button{outline:none;position:absolute;top:0;right:0;background:url("img/search.png") no-repeat 0 center;-webkit-background-size:1.05rem;-moz-background-size:1.05rem;background-size:1.05rem;border:0;width:1.7rem;height:1.9rem}
.hd-wifi nav{background: #f1f1f1;}
.hd-wifi nav ul{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;}
.hd-wifi nav ul li{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding:.5rem 0;text-align:center}
.hd-wifi nav ul li a{display:block;color:#282828;font-size:.65rem;}
.hd-wifi nav ul li a img{width:2.9rem;height: 2.9rem;margin-bottom:.2rem;}
.main-wifi{padding-bottom:.8rem;overflow:hidden;}
.main-wifi .sudoku-box{background:#fff;overflow:hidden;}
.main-wifi .sudoku-box ul{border-top: 1px solid #f4f4f4;}
.main-wifi .sudoku-box li{float:left;width:33.3%;text-align:center;}
.main-wifi .sudoku-box li a{border:solid #f4f4f4;border-width:0 1px 1px 0;display:block;padding:.9rem 0 .3rem}
.main-wifi .sudoku-box li:nth-of-type(3n) a{border-right:0}
.main-wifi .sudoku-box li img{width:1.5rem;vertical-align:middle;margin-right:.3rem;}
.main-wifi .banner{margin:.3rem 0;}
.main-wifi .banner a{display:block}
.main-wifi .news-box .title{display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-ms-flexbox;display:box;display:flex;border-bottom:solid 4px #ffa200}
.main-wifi .news-box .title-left{display: inline-block;padding:.5rem;position: relative;padding-left: .8rem;}
.main-wifi .news-box .title-left:before{content:'';width:.1rem;height: 1rem;background: #ffd000;position: absolute;left:.3rem;top:.4rem;}
.main-wifi .news-box h2{width:5.7rem;padding-left:.3rem;font-size:.7rem;margin-top:.3rem;}
.main-wifi .news-box h2:before{content:"";display:inline-block;width:3px;height:1rem;vertical-align:middle;background-color:#fb9e25;margin-right:.3rem;overflow:hidden}
.main-wifi .news-box .tab{-webkit-box-flex:1;-moz-box-flex:1;-o-box-flex:1;box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;text-align:right;padding:.5rem 0;}
.main-wifi .news-box .tab span{display:inline-block;padding:0 .7rem;height:.7rem;border-right:solid 1px #d6e0e5;font-size:.65rem}
.main-wifi .news-box .tab span:last-child{border:0}
.main-wifi .news-box .tab .selected{color:#fb9e25;position:relative;}
.main-wifi .news-box .tab .selected:after{content:"";position:absolute;top:152%;left:48%;width:.3rem;height:.3rem;background-color:#ffa200;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.main-wifi .news-box .head-line a{display:block;text-align:center;overflow:hidden}
.main-wifi .news-box .head-line h3{font-size:1rem;margin:.5rem 0;}
.main-wifi .news-box .head-line h3 .sub{font-size:.5rem;display:block;margin-top:.3rem}
.main-wifi .news-box .head-line p{padding:0 .8rem}
.main-wifi .news-box .content li{margin:.8rem .8rem 0;font-size:.7rem}