body{
	font-size:12px;
}

.header_left{
	float:left;
	text-align:left;
	width:50%
}

.header_right{
	float:right;
	text-align:right;
	width:50%;
	display:block;
}

/*main*/
#main{
	clear:both;
}

.title14{
	font-weight:bold;
	font-size:14px;
	color:#010609;
}
.title16{
	font-weight:bold;
	font-size:16px;
}
.title18{
	font-weight:bold;
	font-size:18px;
}

.tb_list{
	width:100%;
	padding:1px;
	border-collapse:collapse;
}

.tb_list th{
	background-color:#FFF;
	text-align:center;
	padding:2px;
}
.tb_list td{
	text-align:center;
	padding:2px;
	color:#010609;
}

.tb_form{
	width:100%;
	padding:1px;	
}

.tb_form th{
	background-color:#FFF;
	padding:2px;
}
.tb_form td{
	padding:2px;
}

table {background:#F2F3F5;color:#036; border:1px #CCC solid;}
table tr:nth-child(odd) {background:#E6ECFA;}
table tr th:last-child {width:120px;}