#error {
	padding: 1px;
	margin-top: 20px;
	border: 1px solid #F26C00;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#error h6 {
	margin: 0px;
	color: white;
	font-size: 18px;
	padding: 3px 8px;
	font-weight: bold;
	background-color: #EF8016;
}

#debug {
	padding: 1px;
	margin-top: 20px;
	border: solid 1px #01669A;
	background-color: #EEF9FF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

#debug h6 {
	margin: 0px;
	font-size: 18px;
	padding: 3px 8px;
	font-weight: bold;
	background: #A1DFFF;
	clear: both;
}

#debug table td {
	padding-left: 10px;
	background-color: #DAEBF4;
}

#debug table th {
	padding: 3px;
	font-size: 14px;
	text-align: right;
	font-weight: normal;
	background-color: #e9e5fd;
}

#debug .ext li {
	float: left;
	width: 200px;
	padding: 5px 0px;
}

#debug div {
	padding: 5px;
	background-color: #FFD58B;
}

#debug div span {
	color: red;
	padding: 0 5px;
}