/*
$Id: general.css 13504 2007-11-08 09:51:13Z weberliu $
*/

body {
  margin: 0px;
  padding: 0px;
  color: #192E32;
  font: 12px "sans-serif", "Arial", "Verdana";
}

th {
  font-weight: bold;
}

form {
  margin: 0px;
  padding: 0px;
}

input, textarea, select {
  font: 12px "courier new";
}

a:visited {
  color: #335B64;
  text-decoration: none;
}

a:link {
  color: #335B64;
  text-decoration: none;
}

a:hover {
  color: #EB8A3D;
  text-decoration: underline;
}

a:active {
  color: #EB8A3D;
  text-decoration: underline;
}

.clear {
  clear: both;
  float: none;
  font-size: 0px;
  margin: 0;
  padding: 0;
  display:block;
}

.nowrap {
  white-space:nowrap;
}

.inputDiv{
	position:relative;
	float:left;
	width:100%;
	height:auto;
	background: #FFF;
}
.inputDiv ul{
	position:relative;
	width:100%;
	height:auto;
	margin:10px 10px 0 0;
	padding:0;
	display:block;
	list-style-type:none;
}

.inputDiv .left_lable{
	position:relative;
	float:left;
	text-align: right;
  	font-weight: bold;
	font-size:14px;
	width:15%;
	line-height:25px;
	height:auto;
}
.inputDiv .right_input{
	position:relative;
	float:left;
	width:85%;
	line-height:25px;
	height:auto;
}

.red{
	color:red;
}