@charset "utf-8";
/** 
 *  @Author zhiming 
 *  @Date 2012-07-04
 */

body {
	background:#EBF3FE;
	font-size:13px;
	overflow-x:hidden;
}

.container {
	white-space:nowrap;
}


/*========================================
 面包屑                                                    
========================================*/
.crumb {
	height:40px;
	line-height:40px;
	margin-left:24px;
}

/*========================================
 搜索区域                                                    
========================================*/
.search-wrapper {
	margin-left:24px;
	margin-top:10px;
}

.search-wrapper .input-item {
	float:left;
	margin-right:20px;
	margin-bottom:10px;
}

.search-wrapper .input-item label {
	
}

.text-input {
	width:120px;
	height:24px;
	line-height:24px;
	background:#FFFFFF url(../img/input_bg_repeat.jpg) top repeat-x;
	border:1px solid #9E9A99;
}

.search-wrapper .btn-item {
	float:left;
}

.btn1 {
	width:46px;
	height:24px;
	text-align:center;
	line-height:24px;
	color:#F2F3F5;
	border:1px solid #123984;
	background:#1A56AC none;
	font-size:13px;
	cursor:pointer;
}

.btn2 {
	width:46px;
	height:24px;
	text-align:center;
	line-height:24px;
	color:#F2F3F5;
	border:1px solid #728A6A;
	background:#8DA585 none;
	font-size:13px;
	cursor:pointer;
}

/*========================================
 列表信息                                                    
========================================*/
.list-wrapper {
	text-align:center;
	margin:20px 24px;
}

.list-wrapper table {
	background:#FAFAFA;
	width:100%;
}
.list-wrapper table tr {}
.list-wrapper table tr td {
	border:1px solid #E9EAE5;
	padding:0px 5px;
	height:40px;
}
.list-wrapper table thead {
	white-space:normal;
}

.list-wrapper table thead tr {}

.list-wrapper table thead tr.first-child {
	background:#C6D7EB;
	height:36px;
	line-height:36px;
	font-size:14px;
}

.list-wrapper table thead tr.last-child {
	background:#FFEACF;
}

.list-wrapper table thead tr td.other-color {
	background:#FFFFEA;
}

.list-wrapper table tbody {}
.list-wrapper table tbody tr {}
.list-wrapper table tbody tr.odd {
	background:#FFF8FF;
}

.list-wrapper table tbody tr:hover {
	background:#D8DAF4;	
}

.list-wrapper table tbody tr td {}
.list-wrapper table tbody tr td a {
	color:#1C56AA;
}
.list-wrapper table tfoot {}
.list-wrapper table tfoot tr {}
.list-wrapper table tfoot tr td {}

/*========================================
 添加或编辑                                                    
========================================*/
.input-wrapper {
	margin:20px 24px;
}

.input-wrapper .input-item {
	
}

.input-wrapper .btn-item {
	margin:20px 0 0 90px;
	
}

.input-wrapper .input-item label {
	display:inline-block;
	color:#2F3334;
	font-size:13px;
	width:86px;
	height:36px;
	line-height:36px;
}

.input-wrapper .input-item input {
	width:190px;
}

.input-wrapper .input-item textarea {
	width:260px;
	height:90px;
}

/*========================================
 分页                                                    
========================================*/
.page-wrapper {
	margin-left:24px;	
}
.page-wrapper .page-shaper {
	width:510px;
	margin:0 auto;
}