@charset "utf-8";
/** 
 *  @Author zhiming 
 *  @Date 2012-07-04
 */

body {
	background:#113F8D url(../img/bg_repeat.jpg) repeat;
	color:#FFF;
}
.tc{ text-align:center;}
.mc{ margin:0 auto;}
.mt{ margin-top:100px;}
.fs28{ font-size:28px;}

.container {}
.login-wraper {
	width:484px;
	height:322px;
	margin:160px auto 0;
	font-size:15px;
	border-top:1px solid #0E66BF;
	border-bottom:1px solid #0D2C63;
}
.login-wraper .login-header {
	position:relative;
	background:#1C56AA;
	height:96px;
}

.login-wraper .login-header h1 {
	position:relative;
	width:421px;
	height:72px;
	margin:0 auto;
	top:14px;
}
.login-wraper .login-body {
	background:#FFFFFF url(../img/login_img.jpg) center right no-repeat;
	height:205px;
}

.login-wraper .login-body .form-wraper {
	width:360px;
	margin-left:44px;
}

.login-wraper .login-body .form-wraper div {
	height:36px;
	line-height:36px;
}

.login-wraper .login-body .form-wraper .error-tips {
	color:#FF0000;
	text-align:center;
	width:250px;
	font-size:13px;
}

.login-wraper .login-body .form-wraper .input-item {
	
}

.login-wraper .login-body .form-wraper .input-item label {
	width:54px;
	height:36px;
	line-height:36px;
	display:inline-block;
}

.login-wraper .login-body .form-wraper .input-item input {
	background:url(../img/input_bg_repeat.jpg) top center repeat-x;
	border:1px solid #9E9A9B;
	height:26px;
	line-height:26px;
}
.login-wraper .login-body .form-wraper .input-item .get-password {
	color:#000;
	font-size:12px;
}

#serial-num {
	width:92px;
}

.login-wraper .login-body .form-wraper .submit-item {
	position:relative;
	left:58px;
	width:300px;
}

.login-wraper .login-body .form-wraper .submit-item input {
	position:relative;
	width:54px;
	height:30px;
	border:1px solid #123984;
	background:#1A56AC;
	color:#F3F3F5;
	line-height:30px;
	cursor:pointer;
}

.login-wraper .login-footer {
	background:#1C56AA;
	height:20px;
}

.btn {
	border:none;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#B1C6E3));
    background:-moz-linear-gradient(top,#fff,#B1C6E3);
    background:-o-linear-gradient(top,#fff,#B1C6E3);
}