@charset "utf-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
input,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;padding:0;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
    display:block;
}
body,button, input, select, textarea{font:12px/1.5 Arial,"Arial Narrow";}
h1{font-size:16px;}
h2{font-size:14px;}
h3, h4, h5, h6{font-size:100%;}
blockquote:before, blockquote:after,q:before, q:after {content:'';}
address, cite, dfn, em, var{font-style:normal;}
code, kbd, pre, samp, tt{font-family:"Consolas","Courier New", Courier, monospace;}
small{font-size:12px;}
em,strong{font-weight:bolder;}
ul, ol{list-style:none outside none}
abbr[title], acronym[title]{border-bottom:1px dotted;cursor:help;}
fieldset, img{border:0;}
button, input, select, textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
.no-ime{ime-mode:disabled;}

/*===== ������� =====*/
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;height:0;line-height:0;clear:both;visibility:hidden;font-size:0;}

