@charset "utf-8";
/* CSS Document */
body {
	font-size:12px;
	color:#333333;
}

.search {
	height:120px;
	background:#F5F5F5;
}

.search .content {
	position:relative;
	width:800px;
	height:100px;
	margin:0 auto;
}

.search .content div {
	position:absolute;
}

#proj-name-shaper {
	top:30px;
}
#company-shaper {
	top:30px;
	left:240px;
}
#proj-all-money-shaper {
	top:30px;
	left:460px;
}
#proj-principal-shaper {
	top:70px;
}
#start-time-shaper {
	top:70px;
	left:240px;
}
#end-time-shaper {
	top:70px;
	left:460px;
}

#btn-shaper {
	top:70px;
	left:750px;
}

.table-list {
	width:1200px;
	margin:20px auto 0;
}

.table-list table {
	width:100%;
}

.table-list table tr {}
.table-list table tr td {
	font-size:14px;
	border:1px solid #797979;
	text-align:center;
}

.table-list table thead {
	font-weight:bold;
	background:#A4BED4;
}
.table-list table thead td {
	height:40px;
	line-height:40px;
}

.table-list tbody {}

.table-list tbody tr {}
.table-list tbody tr.odd-line {
	background:#F5F5F5;
}
.table-list tbody tr.hover {
	background:#D1EAFA;
}

.table-list tbody tr td {
	height:30px;
	line-height:30px;
	
}

.table-list tfoot {
	border:none;
	color:#555555;
}
.table-list tfoot tr td {
	height:40px;
	line-height:40px;
	border:none;
	font-size:12px;
	
}
.table-list tfoot td.first {
	text-align:left;			
}
.table-list tfoot td.first span {
	color:#F26521;	
}
.table-list tfoot td.last {
	text-align:right;			
}
.table-list tfoot td.last a {
	text-align:right;
	text-decoration:none;
	color:#000066;
}

.table-list tfoot td.last {
	text-align:right;			
}

#page-number {
	width:24px;
	border:1px solid #7F9DB9;
}
#page-buttom {
		
}
