/**********************************

Name: cmxform Styles

***********************************/
form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }

input.checkbox { border: none }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }