/* comm style */
html{-webkit-text-size-adjust:none; color:#333; background:#fcfcfc;}
@media screen and (min-width:721px){body{font-size:15px;}}
@media screen and (max-width:720px){body{font-size:15px;}}
@media screen and (max-width:480px){body{font-size:10px;}}
@media screen and (max-width:320px){body{font-size:6.6px;}}
@media screen and (max-width:240px){body{font-size:5px;}}
a{text-decoration:none; color:#333;}

.mask, .dialog{display:none;}
.hd{height:3.6em; padding-top:3.4em; background:-webkit-linear-gradient(top,#ffc000,#ff9000);}
.hd h1{height:3.6em; background:-webkit-linear-gradient(top,#f89a00,#ff9000); text-align:center; z-index:1;}
.hd h1 strong{display:inline-block; font-size:3.5em; font-weight:normal; color:#fff; margin-top:-0.6em;}

.ct{padding:2.2em 1.6em 0;}
.ct section{border:solid 1px #cacaca; border-radius:10px; background:#fff;}
.ct section li{height:9em; padding:0 2.2em; border-bottom:solid 1px #cacaca;}
.ct section li:nth-child(3){border-bottom:0;}
.ct section li span{display:table-cell; height:4.2em; vertical-align:middle; font-size:2.2em; line-height:1.5;}

.ft{margin:8em 1.6em 3em;}
.ft .pay-ways{border:solid 1px #cacaca; border-radius:10px;}
.ft .pay-ways li a, .ft .pay-ways li span{display:block; height:5em; line-height:5em; padding:1.5em 0 1.5em 15em; position:relative;}
.ft .pay-ways li:nth-child(1){border-bottom:solid 1px #cacaca;}
.ft .pay-ways li:nth-child(1) img{width:10.3em; height:3.4em;}
.ft .pay-ways li:nth-child(2) img{width:7.6em; height:4.7em;}
.ft .pay-ways li i{display:inline-block; width:10.5em; vertical-align:middle; margin-left:-14em;}
.ft .pay-ways li em{font-size:2.2em;}
.ft .pay-ways li s{position:absolute; right:1.4em; top:3.2em; width:1.2em; height:2.2em; background:url(ico_jt.png) no-repeat center; background-size:100%;}

/*dialog */
.has-tip .mask{position:absolute; width:100%; height:100%; left:0; top:0; background:#000; opacity:0.5; display:block; z-index:1000;}
.has-tip .dialog{position:absolute; width:100%; top:35%; display:block; z-index:1001;}
.has-tip .dialog .main{width:41.4em; margin:0 auto; background:#fff; border-radius:5px; border:solid 1px #3f3f3f; box-shadow:0 2px 5px #3f3f3f;}
.has-tip .dialog p{height:16em; width:41.4em; display:table-cell; vertical-align:middle; text-align:center;}
.has-tip .dialog p span{font-size:2.2em; line-height:1.5;}
.has-tip .dialog .btn{padding:.6em 0 1em; text-align:center; border-top:solid 1px #d1d1d1;}
.has-tip .dialog .btn a{display:inline-block; padding:1.5em; background:-webkit-linear-gradient(top,#ffba00,#ff9000); border-radius:5px; box-shadow:0 2px 5px #999;}
.has-tip .dialog .btn a span{font-size:2em; color:#fff;}